<iframe data-bind="attr:{src:'https://test.checkout.servicemaster.com/?identityId='+$root.customerId()+'&opaqueId='+$root.opaqueId()}" class="wallet"></iframe>


<iframe data-bind="attr:{src:'https://test.checkout.servicemaster.com/?identityId='+$root.customerId()+'&opaqueId='+$root.opaqueId()}" name="wallet" id="wallet" seamless></iframe>