body {
    background: #f9f9f9;
}

.xbold.no-marg.green.unpad,
h4.text-uppercase.green {
    color: #0C8F43;
    font-weight: 800;
}

.cta.submitting,
.cta.show-progress {
    background: #ddd !important;
    border-color: #ddd !important;
    color: black !important;
    font-size: 0.95rem !important;
    font-weight: normal !important;
    padding: 0 1rem !important;
    pointer-events: none !important;
    text-transform: initial !important;
}

.cta.submitting:after,
.cta.show-progress:after {
    display: none !important;
}

.row.margin-bottom-zero {
    margin-bottom: 0 !important;
}

.city-state-block {
    display: none;
}

ul.checked {
    list-style: none;
    margin-bottom: 1rem;
    padding: 0;
}

ul.checked li {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;
}

ul.checked li:before {
    color: rgb(12, 142, 68);
    content: '\f00c';
    display: block;
    font-family: 'FontAwesome', sans-serif;
    left: 0;
    position: absolute;
    top: 0;
}

.plan-title {
    background: rgb(224, 225, 227);
    margin-bottom: 1rem;
}

.row > div > .card {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

@media (max-width: 768px) {
    .row > div > .card {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

.capitalize {
    text-transform: capitalize;
}

.error-msg.bg-danger.text-danger {
    border: 1px solid #a94442;
    padding: 1rem;
}

.fixed-height-50 {
    height: 50px;
}

.fixed-height-50 img {
    max-height: 40px;
    max-width: 180px;
}

.notes {
    font-size: 0.9rem;
}

input.invalid,
textarea.invalid,
select.invalid {
    border-color: #ff0000;
    color: #ff0000;
}

.list-aside-image {
    max-height: 120px;
    margin: 0 4rem 4rem 0;
}

@media (max-width: 400px) {
    .list-aside-image {
        max-height: 80px;
        margin: 1rem 2rem 6rem 0;
    }
}
