

<div class="tab-contact-profile modules-wrapper">
<div class="modules modules-large">
    <div id="alerts"></div>
    
    

<div class="module module-contact-info-large" data-name="contact-info-large" data-bind="with: contactInfo">
<div class="module-header">
    <div class="module-header-text">Profile</div>
</div>

<div class="module-content" data-bind="visible: error()">
    <p class="module-text">There was an error loading your Contact Profile:</p>
    
    <p data-bind="text: error"></p>
    
    <div class="form-buttons">
        <a href="#" class="btn btn-orange btn-taller btn-smalltext" data-bind="buttonProgress: loading(), click: getContactInfo">Try Again</a>
    </div>
</div>
    
<div data-bind="visible: !loaded() && !error()">
    <p class="module-text">Loading your contact info...</p>
</div>

<div class="module-content" data-bind="visible: loaded()">
    <p class="module-text">Billing and contact information for covered property <span data-bind="text: GetAddressHeader()"></span> will be sent to:</p>
    
    <div class="form-cols cols">
        <div class="col-xs-6 col-sm-6">
            <div class="form-input">
                <label>Name</label>
                <input type="text" placeholder="First Name" data-bind="value: firstName, valueUpdate: 'afterkeydown', css: { error: HasError('firstName') }, disable: AddressValidator.isChoosing() || EmailValidator.isChoosing()" />
                <span class="error-text" data-bind="visible: HasError('firstName'), text: GetErrorMessage('firstName')"></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6">
            <div class="form-input">
                <label>&nbsp;</label>
                <input type="text" placeholder="Last Name" data-bind="value: lastName, valueUpdate: 'afterkeydown', css: { error: HasError('lastName') }, disable: AddressValidator.isChoosing() || EmailValidator.isChoosing()" />
                <span class="error-text" data-bind="visible: HasError('lastName'), text: GetErrorMessage('lastName')"></span>
            </div>
        </div>
    </div>
    
    <div class="form-cols cols">
        <div class="col-xs-12 col-sm-8">
            <div class="form-input">
                <label>Billing Address</label>
                <input type="text" placeholder="Street address" data-bind="value: address1, valueUpdate: 'afterkeydown', css: { error: HasError('address1') }, disable: AddressValidator.isChoosing() || EmailValidator.isChoosing()" />
                <span class="error-text" data-bind="visible: HasError('address1'), text: GetErrorMessage('address1')"></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="form-input">
                <label>&nbsp;</label>
                <input type="text" placeholder="Unit/Apt" data-bind="value: address2, valueUpdate: 'afterkeydown', css: { error: HasError('address2') }, disable: AddressValidator.isChoosing() || EmailValidator.isChoosing()" />
                <span class="error-text" data-bind="visible: HasError('address2'), text: GetErrorMessage('address2')"></span>
            </div>
        </div>
    </div>
    
    <div class="form-cols cols">
        <div class="col-xs-8 col-sm-5">
            <div class="form-input">
                <label>City</label>
                <input type="text" placeholder="City" data-bind="value: city, valueUpdate: 'afterkeydown', css: { error: HasError('city') }, disable: AddressValidator.isChoosing() || EmailValidator.isChoosing()" />
                <span class="error-text" data-bind="visible: HasError('city'), text: GetErrorMessage('city')"></span>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3">
            <div class="form-select">
                <label>State</label>
                <select data-bind="value: state, css: { error: HasError('state') }, disable: AddressValidator.isChoosing() || EmailValidator.isChoosing()">
                    <option value=""></option>
                    
<option value="AL">AL</option>
<option value="AK">AK</option>
<option value="AZ">AZ</option>
<option value="AR">AR</option>
<option value="CA">CA</option>
<option value="CO">CO</option>
<option value="CT">CT</option>
<option value="DE">DE</option>
<option value="DC">DC</option>
<option value="FL">FL</option>
<option value="GA">GA</option>
<option value="HI">HI</option>
<option value="ID">ID</option>
<option value="IL">IL</option>
<option value="IN">IN</option>
<option value="IA">IA</option>
<option value="KS">KS</option>
<option value="KY">KY</option>
<option value="LA">LA</option>
<option value="ME">ME</option>
<option value="MD">MD</option>
<option value="MA">MA</option>
<option value="MI">MI</option>
<option value="MN">MN</option>
<option value="MS">MS</option>
<option value="MO">MO</option>
<option value="MT">MT</option>
<option value="NE">NE</option>
<option value="NV">NV</option>
<option value="NH">NH</option>
<option value="NJ">NJ</option>
<option value="NM">NM</option>
<option value="NY">NY</option>
<option value="NC">NC</option>
<option value="ND">ND</option>
<option value="OH">OH</option>
<option value="OK">OK</option>
<option value="OR">OR</option>
<option value="PA">PA</option>
<option value="RI">RI</option>
<option value="SC">SC</option>
<option value="SD">SD</option>
<option value="TN">TN</option>
<option value="TX">TX</option>
<option value="UT">UT</option>
<option value="VT">VT</option>
<option value="VA">VA</option>
<option value="WA">WA</option>
<option value="WV">WV</option>
<option value="WI">WI</option>
<option value="WY">WY</option>

                </select>
                <span class="error-text" data-bind="visible: HasError('state'), text: GetErrorMessage('state')"></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="form-input">
                <label>ZIP</label>
                <input type="tel" placeholder="ZIP" data-bind="masked: zipcode, maskedPreset: 'zipcode', css: { error: HasError('zipcode') }, disable: AddressValidator.isChoosing() || EmailValidator.isChoosing()" />
                <span class="error-text" data-bind="visible: HasError('zipcode'), text: GetErrorMessage('zipcode')"></span>
            </div>
        </div>
    </div>
    
    <div class="hr"><div class="hr-line"></div></div>
    
    <div class="form-cols cols">
        <div class="col-xs-8 col-sm-6">
            <div class="form-input">
                <label>Preferred phone</label>
                <input type="tel" placeholder="(nnn) nnn-nnnn" data-bind="masked: phone, maskedPreset: 'phone', css: { error: HasError('phone') }, disable: AddressValidator.isChoosing() || EmailValidator.isChoosing()" />
                <span class="error-text" data-bind="visible: HasError('phone'), text: GetErrorMessage('phone')"></span>
            </div>
        </div>
    </div>
    
    <div class="form-cols cols">
        <div class="col-xs-12 col-sm-6">
            <div class="form-input">
                <label>Preferred email</label>
                <input type="email" data-bind="value: email, valueUpdate: 'afterkeydown', css: { error: HasError('email') }, disable: AddressValidator.isChoosing() || EmailValidator.isChoosing()" />
                <span class="error-text" data-bind="visible: HasError('email'), text: GetErrorMessage('email')"></span>
            </div>
        </div>
    </div>
                    
    <div class="qas-validator" data-bind="visible: AddressValidator.isChoosing">
        <div class="hr"><div class="hr-line"></div></div>
        
        <p class="prompt">Did you mean one of these addresses?</p>
        
        <!-- ko foreach: AddressValidator.addresses -->
        <div class="form-radio">
            <label>
                <input type="radio" data-bind="value: $data, checked: AddressValidator.selectedAddress" />
                <span class="label-text">
                    <span data-bind="text: GetAddressLine($data)"></span><br />
                    <span data-bind="text: city + ', ' + state + ' ' + zipcode"></span>
                </span>
            </label>
        </div>
        <!-- /ko -->
        
        <div class="form-buttons form-buttons-right">
            <a href="#" class="btn btn-white-bordered btn-taller" data-bind="click: AddressValidator.KeepAddress">No, Keep Address</a>
            <a href="#" class="btn btn-orange btn-taller" data-bind="visible: AddressValidator.selectedAddress(), click: AddressValidator.UseSelectedAddress">Yes, Use Selected</a>
        </div>
    </div>
    
    <div class="qas-validator" data-bind="visible: EmailValidator.isChoosing">
        <div class="hr"><div class="hr-line"></div></div>
        
        <p class="prompt">Did you mean one of these email addresses?</p>
        
        <!-- ko foreach: EmailValidator.emails -->
        <div class="form-radio">
            <label>
                <input type="radio" data-bind="value: $data, checked: EmailValidator.selectedEmail" />
                <span class="label-text" data-bind="text: $data"></span>
            </label>
        </div>
        <!-- /ko -->
        
        <div class="form-buttons form-buttons-right">
            <a href="#" class="btn btn-white-bordered btn-taller" data-bind="click: EmailValidator.KeepEmail">No, Keep Email</a>
            <a href="#" class="btn btn-orange btn-taller" data-bind="visible: EmailValidator.selectedEmail(), click: EmailValidator.UseSelectedEmail">Yes, Use Selected</a>
        </div>
    </div>
    
    
    <div class="errors" data-bind="visible: errorMessages().length > 0, foreach: errorMessages" style="display: none;">
        <div class="error-box" data-bind="html: errorMessage"></div>
    </div>
    
    <div data-bind="visible: !AddressValidator.isChoosing() && !EmailValidator.isChoosing()">
        <div class="hr"><div class="hr-line"></div></div>
        
        <div class="form-buttons form-buttons-right">
            <a href="#" class="btn btn-orange btn-taller btn-smalltext"
                data-bind="css: { 'btn-inactive': !HasModelChanged() },
                           buttonProgress: submitting(),
                           buttonProgressText: (AddressValidator.isVerifying() || EmailValidator.isVerifying()) ? 'Verifying...' : 'Saving...',
                           click: SubmitLarge">Save Changes</a>
        </div>
    </div>
</div>
</div>



<!-- ko if : preferences().isPreferencesEnabled() -->
<div class="module module-preferences" data-name="preferences" data-bind="with: preferences">
<div class="module-header">
    <div class="module-header-text">My Preferences</div>
</div>

<div class="module-content" data-bind="visible: error()">
    <p class="module-text">There was an error loading your Preferences:</p>
    
    <p data-bind="text: error"></p>
    
    <div class="form-buttons">
        <a href="#" class="btn btn-orange btn-taller btn-smalltext" data-bind="buttonProgress: loading(), click: getPreferences">Try Again</a>
    </div>
</div>

<div class="module-content" data-bind="visible: loaded()">
    <!-- ko if: isServiceNotificationPreferencesEnabled -->
        <div class="module-inner-header">
            <div class="module-header-text">Service Notification Preferences</div>
        </div>
        
        <p class="module-text">How would you like to receive all service notifications?</p>
        
        <div class="form-cols cols preferences">
            <div class="col col-xs-12 col-sm-auto">
                <div class="form-checkbox">
                    <label>
                        <input type="checkbox" name="serviceNotificationPreferenceEmail" data-bind="checked: serviceNotificationPreferenceEmail" />
                        <span class="label-text">Email</span>
                    </label>
                </div>
            </div>
            <div class="col col-xs-12 col-sm-auto">
                <div class="form-checkbox">
                    <label>
                        <input type="checkbox" name="serviceNotificationPreferenceCall" data-bind="checked: serviceNotificationPreferenceCall" />
                        <span class="label-text">Call</span>
                    </label>
                </div>
            </div>
            <div class="col col-xs-12 col-sm-auto">
                <div class="form-checkbox">
                    <label>
                        <input type="checkbox" name="serviceNotificationPreferenceText" data-bind="checked: serviceNotificationPreferenceText" />
                        <span class="label-text">Text</span>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="form-cols cols">
            <div class="col-xs-12 col-sm-6">
                <div class="form-input">
                    <label>Email</label>
                    <input type="email" name="serviceNotificationEmail" value=""
                        data-bind="textInput: serviceNotificationEmail,
                                   css: { error: HasError('serviceNotificationEmail') },
                                   disable: EmailValidator.isChoosing()" />
                    <span class="error-text" data-bind="visible: HasError('serviceNotificationEmail'), text: GetErrorMessage('serviceNotificationEmail')"></span>
                </div>
            </div>
        </div>
        
        <div class="form-cols cols">
            <div class="col-xs-12 col-sm-6">
                <div class="form-input">
                    <label>Phone Number</label>
                    <input type="tel" name="serviceNotificationPhoneNumber" value=""
                        data-bind="masked: serviceNotificationPhoneNumber,
                                   maskedPreset: 'phone',
                                   css: { error: HasError('serviceNotificationPhoneNumber') },
                                   disable: EmailValidator.isChoosing()" />
                    <span class="error-text" data-bind="visible: HasError('serviceNotificationPhoneNumber'), text: GetErrorMessage('serviceNotificationPhoneNumber')"></span>
                </div>
            </div>
        </div>
        
        <p class="warning disclaimer">
            Message and data rates may apply. You may receive up to 5 text messages per service&nbsp;visit.
        </p>
        
        <div class="qas-validator" data-bind="visible: EmailValidator.isChoosing">
            <div class="hr"><div class="hr-line"></div></div>
            
            <p class="prompt">Did you mean one of these email addresses?</p>
            
            <!-- ko foreach: EmailValidator.emails -->
            <div class="form-radio">
                <label>
                    <input type="radio" data-bind="value: $data, checked: EmailValidator.selectedEmail" />
                    <span class="label-text" data-bind="text: $data"></span>
                </label>
            </div>
            <!-- /ko -->
            
            <div class="form-buttons form-buttons-right">
                <a href="#" class="btn btn-white-bordered btn-taller" data-bind="click: EmailValidator.KeepEmail">No, Keep Email</a>
                <a href="#" class="btn btn-orange btn-taller" data-bind="visible: EmailValidator.selectedEmail(), click: EmailValidator.UseSelectedEmail">Yes, Use Selected</a>
            </div>
        </div>
    <!-- /ko -->
    
    <!-- ko if: isSchedulingPreferencesEnabled -->
        <div class="module-inner-header">
            <div class="module-header-text">Scheduling Preference</div>
        </div>
        
        <p>Which days and time slots work best for you?</p>
        
        <table class="table-default table-checkboxes">
            <thead>
                <tr>
                    <th></th>
                    <!-- ko foreach: scheduleDays -->
                        <th data-bind="text: $data"></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: scheduleTimes, as: 'timeKey' }">
                <tr>
                    <th data-bind="text: timeKey"></th>
                    <!-- ko foreach: { data: scheduleDays, as: 'dayKey' } -->
                        <td><div class="form-checkbox"><label><input type="checkbox" data-bind="checked: scheduleDayTimePreferences[dayKey][timeKey], disable: dayKey == 'S'" /><span class="label-text"></span></label></div></td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
        
        <p>Which week of the month do you prefer?</p>
        
        <div class="form-cols cols preferences">
            <div class="col col-auto">
                <div class="form-radio form-radio-block">
                    <label>
                        <input type="radio" data-bind="checkedValue: 1, checked: scheduleWeekOfMonth" />
                        <span class="label-text">1st<br>week</span>
                    </label>
                </div>
            </div>
            <div class="col col-auto">
                <div class="form-radio form-radio-block">
                    <label>
                        <input type="radio" data-bind="checkedValue: 2, checked: scheduleWeekOfMonth" />
                        <span class="label-text">2nd<br>week</span>
                    </label>
                </div>
            </div>
            <div class="col col-auto">
                <div class="form-radio form-radio-block">
                    <label>
                        <input type="radio" data-bind="checkedValue: 3, checked: scheduleWeekOfMonth" />
                        <span class="label-text">3rd<br>week</span>
                    </label>
                </div>
            </div>
            <div class="col col-auto">
                <div class="form-radio form-radio-block">
                    <label>
                        <input type="radio" data-bind="checkedValue: 4, checked: scheduleWeekOfMonth" />
                        <span class="label-text">4th<br>week</span>
                    </label>
                </div>
            </div>
            <div class="col col-auto">
                <div class="form-radio form-radio-block">
                    <label>
                        <input type="radio" data-bind="checkedValue: 0, checked: scheduleWeekOfMonth" />
                        <span class="label-text">No<br>Preference</span>
                    </label>
                </div>
            </div>
        </div>
    <!-- /ko -->
    
    
    
    <div data-bind="visible: !EmailValidator.isChoosing()">
        <div class="hr"><div class="hr-line"></div></div>
        
        <div class="form-buttons form-buttons-right">
            <a href="#" class="btn btn-orange btn-taller btn-smalltext"
                data-bind="css: { 'btn-inactive': !HasModelChanged() },
                           buttonProgress: submitting(),
                           buttonProgressText: EmailValidator.isVerifying() ? 'Verifying...' : 'Saving...',
                           click: Submit">Save Changes</a>
        </div>
    </div>
</div>
</div>
<!-- /ko -->


<div class="module module-change-password" data-name="change-password" data-bind="with: changePassword">
<div class="module-content">
    <div class="module-inner-header">
        <div class="module-header-text">Change Password</div>
    </div>

    <p class="module-text">Passwords must contain at least 8 characters consisting of lower case, upper case, and one number.</p>
    
    <div class="form-cols cols">
        <div class="col-xs-10 col-sm-6">
            <div class="form-input">
                <label>Current Password</label>
                <!-- ko if: canUnmaskPasswords() && unmaskPassword() -->
                    <div class="field-validate-container" data-bind="tooltipValidator: { preset: 'password' }">
                        <div class="password-unmasker-wrapper" data-bind="css: { 'has-value': !!currentPassword() }">
                            <input type="password" data-bind="value: currentPassword, valueUpdate: 'afterkeydown', css: { error: HasError('currentPassword') }" />
                            <div class="password-unmasker" data-bind="text: currentPassword"></div>
                        </div>
                    </div>
                <!-- /ko -->
                <!-- ko if: !canUnmaskPasswords() || !unmaskPassword() -->
                    <div class="field-validate-container" data-bind="tooltipValidator: { preset: 'password' }">
                        <input type="password" data-bind="value: currentPassword, valueUpdate: 'afterkeydown', css: { error: HasError('currentPassword') }" />
                    </div>
                <!-- /ko -->
                <span class="error-text" data-bind="visible: HasError('currentPassword'), text: GetErrorMessage('currentPassword')"></span>
            </div>
        </div>
    </div>
    
    <!-- ko if: canUnmaskPasswords() -->
        <div class="form-checkbox">
            <label>
                <input type="checkbox" data-bind="checked: unmaskPassword" />
                <span class="label-text">Show password</span>
            </label>
        </div>
    <!-- /ko -->
    
    <div class="form-cols cols">
        <div class="col-xs-10 col-sm-6">
            <div class="form-input">
                <label>New Password</label>
                <!-- ko if: canUnmaskPasswords() && unmaskPassword() -->
                    <div class="field-validate-container" data-bind="tooltipValidator: { result: passwordIsValid, preset: 'password' }">
                        <div class="password-unmasker-wrapper" data-bind="css: { 'has-value': !!password() }">
                            <input type="password" data-bind="value: password, valueUpdate: 'afterkeydown', css: { error: HasError('password') }" />
                            <div class="password-unmasker" data-bind="text: password"></div>
                        </div>
                        <div class="field-validate-tooltip"></div>
                    </div>
                <!-- /ko -->
                <!-- ko if: !canUnmaskPasswords() || !unmaskPassword() -->
                    <div class="field-validate-container" data-bind="tooltipValidator: { result: passwordIsValid, preset: 'password' }">
                        <input type="password" data-bind="value: password, valueUpdate: 'afterkeydown', css: { error: HasError('password') }" />
                    </div>
                <!-- /ko -->
                <span class="error-text" data-bind="visible: HasError('password'), text: GetErrorMessage('password')"></span>
            </div>
        </div>
    </div>
    
    <div class="form-cols cols">
        <div class="col-xs-10 col-sm-6">
            <div class="form-input">
                <label>Confirm Password</label>
                <!-- ko if: canUnmaskPasswords() && unmaskPassword() -->
                    <div class="field-validate-container" data-bind="tooltipValidator: { result: confirmPasswordIsValid, preset: 'password', alignment: 'bottom' }">
                        <div class="password-unmasker-wrapper" data-bind="css: { 'has-value': !!confirmPassword() }">
                            <input type="password" data-bind="value: confirmPassword, valueUpdate: 'afterkeydown', css: { error: HasError('confirmPassword') }" />
                            <div class="password-unmasker" data-bind="text: confirmPassword"></div>
                        </div>
                        <div class="field-validate-tooltip"></div>
                    </div>
                <!-- /ko -->
                <!-- ko if: !canUnmaskPasswords() || !unmaskPassword() -->
                    <div class="field-validate-container" data-bind="tooltipValidator: { result: confirmPasswordIsValid, preset: 'password', alignment: 'bottom' }">
                        <input type="password" data-bind="value: confirmPassword, valueUpdate: 'afterkeydown', css: { error: HasError('confirmPassword') }" />
                    </div>
                <!-- /ko -->
                <span class="error-text" data-bind="visible: HasError('confirmPassword'), text: GetErrorMessage('confirmPassword')"></span>
            </div>
        </div>
    </div>

    <div class="informationals" data-bind="visible: informationalMessages().length > 0, foreach: informationalMessages" style="display: none;">
        <div class="informational-box" data-bind="text: infoMessage"></div>
    </div>
    <div class="errors" data-bind="visible: errorMessages().length > 0, foreach: errorMessages" style="display: none;">
        <div class="error-box" data-bind="html: errorMessage"></div>
    </div>
    
    <div>
        <div class="hr"><div class="hr-line"></div></div>
        
        <div class="form-buttons form-buttons-right">
            <a href="#" class="btn btn-orange btn-taller btn-smalltext" data-bind="css: { 'btn-inactive': !IsValidPasswordChange() }, buttonProgress: submitting(), buttonProgressText: 'Saving...', click: Submit">Save Changes</a>
        </div>
    </div>
</div>
</div>


</div>

<div class="modules modules-small">
    

<!-- ko ifnot: isHidePaymentsTab -->
<div class="module module-payments-small" data-name="payments-small" data-bind="with: paymentModelSmall">
<div class="module-header">
    <div class="module-header-text">Payments</div>
</div>

<div class="module-content">
    <div data-bind="visible: error()">
        <p class="module-text">There was an error loading your Payments:</p>
        
        <p data-bind="text: error"></p>
        
        <div class="form-buttons">
            <a href="#" class="btn btn-orange btn-taller btn-smalltext" data-bind="buttonProgress: loading(), click: getDuePaymentsSmall">Try Again</a>
        </div>
    </div>
    
    <div data-bind="visible: !loaded() && !error()">
        <p class="module-text">Loading your due payments...</p>
    </div>
    
    <div data-bind="visible: loaded()">
        <div data-bind="visible: duePayments().length > 0">
            <p class="payments-header">Payments Due:</p>
            
            <ul class="payments-due" data-bind="foreach: duePayments">
                <li>
                    
                    <span class="amount">$<span data-bind="css:{ strikethrough: renewalDiscountAmount() > 0 && amountDue() == totalAmount()}, text: FormatNumber(amountDue(), 2)"></span><!-- ko if: renewalDiscountAmount() > 0 && amountDue() == totalAmount() --><br/>$<span data-bind="text: FormatNumber(renewalDiscountedTotalAmount(), 2)"></span><!-- /ko --></span>
                    <span data-bind="text: description"></span>
                </li>
            </ul>
            
            <div class="hr"><div class="hr-line"></div></div>
            
            <p class="payments-total">
                <span class="amount">$<span data-bind="text: FormatNumber(totalAmountDue(), 2)"></span></span>
                Amount Due:
            </p>
            
            <div class="form-buttons">
                <a href="#" class="btn btn-orange btn-full-width btn-taller btn-smalltext" data-bind="click: ViewPayments">Make A Payment</a>
            </div>
        </div>
        
        <div data-bind="visible: duePayments().length == 0">
            <p class="module-text">No payments due.</p>
        </div>
        
        <p class="payment-history"><a href="#" class="view-payment-history" data-bind="click: ViewPaymentHistory">View Payment History</a></p>
    </div>
</div>
</div>
<!-- /ko -->

</div>
</div>

