<div id="more-options1.jsp" class="page_flag">&nbsp;</div>

<div id="paymentInformations row">
    <table class="col-12">
        <thead>
            <tr class="sortable">
                <th>OrderID</th>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Phone Number</th>
                <th>Customer Address</th>
                <th>Customer Number</th>
                <th>SalesAgreement Number</th>
                <th>Amount</th>
                <th>Submitted Date</th>
                <th>Payment Status</th>
                <th>IP Address</th>
                <th>PaymentType</th>
            </tr>
        </thead>
        <tbody>


            <tr class="repId__">
                <div class="orderField">
                    <td></td>
                    <td>CHARLES&nbsp;CRABTREE</td>
                    <td></td>
                    <td>0684864337</td>
                    <td>1350 STATE ROUTE 140<br>
                        OAK HILL<br>
                        OH<br>
                        45656
                    </td>
                </div>
                <td>10459075</td>
                <td>15506961</td>
                <td>293.87</td>
                <td>2017-03-23 13:59:43</td>
                <td>PENDING</td>
                <td>199.191.81.2</td>
                <td></td>
            </tr>


            <tr class="repId__">
                <div class="orderField">
                    <td></td>
                    <td>CHARLES&nbsp;CRABTREE</td>
                    <td></td>
                    <td>0684864337</td>
                    <td>1350 STATE ROUTE 140<br>
                        OAK HILL<br>
                        OH<br>
                        45656
                    </td>
                </div>
                <td>10459075</td>
                <td>15506961</td>
                <td>5</td>
                <td>2017-09-20 13:11:20</td>
                <td>WEBSERVICEERROR</td>
                <td>199.191.83.1</td>
                <td></td>
            </tr>


            <tr class="repId__">
                <div class="orderField">
                    <td></td>
                    <td>CHARLES&nbsp;CRABTREE</td>
                    <td></td>
                    <td>0684864337</td>
                    <td>1350 STATE ROUTE 140<br>
                        OAK HILL<br>
                        OH<br>
                        45656
                    </td>
                </div>
                <td>10459075</td>
                <td>15506961</td>
                <td>5</td>
                <td>2017-09-20 13:12:18</td>
                <td>COMPLETE</td>
                <td>199.191.83.1</td>
                <td></td>
            </tr>


            <tr class="repId__">
                <div class="orderField">
                    <td></td>
                    <td>CHARLES&nbsp;CRABTREE</td>
                    <td></td>
                    <td>0684864337</td>
                    <td>1350 STATE ROUTE 140<br>
                        OAK HILL<br>
                        OH<br>
                        45656
                    </td>
                </div>
                <td>10459075</td>
                <td>15506961</td>
                <td>1</td>
                <td>2018-04-16 08:27:19</td>
                <td>WEBSERVICEERROR</td>
                <td>199.191.81.1</td>
                <td>NOT STARTED</td>
            </tr>

        </tbody>
    </table>
</div>
