html {
  font-size: 16px;
}

body {
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

/* Common Fonts + Alterations
===============================================================*/

.weight-normal {
  font-weight: normal;
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.weight-900 {
  font-weight: 900;
}
/*border*/
.bordered-bottom-black {
  border-bottom: 1px solid rgb(199, 201, 203);
}
.bordered-top-black {
  border-top: 1px solid rgb(199, 201, 203);
}
@media (max-width: 768px) {
  .md-unpad-top {
    padding-top: 0px !important;
  }
}
/*border*/
/* Colors
===============================================================*/
/* Green */
.tmx-primary-txt {
  color: rgb(12, 143, 67) !important;
}

.tmx-primary-bg {
  background-color: rgb(12, 143, 67) !important;
}

/* Orange */
.tmx-secondary-txt {
  color: rgb(255, 130, 28) !important;
}

.tmx-secondary-bg {
  background-color: rgb(255, 130, 28) !important;
}

/* Black */
.tmx-black-txt {
  color: rgb(0, 0, 0) !important;
}

.tmx-black-bg {
  background-color: rgb(0, 0, 0) !important;
}

/* 80% Black */
.tmx-dark-gray-txt {
  color: rgb(88, 89, 291) !important;
}

.tmx-dark-gray-bg {
  background-color: rgb(88, 89, 291) !important;
}

/* Silver */
.tmx-silver-txt {
  color: rgb(199, 201, 203) !important;
}

.tmx-silver-bg {
  background-color: rgb(199, 201, 203) !important;
}

/* Light Gray */
.tmx-light-gray-txt {
  color: rgb(224, 225, 227) !important;
}

.tmx-light-gray-bg {
  background-color: rgb(224, 225, 227) !important;
}

/* White */
.tmx-white-txt {
  color: rgb(255, 255, 255) !important;
}

.tmx-white-bg {
  background-color: rgb(255, 255, 255) !important;
}

/* Image Helpers
===============================================================*/
.img-container {
}

.footer-logo-bar > div {
  display: block;
  text-align: center;
}

.footer-logo-bar .tmx-img-container img {
  max-height: 75px;
  max-width: 100%;
}

.footer-logo-bar.mobile .tmx-img-container img {
  max-width: 130px;
}

/* Image logos / sprites
===============================================================*/
/* 
	Generate Sprites using the following URL : http://responsive-css.spritegen.com/
	Check instructions from share drive on how to generate.
*/

/* Sprite Image File */
.tmx-sprite {
  background: url(/static-srvm/trmx/ecomm/img/tmx-sprite.png) no-repeat;
  background-size: 100%;
  max-width: 100%;
}

/* Individual Sprite Logo Images */
.tmx-sprite.years-experience {
  background-position: 0 0%;
  background-size: 100%;
}

.tmx-sprite.team-members {
  background-position: 0 100%;
  background-size: 131.125828%;
}

/* Image icons
===============================================================*/
/* Phone Orange */
.img-phone-orange {
  position: relative;
}

.img-phone-orange:before {
  background: url("/static-srvm/trmx/ecomm/img/icons/orange-phone.png")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: "";
  display: block;
  height: 1em;
  position: absolute;
  top: 0.125em;
  width: 1em;
}

.img-phone-orange.left {
  margin-left: 2em;
}

.img-phone-orange.left:before {
  left: -1.5em;
}

.img-phone-orange.right {
  margin-right: 2em;
}

.img-phone-orange.right:before {
  right: 1.5em;
}

@media (max-width: 768px) {
  .img-phone-orange.lg {
    line-height: 1.5em;
  }

  .img-phone-orange.lg:before {
    height: 1.5em;
    top: -0.125em;
    width: 1.5em;
  }

  .img-phone-orange.left {
    margin-left: 1.75em;
  }

  .img-phone-orange.right {
    margin-right: 1.75em;
  }

  .img-phone-orange.lg.left {
    margin-left: 2em;
  }

  .img-phone-orange.lg.right {
    margin-right: 2em;
  }

  .img-phone-orange.lg.left:before {
    left: -2em;
  }

  .img-phone-orange.lg.right:before {
    left: 2em;
  }
}

/* Hero header images
===============================================================*/
/* Header Image Box */
.tmx-hero-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 468px;
}

.tmx-hero-header .tmx-hero-box {
  background: rgba(0, 0, 0, 0.5);
  max-width: 550px;
  min-height: inherit;
  padding: 30px 50px 0px 50px;
}

.tmx-hero-header .tmx-hero-box h2,
.tmx-hero-header .tmx-hero-box p {
  color: rgb(255, 255, 255) !important;
}

/* Extra Small Devices (Mobile) */
@media (max-width: 767px) {
  .tmx-hero-header .tmx-hero-box {
    background: inherit;
    max-width: 100%;
    padding: 15px 30px 0px 30px;
  }

  .tmx-hero-header .tmx-hero-box h2,
  .tmx-hero-header .tmx-hero-box p {
    color: rgb(0, 0, 0) !important;
  }

  .tmx-hero-header > .mobile-hero-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 25%;
    width: 100%;
  }

  .tmx-hero-header.hero-pest .mobile-hero-img {
    background-image: url(../img/hero/hero_PEST_xs.jpg);
  }

  .tmx-hero-header.hero-termite-protect .mobile-hero-img {
    background-image: url(../img/hero/hero_TERMITE-PROTECT_xs.jpg);
  }

  /*
    .tmx-hero-header.hero-pestcontrol-main .mobile-hero-img {
        background-image: url(../img/hero/hero_PESTCONTROL-MAIN_xs.jpg);
    }
    
*/

  .tmx-hero-header.hero-wildlife .mobile-hero-img {
    background-image: url(../img/hero/hero_WILDLIFE_xs.jpg);
  }
}

/* Small Devices (Tablet) */
@media (min-width: 768px) {
  .tmx-hero-header.hero-pest {
    background-image: url(../img/hero/hero_PEST_sm.jpg);
  }

  .tmx-hero-header.hero-termite-protect {
    background-image: url(../img/hero/hero_TERMITE-PROTECT_sm.jpg);
  }

  /*
    .tmx-hero-header.hero-pestcontrol-main {
        background-image: url(../img/hero/hero_PESTCONTROL-MAIN_sm.jpg);
    }
*/

  .tmx-hero-header.hero-wildlife {
    background-image: url(../img/hero/hero_WILDLIFE_sm.jpg);
  }
}

/* Medium Devices (Desktop) */
@media (min-width: 992px) {
  .tmx-hero-header.hero-pest {
    background-image: url(../img/hero/hero_PEST_md.jpg);
  }

  .tmx-hero-header.hero-termite-protect {
    background-image: url(../img/hero/hero_TERMITE-PROTECT_md.jpg);
  }

  /*
    .tmx-hero-header.hero-pestcontrol-main {
        background-image: url(../img/hero/hero_PESTCONTROL-MAIN_md.jpg);
    }
*/

  .tmx-hero-header.hero-wildlife {
    background-image: url(../img/hero/hero_WILDLIFE_md.jpg);
  }
}

/* Large Devices (Desktop) */
@media (min-width: 1200px) {
  .tmx-hero-header.hero-pest {
    background-image: url(../img/hero/hero_PEST_lg.jpg);
  }

  .tmx-hero-header.hero-termite-protect {
    background-image: url(../img/hero/hero_TERMITE-PROTECT_lg.jpg);
  }

  /*	.tmx-hero-header.hero-pestcontrol-main { background-image: url(../img/hero/hero_PESTCONTROL-MAIN_lg.jpg); }*/

  .tmx-hero-header.hero-wildlife {
    background-image: url(../img/hero/hero_WILDLIFE_lg.jpg);
  }
}

/*********************** Materialize Classes for Bootstrap (Remove once fully materialize) ***********************/
.center-align {
  text-align: center;
}

/* Common helper classes
===============================================================*/
.block {
  display: block;
}

.flex {
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

/* Extra Small Devices (Mobile) */
@media (max-width: 767px) {
  .block-xs {
    display: block;
  }

  .flex-xs-end {
    justify-content: flex-end;
  }
}

/* Small Devices (Tablet) */
@media (min-width: 768px) {
  .block-sm {
    display: block;
  }

  .flex-sm-end {
    justify-content: flex-end;
  }
}

/* Medium Devices (Desktop) */
@media (min-width: 992px) {
  .block-md {
    display: block;
  }

  .flex-md-end {
    justify-content: flex-end;
  }
}

/* Large Devices (Desktop) */
@media (min-width: 1200px) {
  .block-lg {
    display: block;
  }

  .flex-lg-end {
    justify-content: flex-end;
  }
}

/* Materialize overrides
===============================================================*/
/* Color for active fields */
input:not([type]):focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
input[type="datetime"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #0c8f43;
  box-shadow: 0 1px 0 0 #0c8f43;
}

input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea.materialize-textarea {
  letter-spacing: -1px;
}

.toast {
  word-break: initial;
}

.input-field input.invalid ~ label,
.input-field .select-wrapper .select-dropdown.invalid {
  color: #f44336;
}

/* Custom alterations
===============================================================*/
/* Call To Action Button */
.btn-cta {
  max-width: 65%;
  padding: 10px 30px;
  width: initial;
  /* Override generic.css class btn */
}

.btn-cta > .glyphicon {
  vertical-align: -0.125rem;
}

/* Call Center Box */
@media (max-width: 768px) {
  #tmx-call-center-new h4 > span {
    display: block;
  }

  #tmx-call-center-new h4 > span:nth-of-type(2) {
    font-size: 0.85em;
  }
}

/* Breadcrumbs
====================================================================== */
.breadcrumbs-container {
  margin-bottom: 2rem;
  padding-top: 0;
}

.breadcrumbs ul {
  display: flex;
  flex-wrap: no-wrap;
  list-style: none;
  padding: 0;
}

.funnel .breadcrumbs li {
  margin-left: -15px;
  margin-right: -15px;
}

.breadcrumbs li {
  background: transparent;
  border-radius: 0;
  display: block;
  flex-grow: 0;
  margin-bottom: 0;
  padding: 0;
}

.breadcrumbs.fixed li {
  flex-grow: 1;
  width: 20%;
}

.breadcrumbs li a {
  background: #ddd;
  color: #555 !important;
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-right: 23px;
  padding: 0 10px 0 2px;
  pointer-events: initial;
  position: relative;
  text-decoration: none;
}

.breadcrumbs li:last-child a {
  margin-right: 0;
}

.breadcrumbs li a:before,
.breadcrumbs li a:after {
  border: 0 solid #ddd;
  border-width: 20px 10px;
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.breadcrumbs li a:before {
  border-left-color: transparent;
  left: -18px;
}

.breadcrumbs li a:after {
  border-color: transparent;
  border-left-color: #ddd;
  left: 100%;
}

.breadcrumbs li a:hover {
  background: #ccc;
}

.breadcrumbs li a:hover:before {
  border-color: #ccc;
  border-left-color: transparent;
}

.breadcrumbs li a:hover:after {
  border-left-color: #ccc;
}

.breadcrumbs li.current a {
  background: #0c8f43;
  color: white !important;
}

.breadcrumbs li.current a:before {
  border-color: #0c8f43 !important;
  border-left-color: transparent !important;
}

.breadcrumbs li.current a:after {
  border-left-color: #0c8f43 !important;
}

.breadcrumbs li:first-child a:before,
.breadcrumbs.fixed li:last-child a:after {
  border: none;
}

.breadcrumbs ul li.home a {
  width: 40px;
}

.breadcrumbs ul li.home a span:before {
  content: "\f015";
  display: block;
  font-size: 1.25rem;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  right: 0;
  text-decoration: inherit;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 769px) {
  .breadcrumbs li a {
    font-size: 0.8rem;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    margin-right: 16px;
  }

  .breadcrumbs li a:before,
  .breadcrumbs li a:after {
    border-width: 15px 7px;
  }

  .breadcrumbs li a:before {
    border-left-color: transparent;
    left: -14px;
  }

  .breadcrumbs ul li.home a {
    width: 34px;
  }

  .breadcrumbs ul li.home a span:before {
    font-size: 1rem;
  }
}

/* General Layout
====================================================================== */
.white-box.header-bottom.clearfix.row-centered {
  display: none;
  max-height: 44px;
}

header.header-container.desktop ~ div.main {
  padding-top: 60px;
}

body.materialize-active .main {
  padding-top: 60px !important;
}

/* old funnel - step 1 */
body.materialize-active .main.clearfix.no-nav-padding.custom {
  padding-top: 10px !important;
}

/* old funnel - step 2 / 3 */

@media (min-width: 992px) {
  header.header-container.desktop ~ div.main {
    padding-top: 80px;
  }

  body.materialize-active .main {
    padding-top: 120px !important;
  }

  /* old funnel - step 1 */
  body.materialize-active .main.clearfix.no-nav-padding.custom {
    padding-top: 80px !important;
  }

  /* old funnel - step 2 / 3 */

  .white-box.header-bottom.clearfix.row-centered {
    display: block;
  }
}

/* General Navigation
====================================================================== */
.header-container a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.material-icons {
  height: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

.left {
  float: left;
}

.right {
  float: right;
}

.tiny {
  font-size: 1rem;
}

/* Desktop Navigation
====================================================================== */
.header-container.desktop {
  background-color: black;
  color: white;
  display: flex;
  height: 80px;
  position: fixed;
  top: 0;
  transition: height 0.3s ease;
  width: 100%;
  z-index: 50;
}

.header-container.desktop .logo-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  width: 18%;
}

.header-container.desktop .logo-container .img-responsive {
  max-height: 100%;
  max-width: 270px;
  padding: 1rem 2.5rem 1rem 1rem;
}

.header-container.desktop .img-responsive img {
  width: 100%;
}

.desktop .header-right-container {
  width: 82%;
}

.desktop .top-bar-container,
.desktop .bottom-bar-container {
  display: block;
  width: 100%;
}

.desktop .top-bar-container {
  height: 34px;
}

.desktop .bottom-bar-container {
  height: 46px;
}

.desktop .phone-number-container,
.desktop .secondary-links-container {
  height: 34px;
  line-height: 34px;
  padding-right: 1rem;
}

.desktop .phone-number-container span {
  font-size: 1.25rem;
  font-weight: 800;
}

.desktop .secondary-links-container a {
  color: #666;
  font-size: 0.85rem;
  font-weight: 700;
  padding-left: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.desktop .secondary-links-container a:hover {
  color: #aaa;
}

.desktop .secondary-links-container .material-icons.tiny {
  color: #aaa;
  vertical-align: middle;
}

.desktop .mainnav-container,
.desktop .mainnav,
.desktop .mainnav > li > a {
  height: 100%;
}

.desktop .mainnav {
  background: #262626;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktop .mainnav > li {
  background: #ccc;
  height: 46px;
  line-height: 46px;
  padding-right: 21px;
  position: relative;
}

.desktop .mainnav > li.more,
.desktop .mainnav > li.shrink-1,
.desktop .mainnav > li.shrink-2 {
  display: none;
}

.desktop .mainnav > li.account {
  background: #262626;
}

.desktop .mainnav > li > a {
  background: #f9f9f9;
  color: black;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0 1rem;
  position: relative;
  text-transform: uppercase;
  top: -3px;
  white-space: nowrap;
}

/* Chrome only */
.desktop .mainnav > li > a:not(*:root) {
  top: -2px;
}

.desktop .mainnav > li.account > a {
  background: #dbdbdb;
  color: #999;
}

.desktop .mainnav > li.account > a .material-icons {
  position: relative;
  top: 0.45rem;
}

.desktop .mainnav > li > a:before,
.desktop .mainnav > li > a:after {
  background: #f9f9f9;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 20px;
  transform: skewX(-20deg);
}

.desktop .mainnav > li.account > a:before,
.desktop .mainnav > li.account > a:after {
  background: #dbdbdb;
}

.desktop .mainnav > li > a:before {
  left: -10px;
}

.desktop .mainnav > li > a:after {
  right: -10px;
}

.desktop .mainnav > li:hover > a,
.desktop .mainnav > li:hover > a:before,
.desktop .mainnav > li:hover > a:after {
  background: #262626;
  color: #0c8f43;
}

.desktop .subnav {
  background: rgba(38, 38, 38, 0.95);
  display: none;
  left: -19px;
  line-height: 1.4;
  min-width: 500px;
  opacity: 0;
  position: absolute;
  top: 46px;
  transition: 0.3s ease;
}

.other-services .subnav,
.commercial .subnav,
.why-terminix .subnav,
.more .subnav {
  left: auto;
  right: 19px;
}

.commercial .subnav {
  min-width: 675px;
}

.more .subnav {
  min-width: 200px;
}

.desktop .mainnav > li:hover .subnav {
  display: block;
  opacity: 1;
}

.desktop .subnav .subnav-slants {
  position: relative;
}

.desktop .subnav .subnav-slants:before,
.desktop .subnav .subnav-slants:after {
  background: #262626;
  content: "";
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 200px;
  transform: skewX(-20deg);
  transition: 0.3s ease;
}

.desktop .subnav .subnav-slants:before {
  left: -50px;
}

.desktop .subnav .subnav-slants:after {
  right: -30px;
}

.subnav-wrapper {
  padding: 0 2rem;
}

.more .subnav-wrapper {
  padding: 2rem;
}

.more .subnav .subnav-wrapper {
  display: flex;
  justify-content: space-around;
}

.desktop .subnav h4 {
  color: #909090;
  font-size: 1.2rem;
  font-weight: 900;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.desktop .subnav .subnav-wrapper > ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.more .subnav .subnav-wrapper > ul {
  margin-right: 2rem;
  line-height: 1.6;
}

.desktop .subnav .subnav-wrapper > ul > li {
  display: inline-block;
  height: 2rem;
  width: 24%;
}

.other-services .subnav .subnav-wrapper > ul > li {
  width: 49%;
}

.more .subnav .subnav-wrapper > ul > li {
  display: block;
  height: auto;
  margin-bottom: 2rem;
  vertical-align: top;
  white-space: nowrap;
}

.commercial .subnav .subnav-wrapper > ul > li,
.why-terminix .subnav .subnav-wrapper > ul > li {
  width: 32%;
}

.desktop .subnav ul > li > a {
  color: white;
  font-size: 0.9rem;
  font-weight: normal;
  transition: 0.3s ease;
}

.more .subnav ul > li > a {
  text-transform: none;
}

.more .subnav .subnav-wrapper > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktop .subnav .subnav-wrapper > ul > li > a {
  font-weight: bold;
  text-transform: uppercase;
}

.desktop .subnav ul > li > a:hover {
  color: #aaa;
}

.desktop .subnav .actions {
  display: block;
  padding-top: 2rem;
  position: relative;
}

.desktop .subnav .actions a.action-button {
  background: #f67f00;
  bottom: -50%;
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  height: 42px;
  line-height: 42px;
  padding: 0 1rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.desktop .subnav .actions a.action-button:hover {
  color: black;
}

.desktop .subnav .actions a.action-button:before,
.desktop .subnav .actions a.action-button:after {
  background: #f67f00;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 20px;
  transform: skewX(-20deg);
  transition: all 0.3s;
}

.desktop .subnav .actions a.action-button:before {
  left: -10px;
}

.desktop .subnav .actions a.action-button:after {
  right: -10px;
}

.desktop a.action-button > i.material-icons {
  padding-left: 4rem;
  position: relative;
  top: 0.45rem;
}

/* Mobile Navigation
====================================================================== */
.header-container.mobile {
  background-color: black;
  display: none;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.mobile .bar-container {
  background: black;
  height: 60px;
  position: relative;
  width: 100%;
  z-index: 49;
}

.mobile .chat-link {
  align-items: center;
  display: flex;
  float: right;
  height: 100%;
  padding-right: 0.5rem;
  position: relative;
}

.mobile .chat-link > a {
  color: #fff;
  font-size: 0.9rem;
  height: 30px;
  text-transform: uppercase;
}

.mobile .logo-container {
  align-items: center;
  display: flex;
  float: left;
  height: 100%;
  justify-content: flex-end;
  margin-left: 1rem;
  max-width: 200px;
  width: 40%;
}

.mobile .logo-container img {
  display: block;
  width: 100%;
}

.mobile .nav-icon {
  align-items: center;
  display: flex;
  float: right;
  height: 100%;
  position: relative;
  justify-content: center;
  width: 60px;
}

.mobile .nav-icon a {
  cursor: pointer;
  display: block;
  height: 30px;
  position: relative;
  transition: 0.15s ease-in-out;
  width: 30px;
}

.mobile .nav-icon a span {
  background: white;
  border-radius: 3px;
  display: block;
  height: 2px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.15s ease-in-out;
  width: 100%;
}

.mobile .nav-icon a span:nth-child(1) {
  top: 5px;
}

.mobile .nav-icon a span:nth-child(2),
.mobile .nav-icon a span:nth-child(3) {
  top: 14px;
}

.mobile .nav-icon a span:nth-child(4) {
  top: 23px;
}

.mobile.open .nav-icon a span:nth-child(1),
.mobile.open .nav-icon a span:nth-child(4) {
  top: 14px;
  left: 50%;
  width: 0;
}

.mobile.open .nav-icon a span:nth-child(2) {
  transform: rotate(45deg);
}

.mobile.open .nav-icon a span:nth-child(3) {
  transform: rotate(-45deg);
}

.mobile .nav-container {
  background: white;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 100%;
  transition: 0.3s all;
  width: 100%;
  z-index: 48;
}

.mobile.open .nav-container {
  opacity: 1;
  top: 60px;
}

.mobile .subnav {
  align-items: center;
  background: black;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  width: 100%;
}

.mobile .subnav a {
  color: #ddd;
  font-size: 0.85714rem;
  text-transform: uppercase;
}

.mobile .subnav a:first-child {
  margin-left: 1rem;
}

.mobile .subnav a:last-child {
  margin-right: 1rem;
}

.mobile .mainnav {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.3s all;
}

.mobile .mainnav > li {
  background: #e9e9e9;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 0.3s all;
}

.mobile .mainnav > li > a {
  background: white;
  color: black;
  display: block;
  font-size: 1.21428rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: 0.3s all;
}

.mobile .mainnav > li:nth-child(1) > a,
.mobile .mainnav > li:nth-child(2) > a,
.mobile .mainnav > li:nth-child(3) > a {
  font-weight: 800;
}

.mobile .mainnav > li.active > a {
  background: #dbdbdb;
}

.mobile i.chevron {
  position: absolute;
  right: 1.5rem;
  top: 0.95rem;
  transform: translate(-6px, 0);
}

.mobile i.chevron:before,
.mobile i.chevron:after {
  background-color: black;
  content: "";
  height: 12px;
  position: absolute;
  transition: 0.3s all;
  width: 3px;
}

.mobile i.chevron:before {
  transform: translate(5px, 0) rotate(45deg);
}

.mobile i.chevron:after {
  transform: translate(-3px, 0) rotate(-45deg);
}

.mobile .mainnav > li.active > a > i.chevron:before {
  transform: translate(-5px, 0) rotate(45deg);
}

.mobile .mainnav > li.active > a > i.chevron:after {
  transform: translate(3px, 0) rotate(-45deg);
}

.mobile .mainnav .secondary {
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: 0.3s all;
  z-index: 2;
}

.mobile .mainnav > li.active > .secondary {
  max-height: 800px;
  opacity: 1;
  padding: 0.5rem 0;
}

.mobile .secondary > li > a {
  color: black;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
}

/* New Funnel Scheduler
====================================================================== */
[type="checkbox"].filled-in:checked + label:after {
  background-color: #0c8f43;
  border-color: #0c8f43;
}

.card-content h4 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.card-content.schedule > div {
  margin-bottom: 1rem;
}

.representative-text,
.scheduler-container,
.time-slot,
.note-text {
  display: none;
}

.representative-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.note-text {
  margin-top: 1rem;
}

.scheduler {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0;
}

.scheduler > li {
  flex-grow: 1;
  padding: 0.5rem;
}

.scheduler.dates > li {
  max-width: 15%;
  width: 15%;
}

.scheduler.times > li {
  max-width: 25%;
  width: 25%;
}

@media (max-width: 678px) {
  .scheduler.dates > li,
  .scheduler.times > li {
    max-width: 50%;
    width: 50%;
  }
}

@media (max-width: 360px) {
  .scheduler.times > li {
    max-width: 100%;
    width: 100%;
  }
}

.scheduler > li > a {
  background: #fafafa;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  text-decoration: none;
}

.scheduler > li > a:hover {
  color: #0c8f43;
}

.scheduler > li > a.active {
  background: #0c8f43;
  color: white;
}

.scheduler.dates > li > a {
  padding-bottom: 0.5rem;
}

.scheduler span.month {
  display: block;
  font-size: 0.9rem;
}

.scheduler span.month {
  text-transform: uppercase;
}

.scheduler span.date {
  display: block;
  font-size: 2rem;
}

.scheduler.times span {
  font-size: 1rem;
}

/* Confirmation Page
====================================================================== */
.headline-bar {
  background: #eee;
  padding: 0.5rem 0.75rem;
}

.customer-number,
.summary-section {
  margin-bottom: 2rem;
}

table.summary .sub-headline,
.summary-section p {
  margin-bottom: 0;
}

.summary-section p:not(:first-of-type) {
  margin-top: 0.15rem;
}

table.summary {
  margin-bottom: 1rem;
}

table.summary td {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  vertical-align: middle;
}

table.summary h4 {
  margin-top: 0;
}

table.summary td:last-child {
  text-align: right;
}

table.summary tr:last-child {
  border: 0;
}

.item-price {
  font-size: 1.25rem;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.note {
  font-size: 0.8rem;
}

.item-totals {
  margin: 0;
}

.item-totals li {
  margin-bottom: 0.25rem;
}

.item-totals .tot-amount {
  display: inline-block;
  min-width: 125px;
}

.final-amount {
  font-size: 1.15rem;
  font-weight: bold;
}

.my-account-wrapper {
  background: #ddd;
}

.my-account-wrapper > .col {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/* Homepage --> Footer
===============================================*/

footer.global-footer {
  background: black;
  color: white;
}


footer.global-footer hr {
  height: 2px !important;
}

footer.global-footer a {
  text-decoration: none;
}

footer > .container {
  position: relative;
}

.scroll-to-top {
  position: absolute;
  color: white;
  top: 2rem;
  right: 0;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 23px;
  padding-top: 6px;
  line-height: 1.1rem;
  cursor: pointer;
}

.scroll-to-top > div {
  position: relative;
}

.scroll-to-top img {
  position: absolute;
  top: -6px;
  right: -23px;
}

.help-bar {
  background: #d8d8d8;
  color: black;
  font-size: 1.75rem;
  font-weight: 800;
  position: relative;
  text-transform: uppercase;
  padding: 1.5rem 0;
}

.help-bar .container {
  position: relative;
}

.help-bar .fa {
  background-color: #ff7f00;
  border-radius: 100px;
  color: white;
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
}

.help-bar .phone,
.link-section .phone,
.link-column .phone,
a[href^="tel:"] {
  color: #ff7f00;
}

.logo-bar {
  padding: 2rem 0;
  justify-content: space-between;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

.footer-section {
  padding: 2rem 0;
  /*Overriding materialize row*/
  margin-bottom: 0 !important;
}

.link-column {
}

.link-column h3 {
  color: white;
  margin-top: 0 !important;
  margin-bottom: 1.8rem !important;
}

.link-column li {
  margin: 0.8rem 0;
}

.link-column a,
.link-column p,
.link-column .call-phone {
  color: rgb(140, 140, 140);
  font-size: 1rem;
  font-weight: 600;
}

.link-column:nth-child(1) {
  margin-bottom: 1.8rem;
}

.link-column:nth-child(2) {
  border-left: 1px solid rgba(140, 140, 140, 0.4);
  padding-left: 1rem;
}

.link-column:nth-child(3) {
  border-left: 1px solid rgba(140, 140, 140, 0.4);
  border-right: 1px solid rgba(140, 140, 140, 0.4);
  padding-left: 1rem;
}

.link-column:nth-child(4) {
  padding-left: 1rem;
}

.call-phone {
  margin-bottom: 2.4rem;
}

.call-phone a[href^="tel:"] {
  color: #ff7f00 !important;
}

.copyright-section {
  font-size: 0.9rem;
  color: rgb(140, 140, 140);
  padding-bottom: 2rem;
}

.copyright-section img {
  margin-left: 0.5rem;
}

#imgSvmCompany {
  align-self: flex-start;
}

.copyright-section .img-holder {
  justify-content: flex-end;
}

.social-container {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
  color: white;
}

.uppercase-text,
.text-uppercase {
  text-transform: uppercase;
}

.link-column li {
  margin: 0;
}

.link-column h3 {
  font-size: 1.25rem;
}

.legal-text {
  color: #999;
  font-size: 0.8rem;
}

.mobile .phone-link {
  align-items: center;
  display: flex;
  float: right;
  height: 100%;
  padding-right: 0.5rem;
  position: relative;
}

.mobile .phone-link > a {
  color: #fff;
  font-size: 1rem;
  height: 30px;
  line-height: 30px;
  text-decoration: underline;
  text-transform: uppercase;
}

@media only screen and (max-width: 330px) {
  .mobile .phone-link > a {
    font-size: 0.85rem;
  }
}

/* Banner image responsive  code */

@media (max-width: 4000px) and (min-width: 1200px) {
  .tmx-hero-header.hero-pestcontrol-main.visible-1200-lg {
    display: block !important;
  }

  .tmx-hero-header.hero-pestcontrol-main.visible-768-sm,
  .tmx-hero-header.hero-pestcontrol-main.visible-mobile,
  .tmx-hero-header.hero-pestcontrol-main.visible-992-md {
    display: none !important;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .tmx-hero-header.hero-pestcontrol-main.visible-992-md {
    display: block !important;
  }

  .tmx-hero-header.hero-pestcontrol-main.visible-768-sm,
  .tmx-hero-header.hero-pestcontrol-main.visible-mobile,
  .tmx-hero-header.hero-pestcontrol-main.visible-1200-lg {
    display: none !important;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .tmx-hero-header.hero-pestcontrol-main.visible-768-sm {
    display: block !important;
  }

  .tmx-hero-header.hero-pestcontrol-main.visible-992-md,
  .tmx-hero-header.hero-pestcontrol-main.visible-mobile,
  .tmx-hero-header.hero-pestcontrol-main.visible-1200-lg {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .tmx-hero-header.hero-pestcontrol-main.visible-768-sm,
  .tmx-hero-header.hero-pestcontrol-main.visible-992-md,
  .tmx-hero-header.hero-pestcontrol-main.visible-1200-lg {
    display: none !important;
  }

  .tmx-hero-header.hero-pestcontrol-main.visible-mobile {
    display: block !important;
  }
}

/*
.tmx-hero-header.hero-pestcontrol-main.visible-1200-lg,
.tmx-hero-header.hero-pestcontrol-main.visible-992-md,
.tmx-hero-header.hero-pestcontrol-main.visible-768-sm
    {
    display: none !important;
}*/

/* custom added code */

@media only screen and (max-width: 330px) {
  .mobile .phone-link > a {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 330px) {
  .contact-us-wid {
    padding-left: 26px;
  }
}

/*
.global-footer ul {
  list-style: none;
  padding-left: 0px;
}
*/

footer.global-footer a:hover {
  color: rgb(140, 140, 140) !important;
}

.tmx-black-bg.pt-10 {
  padding-top: 2em;
}

.mt-pb {
  margin-top: -5px;
  padding-bottom: 77px;
}

.crawl-space-resp {
    top:76px;
}


.removal-list-head
{
    padding-top: 25px;
   
}
.removal-list-head:before{
    top:0px;
    
}
.removal-list-head2
{
    padding-top: 25px;
    
   
}
.removal-list-head2:before{
    top:0px;
    
}
@media (max-width: 767px) {
  .removal-list-head
{
    padding-top: 0px;
   
}  .removal-list-head2
    {
    padding-top: 0px;
   
}
}
@media (max-width: 767px) {
    .attic-desktop-bg{
        background-image: none !important;
        
    }
  
}
.attic-insulation_mob
{
    background-size: cover;
   
}