.scroll-to-top {
    position: absolute;
    color: white;
    top: 2rem;
    right: 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 23px;
    padding-top: 6px;
    line-height: 1.1rem;
    cursor: pointer;
    z-index: 2
}

.scroll-to-top > div {
    position: relative
}

.scroll-to-top img {
    position: absolute;
    top: -6px;
    right: -23px
}

.scroll-to-top {
    position: absolute;
    color: white;
    top: 2rem;
    right: 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 23px;
    padding-top: 6px;
    line-height: 1.1rem;
    cursor: pointer;
    z-index: 2
}

.scroll-to-top > div {
    position: relative
}

.scroll-to-top img {
    position: absolute;
    top: -6px;
    right: -23px
}

@media only screen and (max-width : 992px) {
    .hide-on-med-and-down {
        display:none !important
    }

    .scroll-to-top.hide-on-large-only {
        display: block !important
    }

    .global-footer .home_container {
        position: relative
    }
}
