html {
	font-size: 16px;
}

body {
	font-family: "Gotham SSm A", "Gotham SSm B", serif;
	letter-spacing: -1px;
}

body::-webkit-scrollbar {
	width: 8px;
	border-radius: 2px;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	background-color: #000;
	width: 8px;
	border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
	outline: 0px solid slategrey;
	background-color: #0C8F45;
	border-radius: 4px;
}

/* Common Fonts + Alterations
===============================================================*/
.weight-normal {
	font-weight: normal;
}

.weight-400 {
	font-weight: 400;
}

.weight-700 {
	font-weight: 700;
}

.weight-800 {
	font-weight: 800;
}

.weight-900 {
	font-weight: 900;
}

/* Typography
===============================================================*/
.page-title, .excerpt, h1, h2, h3, h4, h5, h6 {
	color: #1f2027;
	font-weight: 700;
	letter-spacing: -1px;
}

.page-title {
	font-size: 2rem;
	font-weight: 300;
	margin: 1rem 0 0.8rem 0;
}

.excerpt {
	font-size: 1.15rem;
	font-style: italic;
	font-weight: 300;
	letter-spacing: 0;
	margin-bottom: 1.5rem;
}

a {
	cursor: pointer;
	color: black;
}

h1 {
	font-size: 2rem;
	margin: 1rem 0 0.8rem 0;
	font-weight: 900;
}

h2 {
	font-size: 1.5874rem;
	margin: 0.7937rem 0 0.635rem 0;
	font-weight: 900;
}

h3 {
	font-size: 1.2599rem;
	margin: 0.63rem 0 0.504rem 0;
	font-weight: 900;
}

h4 {
	color: #2f274a;
	font-size: 1rem;
	margin: 0.5rem 0 0.4rem 0;
}

h4>* {
	color: #7b7c83;
	font-weight: 600;
}

h5 {
	font-size: 1rem;
	margin: 0.5rem 0 0.6rem 0;
}

.sub-headline {
	color: #7b7c83;
	display: block;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 1.25rem;
}

h1+.sub-headline, h2+.sub-headline {
	font-size: 1rem;
}

h3+.sub-headline {
	font-size: 0.9rem;
}

h4+.sub-headline, h5+.sub-headline {
	font-size: 0.8rem;
}

.small-text {
	font-size: 0.75rem;
}

.legal-text {
	font-size: 0.575rem;
}

/* Colors
===============================================================*/
/* Green */
.tmx-primary-txt {
	color: rgb(12, 143, 67) !important;
}

.tmx-primary-bg {
	background-color: rgb(12, 143, 67) !important;
}

/* Orange */
.tmx-secondary-txt {
	color: rgb(255, 130, 28) !important;
}

.tmx-secondary-bg {
	background-color: rgb(255, 130, 28) !important;
}

/* Black */
.tmx-black-txt {
	color: rgb(0, 0, 0) !important;
}

.tmx-black-bg {
	background-color: rgb(0, 0, 0) !important;
}

/* 80% Black */
.tmx-dark-gray-txt {
	color: rgb(88, 89, 291) !important;
}

.tmx-dark-gray-bg {
	background-color: rgb(88, 89, 291) !important;
}

/* Silver */
.tmx-silver-txt {
	color: rgb(199, 201, 203) !important;
}

.tmx-silver-bg {
	background-color: rgb(199, 201, 203) !important;
}

/* Light Gray */
.tmx-light-gray-txt {
	color: rgb(224, 225, 227) !important;
}

.tmx-light-gray-bg {
	background-color: rgb(224, 225, 227) !important;
}

/* White */
.tmx-white-txt {
	color: rgb(255, 255, 255) !important;
}

.tmx-white-bg {
	background-color: rgb(255, 255, 255) !important;
}

/* Typography
===============================================================*/

/* Image Helpers
===============================================================*/
.img-container {

}

.footer-logo-bar>div {
	display: block;
	text-align: center;
}

.footer-logo-bar .tmx-img-container img {
	max-height: 75px;
	max-width: 100%;
}

.footer-logo-bar.mobile .tmx-img-container img {
	max-width: 130px;
}

/* Image logos / sprites
===============================================================*/
/*
	Generate Sprites using the following URL : http://responsive-css.spritegen.com/
	Check instructions from share drive on how to generate.
*/

/* Sprite Image File */
.tmx-sprite {
	background: url(../img/tmx-sprite.png) no-repeat;
	background-size: 100%;
	max-width: 100%;
}

/* Individual Sprite Logo Images */
.tmx-sprite.years-experience {
	background-position: 0 0%;
	background-size: 100%;
}

.tmx-sprite.team-members {
	background-position: 0 100%;
	background-size: 131.125828%;
}

/* Image icons
===============================================================*/
/* Phone Orange */
.img-phone-orange {
	position: relative;
}

.img-phone-orange:before {
	background: url("../img/icons/orange-phone.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	content: '';
	display: block;
	height: 1em;
	position: absolute;
	top: 0.125em;
	width: 1em;
}

.img-phone-orange.left {
	margin-left: 2em;
}

.img-phone-orange.left:before {
	left: -1.5em;
}

.img-phone-orange.right {
	margin-right: 2em;
}

.img-phone-orange.right:before {
	right: 1.5em;
}

@media ( max-width : 768px) {
	.img-phone-orange.lg {
		line-height: 1.5em;
	}
	.img-phone-orange.lg:before {
		height: 1.5em;
		top: -0.125em;
		width: 1.5em;
	}
	.img-phone-orange.left {
		margin-left: 1.75em;
	}
	.img-phone-orange.right {
		margin-right: 1.75em;
	}
	.img-phone-orange.lg.left {
		margin-left: 2em;
	}
	.img-phone-orange.lg.right {
		margin-right: 2em;
	}
	.img-phone-orange.lg.left:before {
		left: -2em;
	}
	.img-phone-orange.lg.right:before {
		left: 2em;
	}
}

/* Hero header images
===============================================================*/
/* Header Image Box */
.tmx-hero-header {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 468px;
}

.tmx-hero-header .tmx-hero-box {
	background: rgba(0, 0, 0, 0.5);
	max-width: 550px;
	min-height: inherit;
	padding: 30px 50px 0px 50px;
}

.tmx-hero-header .tmx-hero-box h2, .tmx-hero-header .tmx-hero-box p {
	color: rgb(255, 255, 255) !important;
}

/* Extra Small Devices (Mobile) */
@media ( max-width : 767px) {
	.tmx-hero-header .tmx-hero-box {
		background: inherit;
		max-width: 100%;
		padding: 15px 30px 0px 30px;
	}
	.tmx-hero-header .tmx-hero-box h2, .tmx-hero-header .tmx-hero-box p {
		color: rgb(0, 0, 0) !important;
	}
	.tmx-hero-header>.mobile-hero-img {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 25%;
		width: 100%;
	}

	.tmx-hero-header.hero-pest .mobile-hero-img {
		background-image: url(../img/hero/hero_PEST_xs.jpg);
	}
	.tmx-hero-header.hero-termite-protect .mobile-hero-img {
		background-image: url(../img/hero/hero_TERMITE-PROTECT_xs.jpg);
	}
	.tmx-hero-header.hero-pestcontrol-main .mobile-hero-img {
		background-image: url(../img/hero/hero_PESTCONTROL-MAIN_xs.jpg);
	}
	.tmx-hero-header.hero-wildlife .mobile-hero-img {
		background-image: url(../img/hero/hero_WILDLIFE_xs.jpg);
	}
}

/* Small Devices (Tablet) */
@media ( min-width : 768px) {
	.tmx-hero-header.hero-pest {
		background-image: url(../img/hero/hero_PEST_sm.jpg);
	}
	.tmx-hero-header.hero-termite-protect {
		background-image: url(../img/hero/hero_TERMITE-PROTECT_sm.jpg);
	}
	.tmx-hero-header.hero-pestcontrol-main {
		background-image: url(../img/hero/hero_PESTCONTROL-MAIN_sm.jpg);
	}
	.tmx-hero-header.hero-wildlife {
		background-image: url(../img/hero/hero_WILDLIFE_sm.jpg);
	}
}

/* Medium Devices (Desktop) */
@media ( min-width : 992px) {
	.tmx-hero-header.hero-pest {
		background-image: url(../img/hero/hero_PEST_md.jpg);
	}
	.tmx-hero-header.hero-termite-protect {
		background-image: url(../img/hero/hero_TERMITE-PROTECT_md.jpg);
	}
	.tmx-hero-header.hero-pestcontrol-main {
		background-image: url(../img/hero/hero_PESTCONTROL-MAIN_md.jpg);
	}
	.tmx-hero-header.hero-wildlife {
		background-image: url(../img/hero/hero_WILDLIFE_md.jpg);
	}
}

/* Large Devices (Desktop) */
@media ( min-width : 1200px) {
	.tmx-hero-header.hero-pest {
		background-image: url(../img/hero/hero_PEST_lg.jpg);
	}
	.tmx-hero-header.hero-termite-protect {
		background-image: url(../img/hero/hero_TERMITE-PROTECT_lg.jpg);
	}
	.tmx-hero-header.hero-pestcontrol-main {
		background-image: url(../img/hero/hero_PESTCONTROL-MAIN_lg.jpg);
	}
	.tmx-hero-header.hero-wildlife {
		background-image: url(../img/hero/hero_WILDLIFE_lg.jpg);
	}
}

/*********************** Materialize Classes for Bootstrap (Remove once fully materialize) ***********************/
.center-align {
	text-align: center;
}

ul:not (.browser-default ) {
	padding-left: 0;
	list-style-type: none;
}

ul:not (.browser-default ) li {
	list-style-type: none;
}

input:not ([type] ):focus:not ([readonly] ), input[type=text]:focus:not ([readonly] ), input[type=password]:focus:not ([readonly] ), input[type=email]:focus:not ([readonly] ), input[type=url]:focus:not ([readonly] ), input[type=time]:focus:not ([readonly] ), input[type=date]:focus:not ([readonly] ), input[type=datetime]:focus:not ([readonly] ), input[type=datetime-local]:focus:not ([readonly] ), input[type=tel]:focus:not ([readonly] ), input[type=number]:focus:not ([readonly] ), input[type=search]:focus:not ([readonly] ), textarea.materialize-textarea:focus:not ([readonly] ) {
	border-bottom: 1px solid rgb(12, 143, 67);
	box-shadow: 0 1px 0 0 rgb(12, 143, 67);
}

.no-focus-effect:focus {
	box-shadow: 0 0px 0 0 rgb(12, 143, 67) !important;
}

.select-no-focus-effect:focus {
	outline: 0px solid black;
}

/* Common helper classes
===============================================================*/
.block {
	display: block;
}

.flex {
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

.flex-end {
	justify-content: flex-end;
}

/* Extra Small Devices (Mobile) */
@media (max-width: 767px) {
	.block-xs { display: block }
	.flex-xs-end { justify-content: flex-end; }
}
/* Small Devices (Tablet) */
@media (min-width: 768px) {
	.block-sm { display: block }
	.flex-sm-end { justify-content: flex-end; }
}
/* Medium Devices (Desktop) */
@media (min-width: 992px) {
	.block-md { display: block }
	.flex-md-end { justify-content: flex-end; }
}
/* Large Devices (Desktop) */
@media (min-width: 1200px) {
	.block-lg { display: block }
	.flex-lg-end { justify-content: flex-end; }
}

.borderless {
	border: none !important;
	box-shadow: none !important;
}

.text-bold {
	font-weight: 800;
}

.text-underline {
	text-decoration: underline;
}

.animate {
	-webkit-transition: all .75s;
	-moz-transition: all .75s;
	-ms-transition: all .75s;
	-o-transition: all .75s;
	transition: all .75s;
}

/* Materialize overrides
===============================================================*/
/* Color for active fields */
input:not ([type] ):focus:not ([readonly] ), input[type=text]:focus:not ([readonly] ), input[type=password]:focus:not ([readonly] ), input[type=email]:focus:not ([readonly] ), input[type=url]:focus:not ([readonly] ), input[type=time]:focus:not ([readonly] ), input[type=date]:focus:not ([readonly] ), input[type=datetime]:focus:not ([readonly] ), input[type=datetime-local]:focus:not ([readonly] ), input[type=tel]:focus:not ([readonly] ), input[type=number]:focus:not ([readonly] ), input[type=search]:focus:not ([readonly] ), textarea.materialize-textarea:focus:not ([readonly] ) {
	border-bottom: 1px solid #0C8F43;
	box-shadow: 0 1px 0 0 #0C8F43;
}

.toast {
	word-break: initial;
}

.input-field input.invalid ~ label, .input-field .select-wrapper .select-dropdown.invalid {
	color: #F44336;
}

.invalid-override {
	border-bottom: 0px solid #F44336 !important;
    box-shadow: 0 0px 0 0 #F44336 !important;
}

/* Custom alterations
===============================================================*/
/* Call To Action Button */
.btn-cta {
	max-width: 65%;
	padding: 10px 30px;
	width: initial; /* Override generic.css class btn */
}

.btn-cta>.glyphicon {
	vertical-align: -0.125rem;
}

/* Call Center Box */
@media ( max-width : 768px) {
	#tmx-call-center-new h4>span {
		display: block;
	}
	#tmx-call-center-new h4>span:nth-of-type(2) {
		font-size: 0.85em;
	}
}

/* General Layout
====================================================================== */
.white-box.header-bottom.clearfix.row-centered {
	display: none;
	max-height: 44px;
}

@media ( min-width : 1024px) {
	.main {
		padding-top: 80px; /* Same height as desktop navigation bar */
	}
	.white-box.header-bottom.clearfix.row-centered {
		display: block;
	}
}

section {
	padding-bottom: 2rem;
	/*materialize has 20px bottom-padding and it makes things look off centered for the sections*/
	/*padding-bottom: calc(4rem - 20px);*/
	padding-top: 2rem;
}

/* General Navigation
====================================================================== */

.header-container a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

.material-icons {
	height: inherit;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
}

.left {
	float: left;
}

.right {
	float: right;
}

.tiny {
	font-size: 1rem;
}


/* Desktop Navigation
====================================================================== */

.header-container.desktop {
	background-color: black;
	color: white;
	display: flex;
	height: 80px;
	position: fixed;
	top: 0;
	transition: height 0.3s ease;
	width: 100%;
	z-index: 50;
}

.header-container.desktop .logo-container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: flex-end;
	width: 18%;
}

.header-container.desktop .logo-container .img-responsive {
	max-height: 100%;
	max-width: 270px;
	padding: 1rem 2.5rem 1rem 1rem;
}

.header-container.desktop .img-responsive img {
	width: 100%;
}

.desktop .header-right-container {
	width: 82%;
}

.desktop .top-bar-container, .desktop .bottom-bar-container {
	display: block;
	width: 100%;
}

.desktop .top-bar-container {
	height: 34px;
}

.desktop .bottom-bar-container {
	height: 46px;
}

.desktop .phone-number-container, .desktop .secondary-links-container {
	height: 34px;
	line-height: 34px;
	padding-right: 1rem;
}

.desktop .phone-number-container span {
	font-size: 1.25rem;
	font-weight: 800;
}

.desktop .secondary-links-container a {
	color: #666;
	font-size: 0.85rem;
	font-weight: 700;
	padding-left: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s
}

.desktop .secondary-links-container a:hover {
	color: #aaa;
}

.desktop .secondary-links-container .material-icons.tiny {
	color: #aaa;
	vertical-align: middle;
}

.desktop .mainnav-container, .desktop .mainnav, .desktop .mainnav>li>a {
	height: 100%;
}

.desktop .mainnav {
	background: #262626;
	display: flex;
	list-style: none;
	margin: 0;
}

.desktop .mainnav>li {
	background: #ccc;
	height: 46px;
	line-height: 46px;
	padding-right: 21px;
	position: relative;
}

.desktop .mainnav>li.more, .desktop .mainnav>li.shrink-1, .desktop .mainnav>li.shrink-2 {
	display: none;
}

.desktop .mainnav>li.account {
	background: #262626;
}

.desktop .mainnav>li>a {
	background: #f9f9f9;
	color: black;
	display: inline-block;
	font-size: 0.9rem;
	font-weight: 700;
	/* padding: 0 1rem; */
	/* The padding had to at least have 1px or it would be off in firefox for some reason. */
	padding: 1px 1rem;
	position: relative;
	text-transform: uppercase;
	/*top: -3px;*/
	white-space: nowrap;
}

/* Chrome only */
.desktop .mainnav>li>a:not (*:root ) {
	top: -2px;
}

.desktop .mainnav>li.account>a {
	background: #dbdbdb;
	color: #999;
}

.desktop .mainnav>li.account>a .material-icons {
	position: relative;
	top: 0.45rem;
}

.desktop .mainnav>li>a:before, .desktop .mainnav>li>a:after {
	background: #f9f9f9;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	width: 20px;
	transform: skewX(-20deg);
}

.desktop .mainnav>li.account>a:before, .desktop .mainnav>li.account>a:after {
	background: #dbdbdb;
}

.desktop .mainnav>li>a:before {
	left: -10px;
}

.desktop .mainnav>li>a:after {
	right: -10px;
}

.desktop .mainnav>li:hover>a, .desktop .mainnav>li:hover>a:before, .desktop .mainnav>li:hover>a:after {
	background: #262626;
	color: #0C8F43;
}

.desktop .subnav {
	background: rgba(38, 38, 38, 0.95);
	display: none;
	left: -19px;
	line-height: 1.4;
	min-width: 500px;
	opacity: 0;
	position: absolute;
	top: 46px;
	transition: 0.3s ease;
}

.other-services .subnav, .commercial .subnav, .why-terminix .subnav, .more .subnav {
	left: auto;
	right: 19px;
}

.commercial .subnav {
	min-width: 675px;
}

.more .subnav {
	min-width: 200px;
}

.desktop .mainnav>li:hover .subnav {
	display: block;
	opacity: 1;
}

.desktop .subnav .subnav-slants {
	position: relative;
}

.desktop .subnav .subnav-slants:before, .desktop .subnav .subnav-slants:after {
	background: #262626;
	content: '';
	display: block;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 200px;
	transform: skewX(-20deg);
	transition: 0.3s ease;
}

.desktop .subnav .subnav-slants:before {
	left: -50px;
}

.desktop .subnav .subnav-slants:after {
	right: -30px;
}

.subnav-wrapper {
	padding: 0 2rem;
}

.more .subnav-wrapper {
	padding: 2rem;
}

.more .subnav .subnav-wrapper {
	display: flex;
	justify-content: space-around;
}

.desktop .subnav h4 {
	color: #909090;
	font-size: 1.2rem;
	font-weight: 900;
	margin-top: 1.75rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	white-space: nowrap;
}

.desktop .subnav .subnav-wrapper>ul {
	display: block;
	width: 100%;
}

.more .subnav .subnav-wrapper>ul {
	margin-right: 2rem;
	line-height: 1.6;
}

.desktop .subnav .subnav-wrapper>ul>li {
	display: inline-block;
	height: 2rem;
	width: 24%;
}

.other-services .subnav .subnav-wrapper>ul>li {
	width: 49%;
}

.more .subnav .subnav-wrapper>ul>li {
	display: block;
	height: auto;
	margin-bottom: 2rem;
	vertical-align: top;
	white-space: nowrap;
}

.commercial .subnav .subnav-wrapper>ul>li, .why-terminix .subnav .subnav-wrapper>ul>li {
	width: 32%;
}

.desktop .subnav ul>li>a {
	color: white;
	font-size: 0.9rem;
	font-weight: normal;
	transition: 0.3s ease;
}

.more .subnav ul>li>a {
	text-transform: none;
}

.desktop .subnav .subnav-wrapper>ul>li>a {
	font-weight: bold;
	text-transform: uppercase;
}

.desktop .subnav ul>li>a:hover {
	color: #aaa;
}

.desktop .subnav .actions {
	display: block;
	padding-top: 2rem;
	position: relative;
}

.desktop .subnav .actions a.action-button {
	background: #F67F00;
	bottom: -50%;
	color: white;
	display: block;
	font-size: 1rem;
	font-weight: bold;
	height: 42px;
	line-height: 42px;
	padding: 0 1rem;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	transition: 0.3s ease;
}

.desktop .subnav .actions a.action-button:hover {
	color: black;
}

.desktop .subnav .actions a.action-button:before, .desktop .subnav .actions a.action-button:after {
	background: #F67F00;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	width: 20px;
	transform: skewX(-20deg);
	transition: all 0.3s;
}

.desktop .subnav .actions a.action-button:before {
	left: -10px;
}

.desktop .subnav .actions a.action-button:after {
	right: -10px;
}

.desktop a.action-button>i.material-icons {
	padding-left: 4rem;
	position: relative;
	top: 0.45rem;
}



/* Mobile Navigation
====================================================================== */

.header-container.mobile {
	background-color: black;
	bottom: 0;
	display: none;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 50;
}

.mobile .bar-container {
	background: black;
	height: 60px;
	position: relative;
	width: 100%;
	z-index: 49;
}

.mobile .chat-link {
	align-items: center;
	display: flex;
	float: right;
	height: 100%;
	padding-right: 0.5rem;
	position: relative;
}

.mobile .chat-link>a {
	color: #fff;
	font-size: 0.9rem;
	height: 30px;
	text-transform: uppercase;
}

.mobile .logo-container {
	align-items: center;
	display: flex;
	float: left;
	height: 100%;
	justify-content: flex-end;
	margin-left: 1rem;
	max-width: 200px;
	width: 40%;
}

.mobile .logo-container img {
	display: block;
	width: 100%;
}

.mobile .nav-icon {
	align-items: center;
	display: flex;
	float: right;
	height: 100%;
	position: relative;
	justify-content: center;
	width: 60px;
}

.mobile .nav-icon a {
	cursor: pointer;
	display: block;
	height: 30px;
	position: relative;
	transition: 0.15s ease-in-out;
	width: 30px;
}

.mobile .nav-icon a span {
	background: white;
	border-radius: 3px;
	display: block;
	height: 2px;
	left: 0;
	opacity: 1;
	position: absolute;
	transform: rotate(0deg);
	transition: 0.15s ease-in-out;
	width: 100%;
}

.mobile .nav-icon a span:nth-child(1) {
	top: 5px;
}

.mobile .nav-icon a span:nth-child(2), .mobile .nav-icon a span:nth-child(3) {
	top: 14px;
}

.mobile .nav-icon a span:nth-child(4) {
	top: 23px;
}

.mobile.open .nav-icon a span:nth-child(1), .mobile.open .nav-icon a span:nth-child(4) {
	top: 14px;
	left: 50%;
	width: 0;
}

.mobile.open .nav-icon a span:nth-child(2) {
	transform: rotate(45deg);
}

.mobile.open .nav-icon a span:nth-child(3) {
	transform: rotate(-45deg);
}

.mobile .nav-container {
	background: white;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	top: 100%;
	transition: 0.3s all;
	width: 100%;
	z-index: 48;
}

.mobile.open .nav-container {
	opacity: 1;
	top: 0;
}

.mobile .subnav {
	align-items: center;
	background: black;
	display: flex;
	height: 3rem;
	justify-content: space-between;
	width: 100%;
}

.mobile .subnav a {
	color: #ddd;
	font-size: 0.85714rem;
	text-transform: uppercase;
}

.mobile .subnav a:first-child {
	margin-left: 1rem;
}

.mobile .subnav a:last-child {
	margin-right: 1rem;
}

.mobile .mainnav {
	margin: 0;
	transition: 0.3s all;
}

.mobile .mainnav>li {
	background: #e9e9e9;
	margin: 0;
	padding: 0;
	position: relative;
	transition: 0.3s all;
}

.mobile .mainnav>li>a {
	background: white;
	color: black;
	display: block;
	font-size: 1.21428rem;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	transition: 0.3s all;
}

.mobile .mainnav>li>a {
	font-weight: 800;
}

.mobile .mainnav>li.active>a {
	background: #dbdbdb;
}

.mobile i.chevron {
	position: absolute;
	right: 1.5rem;
	top: 0.95rem;
	transform: translate(-6px, 0);
}

.mobile i.chevron:before, .mobile i.chevron:after {
	background-color: black;
	content: '';
	height: 12px;
	position: absolute;
	transition: 0.3s all;
	width: 3px;
}

.mobile i.chevron:before {
	transform: translate(5px, 0) rotate(45deg);
}

.mobile i.chevron:after {
	transform: translate(-3px, 0) rotate(-45deg);
}

.mobile .mainnav>li.active>a>i.chevron:before {
	transform: translate(-5px, 0) rotate(45deg);
}

.mobile .mainnav>li.active>a>i.chevron:after {
	transform: translate(3px, 0) rotate(-45deg);
}

.mobile .mainnav .secondary {
	display: block;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	transition: 0.3s all;
	z-index: 2;
}

.mobile .mainnav>li.active>.secondary {
	max-height: 800px;
	opacity: 1;
	padding: 0.5rem 0;
}

.mobile .secondary>li>a {
	color: black;
	display: block;
	font-size: 1rem;
	font-weight: 700;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	]
}


/* Homepage
====================================================================== */

/* Homepage --> General
===============================================*/
.select-with-drop-arrow {
	background-image: url(../img/icons/drop-arrow.png);
}

.tmx-btn {
	padding: 0rem 1rem;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	outline: none;
	height: 3rem;
	font-size: 1.25rem;
	border-radius: 0;
	text-align: center;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.black-btn, .black-btn:focus, .orange-btn:focus {
	background-color: black;
}

.orange-btn, .black-btn:hover {
	background-color: rgb(255, 130, 28);
}

/* Button that has an icon to the right */
.icon-btn {
	text-align: left;
	position: relative;
}

.tmx-green:checked+label:before {
	top: -4px;
	left: -3px;
	width: 12px;
	height: 22px;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid rgb(12, 143, 67); /* You need to change the colour here */
	border-bottom: 2px solid rgb(12, 143, 67); /* And here */
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	-o-transform: rotate(40deg);
	transform: rotate(40deg);
	-webkit-backface-visibility: hidden;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.input-icon-right {
	background-position: calc(100% - .75em) calc(1rem), calc(100%) calc(1rem), calc(100% - .5rem) .5rem;
	background-repeat: no-repeat;
	-moz-appearance: none;
	-webkit-appearance: none;
}

/*for IE10*/
select::-ms-expand {
	display: none;
}

.double-arrow {
	margin-left: .75rem;
	height: .9rem;
	transform: translateY(.1rem);
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

/*Todo: this was an anchor tag; not sure if it's used */
.filled-link {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: black;
}

.overflow-visible {
	overflow: visible;
}

.zip-code-btn {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}

.zip-code-btn-tall {
	height: 3rem;
	width: 3rem;
}

.zip-code-btn-short {
	height: 2.5rem;
	width: 2.5rem;
}
/* Homepage --> Banner
===============================================*/
.tmx-hero-container {
	flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	min-height: 100%;
}

.banner-child {
	flex: 1;
	-webkit-flex: 1;
	position: relative;
}

.banner-title {
	color: white;
	font-size: 2.75rem;
	line-height: 2.5rem;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.banner-image {
	-webkit-background-size: cover !important;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
}

/* Homepage --> Contact Form Located Inside Banner
===============================================*/
.contact-container {
	background: rgba(245, 245, 244, .93);// rgba(224, 225, 227, .93);
	width: 65%;
	font-size: 1.2rem;
	padding: 1.75rem 1rem 1.75rem 1rem;
	max-width: 500px;
}

.contact-input {
	border: thin solid black !important;
	background-color: rgb(250, 250, 250) !important;
	height: 2.5rem !important;
	box-sizing: border-box !important;
	border-radius: 0px !important;
	margin-top: 0px !important;
}

.contact-input > option {
	text-transform: capitalize;
}

.contact-top-row {
	margin-bottom: 0;
	margin-top: .5rem;
}

.contact-btn {
	margin-top: 1rem;
	margin-bottom: 1rem;
	max-width: 280px;
	min-width: 200px;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	align-items: center;
	/*width: 30%;*/
}

#txtZipCode {
	background-position: calc(100% - .5rem) 50%;/* calc(100% - .75rem) calc(.5rem), calc(100%) calc(1rem), calc(100% - .5rem) .5rem;*/
	background-image: url(../img/icons/gps.png);
	padding-left: .5rem;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
	margin: 0 0 .75rem 0;
}

#txtZipCode::-ms-clear, #txtZipCodeLocation::-ms-clear {
    display: none;
}

#pestSelect option {
	font-style: italic;
}
input[type="text"], select, #txtZipCode {
	color: rgb(88,89,91);
	font-weight: 600;
	font-size: 1rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(88,89,91);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(88,89,91);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(88,89,91);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgb(88,89,91);
}

.input-icon {
	position: relative;
	margin-left: auto;

	/* The left padding caused the image to 1px high on firefox
	If the button text is too long, they will be right next to each other.
	 padding-left: 1rem; */
	/* Was used for buttons that had a width set
	top: 50%;
	transform: translateY(-50%);
	right: 1rem;
	*/
}
.input-icon:after {
	/*right: 1rem;*/
}

/* Homepage --> How Can We Protect Section
===============================================*/
.protect-card-content {
	padding: 0px !important;
	color: black;
	font-weight: 600;
}

.protect-card-content p {
	font-weight: 200;
}

.protect-other-services {
	font-size: 1.1rem;
}


/* adding to materialize classes */
.card {
	cursor: pointer;
	background-color: rgba(255,255,255,0);
}

.card-image {
	overflow: hidden;
}

.card-image>img, .offset-image-container>img {
	max-width: 100%;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.card-image>img:hover, .offset-image-container>img:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Homepage --> Find a Location Section
===============================================*/

.link-view-locations {
	color: rgba(130, 130, 130, 1.0);
	font-weight: 300;
}

.link-location-container {
	margin-top: -.5rem;
	margin-bottom: 1.5rem;
}

.location-container {
	display: inline-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
}

.link-border {
	border-bottom: 1px solid;
}

.link-border:hover {
	border-bottom: 2px solid;
}

#lblRememberLocation {
	text-decoration: underline;
}

.location-input {
	background-position: calc(100% - .75rem) calc(50%), calc(100%) calc(1.5rem), calc(100% - .5rem) .5rem;
	background-image: url(../img/icons/gps.png);
	padding-left: .5rem !important;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
	margin: 0rem 0 .75rem 0 !important;
	height: 3rem;
	background-repeat: no-repeat;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: thin solid black !important;
	box-sizing: border-box !important;
	border-radius: 0 !important;
	min-width: 17rem;
}

.location-btn {
	margin-top: 0 !important;
	min-width: 17rem;
	text-align: center !important;
}

.location-btn:hover {
	background-color: rgb(255,130,28) !important;
}

#txtZipCodeLocation {
	text-transform: uppercase;
	color: black !important;
	background-color: rgb(245, 245, 244);
}

#map {
	height: 100%;
	width: 100%;
	background-color: white;
	margin-top: -2rem;
	position: absolute;
}

.location-section {
	position: relative;
	background-color: rgb(245, 245, 244);
}

.location-results {
	background-color: rgb(235, 235, 232);
}

.location-box {
	font-size: 1.1rem;
	font-weight: 600;
}

.location-box-img {
	width: 100%;
	height: 100%;
}

.location-box-link {
	text-transform: uppercase;
	border-bottom: 1px solid rgb(255,130,28);
}

.location-box-link:hover {
	border-bottom: 2px solid rgb(255,130,28);
}

.location-box-close-btn {
	position: absolute;
	font-size: 2rem;
	color: black;
	right: 2rem;
	top: 0;
	text-transform: uppercase;
	background: none;
	border: none;
}

.location-box-close-btn:focus {
	background-color: rgba(0,0,0,0) !important;
}

.location-top-results-row {
	margin-bottom: 0;
	margin-top: 2rem;
}

#allResultsContainer {
	position: relative;
}

#allResultsContainer, #topResultsContainer {
	-webkit-transition: visibility 0s, opacity .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: visibility 0s, opacity 0.5s .5s ease;
}
/* Homepage --> The Buzz
===============================================*/
.buzz-container {
    border: 1px black;
    padding: 8px;
    background-color: black;
    min-height: 100px;
    color: white;
    position: relative;
}

.buzz-tall {
    height: 100%;
}

.spacer {
    padding: .75rem;
}

.buzz-description {
    vertical-align: bottom;
}

hr {
    background-color: #666666;
    height: 1px;
    border: none !important;
}

/* Homepage --> Footer
===============================================*/

footer.global-footer {
	background: black;
	color: white;
}

footer hr {
	height: 2px !important;
}

footer > .container {
	position: relative;
}

.scroll-to-top{
	position: absolute;
	color: white;
	top: 2rem;
	right: 0;
	font-size: 1.1rem;
	font-weight: 600;
	text-transform: uppercase;
	padding-right: 23px;
	padding-top: 6px;
	line-height: 1.1rem;
	cursor: pointer;
}

.scroll-to-top > div {
	position: relative;
}

.scroll-to-top img {
	position: absolute;
	top: -6px;
	right: -23px;
}

.help-bar {
	background: #d8d8d8;
	color: black;
	font-size: 1.75rem;
	font-weight: 800;
	position: relative;
	text-transform: uppercase;
	padding: 1.5rem 0;
}

.help-bar .container {
	position: relative;
}

.help-bar .material-icons {
	background-color: #ff7f00;
	border-radius: 100px;
	color: white;
	margin: 0 0.5rem;
	padding: 0.35rem;
	position: relative;
	top: 0.15rem;
}

.help-bar .phone, .link-section .phone, .link-column .phone, a[href^="tel:"]  {
	color: #ff7f00;
}
.logo-bar {
	padding: 2rem 0;
	justify-content: space-between;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
}

.footer-section {
	padding: 2rem 0;
	/*Overriding materialize row*/
	margin-bottom: 0 !important;
}

.link-column {
}

.link-column h3 {
	color: white;
	margin-top: 0 !important;
	margin-bottom: 1.8rem !important;
}

.link-column li {
	margin: .8rem 0;
}

.link-column a, .link-column p, .link-column .call-phone {
	color: rgb(140,140,140);
	font-size: 1rem;
	font-weight: 600;
}

.link-column:nth-child(1) {
	margin-bottom: 1.8rem;
}

.link-column:nth-child(2) {
	border-left: 1px solid rgba(140,140,140,.4);
	padding-left: 1rem;
}

.link-column:nth-child(3) {
	border-left: 1px solid rgba(140,140,140,.4);
	border-right: 1px solid rgba(140,140,140,.4);
	padding-left: 1rem;
}

.link-column:nth-child(4) {
	padding-left: 1rem;
}

.call-phone {
	margin-bottom: 2.4rem;
}

.call-phone a[href^="tel:"] {
	color: #ff7f00 !important;
}

.copyright-section {
	font-size: .9rem;
	color: rgb(140,140,140);
	padding-bottom: 2rem;
}

.copyright-section img {
	margin-left: .5rem;
}

#imgSvmCompany {
	align-self: flex-start;
}

.copyright-section .img-holder {
	justify-content: flex-end;
}

.social-container {
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	justify-content: space-between;
	color: white;
}

/* Media Queries - This matches Materialize
===============================================*/
/* Extra Small Devices (Mobile) */
@media ( max-width : 600px) {
	.fill-width-sm {
		width: 100% !important;
		max-width: 100% !important;
	}

	.tmx-hero-image-sm {
		background: url(../img/hero/hero_home_sm.png) no-repeat center top;
		min-height:  500px;
	}
	.input-icon-sm {
		position: absolute !important;
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
	}
	.input-icon-hidden-sm {
		background-image: none !important;
	}
	.block-sm {
		display: block !important;
	}
}
@media ( min-width : 601px) and (max-width: 992px) {
	.fill-width-m {
		width: 100% !important;
		max-width: 100% !important;
	}

	.block-m {
		display: block !important;
	}

	.input-icon-m {
		position: absolute !important;
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
	}
}
/* Small Devices (Tablet) */
@media ( min-width : 601px) {
	.tmx-hero-image-m {
		background: url(../img/hero/hero_home_md.png) no-repeat center top;
		min-height:  520px;
	}
}
/* Medium Devices (Desktop) */
@media ( min-width : 993px) {
	.tmx-hero-image-l {
		background: url(../img/hero/hero_home_lg.png) no-repeat center top;
		min-height:  540px;
	}

	#txtZipCode {
		margin-bottom: 0 !important;
	}
}
/* Large Devices (Desktop) */
@media ( min-width : 1201px) {
}

.help-bar-txt {
    font-size: 1.55rem !important;
    line-height: 24px;
}
