.fgs-slider {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    max-width: 700px;
}

.fgs-slider::before {
    content: '';
    display: block;
    padding-top: 60%;
}

.fgs-slider .slide {
    width: 100%;
    float: left;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.fgs-slider[data-total="2"] .slide {
    width: 50%;
}

.fgs-slider[data-total="3"] .slide {
    width: 33.3%;
}

.fgs-slider[data-total="4"] .slide {
    width: 25.5%;
}

.fgs-slider[data-total="5"] .slide {
    width: 20%;
}

.fgs-slider-list {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
    z-index: 1;
}

.fgs-slider[data-total="1"] .fgs-slider-list {
    width: 100%;
}

.fgs-slider[data-total="2"] .fgs-slider-list {
    width: 200%;
}

.fgs-slider[data-total="3"] .fgs-slider-list {
    width: 300%;
}

.fgs-slider[data-total="4"] .fgs-slider-list {
    width: 400%;
}

.fgs-slider[data-total="5"] .fgs-slider-list {
    width: 500%;
}

.fgs-slider__button {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.fgs-slider__button::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    transform: rotate(45deg);
}

.fgs-slider__button--prev {
    left: 0;
}

.fgs-slider__button--prev::before {
    border-right-color: transparent;
    border-top-color: transparent;
    margin-left: -5px;
}

.fgs-slider__button--next {
    right: 0;
}

.fgs-slider__button--next::before {
    border-left-color: transparent;
    border-bottom-color: transparent;
    margin-left: -18px;
}

.fgs-slider-radio {
    position: absolute;
    bottom: 20px;
    left: 50%;
    cursor: pointer;
    z-index: 3;
}

.fgs-slider-radio-1 {
    margin-left: -36px !important;
}

.fgs-slider-radio-2 {
    margin-left: -12px !important;
}

.fgs-slider-radio-3 {
    margin-left: 12px !important;
}

.fgs-slider-radio-4 {
    margin-left: 36px !important;
}

.fgs-slider-radio-5 {
    margin-left: 60px !important;
}

.fgs-slider-radio-1:checked ~ .fgs-slider-list {
    left: 0;
}

.fgs-slider-radio-2:checked ~ .fgs-slider-list {
    left: -100%;
}

.fgs-slider-radio-3:checked ~ .fgs-slider-list {
    left: -200%;
}

.fgs-slider-radio-4:checked ~ .fgs-slider-list {
    left: -300%;
}

.fgs-slider-radio-5:checked ~ .fgs-slider-list {
    left: -400%;
}
