.ui-widget-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: .50;
}

.ui-widget-content {
    background: #ffffff;
}

.ui-dialog {
    position: absolute;
    padding: .2em;
    width: auto !important;
    z-index: 1;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .5em 1em;
}

.ui-dialog .ui-dialog-content {
    padding: 0 1em;
}

#QAS_Dialog {
    font-size: 14px;
}

.QAS_LeftDetails {
    padding-top: 10px;
    float: left;
}

.QAS_RightDetails {
    padding-top: 10px;
    padding-left: 1em;
    float: right;
}

.QAS_RightDetails table {
    margin-bottom: 10px;
}

.QAS_RightDetails table td {
    line-height: 1.25em;
}

.QAS_EditLink {
    padding-left: 1em;
}

.QAS_DeliverableWarning {
    font-size: 10px;
    padding-top: .6em;
}

.QAS_Pick {
    display: none;
}

.QAS_MultPick {
    font-size: 1.1em;
    display: none;
    float: left;
}

.QAS_Pick table td,
.QAS_MultPick table td {
    padding-right: 1.5em;
}

.QAS_PromptData {
    line-height: 1.25em;
}

.QAS_PromptData table {
    font-size: 14px;
    margin-right: auto;
    text-align: left;
    margin-bottom: 10px;
}

.QAS_PromptData table td {
    padding: 0px;
    line-height: 1.25em;
}

#QAS_RefineText {
    background: #eaecf6;
    border: 1px solid #aaaab8;
    width: 100px;
}

#QAS_RefineBtn,
#QAS_AcceptOriginal,
#QAS_NoApt,
#QAS_TDContinue {
    color: #fff;
    background: #ff821c;
    border: none;
}

#QAS_NoApt {
    margin-top: .5em;
}
