/************************************
	Import Proxima Nova Font Family
*************************************/
@font-face {
    font-family: ProximaNova;
    src: url(/static-srvm/fonts/Proxima%20Nova%20Reg.otf);
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url(/static-srvm/fonts/Proxima%20Nova%20Sbold.otf);
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url(/static-srvm/fonts/Proxima%20Nova%20Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url(/static-srvm/fonts/Proxima%20Nova%20Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: ProximaNova;
    src: url(/static-srvm/fonts/Proxima%20Nova%20Xbold.otf);
    font-weight: 800;
}

@font-face {
    font-family: FontAwesome;
    src: url(https: //netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.eot?#iefix) format('eot'),
        url(https: //netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.woff) format('woff'),
        url(https: //netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf) format('truetype'),
        url(https: //netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.svg#FontAwesome) format('svg');
}

/******************************
Social Media share icon styling
******************************/
.icon-bar {
    width: 50px;
    /* Set a specific width */
    background-color: #555;
    /* Dark-grey background */
    position: fixed;
    line-height: 0px !important;
    z-index: 3;
}

.icon-bar a {
    display: block;
    /* Make the links appear below each other instead of side-by-side */
    text-align: center;
    /* Center-align text */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 36px;
    /* Increased font-size */
    padding: 12px;

}

.icon-bar a:first-child {
    background-color: #3b5998
}

.icon-bar a:nth-child(2) {
    background-color: #2ba9e1
}

.icon-bar a:nth-child(3) {
    background-color: #dd4b39
}

.icon-bar a:nth-child(4) {
    background-color: #007bb6
}

.icon-bar a:hover {
    background-color: #4CAF50;
    /* Add a hover color */
}

.icon-bar .active {
    background-color: #4CAF50;
    /* Add an active/current color */
}

/******************************
Social Media share icon styling
******************************/

/*************************************
                Globals
*************************************/
h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
.p {
    margin: 0;
}

html,
body {
    font-family: ProximaNova;
    font-weight: 400;
    position: relative;
    min-height: 100%;
}

body {
    font-size: 22px;
    line-height: 32px;
    color: #000;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
}

h1,
.h1 {
    font-weight: 900;
    color: #0C8F43 !important;
    margin: 0 0 33px 0;
    font-size: 52px;
    line-height: 40px;
    margin-bottom: 27px;
}

h1 span,
h2,
.h2 {
    font-size: 36px;
    line-height: 30px;
    font-weight: 900;
}

h2,
.h2 {
    margin-bottom: 20px;
}

h3,
.h3 {
    font-size: 25px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 10px;
}

h4,
.h4 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 800;
    margin-bottom: 10px;
}

h5,
.h5 {
    font-size: 16px;
    line-height: 22px;
}

p,
.p {
    margin-bottom: 18px;
}

.p {
    font-size: 22px;
}

li {
    line-height: initial;
}

@media (min-width : 975px) {

    h1,
    .h1 {
        font-size: 80px;
        line-height: 60px;
        margin-bottom: 33px;
    }

    h1 span,
    h2,
    .h2 {
        font-size: 52px;
        line-height: 45px;
    }

    h3,
    .h3 {
        font-size: 36px;
        font-weight: 900;
        line-height: 30px;
        margin-bottom: 10px;
    }

    h4,
    .h4 {
        font-size: 25px;
        line-height: 22px;
        font-weight: 800;
        margin-bottom: 5px;
    }
}

.st_sharethis_custom {
    /* background: url("/static-srvm/images/ppath/EMAIL-ICON.jpg");
    padding:0px 16px 0 0;
     */

}

@media print {

    .sms,
    .email,
    .print {
        display: none !important;
    }
}

.wrap {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.wrap > div {
    padding-top: 20px;
}

.wrap:after,
.wrap > div:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width :767px) {
    .wrap-m {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }

    .wrap-m > div {
        padding-top: 20px;
    }

    .wrap-m:after,
    .wrap-m > div:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media (min-width :975px) {
    body {
        font-size: 22px;
        line-height: 32px;
    }

    .centered-desktop {
        text-align: center;
    }

    .thin-column {
        padding-left: 73px;
        padding-right: 73px;
    }

    .thick-column {
        padding-left: 33px;
        padding-right: 33px;
    }
}

@media (min-width : 1024px) {
    p {
        margin-bottom: 15px;
    }
}

#consentTextWrapper {
    position: fixed;
    height: 1px;
    width: 1px;
    z-index: -1;
    overflow: hidden;
}

/****************************************
       Override Bootstrap Defaults
****************************************/
a,
label {
    color: inherit;
    cursor: pointer;
}

.main a {
    text-decoration: underline;
}

.collapsing {
    -webkit-transform: translateZ(0);
    -webkit-transition: height .35s linear;
    -o-transition: height .35s linear;
    transition: height .35s ease;
}

@media (max-width : 1023px) {
    .hidden-custom-header {
        display: none !important;
    }

    .visible-custom-header {
        display: block !important;
    }
}

@media (min-width : 1024px) {
    .hidden-custom-header {
        display: block !important;
    }

    .visible-custom-header {
        display: none !important;
    }
}

@media (max-width : 974px) {

    .hidden-custom,
    .hidden-custom-inline {
        display: none !important;
    }

    .visible-custom {
        display: block !important;
    }

    .visible-custom-inline {
        display: inline-block !important;
    }

    .one-line-m {
        clear: both;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media (min-width : 975px) {
    .hidden-custom {
        display: block !important;
    }

    .hidden-custom-inline {
        display: inline-block !important;
    }

    .visible-custom,
    .visible-custom-inline {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}

/*************Colors************/
.black {
    color: #000 !important;
}

.white {
    color: #FFF !important;
}

.green {
    color: #0C8F43 !important;
}

.orange {
    color: #ff821c !important;
}

.menu-gray {
    color: #777 !important;
}

.light-green {
    color: #00B050 !important;
}

.darkest-gray {
    color: #262526 !important;
}

.dark-gray {
    color: #464749 !important;
}

.gray {
    color: #999 !important;
}

.light-gray {
    color: #C7C9CB !important;
}

.lightest-gray {
    color: #E0E1E3 !important;
}

.red {
    color: #FF0000 !important;
    border-color: #FF0000 !important;
}

.black-box {
    background-color: #000;
}

.white-box {
    background-color: #FFF;
}

.green-box {
    background-color: #0C8F43;
}

.light-green-box {
    background-color: #C3D69B;
}

.grey-box {
    background-color: #d1d3d4;
}

.light-grey-box {
    background-color: #E0E1E3 !important;
}

.dark-gray-box {
    background-color: #CCCCCC !important;
}

.orange-box {
    background-color: #FF821C;
}

.rotate {
    transform: rotate(180deg);
}

.rm-button-style {
    border: none;
}

/************End Colors*********/
/************Global stylings *****************/
.centered {
    margin: 0 auto;
}

a.underlined,
.underlined a {
    text-decoration: underline
}

a:hover {
    color: #FF821C;
}

a.orange:hover {
    color: #0C8F43 !important;
}

.ui-datepicker-calendar a:hover {
    background-color: #0C8F43 !important;
}

.unpad {
    margin: 0 !important;
    padding: 0 !important;
}

.no-marg {
    margin: 0px !important;
}

.no-pad {
    padding: 0 !important;
}

.no-pad-top {
    padding-top: 0 !important;
}

.sm-pad {
    padding: 15px;
}

.sm-m-top {
    margin-top: 5px;
}

.sm-m-bottom {
    margin-bottom: 5px;
}

.lg-m-top {
    margin-top: 20px;
}

.xlg-m-top {
    margin-top: 30px;
}

.sm-pad-bottom {
    padding-bottom: 10px;
}


.sm-m-left {
    margin-left: 5px;
}

.md-m-left {
    margin-left: 10px;
}

.lg-m-left {
    margin-left: 20px;
}

.xl-m-left {
    margin-left: 30px;
}

.md-pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.md-pad-left {
    padding-left: 10px;
}

.md-pad-right {
    padding-right: 10px;
}

.lg-m-bottom {
    margin-bottom: 20px;
}

.xl-m-bottom {
    margin-bottom: 30px;
}

.xs-pad-top {
    padding-top: 10px !important;
}

.xs-pad {
    padding-top: 10px !important;
    padding-bottom: 10px;
}

.xs-pad-side {
    padding-left: 10px;
    padding-right: 10px;
}

.lg-pad-bot {
    padding-bottom: 30px;
}

.lg-pad-top {
    padding-top: 30px;
}

.lg-pad {
    padding-top: 30px;
    padding-bottom: 30px;
}

.xl-pad {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.xs-line {
    line-height: 15px !important;
}

.sm-line {
    line-height: 22px !important;
}

.sm-font {
    font-size: 15px !important;
}

.md-font {
    font-size: 18px !important;
}

.ex-md-font {
    font-size: 20px !important;
}

.lg-font {
    font-size: 40px;
}

.col-left {
    border-right: solid 1px #C7C9CB;
}

@media (min-width : 1024px) {
    .xl-pad {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}

.bordered {
    border: solid 2px #000;
}

@media (min-width :975px) {
    .gray-border-top {
        border-top: solid 2px #C7C9CB;
    }

    .gray-bordered-left {
        border-left: solid 2px #C7C9CB;
    }

    .gray-bordered-right {
        border-right: solid 1px #C7C9CB;
    }

    .gray-bordered-bottom {
        border-bottom: solid 1px #C7C9CB;
    }
}

.gray-bordered {
    border: solid 2px #C7C9CB;
}

.green-bordered {
    border: solid 2px #0C8F43;
}

.border-bottom {
    border-bottom: solid 1px #C7C9CB;
}

@media (min-width : 992px) {
    .border-right {
        border-right: solid 1px #C7C9CB;
    }

    .border-left {
        border-left: solid 1px #C7C9CB;
    }
}

#promo {
    text-align: center;
    background: black;
    color: white;
    margin-bottom: 1px;
}

/****font-weight******/
.thin {
    font-weight: 400 !important;
}

.sbold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.xbold {
    font-weight: 800;
}

.xxbold {
    font-weight: 900;
}

input,
select,
textarea {
    border: solid 2px #000;
    font-weight: 700;
    font-size: 14px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 8px;
    width: 100%;
    line-height: 30px;
}

textarea {
    resize: none;
    height: 100px;
}

select:disabled {
    border-color: #C7C9CB;
    color: #C7C9CB;
    background-color: #e0e1e3;
}

input.invalid,
textarea.invalid,
select.invalid {
    border-color: #ff0000;
    color: #ff0000;
}

input[type=radio],
input[type=checkbox] {
    float: left;
    width: initial;
    height: initial;
    margin-right: 10px;
}

label {
    display: block;
    margin: 0px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

input[type=radio] + label:before {
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid black;
    border-radius: 50%;
    background: #FFF;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

input[type=radio].bigradio {
    height: 25px;
    width: 25px;
}

input[type=radio].invalid + label {
    color: #ff0000;
}

input[type=radio].invalid + label:before {
    border-color: #ff0000;
}

input[type=radio]:checked + label:before {
    background: #000;
}

::-webkit-input-placeholder,
::-webkit-textarea-placeholder {
    color: #000;
}

:-moz-placeholder {
    color: #000;
    opacity: 1;
}

::-moz-placeholder {
    color: #000;
    opacity: 1;
}

:-ms-input-placeholder,
:-ms-textarea-placeholder {
    color: #000;
}

:disabled::-webkit-input-placeholder {
    color: #C7C9CB;
}

.gray-input {
    color: #AAA;
    border-color: #AAA;
    border-width: 1px;
}

.gray-input::-webkit-input-placeholder,
.gray-input::-webkit-textarea-placeholder {
    color: #AAA;
}

.gray-input:-moz-placeholder {
    color: #AAA;
}

.gray-input::-moz-placeholder {
    color: #AAA;
}

.gray-input:-ms-input-placeholder,
.gray-input:-ms-textarea-placeholder {
    color: #AAA;
}

.invalid::-webkit-input-placeholder,
.invalid::-webkit-textarea-placeholder {
    color: #ff0000;
}

.invalid:-moz-placeholder {
    color: #ff0000;
}

.invalid::-moz-placeholder {
    color: #ff0000;
}

.invalid:-ms-input-placeholder,
.invalid:-ms-textarea-placeholder {
    color: #ff0000;
}

.btn {
    color: #fff;
    background: #ff821c;
    border-radius: 1px;
    font-weight: 700 !important;
    font-size: inherit;
    padding: 6px 10px;
    white-space: normal;
    width: 100%;
    line-height: normal;
}

.btn-help {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    border: solid 1px #000;
    line-height: 12px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.btn-help:hover {
    color: #fff;
    background-color: #000;
}

.one-line {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.pointed-button {
    position: relative;
    border-right: none;
    margin-right: 10px;
    height: 30px;
    font-size: 16px;
    line-height: 0;
}

@media (min-width : 975px) {
    .pointed-button {
        width: 33%;
    }
}

.pointed-button:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -2px;
    right: -10px;
    border-top: 15px solid transparent;
    border-left: 10px solid #d85a11;
    border-bottom: 15px solid transparent;
}

.pointed-button:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -8px;
    border-top: 13px solid transparent;
    border-left: 8px solid #ff821c;
    border-bottom: 13px solid transparent;
}

.pointed-button.disabled {
    border-color: #c7c9cb;
    background-color: #e0e1e3;
    color: #c7c9cb !important;
}

.pointed-button.disabled:before {
    border-left: 10px solid #c7c9cb;
}

.pointed-button.disabled:after {
    border-left: 8px solid #e0e1e3;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}

.arrow-right {
    margin-left: 7px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    border-radius: 3px;
    vertical-align: sub;
    display: inline-block;
}

.arrow-right.orange {
    border-left: 9px solid #ff821c;
}

@media (min-width :975px) {
    .slant-left:after {
        content: '';
        line-height: 0;
        font-size: 0;
        width: 0;
        height: 0;
        border-top: 210px solid #252625;
        border-bottom: 10px solid transparent;
        border-left: 0px solid transparent;
        border-right: 100px solid transparent;
        position: absolute;
        top: 0;
        right: -100px;
    }
}

#content .slant-left {
    background-color: #252625;
    padding-left: 40px;
}

@media (min-width : 975px) {
    .slant-right {
        padding-left: 101px;
    }
}

.navAnchor {
    position: absolute;
    visibility: hidden;
}

@media (min-width : 975px) {
    .navAnchor {
        top: -127px;
    }
}

/****************END GLOBAL STYLINGS**************/
/*************font-size*****************************/
.fs-sm {
    font-size: 10px;
    line-height: 10px;
}

.small-text {
    font-size: 12px;
    line-height: 12px;
}

.fs-md {
    font-size: 17px;
    line-height: 22px;
}

.fs-lg {
    font-size: 36px;
    line-height: 32px;
}

.fs-xl {
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
}

@media (min-width : 1024px) {}

@media (max-width : 767px) {
    .fs-md-mob {
        font-size: 42px;
    }

    .fs-sm-mob {
        font-size: 17px;
        line-height: 22px;
    }
}

/*************max-width*****************************/
.mw-sm {
    max-width: 100px;
}

/***************BEGIN HEADER STYLING*****************
.header-top {
    padding: 16px 0 0 20px;
    min-height: 60px;
}

.header-bottom {
    border-bottom: solid 1px #000;
}

.logo {
    width: 140px;
}

.header-phone {
    font-size: 22px;
}

.navbar-toggle {
    border-color: transparent;
    border: none;
    margin: 0;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #C7C9CB;
}

.navbar-toggle .icon-bar {
    height: 2px;
    margin-bottom: 4px;
    width: 100%;
    background-color: #C7C9CB;
}

.collapse-nav, .collapse-nav ul {
    margin: 0;
    background-color: #fff;
}

@media ( max-width :1023px) {
    .collapse-nav li {
        border-top: solid 1px #E0E1E3;
        position: relative;
    }
    .collapse-nav li>a {
        padding: 10px 0;
        padding-right: 15px;
        display: block;
        min-height: 40px;
    }
    .collapse-nav li>a:first-child {
        padding-left: 30px;
    }
    .top-nav, .sub-nav {
        display: block;
        position: relative;
    }
    .top-nav li {
        border: none;
    }
    .top-nav, .sub-nav {
        background-color: #000;
        color: #0C8F43 !important;
    }
    .top-nav.collapsed, .sub-nav.collapsed {
        background-color: #fff;
        color: #000 !important;
    }
    .top-nav:before, .sub-nav:before {
        content: "\2212";
        position: absolute;
        color: #0C8F43;
        left: 15px;
        top: 10px;
        font-size: 24px;
    }
    .sub-nav:before {
        left: 25px;
    }
    .collapse-nav .light-gray-box a {
        font-size: 12px;
        text-decoration: underline;
        display: inline-block;
    }
    .top-nav.collapsed:before, .sub-nav.collapsed:before {
        content: "\2b";
    }
    .collapse-nav .top-nav+ul>li>a {
        padding-left: 40px;
        font-size: 12px;
    }
    .collapse-nav .sub-nav+ul>li>a {
        padding-left: 50px;
        font-size: 12px;
    }
    .navigator {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30px;
    }
    .navigator:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 9px solid #FF821C;
        display: inline-block;
        margin-top: 13px;
    }
    .collapsed .navigator {
        display: none;
    }
}

@media ( min-width :1024px) {
    header {
        position: fixed;
        width: 100%;
        z-index: 2;
    }
    .collapse-nav .collapse.in {
        display: none;
    }
    .header-top {
        padding: 20px 20px 0 60px;
        min-height: 70px;
    }
    .logo {
        width: 170px;
    }
    .collapse-nav {
        display: block;
        margin: 0 40px;
    }
    .collapse-nav ul {
        position: absolute;
        height: auto !important;
        border: solid 1px #000;
    }
    .collapse-nav>li {
        display: inline-block;
        float: left;
    }
    .collapse-nav>li>a {
        font-size: 20px;
        line-height: 13px;
        padding: 15px;
        display: inline-block;
        text-decoration: none !important;
    }
    .collapse-nav>li>a>span {
        display: block;
        font-size: 13px;
    }
    .collapse-nav>li ul a {
        display: block;
        font-size: 12px;
        padding: 7px 20px;
        border-bottom: solid 1px #C7C9CB;
        line-height: 20px;
    }
    .collapse-nav li:hover>a {
        background-color: #000;
        color: #0C8F43;
    }
    .collapse-nav>li>ul>li {
        position: relative;
    }
    .collapse-nav>li:hover>ul {
        display: block !important;
        position: absolute;
    }
    .collapse-nav>li>ul>li:hover>ul {
        display: block !important;
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
    }
    .collapse-nav>li>ul>li:hover>ul.why-nav {
        left: initial;
        right: 100%;
    }
}
***************END HEADER STYLING*****************/
/***************BEGIN HEADER STYLING for third css*****************/
#collapse-nav > li {
    border-right: solid 1px #000;
}

.highlighted-nav-bar {
    background-color: #D3D3D3;
    color: #0C8F43;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 300px;
}

.slow-list {
    transition: all 0.3s ease-out;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 0px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.expand-icon:after {
    content: url("/static-srvm/images/side-nav/Arrow_Down_Orange_TMX.png");
    float: right;
    color: #ff821c;
    left: 15px;
    top: 10px;
    font-size: 24px;
    padding: 0px 20px 0px 0px;
}

.expand-icon.collapsed:after {
    color: #0C8F43;
    float: right;
    left: 15px;
    top: 10px;
    font-size: 24px;
    content: url("/static-srvm/images/side-nav/Arrow_Down_Green_TMX.png");
    display: block;
    padding: 0px 20px 0px 0px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 25px;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    display: block;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.header-top {
    padding: 16px 0 0 20px;
    min-height: 60px;
}

#collapse-nav > h5 {
    border-left: #000;
}

.header-bottom {
    border-bottom: solid 1px #000;
}

.logo {
    width: 140px;
}

.header-phone {
    font-size: 22px;
}

@media (min-width : 974px) {
    .nav-button {
        border: solid 2px #000;
        padding: 5px 25px;
    }
}

.navbar-toggle {
    border-color: transparent;
    border: none;
    margin: 0;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #C7C9CB;
}

.navbar-toggle .icon-bar {
    height: 2px;
    margin-bottom: 4px;
    width: 100%;
    background-color: #C7C9CB;
}

.collapse-nav,
.collapse-nav ul {
    margin: 0;
    background-color: #fff;
}

.header-box {
    margin: 10px;
}

@media (max-width :1023px) {
    .collapse-nav li {
        border-top: solid 1px #E0E1E3;
        position: relative;
    }

    .collapse-nav li > a {
        padding: 10px 0;
        padding-right: 15px;
        display: block;
        min-height: 40px;
    }

    .collapse-nav li > a:first-child {
        padding-left: 30px;
    }

    .top-nav,
    .sub-nav {
        display: block;
        position: relative;
    }

    .top-nav li {
        border: none;
    }

    .top-nav,
    .sub-nav {
        background-color: #000;
        color: #0C8F43 !important;
    }

    .top-nav.collapsed,
    .sub-nav.collapsed {
        background-color: #fff;
        color: #000 !important;
    }

    .top-nav:before,
    .sub-nav:before {
        content: "\2212";
        position: absolute;
        color: #0C8F43;
        left: 15px;
        top: 10px;
        font-size: 24px;
    }

    .sub-nav:before {
        left: 25px;
    }

    .collapse-nav .light-gray-box a {
        font-size: 12px;
        text-decoration: underline;
        display: inline-block;
    }

    .top-nav.collapsed:before,
    .sub-nav.collapsed:before {
        content: "\2b";
    }

    .collapse-nav .top-nav + ul > li > a {
        padding-left: 40px;
        font-size: 12px;
    }

    .collapse-nav .sub-nav + ul > li > a {
        padding-left: 50px;
        font-size: 12px;
    }

    .navigator {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30px;
    }

    .navigator:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 9px solid #FF821C;
        display: inline-block;
        margin-top: 13px;
    }

    .collapsed .navigator {
        display: none;
    }
}

@media (min-width :1024px) {
    header {
        position: fixed;
        width: 100%;
        z-index: 5;
    }

    .collapse-nav .collapse.in {
        display: none;
    }

    .header-top {
        padding: 20px 20px 0 60px;
        min-height: 70px;
    }

    .logo {
        width: 170px;
    }

    .collapse-nav {
        display: block;
    }

    .collapse-nav ul {
        position: absolute;
        height: auto !important;
        border: solid 1px #000;
    }

    .collapse-nav > li {
        display: inline-block;
        float: left;
    }

    .collapse-nav > li.right-nav-menu {
        position: relative;
    }

    .collapse-nav > li.right-nav-menu > div.medium-panel {
        right: 0;
        width: 850px;
        min-width: 800px;
    }

    .collapse-nav > li.right-nav-menu {
        position: relative;
    }

    .collapse-nav > li.right-nav-menu > div.small-panel {
        right: 0;
        width: 579px;
    }

    .collapse-nav > li > a {
        font-size: 20px;
        line-height: 13px;
        padding: 10px 15px;
        display: inline-block;
        text-decoration: none !important;
    }

    .collapse-nav > li > a > span {
        display: block;
        font-size: 13px;
    }

    .collapse-nav > li ul a {
        display: block;
        font-size: 12px;
        padding: 7px 20px;
        border-bottom: solid 1px #C7C9CB;
        line-height: 20px;
    }

    .collapse-nav li:hover > a {
        background-color: #D3D3D3;
        color: #0C8F43;
    }

    .collapse-nav > li > ul > div {
        position: relative;
    }

    .collapse-nav > li:hover > div {
        display: block !important;
        position: absolute;
        z-index: 5;
    }

    .collapse-nav > li > div > li:hover > div {
        display: block !important;
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
    }
}

/*********************************Mobile Page right sub nav bar heading ****************/
.xl-m-right {
    margin-right: 30px;
}

/*********************************Mobile Page right sub nav bar heading ****************/
/***************END HEADER STYLING for third css*****************/

/****************st PAGE STYLING****************/
.home-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

@media (min-width :768px) {
    .bed-bug-image {
        background-image: url(/static-srvm/images/bed-bug-control/160204_Terminix_6790-670.jpg);
        min-height: 670px;
    }

    .pest-control-image {
        background-image: url(/static-srvm/images/pest-control/160204_Terminix_6135-670.jpg);
        min-height: 670px;
    }

    .termite-control-image {
        background-image: url(/static-srvm/images/termite-control/160202_Terminix_0550-670.jpg);
        min-height: 670px;
    }

    .additional-pest-image {
        background-image: url(/static-srvm/images/additional-pest-solutions/160202_Terminex_1908-670px.jpg);
        min-height: 670px;
    }

    .home-b {
        background-image: url(/static-srvm/images/home/WILDLIFE-mobile-PROMO-light.jpg);
    }
}

@media (min-width :768px) {
    .home-a {
        background-image: url(/static-srvm/images/home/160206_Terminix_12528-670.jpg);
        min-height: 670px;
    }

    .home-b {
        background-image: url(/static-srvm/images/home/WILDLIFE-RODENT-PROMO-light.jpg);
        min-height: 405px;
    }

    .need-help-photo {
        background: url(/static-srvm/images/home/CALL-CENTER.jpg) no-repeat scroll;
    }

    .need-help-opac {
        background: url(/static-srvm/images/pest-control/service-lady.jpg) no-repeat scroll;
    }
}

@media (max-width :700px) {
    .home-a {
        background-image: url(/static-srvm/images/home/HEADER-IMAGE-mod.jpg);
        background-size: cover;
        background-position: center top;
        min-height: 405px;
    }

    /*  .need-help-photo{
    background: url(/static-srvm/images/home/CALL-CENTER-m.jpg) no-repeat scroll;
    }  */
}

@media (max-width : 350px) {
    .one-line-m {
        clear: inherit;
        display: inherit;
        overflow: inherit;
        white-space: inherit;
    }
}

#quoteCarousel {
    min-height: 300px;
}

#quoteCarousel .item {
    padding: 40px;
}

.border-left {
    border-left-style: groove;
}

#quoteCarousel .carousel-indicators {
    position: static;
    bottom: initial;
    left: initial;
    top: initial;
    width: initial;
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    max-width: 700px;
}

#quoteCarousel .carousel-indicators .active {
    width: auto;
    height: auto;
}

#quoteCarousel .quoted:before,
#quoteCarousel .quoted .last:after {
    color: #0C8F43
}

.bubble {
    text-align: center;
    position: relative;
    width: 195px !important;
    padding: 10px;
    background: #E0E1E3;
    margin: 0;
    cursor: pointer;
}

.bubble.active {
    background: #0C8F43;
    color: #FFF !important;
}

.bubble.active:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #0C8F43 transparent;
    display: block;
    width: 0;
    bottom: -14px;
    left: 83px;
}

#quoteCarousel .carousel-indicators .circle {
    background-color: #d1d3d4;
    border-radius: 100%;
    height: 15px;
    width: 15px;
}

#quoteCarousel .carousel-indicators .circle.active {
    background-color: #0C8F43;
}

/****************THREE STEP ON TERMITE PAGE  STYLING****************/
.square-one {
    background-image: url(/static-srvm/images/termite-control/How_1_image.jpg);
    min-height: 255px;
}

.square-two {
    background-image: url(/static-srvm/images/termite-control/How_2_image.jpg);
    min-height: 255px;
}

.square-three {
    background: url(/static-srvm/images/termite-control/How_3_image.jpg);
    min-height: 255px;
}

@media (max-width : 768px) {
    .square-one {
        background-image: url(/static-srvm/images/termite-control/How_1_image_mobile.jpg);
        min-height: 200px;
    }

    .square-one p.fs-md {
        margin-left: 19px;
    }

    .square-one span,
    .square-two span,
    .square-three span {
        font-size: 50px;
        line-height: 43px;
    }

    .square-one p,
    .square-two p,
    .square-three p {
        font-size: 18px;
    }

    .square-two {
        background-image: url(/static-srvm/images/termite-control/How_2_image_mobile.jpg);
        min-height: 200px;
    }

    .square-two .img-panel-txt {
        padding-top: 20px;
    }

    .square-two p.fs-md {
        margin-left: 19px;
    }

    .square-three {
        background: url(/static-srvm/images/termite-control/How_3_image_mobile.jpg);
        min-height: 200px;
    }

    .square-three p.fs-md {
        margin-left: 23px;
    }
}

/****************END THREE STEP STYLING****************/
.flex-xs {
    display: none !important;
}

.need-help-input {
    background: url(/static-srvm/images/home/tmx-dropbox-image.png) no-repeat scroll right;
}

@media (max-width :767px) {
    #quoteCarousel .carousel-indicators .bubble {
        display: none;
    }

    #quoteCarousel .carousel-indicators .bubble.active {
        display: initial;
    }

    .flex-xs {
        display: flex !important;
    }

    #quoteCarousel .carousel-indicators {
        max-width: 195px;
    }

    .home-a {
        background: none;
    }

    .home-pic-mobile {
        background: url(/static-srvm/images/home/17122_TMX-Photography-HOMEPG-120.jpg) no-repeat scroll center;
        min-height: 288px;
    }

    .bed-bug-mobile {
        background: url(/static-srvm/images/bed-bug-control/17122_TMX-Photography-BEDBUG-120.jpg) no-repeat scroll center;
        min-height: 288px;
    }

    .additional-pest-mobile {
        background: url(/static-srvm/images/additional-pest-solutions/17122_TMX-Photography-HOMESRVS-120.jpg) no-repeat scroll center;
        min-height: 288px;
    }

    .pest-control-mobile {
        background: url(/static-srvm/images/pest-control/17122_TMX-Photography-PEST-120.jpg) no-repeat scroll center;
        min-height: 288px;
    }

    .termite-control-mobile {
        background: url(/static-srvm/images/termite-control/17122_TMX-Photography-TERMITE-120.jpg) no-repeat scroll center;
        min-height: 288px;
    }
}

/*************END HOME PAGE STYLING****************/
/***************MAIN CONTENT STYLING*****************/
.main {
    background-color: #fff;
}

#related-articles-box {
    background-color: #E0E1E3;
    border: solid 2px #C7C9CB;
    margin-top: 10px;
    position: relative;
}

.main p {
    color: #464749;
}

.banner-text {
    padding-top: 15px;
    padding-bottom: 35px;
}

@media (max-width :974px) {
    .banner {
        background-image: none !important;
    }
}

.errorPagePara {
    font-size: 22px !important;
    line-height: 32px !important;
}

@media (min-width :975px) {
    .main {
        padding-bottom: 141px;
    }

    .errorPagePaddingBottom {
        padding-bottom: 0px !important;
    }

    .no-nav-padding {
        padding-top: 70px !important;
    }

    .main.custom {
        padding-bottom: 50px;
    }

    .main.custom {
        padding-bottom: 0;
    }

    .banner {
        height: 486px;
        position: relative;
        width: 100%;
    }

    .banner-text {
        background-color: rgba(0, 0, 0, 0.7);
        max-width: 520px;
        position: absolute;
        top: 0;
        height: 100%;
        padding: 33px 25px 20px 33px;
        left: 0;
    }

    .banner-text.right {
        left: initial;
        right: 0;
    }

    .black-heading {
        max-width: 765px;
        min-height: 170px;
        padding-top: 50px !important;
        padding-left: 75px;
    }

    .black-heading:before {
        content: '';
        border-top: 170px solid #000;
        border-right: 100px solid transparent;
        position: absolute;
        top: 0;
        right: -100px;
    }

    .lg-pad-left {
        padding-left: 60px
    }
}

@media (min-width :1024px) {
    .main {
        padding-top: 127px;
    }

    .img-panel-holder {
        width: 1025px;
    }
}

.img-panel-holder img {
    width: 100%;
}

.img-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}

.img-panel-txt {
    text-align: left;
    position: relative;
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.quoted,
.quoted .last {
    position: relative;
    display: inline-block;
}

.quoted:before {
    content: "\201C";
    font-size: 100px;
    position: absolute;
    left: -38px;
    top: 10px;
}

.quoted .last:after {
    content: "\201D";
    font-size: 100px;
    position: absolute;
    bottom: -29px;
    right: -39px;
}

@media (min-width :768px) {
    .white-back-transp {
        max-width: 550px;
        margin-top: 100px;
        background: rgba(255, 255, 255, 0.8);
    }
}

@media (min-width :992px) {
    .quote-author {
        margin-top: -30px
    }
}

/*************END MAIN CONTENT *************************/
/**************STICKY FOOTER STYLING  *****************/
#free-estimate-form-mod {
    display: none;
}

.form-cancel {
    background: initial;
    border: none;
}

#company {
    display: none;
}

#upg img {
    width: 160px;
}

.upg {
    width: 160px;
}

.center-img {
    width: 160px;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.consent {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 17px;
    margin-bottom: 10px;
}

#Consent.invalid + p,
#Consent.invalid + p + p {
    color: #ff0000;
}

@media (max-width : 974px) {
    #free-estimate-form {
        max-width: 480px;
        margin: 0 auto;
        padding: 30px 20px;
    }

    .phone-label {
        display: block;
    }

    .page-1 {
        display: none;
    }

    #video img {
        display: block;
        float: none;
        margin: 0 auto;
    }
}

@media (min-width :975px) {
    .sticky-footer label {
        display: inline-block;
    }

    .sticky-footer {
        overflow: hidden;
        width: 100%;
        background-image: linear-gradient(left, #FF821C 50%, #0C8F43 50%);
        background-image: -o-linear-gradient(left, #FF821C 50%, #0C8F43 50%);
        background-image: -ms-linear-gradient(left, #FF821C 50%, #0C8F43 50%);
        background: -moz-linear-gradient(left, #FF821C 50%, #0C8F43 50%);
        /* FF3.6+ */
        background: -webkit-gradient(left, #FF821C 50%, #0C8F43 50%);
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #FF821C 50%, #0C8F43 50%);
        /* Chrome10+,Safari5.1+ */
    }

    #free-estimate-form {
        width: 620px;
    }

    .sf-row > * {
        vertical-align: top;
    }

    .sf-xs {
        width: 100px;
    }

    .sf-sm {
        display: block;
        width: 130px;
        margin-bottom: 0;
    }

    .sf-md {
        width: 165px;
    }

    .sf-lg {
        width: 250px;
    }

    .sf-xl {
        width: 500px;
    }

    .sf-sm,
    .sf-md,
    .sf-xl {
        margin-right: 20px;
        float: left;
    }

    .sticky-footer .orange-box {
        float: left;
        width: 33%;
        position: relative;
    }

    .sticky-footer .green-box {
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 67%;
        position: relative;
    }

    .sticky-footer .green-box:before {
        content: "";
        position: absolute;
        left: -150px;
        top: 0;
        width: 0;
        height: 0;
        border-bottom: 500px solid #0C8F43;
        border-left: 150px solid transparent;
    }

    .radio-holder {
        width: 360px;
        font-size: 12px;
        display: inline-block;
        margin-right: 10px;
        float: left;
    }

    .radio-holder > div {
        padding: 0;
    }

    .radio-holder p {
        font-size: 12px;
    }

    .radio-holder label {
        margin-right: 20px;
        font-size: 12px;
    }

    .page-2,
    .trigger .page-1 {
        display: none;
    }

    .page-1,
    .trigger .page-2 {
        display: inline-block;
    }

    .sf-shrunk {
        height: 40px;
    }
}

.arrow-up {
    right: 65px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #FFF;
    float: right;
    position: relative;
    z-index: 50;
    transition: all 0.2s ease-out;
}

.clickover-left {
    height: 100%;
    width: 88px;
    position: absolute;
    left: 340px;
    top: 0px;
    z-index: 5000;
}

.clickover-right {
    height: 33px;
    width: 700px;
    position: absolute;
    left: 450px;
    top: 0px;
    z-index: 5000;
}

.arrow-up.right-arrow {
    right: 160px;
    top: -20px;
    border-bottom-color: #000;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #000;
    float: right;
    position: relative;
    z-index: 50;
    transition: all 0.2s ease-out;
}

/***************** END STICKY FOOTER STYLING *******************/
/**************FOOTER STYLING *************************
footer {
    position: relative;
    z-index: 2;
}

footer span {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 700;
    display: block;
}

footer p {
    font-size: 12px;
    line-height: 12px;
}

footer ul li a {
    text-decoration: underline;
}

.two-column-list li {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
}

.socialmedia ul li {
    height: 30px;
    float: left;
    margin-right: 12px;
}

.socialmedia ul li.nonsocial {
    height: 40px;
}

.socialmedia ul li img {
    height: 100%;
}

.socialmedia ul li.marg-right {
    margin-right: 100px;
}

@media ( min-width : 975px) {
    .two-column-list li {
        width: 50%;
        float: left;
        font-size: 12px;
        margin-bottom: 10px;
    }
    footer span {
        font-size: 13px;
        margin-bottom: 0;
    }
}
*************END FOOTER STYLING **********************/
/**************Begin of combined FOOTER STYLING *************************/
/********
footer {
	position: relative;
	z-index: 2;
}

footer span {
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: 700;
	display: block;
}

footer p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 0;
}

footer p.bold {
	margin-bottom: 10px;
}

footer .legaltext p {
	font-size: 12px;
	line-height: 12px;
}

footer .socialmedia img {
	height: 30px !important;
}

@media ( max-width : 767px) {
	footer p {
		line-height: 40px;
	}
	footer p.bold {
		margin-bottom: 0;
		line-height: 22px;
	}
}

@media ( min-width : 768px) {
	.ftr-custom {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

.sprite {
	max-width: 100%;
	background-size: 100%;
	background-image: url('/static-srvm/images/Logos/sprites.png');
}

.s-2million {
	background-position: 0 0%;
	background-size: 100%;
}

.s-8000techs {
	background-position: 0 9.576138%;
	background-size: 105.095541%;
}

.accred-bus-hor-a-gray {
	background-position: 0 17.307692%;
	background-size: 132%;
}

.strongestguarantee {
	background-position: 0 26.966292%;
	background-size: 134.146341%;
}

.s-85years {
	background-position: 0 35.503876%;
	background-size: 150%;
}

.s-24seven {
	background-position: 0 42.675159%;
	background-size: 168.367347%;
}

.womens-choice {
	background-position: 0 51.923077%;
	background-size: 177.419355%;
}

.fb {
	background-position: 0 61.538462%;
	background-size: 275%;
}

.googleplus {
	background-position: 0 71.153846%;
	background-size: 275%;
}

.pinterest {
	background-position: 0 80.769231%;
	background-size: 275%;
}

.twitter {
	background-position: 0 90.384615%;
	background-size: 275%;
}

.youtube-md {
	background-position: 0 100%;
	background-size: 275%;
}
******/
/*************END of combined FOOTER STYLING **********************/
/************MODAL STYLING ***************/
.modal-content {
    border-radius: 0;
}

#video-modal .modal-content {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.closer {
    position: absolute;
    top: 30px;
    right: 30px;
}

.modal-option {
    font-size: 17px;
    font-weight: 800;
    display: inline-block;
    padding: 5px 15px;
    width: 100%;
    cursor: pointer;
}

.modal-option:hover {
    background-color: #0C8F43;
    color: #fff;
}

.no-border {
    border: none;
}

.no-border-top {
    border-top: none;
}

/*
@media ( min-width : 500px) {
	.modal-option {
		width: 48%;
	}
} */
@media (min-width : 975px) {
    .modal-dialog {
        width: 700px;
    }

    .modal-dialog.wide-modal {
        width: 750px;
    }

    /* .modal-option {
        width: 24%;
    } */
    .modal-body {
        padding: 40px 50px;
    }
}

/************END MODAL STYLING *****************/
/************PP STYLING **********************/
.small-padding {
    padding: 6px !important;
}

.btn-purchase {
    border: none;
    border-radius: 5px;
    width: 100%;
}

.black {
    color: black;
}

.sharp-corners {
    border-radius: 0px !important;
}

.accordParent:before {
    font-family: 'FontAwesome';
    font-size: 15px;
    background-color: #4CAF50;
    border-radius: 50%;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-right: 6px;
    color: white;
    content: "\f068";
    font-weight: 400;
}

.productAccordion {
    background-color: #7F7F7F;
    position: relative;
    padding-right: 40px !important;
}

.productAccordion.collapsed {
    background-color: #0C8F43;
}

.productAccordion:after {
    font-family: 'FontAwesome';
    content: "\f068";
    position: absolute;
    top: 0;
    right: 0;
    border: solid 3px #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 3px;
}

@media (max-width : 350px) {
    .productAccordion:after {
        margin: 13px 3px;
    }
}

.accordParent.collapsed:before,
.productAccordion.collapsed:after {
    content: "\f067";
}

.cartAccordion .cartAccordionIcon:before {
    font-family: 'FontAwesome';
    content: "\f068";
    color: #ff821c;
    border: solid 1px #ff821c;
    border-radius: 100%;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
}

.cartAccordion.collapsed .cartAccordionIcon:before {
    content: "\f067";
}

.productAccordion.productSelected:before {
    font-family: 'Glyphicons Halflings';
    content: "\e013  ";
}

.ribbon-holder {
    /* max-width: 900px; */
    margin: 0 auto;
}

.ribbon {
    background-color: #0C8F43;
    color: #fff;
    height: 44px;
    position: relative;
    display: inline-block;
    font-weight: 700;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.ribbon-single {
    background-color: #0C8F43;
    color: #fff;
    height: 46px;
    position: relative;
    display: inline-block;
    font-weight: 700;
    z-index: 1;
}

.ribbon .circle {
    margin: 5px;
    width: 37px;
    height: 37px;
    line-height: 32px;
    text-align: center;
    font-size: 27px;
    float: left;
    border: solid 2px #fff;
    border-radius: 50%;
    position: relative;
    left: -7px;
}

.ribbon .circle.glyphicon {
    font-size: 22px;
}

.ribbon.inactive {
    color: #AAA;
}

.ribbon.inactive .circle {
    color: #0C8F43;
    border-color: #0C8F43;
}

.ribbon.one {
    width: 36%;
    padding-left: 25px;
}

.ribbon.one.termite {
    width: 50%;
    padding-left: 25px;
}

.ribbon.three.termite {
    width: 50%;
    padding-left: 25px;
}

.ribbon.two {
    width: 34%;
}

.ribbon.three {
    width: 30%;
}

.ribbon.two:before,
.ribbon.three:before {
    content: "";
    border: 22px solid #0C8F43;
    position: absolute;
    display: block;
    left: -55px;
    border-right-width: 60px;
    border-left-color: transparent;
    margin-left: 25px;
    border-right-width: 21px;
}

.mini-pp-label:before {
    border-right-width: 30px !important;
}

/*
 fix for mobile mini step one form. The third ribbon text  */
.ribbon.three.mini-pp-label {
    border-right: 4em solid transparent;
}

@media (max-width :500px) {
    .no-pad-m {
        padding: 0 !important;
    }
}

/*  end of mobile mini form fixes
 */
.ribbon.one:after,
.ribbon.two:after {
    content: "";
    border: 22px solid white;
    position: absolute;
    top: 0;
    right: 5px;
    border-right-width: 10px;
    border-left-color: transparent;
    border-right-width: 10px;
}

.ribbon > span {
    line-height: 50px;
    display: inline-block;
}

.ribbon > span.step {}

.ribbon.inactive {
    background-color: #C7C9CB;
    color: #AAA;
}

.ribbon.two.inactive:before,
.ribbon.three.inactive:before {
    border-color: #C7C9CB;
    border-left-color: transparent;
}

@media (max-width :900px) {
    .ribbon .circle {
        display: none;
    }
}

@media (max-width :768px) {
    .ribbon {
        height: 50px;
    }

    .ribbon > span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        font-size: 15px;
        line-height: 15px;
        left: 10%;
    }

    @media (max-width :350px) {
        .ribbon > span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            font-size: 15px;
            line-height: 15px;
            left: 7%;
        }

        .ribbon.three > span {
            left: 4%;
        }

        .ribbon.two > span {
            left: 5%;
        }
    }

    .ribbon.two:before,
    .ribbon.three:before {
        border: 25px solid #0C8F43;
        border-right-width: 60px;
        border-left-color: transparent;
        left: -50px;
    }

    .ribbon.one:after,
    .ribbon.two:after {
        border: 25px solid white;
        border-right-width: 10px;
        border-left-color: transparent;
        right: -5px;
    }
}

.ui-datepicker-calendar {
    width: 100%;
}

span.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    text-align: center;
    display: block;
}

.ui-datepicker-header {
    background-color: #0C8F43;
    color: #fff;
    text-align: center;
    position: relative;
    font-weight: 800;
    text-transform: uppercase;
}

.ui-datepicker-year {
    display: none;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: 8px;
    height: 0;
    width: 0;
}

.ui-datepicker-prev {
    left: 10px;
}

.ui-datepicker-next {
    right: 20px;
}

.ui-datepicker-prev:before,
.ui-datepicker-next:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.ui-datepicker-prev:before {
    border-right: 10px solid #fff;
}

.ui-datepicker-next:before {
    border-left: 10px solid #fff;
}

.ui-datepicker-calendar .ui-state-default {
    font-size: 16px;
    line-height: 25px;
    height: 25px;
    width: 33px;
    margin: 3px;
    background-color: #d1d3d4;
}

.selectable .ui-state-default {
    background-color: #fff;
    border: solid 2px #d1d3d4;
    line-height: 21px;
}

.selectable .ui-state-active {
    background-color: #0C8F43;
    color: #fff;
    line-height: 25px;
    border: 0;
}

table.ui-datepicker-calendar thead {
    border-bottom: 2px solid #d1d3d4;
    font-size: 16px;
}

.ui-datepicker th {
    text-align: center;
}

.ui-datepicker .ui-datepicker-today a {
    font-weight: 800;
}

.message {
    background: #eff4fa;
    text-shadow: 0 1px 0 #fff;
    padding: 15px 15px 5px;
    margin: 0 0 15px;
}

.message-red {
    background: #fcdee2;
}

.step-3-timeloader {
    margin-top: -4px;
}

.cart-no-left-pad {
    padding-left: 0;
}

#cart-legal-text-container {
    margin-bottom: 30px;
}

.legal-text {
    font-size: 13px;
    line-height: 15px;
}

.cart-legal-text {
    font-size: 15px;
    line-height: 19px;
}

.cart-legal-text.sm {
    font-size: 10px;
    line-height: 15px;
}

#billingAddressCheckbox {
    margin-bottom: 20px;
    width: 25px;
    height: 25px;
}

#billingAddressCheckboxLabel {
    padding-top: 5px;
}

@media (max-width : 991px) {
    .accordParent:before {
        padding-right: 4px;
        font-size: 13px;
    }
}

@media (max-width : 400px) {
    .cart-summary h5 {
        font-size: 14px;
    }

    .cart-legal-text {
        font-size: 12px;
    }

    .step-3-timeloader {
        margin-top: 7px;
    }
}

@media (max-width : 390px) {
    #paymentGroupForm h5 {
        font-size: 12px;
    }
}

@media (max-width : 359px) {
    .ribbon > span {
        font-size: 13px;
    }
}

@media (max-width : 330px) {
    .cart-summary h5 {
        font-size: 12px;
    }
}

/************END PP STYLING **********************/

/* General Navigation
====================================================================== */
.header-container a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.material-icons {
    height: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

.left {
    float: left;
}

.right {
    float: right;
}

.tiny {
    font-size: 1rem;
}




/* Desktop Navigation
====================================================================== */

.header-container.desktop {
    background-color: black;
    color: white;
    display: flex;
    height: 80px;
    position: fixed;
    top: 0;
    transition: height 0.3s ease;
    width: 100%;
    z-index: 50;
}

.header-container.desktop .logo-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 18%;
}

.header-container.desktop .logo-container .img-responsive {
    max-height: 100%;
    max-width: 270px;
    padding: 1rem 2.5rem 1rem 1rem;
}

.header-container.desktop .img-responsive img {
    width: 100%;
}

.desktop .header-right-container {
    width: 82%;
}

.desktop .top-bar-container,
.desktop .bottom-bar-container {
    display: block;
    width: 100%;
}

.desktop .top-bar-container {
    height: 34px;
}

.desktop .bottom-bar-container {
    height: 46px;
}

.desktop .phone-number-container,
.desktop .secondary-links-container {
    height: 34px;
    line-height: 34px;
    padding-right: 1rem;
}

.desktop .phone-number-container span {
    font-size: 1.25rem;
    font-weight: 800;
}

.desktop .secondary-links-container a {
    color: #666;
    font-size: 0.85rem;
    font-weight: 700;
    padding-left: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s
}

.desktop .secondary-links-container a:hover {
    color: #aaa;
}

.desktop .secondary-links-container .material-icons.tiny {
    color: #aaa;
    vertical-align: middle;
}

.desktop .mainnav-container,
.desktop .mainnav,
.desktop .mainnav > li > a {
    height: 100%;
}

.desktop .mainnav {
    background: #262626;
    display: flex;
    list-style: none;
    margin: 0;
}

.desktop .mainnav > li {
    background: #ccc;
    height: 46px;
    line-height: 46px;
    padding-right: 21px;
    position: relative;
}

.desktop .mainnav > li.more,
.desktop .mainnav > li.shrink-1,
.desktop .mainnav > li.shrink-2 {
    display: none;
}

.desktop .mainnav > li.account {
    background: #262626;
}

.desktop .mainnav > li > a {
    background: #f9f9f9;
    color: black;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 700;
    /* padding: 0 1rem; */
    /* The padding had to at least have 1px or it would be off in firefox for some reason. */
    padding: 1px 1rem;
    position: relative;
    text-transform: uppercase;
    /*top: -3px;*/
    white-space: nowrap;
}

/* Chrome only */
.desktop .mainnav > li > a:not (*:root) {
    top: -2px;
}

.desktop .mainnav > li.account > a {
    background: #dbdbdb;
    color: #999;
}

.desktop .mainnav > li.account > a .material-icons {
    position: relative;
    top: 0.45rem;
}

.desktop .mainnav > li > a:before,
.desktop .mainnav > li > a:after {
    background: #f9f9f9;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 20px;
    transform: skewX(-20deg);
}

.desktop .mainnav > li.account > a:before,
.desktop .mainnav > li.account > a:after {
    background: #dbdbdb;
}

.desktop .mainnav > li > a:before {
    left: -10px;
}

.desktop .mainnav > li > a:after {
    right: -10px;
}

.desktop .mainnav > li:hover > a,
.desktop .mainnav > li:hover > a:before,
.desktop .mainnav > li:hover > a:after {
    background: #262626;
    color: #0C8F43;
}

.desktop .subnav {
    background: rgba(38, 38, 38, 0.95);
    display: none;
    left: -19px;
    line-height: 1.4;
    min-width: 500px;
    opacity: 0;
    position: absolute;
    top: 46px;
    transition: 0.3s ease;
}

.other-services .subnav,
.commercial .subnav,
.why-terminix .subnav,
.more .subnav {
    left: auto;
    right: 19px;
}

.commercial .subnav {
    min-width: 675px;
}

.more .subnav {
    min-width: 200px;
}

.desktop .mainnav > li:hover .subnav {
    display: block;
    opacity: 1;
}

.desktop .subnav .subnav-slants {
    position: relative;
}

.desktop .subnav .subnav-slants:before,
.desktop .subnav .subnav-slants:after {
    background: #262626;
    content: '';
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 200px;
    transform: skewX(-20deg);
    transition: 0.3s ease;
}

.desktop .subnav .subnav-slants:before {
    left: -50px;
}

.desktop .subnav .subnav-slants:after {
    right: -30px;
}

.subnav-wrapper {
    padding: 0 2rem;
}

.more .subnav-wrapper {
    padding: 2rem;
}

.more .subnav .subnav-wrapper {
    display: flex;
    justify-content: space-around;
}

.desktop .subnav h4 {
    color: #909090;
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.desktop .subnav .subnav-wrapper > ul {
    display: block;
    width: 100%;
}

.more .subnav .subnav-wrapper > ul {
    margin-right: 2rem;
    line-height: 1.6;
}

.desktop .subnav .subnav-wrapper > ul > li {
    display: inline-block;
    height: 2rem;
    width: 24%;
}

.other-services .subnav .subnav-wrapper > ul > li {
    width: 49%;
}

.more .subnav .subnav-wrapper > ul > li {
    display: block;
    height: auto;
    margin-bottom: 2rem;
    vertical-align: top;
    white-space: nowrap;
}

.commercial .subnav .subnav-wrapper > ul > li,
.why-terminix .subnav .subnav-wrapper > ul > li {
    width: 32%;
}

.desktop .subnav ul > li > a {
    color: white;
    font-size: 0.9rem;
    font-weight: normal;
    transition: 0.3s ease;
}

.more .subnav ul > li > a {
    text-transform: none;
}

.desktop .subnav .subnav-wrapper > ul > li > a {
    font-weight: bold;
    text-transform: uppercase;
}

.desktop .subnav ul > li > a:hover {
    color: #aaa;
}

.desktop .subnav .actions {
    display: block;
    padding-top: 2rem;
    position: relative;
}

.desktop .subnav .actions a.action-button {
    background: #F67F00;
    bottom: -50%;
    color: white;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    padding: 0 1rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.desktop .subnav .actions a.action-button:hover {
    color: black;
}

.desktop .subnav .actions a.action-button:before,
.desktop .subnav .actions a.action-button:after {
    background: #F67F00;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 20px;
    transform: skewX(-20deg);
    transition: all 0.3s;
}

.desktop .subnav .actions a.action-button:before {
    left: -10px;
}

.desktop .subnav .actions a.action-button:after {
    right: -10px;
}

.desktop a.action-button > i.material-icons {
    padding-left: 4rem;
    position: relative;
    top: 0.45rem;
}



/* Mobile Navigation
====================================================================== */

.header-container.mobile {
    background-color: black;
    bottom: 0;
    display: none;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.mobile .bar-container {
    background: black;
    height: 60px;
    position: relative;
    width: 100%;
    z-index: 49;
}

.mobile .chat-link {
    align-items: center;
    display: flex;
    float: right;
    height: 100%;
    padding-right: 0.5rem;
    position: relative;
}

.mobile .chat-link > a {
    color: #fff;
    font-size: 0.9rem;
    height: 30px;
    text-transform: uppercase;
}

.mobile .logo-container {
    align-items: center;
    display: flex;
    float: left;
    height: 100%;
    justify-content: flex-end;
    margin-left: 1rem;
    max-width: 200px;
    width: 40%;
}

.mobile .logo-container img {
    display: block;
    width: 100%;
}

.mobile .nav-icon {
    align-items: center;
    display: flex;
    float: right;
    height: 100%;
    position: relative;
    justify-content: center;
    width: 60px;
}

.mobile .nav-icon a {
    cursor: pointer;
    display: block;
    height: 30px;
    position: relative;
    transition: 0.15s ease-in-out;
    width: 30px;
}

.mobile .nav-icon a span {
    background: white;
    border-radius: 3px;
    display: block;
    height: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.15s ease-in-out;
    width: 100%;
}

.mobile .nav-icon a span:nth-child(1) {
    top: 5px;
}

.mobile .nav-icon a span:nth-child(2),
.mobile .nav-icon a span:nth-child(3) {
    top: 14px;
}

.mobile .nav-icon a span:nth-child(4) {
    top: 23px;
}

.mobile.open .nav-icon a span:nth-child(1),
.mobile.open .nav-icon a span:nth-child(4) {
    top: 14px;
    left: 50%;
    width: 0;
}

.mobile.open .nav-icon a span:nth-child(2) {
    transform: rotate(45deg);
}

.mobile.open .nav-icon a span:nth-child(3) {
    transform: rotate(-45deg);
}

.mobile .nav-container {
    background: white;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 100%;
    transition: 0.3s all;
    width: 100%;
    z-index: 48;
}

.mobile.open .nav-container {
    opacity: 1;
    top: 0;
}

.mobile .subnav {
    align-items: center;
    background: black;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    width: 100%;
}

.mobile .subnav a {
    color: #ddd;
    font-size: 0.85714rem;
    text-transform: uppercase;
}

.mobile .subnav a:first-child {
    margin-left: 1rem;
}

.mobile .subnav a:last-child {
    margin-right: 1rem;
}

.mobile .mainnav {
    margin: 0;
    transition: 0.3s all;
}

.mobile .mainnav > li {
    background: #e9e9e9;
    margin: 0;
    padding: 0;
    position: relative;
    transition: 0.3s all;
}

.mobile .mainnav > li > a {
    background: white;
    color: black;
    display: block;
    font-size: 1.21428rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: 0.3s all;
}

.mobile .mainnav > li:nth-child(1) > a,
.mobile .mainnav > li:nth-child(2) > a,
.mobile .mainnav > li:nth-child(3) > a {
    font-weight: 800;
}

.mobile .mainnav > li.active > a {
    background: #dbdbdb;
}

.mobile i.chevron {
    position: absolute;
    right: 1.5rem;
    top: 0.95rem;
    transform: translate(-6px, 0);
}

.mobile i.chevron:before,
.mobile i.chevron:after {
    background-color: black;
    content: '';
    height: 12px;
    position: absolute;
    transition: 0.3s all;
    width: 3px;
}

.mobile i.chevron:before {
    transform: translate(5px, 0) rotate(45deg);
}

.mobile i.chevron:after {
    transform: translate(-3px, 0) rotate(-45deg);
}

.mobile .mainnav > li.active > a > i.chevron:before {
    transform: translate(-5px, 0) rotate(45deg);
}

.mobile .mainnav > li.active > a > i.chevron:after {
    transform: translate(3px, 0) rotate(-45deg);
}

.mobile .mainnav .secondary {
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: 0.3s all;
    z-index: 2;
}

.mobile .mainnav > li.active > .secondary {
    max-height: 800px;
    opacity: 1;
    padding: 0.5rem 0;
}

.mobile .secondary > li > a {
    color: black;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    ]
}


/** fixes for blog header desktop **/
ul.mainnav {
    padding-left: 0px;
}

/* Homepage --> Footer
===============================================*/

footer.global-footer {
    background: black;
    color: white;
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif !important;
    letter-spacing: -1px;
}

footer hr {
    height: 2px !important;
}

footer > .container {
    position: relative;
}

.scroll-to-top {
    position: absolute;
    color: white;
    top: 2rem;
    right: 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 23px;
    padding-top: 6px;
    line-height: 1.1rem;
    cursor: pointer;
}

.scroll-to-top > div {
    position: relative;
}

.scroll-to-top img {
    position: absolute;
    top: -6px;
    right: -23px;
}

.help-bar {
    background: #d8d8d8;
    color: black;
    font-size: 1.75rem;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
    padding: 1.5rem 0;
}

.help-bar .container {
    position: relative;
}

.help-bar .material-icons {
    background-color: #ff7f00;
    border-radius: 100px;
    color: white;
    margin: 0 0.5rem;
    padding: 0.35rem;
    position: relative;
    top: 0.15rem;
}

.help-bar .phone,
.link-section .phone,
.link-column .phone,
a[href^="tel:"] {
    color: #ff7f00;
}

.logo-bar {
    padding: 2rem 0;
    justify-content: space-between;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

.footer-section {
    padding: 2rem 0;
    /*Overriding materialize row*/
    margin-bottom: 0 !important;
}

.link-column {}

.link-column h3 {
    color: white;
    margin-top: 0 !important;
    margin-bottom: 1.8rem !important;
    font-size: 1.2599rem;
}

.link-column li {
    margin: .8rem 0;
}

.link-column a,
.link-column p,
.link-column .call-phone {
    color: rgb(140, 140, 140);
    font-size: 1rem;
    font-weight: 600;
}

.link-column:nth-child(1) {
    margin-bottom: 1.8rem;
}

.link-column:nth-child(2) {
    border-left: 1px solid rgba(140, 140, 140, .4);
    padding-left: 1rem;
}

.link-column:nth-child(3) {
    border-left: 1px solid rgba(140, 140, 140, .4);
    border-right: 1px solid rgba(140, 140, 140, .4);
    padding-left: 1rem;
}

.link-column:nth-child(4) {
    padding-left: 1rem;
}

.call-phone {
    margin-bottom: 2.4rem;
}

.call-phone a[href^="tel:"] {
    color: #ff7f00 !important;
}

.copyright-section {
    font-size: .9rem;
    color: rgb(140, 140, 140);
    padding-bottom: 2rem;
}

.copyright-section img {
    margin-left: .5rem;
}

#imgSvmCompany {
    align-self: flex-start;
}

.copyright-section .img-holder {
    justify-content: flex-end;
}

.social-container {
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    color: white;
}

/** FIX FOOTER BLOG FLEX DISPLAY **/
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

/** HIDE SHAREHOLIC MOBILE**/
@media (max-width : 975px) {
    .icon-bar {
        display: none;
    }
}

.modal-open {
    position: relative !important;
}


.clean_icon {
    margin-top: -96px;
}

.clean_breadcrumb
{
	margin-top: 50px !important;
} 

.related_h3
{
font-weight: 900;
} 