
    .header-container.mobile.open {
          height: 100% !important;
      }
    .mobile .subnav a .material-icons {
        margin-right: 0.25rem;
        position: relative;
        top: -1px;
        vertical-align: middle;
    }

    .mobile .phone-link {
        align-items: center;
        display: flex;
        float: right;
        height: 100%;
        padding-right: 0.5rem;
        position: relative;
    }

    .mobile .phone-link>a {
        color: #fff;
        font-size: 1rem;
        height: 30px;
        line-height: 30px;
        text-decoration: underline;
        text-transform: uppercase;
    }

    @media only screen and (max-width: 330px) {
        .mobile .phone-link>a {
            font-size: 0.85rem;
        }
    }
    