@media print {

    #sticky-footer-bar,
    #sticky-footer,
    .sticky-footer,
    #desktop-header-bar,
    #desktop-header,
    #megafooter-bar,
    #social-bar-right,
    #social-icons,
    #related-articles,
    #multi-img,
    #facebookfeed,
    #back-button,
    #mobile-nav,
    #mobile-contact,
    #mobile-footer,
    #page-wrap img,
    #mobile-header button,
    header,
    footer {
        display: none !important;
    }

    #page-wrap h1,
    #page-wrap h2,
    #page-wrap h3,
    #page-wrap h4,
    #page-wrap h5,
    #page-wrap p,
    #page-wrap span {
        color: #000 !important;
        margin: 0;
    }

    #page-wrap {
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: none;
    }

    #mobile-header {
        border: none;
    }

    a[href]:after {
        content: none !important;
    }
}
