body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0
}

table.pf_form_table {
    margin: 0;
    padding: 0;
    border: 0
}

:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

body {
    text-align: center
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal
}

strong,
b {
    font-weight: bold
}

em,
i {
    font-style: italic
}

hr {
    clear: both;
    float: none;
    margin: 10px 0;
    border: 0
}

.pf_form_table {
    table-layout: fixed
}

.flash_outer_wrap {
    overflow: hidden
}

[data-ixp-interaction-trigger] {
    cursor: pointer
}

.ixp-grid-container,
.ixp-grid-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:768px) {
    .ixp-grid-container {
        width: 750px
    }
}

@media (min-width:992px) {
    .ixp-grid-container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .ixp-grid-container {
        width: 1170px
    }
}

.ixp-grid-row {
    margin-left: -15px;
    margin-right: -15px
}

.ixp-grid-col-lg-1,
.ixp-grid-col-lg-10,
.ixp-grid-col-lg-11,
.ixp-grid-col-lg-12,
.ixp-grid-col-lg-2,
.ixp-grid-col-lg-3,
.ixp-grid-col-lg-4,
.ixp-grid-col-lg-5,
.ixp-grid-col-lg-6,
.ixp-grid-col-lg-7,
.ixp-grid-col-lg-8,
.ixp-grid-col-lg-9,
.ixp-grid-col-md-1,
.ixp-grid-col-md-10,
.ixp-grid-col-md-11,
.ixp-grid-col-md-12,
.ixp-grid-col-md-2,
.ixp-grid-col-md-3,
.ixp-grid-col-md-4,
.ixp-grid-col-md-5,
.ixp-grid-col-md-6,
.ixp-grid-col-md-7,
.ixp-grid-col-md-8,
.ixp-grid-col-md-9,
.ixp-grid-col-sm-1,
.ixp-grid-col-sm-10,
.ixp-grid-col-sm-11,
.ixp-grid-col-sm-12,
.ixp-grid-col-sm-2,
.ixp-grid-col-sm-3,
.ixp-grid-col-sm-4,
.ixp-grid-col-sm-5,
.ixp-grid-col-sm-6,
.ixp-grid-col-sm-7,
.ixp-grid-col-sm-8,
.ixp-grid-col-sm-9,
.ixp-grid-col-xs-1,
.ixp-grid-col-xs-10,
.ixp-grid-col-xs-11,
.ixp-grid-col-xs-12,
.ixp-grid-col-xs-2,
.ixp-grid-col-xs-3,
.ixp-grid-col-xs-4,
.ixp-grid-col-xs-5,
.ixp-grid-col-xs-6,
.ixp-grid-col-xs-7,
.ixp-grid-col-xs-8,
.ixp-grid-col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.ixp-grid-col-xs-1,
.ixp-grid-col-xs-10,
.ixp-grid-col-xs-11,
.ixp-grid-col-xs-12,
.ixp-grid-col-xs-2,
.ixp-grid-col-xs-3,
.ixp-grid-col-xs-4,
.ixp-grid-col-xs-5,
.ixp-grid-col-xs-6,
.ixp-grid-col-xs-7,
.ixp-grid-col-xs-8,
.ixp-grid-col-xs-9 {
    float: left
}

.ixp-grid-col-xs-12 {
    width: 100%
}

.ixp-grid-col-xs-11 {
    width: 91.66%
}

.ixp-grid-col-xs-10 {
    width: 83.33%
}

.ixp-grid-col-xs-9 {
    width: 75%
}

.ixp-grid-col-xs-8 {
    width: 66.66%
}

.ixp-grid-col-xs-7 {
    width: 58.33%
}

.ixp-grid-col-xs-6 {
    width: 50%
}

.ixp-grid-col-xs-5 {
    width: 41.66%
}

.ixp-grid-col-xs-4 {
    width: 33.33%
}

.ixp-grid-col-xs-3 {
    width: 25%
}

.ixp-grid-col-xs-2 {
    width: 16.66%
}

.ixp-grid-col-xs-1 {
    width: 8.33%
}

.ixp-grid-col-xs-offset-12 {
    margin-left: 100%
}

.ixp-grid-col-xs-offset-11 {
    margin-left: 91.66%
}

.ixp-grid-col-xs-offset-10 {
    margin-left: 83.33%
}

.ixp-grid-col-xs-offset-9 {
    margin-left: 75%
}

.ixp-grid-col-xs-offset-8 {
    margin-left: 66.66%
}

.ixp-grid-col-xs-offset-7 {
    margin-left: 58.33%
}

.ixp-grid-col-xs-offset-6 {
    margin-left: 50%
}

.ixp-grid-col-xs-offset-5 {
    margin-left: 41.66%
}

.ixp-grid-col-xs-offset-4 {
    margin-left: 33.33%
}

.ixp-grid-col-xs-offset-3 {
    margin-left: 25%
}

.ixp-grid-col-xs-offset-2 {
    margin-left: 16.66%
}

.ixp-grid-col-xs-offset-1 {
    margin-left: 8.33%
}

.ixp-grid-col-xs-offset-0 {
    margin-left: 0
}

@media (min-width:768px) {

    .ixp-grid-col-sm-1,
    .ixp-grid-col-sm-10,
    .ixp-grid-col-sm-11,
    .ixp-grid-col-sm-12,
    .ixp-grid-col-sm-2,
    .ixp-grid-col-sm-3,
    .ixp-grid-col-sm-4,
    .ixp-grid-col-sm-5,
    .ixp-grid-col-sm-6,
    .ixp-grid-col-sm-7,
    .ixp-grid-col-sm-8,
    .ixp-grid-col-sm-9 {
        float: left
    }

    .ixp-grid-col-sm-12 {
        width: 100%
    }

    .ixp-grid-col-sm-11 {
        width: 91.66%
    }

    .ixp-grid-col-sm-10 {
        width: 83.33%
    }

    .ixp-grid-col-sm-9 {
        width: 75%
    }

    .ixp-grid-col-sm-8 {
        width: 66.66%
    }

    .ixp-grid-col-sm-7 {
        width: 58.33%
    }

    .ixp-grid-col-sm-6 {
        width: 50%
    }

    .ixp-grid-col-sm-5 {
        width: 41.66%
    }

    .ixp-grid-col-sm-4 {
        width: 33.33%
    }

    .ixp-grid-col-sm-3 {
        width: 25%
    }

    .ixp-grid-col-sm-2 {
        width: 16.66%
    }

    .ixp-grid-col-sm-1 {
        width: 8.33%
    }

    .ixp-grid-col-sm-offset-12 {
        margin-left: 100%
    }

    .ixp-grid-col-sm-offset-11 {
        margin-left: 91.66%
    }

    .ixp-grid-col-sm-offset-10 {
        margin-left: 83.33%
    }

    .ixp-grid-col-sm-offset-9 {
        margin-left: 75%
    }

    .ixp-grid-col-sm-offset-8 {
        margin-left: 66.66%
    }

    .ixp-grid-col-sm-offset-7 {
        margin-left: 58.33%
    }

    .ixp-grid-col-sm-offset-6 {
        margin-left: 50%
    }

    .ixp-grid-col-sm-offset-5 {
        margin-left: 41.66%
    }

    .ixp-grid-col-sm-offset-4 {
        margin-left: 33.33%
    }

    .ixp-grid-col-sm-offset-3 {
        margin-left: 25%
    }

    .ixp-grid-col-sm-offset-2 {
        margin-left: 16.66%
    }

    .ixp-grid-col-sm-offset-1 {
        margin-left: 8.33%
    }

    .ixp-grid-col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {

    .ixp-grid-col-md-1,
    .ixp-grid-col-md-10,
    .ixp-grid-col-md-11,
    .ixp-grid-col-md-12,
    .ixp-grid-col-md-2,
    .ixp-grid-col-md-3,
    .ixp-grid-col-md-4,
    .ixp-grid-col-md-5,
    .ixp-grid-col-md-6,
    .ixp-grid-col-md-7,
    .ixp-grid-col-md-8,
    .ixp-grid-col-md-9 {
        float: left
    }

    .ixp-grid-col-md-12 {
        width: 100%
    }

    .ixp-grid-col-md-11 {
        width: 91.66%
    }

    .ixp-grid-col-md-10 {
        width: 83.33%
    }

    .ixp-grid-col-md-9 {
        width: 75%
    }

    .ixp-grid-col-md-8 {
        width: 66.66%
    }

    .ixp-grid-col-md-7 {
        width: 58.33%
    }

    .ixp-grid-col-md-6 {
        width: 50%
    }

    .ixp-grid-col-md-5 {
        width: 41.66%
    }

    .ixp-grid-col-md-4 {
        width: 33.33%
    }

    .ixp-grid-col-md-3 {
        width: 25%
    }

    .ixp-grid-col-md-2 {
        width: 16.66%
    }

    .ixp-grid-col-md-1 {
        width: 8.33%
    }

    .ixp-grid-col-md-offset-12 {
        margin-left: 100%
    }

    .ixp-grid-col-md-offset-11 {
        margin-left: 91.66%
    }

    .ixp-grid-col-md-offset-10 {
        margin-left: 83.33%
    }

    .ixp-grid-col-md-offset-9 {
        margin-left: 75%
    }

    .ixp-grid-col-md-offset-8 {
        margin-left: 66.66%
    }

    .ixp-grid-col-md-offset-7 {
        margin-left: 58.33%
    }

    .ixp-grid-col-md-offset-6 {
        margin-left: 50%
    }

    .ixp-grid-col-md-offset-5 {
        margin-left: 41.66%
    }

    .ixp-grid-col-md-offset-4 {
        margin-left: 33.33%
    }

    .ixp-grid-col-md-offset-3 {
        margin-left: 25%
    }

    .ixp-grid-col-md-offset-2 {
        margin-left: 16.66%
    }

    .ixp-grid-col-md-offset-1 {
        margin-left: 8.33%
    }

    .ixp-grid-col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {

    .ixp-grid-col-lg-1,
    .ixp-grid-col-lg-10,
    .ixp-grid-col-lg-11,
    .ixp-grid-col-lg-12,
    .ixp-grid-col-lg-2,
    .ixp-grid-col-lg-3,
    .ixp-grid-col-lg-4,
    .ixp-grid-col-lg-5,
    .ixp-grid-col-lg-6,
    .ixp-grid-col-lg-7,
    .ixp-grid-col-lg-8,
    .ixp-grid-col-lg-9 {
        float: left
    }

    .ixp-grid-col-lg-12 {
        width: 100%
    }

    .ixp-grid-col-lg-11 {
        width: 91.66%
    }

    .ixp-grid-col-lg-10 {
        width: 83.33%
    }

    .ixp-grid-col-lg-9 {
        width: 75%
    }

    .ixp-grid-col-lg-8 {
        width: 66.66%
    }

    .ixp-grid-col-lg-7 {
        width: 58.33%
    }

    .ixp-grid-col-lg-6 {
        width: 50%
    }

    .ixp-grid-col-lg-5 {
        width: 41.66%
    }

    .ixp-grid-col-lg-4 {
        width: 33.33%
    }

    .ixp-grid-col-lg-3 {
        width: 25%
    }

    .ixp-grid-col-lg-2 {
        width: 16.66%
    }

    .ixp-grid-col-lg-1 {
        width: 8.33%
    }

    .ixp-grid-col-lg-offset-12 {
        margin-left: 100%
    }

    .ixp-grid-col-lg-offset-11 {
        margin-left: 91.66%
    }

    .ixp-grid-col-lg-offset-10 {
        margin-left: 83.33%
    }

    .ixp-grid-col-lg-offset-9 {
        margin-left: 75%
    }

    .ixp-grid-col-lg-offset-8 {
        margin-left: 66.66%
    }

    .ixp-grid-col-lg-offset-7 {
        margin-left: 58.33%
    }

    .ixp-grid-col-lg-offset-6 {
        margin-left: 50%
    }

    .ixp-grid-col-lg-offset-5 {
        margin-left: 41.66%
    }

    .ixp-grid-col-lg-offset-4 {
        margin-left: 33.33%
    }

    .ixp-grid-col-lg-offset-3 {
        margin-left: 25%
    }

    .ixp-grid-col-lg-offset-2 {
        margin-left: 16.66%
    }

    .ixp-grid-col-lg-offset-1 {
        margin-left: 8.33%
    }

    .ixp-grid-col-lg-offset-0 {
        margin-left: 0
    }
}

@-ms-viewport {
    width: device-width
}

.ixp-grid-visible-lg,
.ixp-grid-visible-md,
.ixp-grid-visible-print,
.ixp-grid-visible-sm,
.ixp-grid-visible-xs {
    display: none !important
}

@media (max-width:767px) {
    .ixp-grid-visible-xs {
        display: block !important
    }

    table.ixp-grid-visible-xs {
        display: table
    }

    tr.ixp-grid-visible-xs {
        display: table-row !important
    }

    td.ixp-grid-visible-xs,
    th.ixp-grid-visible-xs {
        display: table-cell !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .ixp-grid-visible-sm {
        display: block !important
    }

    table.ixp-grid-visible-sm {
        display: table
    }

    tr.ixp-grid-visible-sm {
        display: table-row !important
    }

    td.ixp-grid-visible-sm,
    th.ixp-grid-visible-sm {
        display: table-cell !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .ixp-grid-visible-md {
        display: block !important
    }

    table.ixp-grid-visible-md {
        display: table
    }

    tr.ixp-grid-visible-md {
        display: table-row !important
    }

    td.ixp-grid-visible-md,
    th.ixp-grid-visible-md {
        display: table-cell !important
    }
}

@media (min-width:1200px) {
    .ixp-grid-visible-lg {
        display: block !important
    }

    table.ixp-grid-visible-lg {
        display: table
    }

    tr.ixp-grid-visible-lg {
        display: table-row !important
    }

    td.ixp-grid-visible-lg,
    th.ixp-grid-visible-lg {
        display: table-cell !important
    }
}

@media (max-width:767px) {
    .ixp-grid-hidden-xs {
        display: none !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .ixp-grid-hidden-sm {
        display: none !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .ixp-grid-hidden-md {
        display: none !important
    }
}

@media (min-width:1200px) {
    .ixp-grid-hidden-lg {
        display: none !important
    }
}

@media print {
    .ixp-grid-visible-print {
        display: block !important
    }

    table.ixp-grid-visible-print {
        display: table
    }

    tr.ixp-grid-visible-print {
        display: table-row !important
    }

    td.ixp-grid-visible-print,
    th.ixp-grid-visible-print {
        display: table-cell !important
    }
}

@media print {
    .ixp-grid-hidden-print {
        display: none !important
    }
}

.ixp-grid-container,
.ixp-grid-container-fixed,
.ixp-grid-container-fluid,
.ixp-grid-row,
[class*=" ixp-grid-col"],
[class^=ixp-grid-col] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.ixp-container {
    position: relative
}

.ixp-container:after,
.ixp-container:before {
    content: " ";
    display: table
}

.ixp-container:after {
    clear: both
}

[class*=" ixp-grid-col"]:after,
[class*=" ixp-grid-col"]:before,
[class^=ixp-grid-col]:after,
[class^=ixp-grid-col]:before {
    content: none
}

[class*=" ixp-grid-col"]:after,
[class^=ixp-grid-col]:after {
    clear: none
}

.ixp-container img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    -ms-interpolation-mode: bicubic
}

.ixp-container-link {
    cursor: pointer
}

.ixp-grid-container-fixed {
    width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left
}

.ixp-grid-container-fixed:after,
.ixp-grid-container-fixed:before {
    content: " ";
    display: table
}

.ixp-grid-container-fixed:after {
    clear: both
}

.ixp-grid-container {
    text-align: left
}

.ixp-grid-container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px
}

.ixp-grid-container-fluid:after,
.ixp-grid-container-fluid:before {
    content: " ";
    display: table
}

.ixp-grid-container-fluid:after {
    clear: both
}

html.ixp-responsive-disabled .ixp-grid-container {
    width: 970px
}

html.ixp-responsive-disabled .ixp-grid-hidden-lg,
html.ixp-responsive-disabled .ixp-grid-hidden-sm,
html.ixp-responsive-disabled .ixp-grid-hidden-xs {
    display: block !important
}

html.ixp-responsive-disabled .ixp-grid-hidden-md,
html.ixp-responsive-disabled .ixp-grid-hidden-md.ixp-grid-hidden-lg {
    display: none !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-12 {
    width: 100% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-11 {
    width: 91.66% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-10 {
    width: 83.33% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-9 {
    width: 75% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-8 {
    width: 66.66% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-7 {
    width: 58.33% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-6 {
    width: 50% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-5 {
    width: 41.66% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-4 {
    width: 33.33% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-3 {
    width: 25% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-2 {
    width: 16.66% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-1 {
    width: 8.33% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-12 {
    margin-left: 100% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-11 {
    margin-left: 91.66% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-10 {
    margin-left: 83.33% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-9 {
    margin-left: 75% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-8 {
    margin-left: 66.66% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-7 {
    margin-left: 58.33% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-6 {
    margin-left: 50% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-5 {
    margin-left: 41.66% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-4 {
    margin-left: 33.33% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-3 {
    margin-left: 25% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-2 {
    margin-left: 16.66% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-1 {
    margin-left: 8.33% !important
}

html.ixp-responsive-disabled .ixp-grid-col-md-offset-0 {
    margin-left: 0 !important
}

html.ixp-responsive-disabled .ixp-grid-col-lg-1,
html.ixp-responsive-disabled .ixp-grid-col-lg-10,
html.ixp-responsive-disabled .ixp-grid-col-lg-11,
html.ixp-responsive-disabled .ixp-grid-col-lg-12,
html.ixp-responsive-disabled .ixp-grid-col-lg-2,
html.ixp-responsive-disabled .ixp-grid-col-lg-3,
html.ixp-responsive-disabled .ixp-grid-col-lg-4,
html.ixp-responsive-disabled .ixp-grid-col-lg-5,
html.ixp-responsive-disabled .ixp-grid-col-lg-6,
html.ixp-responsive-disabled .ixp-grid-col-lg-7,
html.ixp-responsive-disabled .ixp-grid-col-lg-8,
html.ixp-responsive-disabled .ixp-grid-col-lg-9,
html.ixp-responsive-disabled .ixp-grid-col-md-1,
html.ixp-responsive-disabled .ixp-grid-col-md-10,
html.ixp-responsive-disabled .ixp-grid-col-md-11,
html.ixp-responsive-disabled .ixp-grid-col-md-12,
html.ixp-responsive-disabled .ixp-grid-col-md-2,
html.ixp-responsive-disabled .ixp-grid-col-md-3,
html.ixp-responsive-disabled .ixp-grid-col-md-4,
html.ixp-responsive-disabled .ixp-grid-col-md-5,
html.ixp-responsive-disabled .ixp-grid-col-md-6,
html.ixp-responsive-disabled .ixp-grid-col-md-7,
html.ixp-responsive-disabled .ixp-grid-col-md-8,
html.ixp-responsive-disabled .ixp-grid-col-md-9,
html.ixp-responsive-disabled .ixp-grid-col-sm-1,
html.ixp-responsive-disabled .ixp-grid-col-sm-10,
html.ixp-responsive-disabled .ixp-grid-col-sm-11,
html.ixp-responsive-disabled .ixp-grid-col-sm-12,
html.ixp-responsive-disabled .ixp-grid-col-sm-2,
html.ixp-responsive-disabled .ixp-grid-col-sm-3,
html.ixp-responsive-disabled .ixp-grid-col-sm-4,
html.ixp-responsive-disabled .ixp-grid-col-sm-5,
html.ixp-responsive-disabled .ixp-grid-col-sm-6,
html.ixp-responsive-disabled .ixp-grid-col-sm-7,
html.ixp-responsive-disabled .ixp-grid-col-sm-8,
html.ixp-responsive-disabled .ixp-grid-col-sm-9 {
    float: left
}

html.ixp-lt-ie9 .ixp-dynamic-vis.ixp-grid-hidden-lg,
html.ixp-lt-ie9 .ixp-dynamic-vis.ixp-grid-hidden-sm,
html.ixp-lt-ie9 .ixp-dynamic-vis.ixp-grid-hidden-xs {
    display: none !important
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 5;
    width: 100%;
    height: 100%;
}

.message-window {
    height: auto;
    margin: 0 auto;
    float: none;
    z-index: 10;
    background: #fff;
    border: none;
    /*border-radius: 10px;*/
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
    .cover {
        background: #fff;
    }
}

@media only screen and (max-width: 640px) {
    .cover {
        position: absolute;
        top: 0;
        left: 0;
    }

    .message-window {
        margin: 0 auto;
        display: block;
    }
}


a[data-ixp-hidden-anchor] {
    visibility: hidden;
    position: absolute;
    right: 0;
}
