body {
    background: #f9f9f9;

}

#funnel-wrapper main {
    padding-top: 1rem;

}

.cta.submitting,
.cta.show-progress {
    background: #ddd !important;
    border-color: #ddd !important;
    color: black !important;
    font-size: 0.95rem !important;
    font-weight: normal !important;
    padding: 0 1rem !important;
    pointer-events: none !important;
    text-transform: initial !important;
}

.modalheader_h4 {
    font-size: 1.125 rem;
    margin: .5rem 0 .4 rem 0 !important;
    margin: 0;
    line-height: 1.42857143;
    color: #111;
    font-weight: 800;
}

.modal-cta {
    font-size: 16px !important;
    height: 2.75rem;
    line-height: calc(2.75rem - 2px);
    padding: 0 1.5rem;

}

.cta.submitting:after,
.cta.show-progress:after {
    display: none !important;
}

#payment-credit-card input[type="radio"]:checked + label {
    font-weight: bold;
}


.row.margin-bottom-zero {
    margin-bottom: 0 !important;
}



.my-account-wrapper {
    background: #ddd;
    margin-top: 2rem;
}



.city-state-block {
    display: none;
}


.pests .list-unstyled {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .pests .list-unstyled {
        margin-bottom: 0;
    }

    .pests > div:last-child .list-unstyled {
        margin-bottom: 1rem;
    }
}

ul.checked {
    list-style: none;
    margin-bottom: 1rem;
    padding: 0;
}

ul.checked li {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;
}

ul.checked li:before {
    color: #0C8F43;
    content: '\f00c';
    display: block;
    font-family: 'FontAwesome', sans-serif;
    left: 0;
    position: absolute;
    top: 0;
}

ul.checked li.crossed:before {
    color: rgb(255, 127, 0);
    content: '\f00d';
}


.tiered ul.checked.bordered > li {
    padding: 0 0 0.5rem 2.25rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    position: relative;
}

.tiered ul.checked.bordered li:before {
    font-size: 1.5rem;
    top: -0.65rem;
}

.tiered ul.checked.bordered > li > span {
    display: inline;
}

.tiered ul.checked.bordered > li > span.trigger-popup-content {
    cursor: pointer;
}



.row > div > .card,
.row > div > div > .card {
    margin-left: -15px;
    margin-right: -15px;
}

.row > div > div > .card.tiered,
.row > div > .card.tiered {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 768px) {

    .row > div > .card,
    .row > div > div > .card {
        margin-left: -10px;
        margin-right: -10px;
    }
}

/*pricing */
.customCheckbox input[type=checkbox]::after {
    content: "\2713";
    color: rgb(32, 168, 28);
    text-align: center;
    opacity: 0;
    position: absolute;
    left: 2px;
    transform: rotate(45deg);
    font-weight: bold;
}

/*pricing */
.price {
    color: rgb(12, 142, 68);
    font-size: 1.5rem;
    font-weight: 400;
}

.price > .billed-text {
    color: #444;
    display: block;
    font-size: 0.9rem;
}

.discount-text {
    color: #c00;
}

.capitalize {
    text-transform: capitalize;
}


.quick-facts {
    font-size: 0.8rem;
}


.popup-content {
    display: none !important;
}



.card .price-tag {
    color: #0C8F45;
    font-size: 0.8rem;
}

.card-content .ctas .price-tag {
    margin-bottom: 1rem;
}

.card-content .ctas .price-tag:first-of-type {
    margin-bottom: 0;
}

.before-discount {
    color: #999;
    font-size: 1.25rem;
    text-decoration: line-through;
}

.review .before-discount {
    font-size: 1.25rem;
}

.after-discount {
    color: #0C8F45;
    font-size: 1.85rem;
    font-weight: 900;
}

.expand-details {
    margin-right: 0.5rem;
}

.sub-details {
    background: #f3f3f3;
}



.see-more-details {
    color: #0C8F43;
    font-size: 0.85rem;
}

.flex-horizontal {
    align-items: center;
    display: flex;
}

.flex-horizontal .bulleted {
    font-size: 0.85rem;
}


.review .sub-details .checked {
    font-size: 0.85rem;
}


.product-container.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.product-container.closed .card-content h2 .price-tag {
    display: block;
    float: right;
    font-weight: 800;
    transition: display 0.5s ease;
}

.product-container.closed .card-content h2 .price-tag > * {
    display: inline-block;
}

.product-container.closed .card-content h2 .loading-tag {
    align-items: center;
    display: flex;
    float: right;
    font-weight: 800;
    transition: display 0.5s ease;
}

.product-container.open .card-content h2 .price-tag,
.product-container.open .card-content h2 .loading-tag {
    display: none !important;
}


.product-details .price-tag,
.product-details .loading-tag {
    background: #e0e0e0;
    color: #444;
    font-size: 1.5rem;
    font-weight: 800;
    min-height: 3rem;
    min-width: 12rem;
    padding: 1rem;
    position: absolute;
    right: -15px;
    text-align: right;
}

.loading-text {
    font-size: 0.85rem;
    margin-left: 0.5rem;
}

@media (max-width: 768px) {

    .product-details .price-tag,
    .product-details .loading-tag {
        background: transparent;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        display: block;
        font-size: 1.5rem;
        margin: 1rem 0;
        min-height: auto;
        min-width: auto;
        padding: 1rem 0;
        position: relative;
        right: auto;
        text-align: left;
    }

    .product-container.open .card-content h2 .price-tag,
    .product-container.closed .card-content h2 .price-tag {
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        display: block;
        float: none;
        padding: 0.5rem 0;
        margin: 1rem 0;
    }

    .before-discount,
    .after-discount {
        display: inline;
    }

    .flex-horizontal {
        flex-direction: column;
    }
}


.product-container .price-tag,
.product-details .price-tag,
.product-details .loading-tag {
    display: block;
}

.product-container .loading-tag {
    display: flex;
}


/* All loading tags on the products cards are hidden since we are pulling all content at once */
.loading-tag {
    display: none !important;
}


.payment-frequency {
    color: black;
    display: block;
    font-size: 0.85rem;
    line-height: 1.5;
}

.offer {
    padding: 1.5rem 0;
    text-align: center;
    text-transform: uppercase;
}


.review .price {
    margin-top: 1.8rem;
    position: relative;
    text-align: right;
}

@media (max-width: 768px) {
    .review .price {
        margin-top: 0;
        text-align: left;
    }
}



.error-msg.bg-danger.text-danger {
    border: 1px solid #a94442;
    margin-bottom: 2.5rem;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}


.fixed-height-50 {
    height: 50px;
}

.fixed-height-50 img {
    max-height: 40px;
    max-width: 180px;
}

.seasonal-icons i {
    color: rgb(12, 142, 68);
    font-size: 2.5rem;
    margin-right: 0.5rem !important;
}



/* Loading Spinner
	====================================================================== */
.spinner {
    animation: spin 0.5s linear infinite;
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom-color: rgb(12, 142, 68);
    border-right-color: rgb(12, 142, 68);
    border-top-color: rgb(12, 142, 68);
    border-radius: 50px;
    display: inline-block;
    height: 20px;
    width: 20px;
    -webkit-animation: spin 0.4s linear infinite;
}

.spinner.light {
    border-color: rgba(255, 255, 255, 0.35);
    border-bottom-color: white;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}


.loading-container {
    align-items: center;
    display: flex;
    padding-left: 2rem;
    position: relative;
}

.loading-container > h5 {
    display: inline-block;
    font-weight: 700;
    margin: 0.5rem 0;
}

.loading-container > .spinner-wrapper {
    content: ' ';
    display: block;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}






.discount-block {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 1.5rem;
    padding: 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
}


.notes {
    font-size: 0.9rem;
}


.scheduler {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.scheduler > li {
    flex-grow: 1;
    padding: 0.5rem;
}

.scheduler.dates > li {
    max-width: 20%;
    width: 20%;
}

.scheduler.times > li {
    max-width: 25%;
    width: 25%;
}

@media (max-width: 678px) {
    .scheduler {
        flex-wrap: wrap;
    }

    .scheduler.dates > li {
        max-width: 25%;
        width: 25%;
    }

    .scheduler.times > li {
        max-width: 50%;
        width: 50%;
    }
}

@media (max-width: 519px) {
    .scheduler.dates > li {
        max-width: 50%;
        width: 50%;
    }
}

@media (max-width: 360px) {
    .scheduler.times > li {
        max-width: 100%;
        width: 100%;
    }
}

.scheduler > li > label {
    background: #fafafa;
    border: 1px solid #ddd;
    display: block;
    font-weight: 400;
    padding: 0.5rem;
    text-align: center;
    padding-left: 0px !important;
}

.scheduler > li > label:before,
.scheduler > li > label:after {
    display: none;

}

.scheduler > li > label:hover {
    color: #0C8F43;
}

.scheduler > li > input[type="radio"]:checked ~ label {
    background: #0C8F43;
    color: white;


}

#scheduler-radio .scheduler > li > label {
    padding-left: 0px;

}

.scheduler > li > input[type='radio'] ~ label:after {

    background: none;
}

.scheduler > li > input[type='radio'] ~ label:before {
    background: none;
    border: none;
    color: white;
}

.scheduler > li > input[type="radio"]:disabled ~ label {
    color: #333 !important;
    opacity: 0.4;
    pointer-events: none;
}


.scheduler span.month {
    display: block;
    font-size: 0.9rem;
}

.scheduler span.month {
    text-transform: uppercase;
}

.scheduler span.date {
    display: block;
    font-size: 2rem;
}






.product-container {
    position: relative;
    margin-bottom: 3rem;
}

.card-content > h2 {
    margin-bottom: 1rem;
    margin-top: 0;
}

.product-intro {
    margin: 0;
}

.product-details {
    display: none;
    font-size: 0.9rem;
    padding: 1rem;
}

.card-footer {
    align-items: baseline;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.card-footer > a > .fa {
    margin-right: 0.5rem;
}

.cta.primary.in-cart {
    background-color: #0C8F45;
    border-color: #0C8F45;
    color: white;
}

.cta.primary.in-cart:hover {
    background-color: transparent;
    color: #0C8F45;
}

span.cta.primary.in-cart {
    background-color: #0C8F45 !important;
    border-color: #0C8F45 !important;
    color: white !important;
    cursor: default;
}


.cta.small {
    font-size: 0.85rem;
    height: auto !important;
    line-height: 2rem !important;
    ;
    padding: 0 0.75rem;
}

.card-footer .cta.small {
    margin: 0;
}

@media (max-width: 767px) {
    .product-container .card-content {
        text-align: center;
    }

    .after-discount {
        font-size: 2.5rem;
    }

    .price-type {
        display: block;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .card-footer {
        align-items: center;
        flex-direction: column;
    }

    .card-footer > * {
        margin-bottom: 1rem;
    }
}


.card-content h4 {
    margin-bottom: 1rem;
}

.product-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
}

.product-item:last-of-type {
    border: none;
    padding: 0;
}

.product-list {
    font-size: 0.9rem;
}

.product-name {
    font-weight: 700;
}

.product-attributes {
    color: #666;
    font-size: 0.8rem;
}

.product-price {
    font-weight: 800;
}

.remove-item {
    margin-top: 0.5rem;
}

.remove-item a {
    color: #c00;
    font-size: 0.75rem;
    font-weight: 700;

}

.totals-container {
    font-size: 0.8rem;
    width: 100%;
}

.totals-row {
    margin-bottom: 0.5rem;
    width: 100%;
}

.totals-row-label {
    float: left;
}

.totals-row-data {
    float: right;
}

.discounted-total {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}



.shadow-content .card {
    align-items: center;
    background: #f5f5f5;
    display: flex;
    height: 175px;
    justify-content: space-around;
    width: 100%;
}

.shadow-content .cart {
    height: 300px;
}

.shadow-content .spinner {
    border-bottom-color: #666;
    border-right-color: #666;
    border-top-color: #666;
}



.a-la-carte {
    border-right: 1px solid #ccc;
}

.a-la-carte:last-of-type {
    border: none;
}

.a-la-carte .product-container {
    margin: 0 0 0.5rem 0;
}

.a-la-carte .product-main {
    margin-bottom: 1rem;
}

.a-la-carte h5 {
    font-size: 0.9rem;
}

.a-la-carte .payment-info,
.tiered .payment-info {
    color: #555;
    font-size: 0.8rem;
}

.tiered .payment-info {
    padding-top: 2rem;
    position: relative;
}

.tiered .payment-info:before {
    background: #0C8F45;
    border-radius: 50px;
    content: ' ';
    display: block;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    width: 50px;
}

.tiered .product-details {
    font-size: 0.8rem;
    padding-top: 0;
}


.tiered.featured {
    background: #ebf5ec;
    border-color: #20a94d !important;
    border-width: 2px;
}

.tiered.featured:before {
    background: #20a94d;
    color: white;
    content: "Preferred Plan";
    display: block;
    font-size: 0.9rem;
    left: 50%;
    padding: 0.25rem 0;
    position: absolute;
    text-align: center;
    top: -1.75rem;
    transform: translateX(-50%);
    width: 70%;
}


.tiered .ribbon {
    position: absolute;
    right: -9px;
    top: 8px;
}

.a-la-carte .card-footer {
    border: none;
    padding: 0;
    flex-direction: column;
}

.a-la-carte .cta {
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding: 0 0.25rem;
}

.a-la-carte .see-more-details {
    margin-top: 1rem;
}

.a-la-carte .product-details {
    background: transparent;
    border: none;
    font-size: 0.9rem;
    padding: 1rem 0;
}


@media (max-width: 991px) {
    .a-la-carte {
        border-bottom: 1px solid #ccc;
        border-right: none;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .a-la-carte h5,
    .a-la-carte .payment-info,
    .a-la-carte .see-more-details {
        font-size: 1rem;
    }

    .a-la-carte .cta {
        font-size: 0.85rem;
        line-height: 2rem;
        padding: 0 0.75rem;
    }
}

@media (max-width: 768px) {
    .a-la-carte .card-footer {
        align-items: baseline;
        flex-direction: row;
    }

    .a-la-carte .card-footer > *,
    .a-la-carte .product-container {
        margin: 0;
    }
}

.text-green {
    color: #0C8F45;
}

/*
.pay-iframe {
    width: 100%;
    height: 850px;
    border: 0px;
}
*/
