#unsupportedBrowserBanner {
    display: none;
    border: 2px solid #bbb;
    background: #f5f5f5;
    margin: 0 auto;
    padding: 10px 40px;
    font-family: "Microsoft Sans Serif", Helvetica, sans-serif
}

#unsupportedBrowserBanner a {
    color: #2962ff;
    text-decoration: none
}

#unsupportedBrowserBanner p {
    font-size: 11px;
    max-width: initial
}

#unsupportedBrowserBanner h1 {
    font-size: 13px
}

#unsupportedBrowserBanner .red {
    color: #f44336
}

#unsupportedBrowserBanner .warning-img {
    float: left;
    padding: 10px 20px
}
