/*
 * Wrapper and heading styles
 *****************************************************************/
#page-content
{
	padding-top: 30px;
}

#alerts
{
	margin: 0 auto;
	max-width: 660px;
	width: 100%;
}

#page-content .wrapper
{
	max-width: 570px;
}

#page-content .heading
{
	margin-bottom: 18px;
}

#page-content .heading:after
{
	clear: both;
	content: '';
	display: block;
}

#page-content .heading h1
{
	color: #0C8F43;
	font-size: 3.6em;
	margin: 0 0 25px;
	text-transform: uppercase;
}

#page-content .heading h2
{
	font-size: 2.1em;
	margin: 0 0 10px;
}

#page-content .heading h3
{
	font-size: 1.6em;
	margin: 0;
}

#page-content .heading .btn-livechat
{
	float: right;
	margin-bottom: -10px;
}

@media (max-width: 767px)
{
	#page-content
	{
		padding-top: 80px;
	}
	
	#page-content .heading
	{
		padding: 0 15px;
	}
}

/*
 * Steps styles
 *****************************************************************/
#page-content .steps > .step .lookup-type-switcher .form-radio label
{
	font-size: 1.4em;
	text-transform: uppercase;
}

#page-content .form-buttons
{
	text-align: center;
}

#page-content .form-buttons .btn
{
	margin-bottom: 15px;
	max-width: 373px;
	width: 100%;
}

#page-content .form-buttons .btn.cancel
{
	float: right;
	width: auto;
}

@media (max-width: 767px)
{
	#page-content .form-buttons
	{
		padding: 0 15px;
	}
}

/*
 * QAS Validator styles
 *****************************************************************/
#page-content .qas-address-validator .prompt
{
	color: #0C8F43;
	font-size: 2em;
	font-weight: 800;
	margin-bottom: 0.75em;
}

#page-content .qas-address-validator .form-buttons
{
	margin-top: 30px;
}

@media (max-width: 767px)
{
	#page-content .qas-address-validator .form-buttons .btn
	{
		margin-left: 0;
	}
}

@media (min-width: 768px)
{
	#page-content .qas-address-validator .form-buttons .btn
	{
		max-width: none;
		width: auto;
	}
}