@import 'reset.css';

/*
 * Colors
 * 
 * #7AC142 - Pantone 368 Green - Primary color
 * #CBDF82 - Pantone 365       - Spot color 
 * #9398CC - Pantone 271       - Spot color
 * #BC8ABD - Pantone 7438      - Spot color
 * #2CABD3 - Pantone 312       - Spot color
 * #84CEC1 - Pantone 318       - Spot color
 * #F6905D - Pantone 7416      - Spot color
 * #FECF4B - Pantone 128       - Spot color
 * #636366 - Gray color
 * 
 * #CC0000 - Error color
 */

/*
 * Fonts
 *****************************************************************/
/*@font-face
{
	font-family: ProximaNova;
	src: url(/static-srvm/fonts/Proxima%20Nova%20Reg.otf);
	font-weight: 400;
}

@font-face
{
	font-family: ProximaNova;
	src: url(/static-srvm/fonts/Proxima%20Nova%20Sbold.otf);
	font-weight: 600;
}

@font-face
{
	font-family: ProximaNova;
	src: url(/static-srvm/fonts/Proxima%20Nova%20Bold.otf);
	font-weight: 700;
}

@font-face
{
	font-family: ProximaNova;
	src: url(/static-srvm/fonts/Proxima%20Nova%20Xbold.otf);
	font-weight: 800;
}

@font-face
{
	font-family: ProximaNova;
	src: url(/static-srvm/fonts/Proxima%20Nova%20Black.otf);
	font-weight: 900;
}*/

/*
 * Custom Keyframes
 *****************************************************************/
@keyframes loading-dots
{
	0%   { opacity: 1; }
	20%  { opacity: 1; }
	50%  { opacity: 0; }
	80%  { opacity: 1; }
	100% { opacity: 1; }
}

@-moz-keyframes loading-dots
{
	0%   { opacity: 1; }
	20%  { opacity: 1; }
	50%  { opacity: 0; }
	80%  { opacity: 1; }
	100% { opacity: 1; }
}

@-webkit-keyframes loading-dots
{
	0%   { opacity: 1; }
	20%  { opacity: 1; }
	50%  { opacity: 0; }
	80%  { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes spinner
{
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-moz-keyframes spinner
{
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes spinner
{
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*
 * jQuery UI fixes
 *****************************************************************/
.ui-widget {
	font-size: 15px;
	line-height: 22.5px;
}

/*
 * Global element styles
 *****************************************************************/
body
{
	background: #F5F5F5;
	color: #636366;
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
}

input, select, textarea
{
	font-family: Arial, sans-serif;
}

.text-headline
{
	font-family: "Sanchez", serif;
	font-weight: normal;
}

.text-headline-bold
{
	font-family: "Sanchez", serif;
	font-weight: bold;
}

.text-accent
{
	font-family: "Monlina Regular", Arial, sans-serif;
	font-weight: normal;
}

.text-accent-bold
{
	font-family: "Monlina Bold", Arial, sans-serif;
	font-weight: normal;
}

a, a:visited, a:link, a:active, a:hover
{
	color: #7AC142;
	text-decoration: underline;
}

a.disabled
{
	cursor: default;
	pointer-events: none;
}

h1, h2, h3, h4, h5, h6
{
	color: #636366;
	font-weight: bold;
	margin: 10px 0;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

p
{
	font-size: 1.2em;
	line-height: 1.4em;
	margin-bottom: 1.5em;
}

.strikethrough {
	text-decoration: line-through;
}

sub, sup
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub { bottom: -.5em; }
sup { top: -.5em; }

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 11px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  background: #828282;
  border-radius: 0px;
  border: 1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41), 0px 0px 1px rgba(13, 13, 13, 0.41);
  border: 0.2px solid #000000;
  height: 30px;
  width: 10px;
  border-radius: 3px;
  background: #e6e6e6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #878787;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  background: #828282;
  border-radius: 0px;
  border: 1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41), 0px 0px 1px rgba(13, 13, 13, 0.41);
  border: 0.2px solid #000000;
  height: 30px;
  width: 10px;
  border-radius: 3px;
  background: #e6e6e6;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #7d7d7d;
  border: 1px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
}
input[type=range]::-ms-fill-upper {
  background: #828282;
  border: 1px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41), 0px 0px 1px rgba(13, 13, 13, 0.41);
  border: 0.2px solid #000000;
  height: 30px;
  width: 10px;
  border-radius: 3px;
  background: #e6e6e6;
  cursor: pointer;
  height: 8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #828282;
}
input[type=range]:focus::-ms-fill-upper {
  background: #878787;
}

/*
 * Layout classes
 *****************************************************************/
.wrapper
{
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}

.cols
{
	margin: -10px -10px 0;
}

.cols:after
{
	clear: both;
	content: '';
	display: block;
}

.cols > [class^="col-"],
.cols > [class*=" col-"]
{
	float: left;
	padding: 10px 10px 0;
}

.cols > .col-1,  .cols > .col-xs-1  { width:  8.333333%; }
.cols > .col-2,  .cols > .col-xs-2  { width: 16.666667%; }
.cols > .col-3,  .cols > .col-xs-3  { width: 25%; }
.cols > .col-4,  .cols > .col-xs-4  { width: 33.333333%; }
.cols > .col-5,  .cols > .col-xs-5  { width: 41.666667%; }
.cols > .col-6,  .cols > .col-xs-6  { width: 50%; }
.cols > .col-7,  .cols > .col-xs-7  { width: 58.333333%; }
.cols > .col-8,  .cols > .col-xs-8  { width: 66.666667%; }
.cols > .col-9,  .cols > .col-xs-9  { width: 75%; }
.cols > .col-10, .cols > .col-xs-10 { width: 83.333333%; }
.cols > .col-11, .cols > .col-xs-11 { width: 91.666667%; }
.cols > .col-12, .cols > .col-xs-12 { width: 100%; }

@media (min-width: 768px)
{
	.cols > .col-sm-1  { width:  8.333333%; }
	.cols > .col-sm-2  { width: 16.666667%; }
	.cols > .col-sm-3  { width: 25%; }
	.cols > .col-sm-4  { width: 33.333333%; }
	.cols > .col-sm-5  { width: 41.666667%; }
	.cols > .col-sm-6  { width: 50%; }
	.cols > .col-sm-7  { width: 58.333333%; }
	.cols > .col-sm-8  { width: 66.666667%; }
	.cols > .col-sm-9  { width: 75%; }
	.cols > .col-sm-10 { width: 83.333333%; }
	.cols > .col-sm-11 { width: 91.666667%; }
	.cols > .col-sm-12 { width: 100%; }
}

@media (min-width: 992px)
{
	.cols > .col-md-1  { width:  8.333333%; }
	.cols > .col-md-2  { width: 16.666667%; }
	.cols > .col-md-3  { width: 25%; }
	.cols > .col-md-4  { width: 33.333333%; }
	.cols > .col-md-5  { width: 41.666667%; }
	.cols > .col-md-6  { width: 50%; }
	.cols > .col-md-7  { width: 58.333333%; }
	.cols > .col-md-8  { width: 66.666667%; }
	.cols > .col-md-9  { width: 75%; }
	.cols > .col-md-10 { width: 83.333333%; }
	.cols > .col-md-11 { width: 91.666667%; }
	.cols > .col-md-12 { width: 100%; }
}

@media (min-width: 1200px)
{
	.cols > .col-lg-1  { width:  8.333333%; }
	.cols > .col-lg-2  { width: 16.666667%; }
	.cols > .col-lg-3  { width: 25%; }
	.cols > .col-lg-4  { width: 33.333333%; }
	.cols > .col-lg-5  { width: 41.666667%; }
	.cols > .col-lg-6  { width: 50%; }
	.cols > .col-lg-7  { width: 58.333333%; }
	.cols > .col-lg-8  { width: 66.666667%; }
	.cols > .col-lg-9  { width: 75%; }
	.cols > .col-lg-10 { width: 83.333333%; }
	.cols > .col-lg-11 { width: 91.666667%; }
	.cols > .col-lg-12 { width: 100%; }
}

.cols > .col-offset-1  { margin-left:  8.333333%; }
.cols > .col-offset-2  { margin-left: 16.666667%; }
.cols > .col-offset-3  { margin-left: 25%; }
.cols > .col-offset-4  { margin-left: 33.333333%; }
.cols > .col-offset-5  { margin-left: 41.666667%; }
.cols > .col-offset-6  { margin-left: 50%; }
.cols > .col-offset-7  { margin-left: 58.333333%; }
.cols > .col-offset-8  { margin-left: 66.666667%; }
.cols > .col-offset-9  { margin-left: 75%; }
.cols > .col-offset-10 { margin-left: 83.333333%; }
.cols > .col-offset-11 { margin-left: 91.666667%; }
.cols > .col-offset-12 { margin-left: 100%; }

.clearfix:after{ clear: both;content: '';display: block; }
.hidden { display: none !important; }

[class^="visible-"], [class*=" visible-"] { display: none; }
[class^="hidden-"], [class*=" hidden-"] { display: block; }
table[class^="hidden-"], table[class*=" hidden-"] { display: table; }
tr[class^="hidden-"], tr[class*=" hidden-"] { display: table-row; }
th[class^="hidden-"], th[class*=" hidden-"],
td[class^="hidden-"], td[class*=" hidden-"] { display: table-cell; }
span[class^="hidden-"], span[class*=" hidden-"] { display: inline; }

@media (max-width: 767px)
{
	.visible-xs { display: block !important; }
	table.visible-xs { display: table !important; }
	tr.visible-xs { display: table-row !important; }
	th.visible-xs,
	td.visible-xs { display: table-cell !important; }
	span.visible-xs { display: inline !important; }
	.hidden-xs { display: none !important; }
}

@media (min-width: 768px) and (max-width: 991px)
{
	.visible-sm { display: block !important; }
	table.visible-sm { display: table !important; }
	tr.visible-sm { display: table-row !important; }
	th.visible-sm,
	td.visible-sm { display: table-cell !important; }
	span.visible-sm { display: inline !important; }
	.hidden-sm { display: none !important; }
}

@media (min-width: 992px) and (max-width: 1199px)
{
	.visible-md { display: block !important; }
	table.visible-md { display: table !important; }
	tr.visible-md { display: table-row !important; }
	th.visible-md,
	td.visible-md { display: table-cell !important; }
	span.visible-md { display: inline !important; }
	.hidden-md { display: none !important; }
}

@media (min-width: 1200px)
{
	.visible-lg { display: block !important; }
	table.visible-lg { display: table !important; }
	tr.visible-lg { display: table-row !important; }
	th.visible-lg,
	td.visible-lg { display: table-cell !important; }
	span.visible-lg { display: inline !important; }
	.hidden-lg { display: none !important; }
}

.hr
{
	position: relative;
}

.hr .hr-text
{
	background: #FFFFFF;
	display: block;
	font-size: 2.2em;
	font-weight: bold;
	left: 0;
	padding-right: 15px;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	transform: translateY(-50%);
}

.hr .hr-line
{
	background: #C8C8C8;
	display: block;
	height: 1px;
	margin-bottom: 15px;
}

.hr .hr-text + .hr-line
{
	margin: 25px 0;
}

.loading-container
{
	background: #F5F5F5;
	border-top: 5px solid #7AC142;
	box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.5);
	height: 150px;
	position: relative;
}

.loading-container .loading-text
{
	color: #636366;
	font-family: Arial, sans-serif;
	font-size: 2.3em;
	font-weight: bold;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.loading-container .loading-text .dot
{
	opacity: 1;
	
			animation: loading-dots 1.0s ease infinite;
	   -moz-animation: loading-dots 1.0s ease infinite;
	-webkit-animation: loading-dots 1.0s ease infinite;
}

.loading-container .loading-text .dot:nth-child(2)
{
			animation-delay: 0.2s;
	   -moz-animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}

.loading-container .loading-text .dot:nth-child(3)
{
			animation-delay: 0.4s;
	   -moz-animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.error-container
{
	background: #F9BBBB;
	height: 150px;
	position: relative;
}

.error-container .error-text
{
	color: #636366;
	font-size: 2.3em;
	font-weight: bold;
	left: 50%;
	line-height: 1.2em;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
/*
 * Button classes
 *****************************************************************/
.btn,
a.btn,
button.btn,
input.btn
{
	background: #666666;
	border: 0;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	outline: 0;
	padding: 5px 25px;
	position: relative;
	text-decoration: none;
	-webkit-appearance: none;
}

.btn.btn-shadow
{
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.btn.btn-outline
{
	border: 1px solid #C0C0C0;
	font-weight: normal;
}

.btn.btn-rounder
{
	/*border-radius: 12px;*/
}

.btn.btn-taller
{
	font-size: 1.7em;
	padding-bottom: 10px;
	padding-top: 10px;
}

.btn.btn-smalltext
{
	font-size: 1.3em;
}

.btn.btn-thinner,
.btn.btn-skinny
{
	padding-left: 10px;
	padding-right: 10px;
}

.btn.btn-full-width
{
	display: block;
	text-align: center;
	width: 100%;
}

.btn.btn-down-arrow:after /* DOES NOT WORK ON input ELEMENTS */
{
	border: 8px solid transparent;
	border-top-width: 11px;
	border-top-color: #FFFFFF;
	content: '';
	display: inline-block;
	height: 0;
	margin-bottom: -0.63em;
	margin-left: 8px;
	width: 0;
}

.btn.btn-gray, .btn.btn-grey
{
	background: #636366;
}

.btn.btn-green
{
	background: #7AC142;
}

.btn.btn-orange
{
	background: #F6905D;
}

.btn.btn-blue
{
	background: #84CEC1;
}

.btn.btn-purple
{
	background: #9398CC;
}

.btn.btn-yellow
{
	background: #FECF4B;
}

.btn.btn-white
{
	background: #FFFFFF;
	color: #636366;
}

.btn.btn-white-bordered
{
	background: #FFFFFF;
	border: 1px solid #636366;
	color: #636366;
}

.btn.btn-link
{
	background: none;
	color: #636366;
	text-decoration: underline;
	text-transform: none;
}

.btn.btn-link-green
{
	background: none;
	color: #7AC142;
	text-decoration: underline;
	text-transform: none;
}

.btn.btn-close
{
	border-radius: 50%;
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-align: center;
	width: 30px;
}

.btn.btn-livechat
{
	font-size: 1.6em;
	padding: 8px 10px 8px 40px;
	position: relative;
}

.btn.btn-livechat:after
{
	background: url(../img/btn-icon-chat.png) 0 0 no-repeat;
	content: '';
	display: block;
	height: 22px;
	left: 12px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 22px;
}

.btn-icon-wrapper,
a.btn-icon-wrapper
{
	display: block;
	text-decoration: none;
}

.btn-icon-wrapper:after
{
	clear: both;
	content: '';
	display: block;
}

.btn-icon-wrapper .btn-icon
{
	display: block;
	float: left;
	margin-right: 10px;
}

.btn-icon-wrapper .btn-icontext
{
	display: block;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.btn.btn-inactive
{
	background: #b6b6b6;
	color: #FFFFFF;
	cursor: default;
	filter: none;
	pointer-events: none;
}

.left-align{
	text-align: left !important;
}

.btn-icon-wrapper .btn-icon.btn-icon-add
{
	background: url(../img/btn-icon-add.png) 0 0 no-repeat;
	height: 32px;
	width: 32px;
}

.button-progress-container
{
	padding-left: 40px;
	position: relative;
}

.button-progress-container:before
{
	border: 4px solid #D9D9D9;
	border-top-color: #F6905D;
	border-radius: 50%;
	content: '';
	display: block;
	height: 24px;
	left: 0;
	margin-top: -12px;
	position: absolute;
	top: 50%;
	transform: rotate(0deg);
	width: 24px;
	
			animation: spinner 0.6s linear infinite;
	   -moz-animation: spinner 0.6s linear infinite;
	-webkit-animation: spinner 0.6s linear infinite;
}

.button-progress-container .btn.show-progress
{
	display: block !important;
	width: 100% !important;
}

.button-progress-container + *
{
	/* Hides the real button while it is showing progress */
	display: none !important;
}

/*
 * Form classes
 *****************************************************************/
.form-sub-heading
{
	margin: 22px 0;
}

.form-sub-heading > *
{
	color: #636366;
	font-size: 1.8em;
	font-weight: bold;
	margin: 0;
}

.form-input,
.form-checkbox,
.form-switch,
.form-radio,
.form-help-link,
.form-select,
.form-range,
.form-display,
.form-file
{
	margin: 0 0 15px;
}

.form-cols
{
	margin-bottom: 15px;
}

.form-cols .form-input,
.form-cols .form-checkbox,
.form-cols .form-switch,
.form-cols .form-radio,
.form-cols .form-help-link,
.form-cols .form-select,
.form-cols .form-display,
.form-cols .form-range,
.form-cols .form-file
{
	margin-bottom: 0;
}

.form-input label,
.form-checkbox label,
.form-switch label,
.form-radio label,
.form-help-link label,
.form-select label,
.form-display label,
.form-range label
{
	color: #636366;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.2em;
	margin-bottom: 5px;
}

.form-file label
{
	display: block;
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: none;
}

.form-input .desc-text,
.form-checkbox .desc-text,
.form-switch .desc-text,
.form-radio .desc-text,
.form-help-link .desc-text,
.form-select .desc-text,
.form-display .desc-text,
.form-range .desc-text,
.form-file .desc-text
{
	display: block;
	font-size: 0.75em;
	font-weight: normal;
	line-height: 1.4em;
}

.form-input .help-link,
.form-checkbox .help-link,
.form-switch .help-link,
.form-radio .help-link,
.form-help-link .help-link,
.form-select .help-link,
.form-display .help-link,
.form-range .help-link,
.form-file .help-link
{
	display: block;
	font-size: 1.4em;
	margin: 10px 0 5px;
}

.form-input .error-text,
.form-select .error-text,
.form-display .error-text,
.form-range .error-text,
.form-file .error-text
{
	color: #CC0000;
	display: block;
	font-size: 1.2em;
	line-height: 1.4em;
	margin-top: 5px;
}

.form-checkbox label,
.form-switch label,
.form-radio label
{
	cursor: pointer;
}

.form-input input,
.form-input textarea
{
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	font-size: 1.2em;
	line-height: 1.4em;
	outline: none;
	padding: 9px 10px 10px;
	width: 100%;
}

.form-input input:focus,
.form-input textarea:focus
{
	border-color: #84CEC1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"]{
     -moz-appearance:textfield;	
}

.form-input input.error,
.form-input textarea.error
{
	border-color: #CC0000;
}

.form-input input:disabled,
.form-input input.disabled,
.form-input textarea:disabled,
.form-input textarea.disabled,
.form-select select:disabled,
.form-select select.disabled
{
	background: #E5E5E5;
	color: #636366;
	cursor: default;
}

.form-checkbox input[type=checkbox],
.form-switch input[type=checkbox]
{
	position: absolute;
	z-index: -100;
}

.form-checkbox .label-text
{
	display: block;
	line-height: 26px;
	padding-left: 40px;
	position: relative;
}

.form-checkbox .label-text:before,
.form-checkbox input[type=checkbox]:disabled + .label-text:before
{
	background: url(../img/checkbox-sprite.jpg) 0 0 no-repeat;
	content: '';
	display: inline-block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 0;
	vertical-align: bottom;
	width: 26px;
}

.form-checkbox input[type=checkbox]:checked + .label-text:before
{
	background: url(../img/checkbox-sprite.jpg) -26px 0 no-repeat;
}

.form-checkbox input[type=checkbox]:disabled:checked + .label-text:before
{
	background: url(../img/checkbox-sprite.jpg) -52px 0 no-repeat;
}

.form-switch label
{
	font-size: 1.4em;
	font-weight: normal;
	line-height: 16px;
}

.form-switch .label-text
{
	background-color: rgba(0,0,0,0.38);
	border-radius: 15px;
	display: inline-block;
	height: 14px;
	margin: 0 3px;
	position: relative;
	vertical-align: middle;
	width: 36px;
	
	-webkit-transition: background 0.3s ease;
	   -moz-transition: background 0.3s ease;
	        transition: background 0.3s ease;
}

.form-switch input[type=checkbox]:checked + .label-text
{
	background-color: #84c7c1;
}

.form-switch input[type=checkbox]:disabled + .label-text
{
	background-color: rgba(0,0,0,0.12);
	cursor: default;
}

.form-switch .label-text:before,
.form-switch .label-text:after
{
	border-radius: 50%;
	content: '';
	display: inline-block;
	height: 20px;
	left: 0;
	position: absolute;
	top: -3px;
	width: 20px;
	
	-webkit-transition: left 0.3s ease, background-color 0.3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
	   -moz-transition: left 0.3s ease, background-color 0.3s ease, -moz-box-shadow 0.1s ease, -moz-transform 0.1s ease;
	        transition: left 0.3s ease, background-color 0.3s ease, box-shadow 0.1s ease, transform 0.1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
}

.form-switch .label-text:before,
.form-switch input[type=checkbox]:checked + .label-text:before
{
	background-color: rgba(38,166,154,0.15);
}

.form-switch .label-text:after
{
	background-color: #F1F1F1;
	
	-webkit-box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.form-switch input[type=checkbox]:checked + .label-text:before,
.form-switch input[type=checkbox]:checked + .label-text:after
{
	left: 18px;
}

.form-switch input[type=checkbox]:checked + .label-text:after
{
	background-color: #26a69a;
}

.form-switch input[type=checkbox]:disabled + .label-text:after
{
	background-color: #949494;
}

.form-radio input[type=radio]
{
	position: absolute;
	z-index: -100;
}

.form-radio .label-text
{
	display: block;
	padding-left: 24px;
	position: relative;
}

.form-radio .label-text:before
{
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 50%;
	content: '';
	display: block;
	height: 16px;
	left: 0;
	position: absolute;
	top: 0;
	width: 16px;
}

.form-radio input[type=radio]:disabled + .label-text:before
{
	background: url(../img/scanlines.png) 0 0 repeat;
	border: 2px solid #7F7E7E;
}

.form-radio input[type=radio]:disabled + .label-text
{
	color: #636366;
}

.form-radio input[type=radio]:checked + .label-text:before
{
	background: #FFFFFF;
	border: 4px solid #FECF4B;
}

.form-radio.form-radio-large .label-text
{
	line-height: 18px;
	padding-left: 26px;
}

.form-radio.form-radio-large .label-text:before
{
	height: 18px;
	width: 18px;
}

.form-radio.form-radio-large input[type=radio]:checked + .label-text:before
{
	border: 5px solid #FECF4B;
}

.form-radio.form-radio-accordion .label-text
{
	color: #636366;
	display: block;
	line-height: 26px;
	padding-left: 40px;
	position: relative;
}

.form-radio.form-radio-accordion .label-text:before
{
	background: url(../img/radio-accordion-sprite.jpg) 0 0 no-repeat;
	border: 0;
	border-radius: 0;
	height: 26px;
	left: 0;
	position: absolute;
	top: 0;
	width: 26px;
}

.form-radio.form-radio-accordion input[type=radio]:disabled + .label-text:before
{
	background: url(../img/radio-accordion-sprite.jpg) 0 0 no-repeat;
	border: 0;
}

.form-radio.form-radio-accordion input[type=radio]:checked:disabled + .label-text:before,
.form-radio.form-radio-accordion input[type=radio]:checked + .label-text:before
{
	background: url(../img/radio-accordion-sprite.jpg) -26px 0 no-repeat;
	border: 0;
	border-radius: 0;
}

.form-help-link a
{
	font-size: 1.2em;
}

.form-select select
{
	border: 1px solid #D9D9D9;
	font-size: 1.2em;
	line-height: 1.4em;
	outline: none;
	padding: 10px;
	width: 100%;
}

.form-select select:focus
{
	border-color: #84CEC1;
}

.form-select select.error
{
	border-color: #CC0000;
}

.form-display .display-text
{
	font-size: 1.2em;
}

.form-file label
{
	cursor: pointer;
}

.form-file input
{
	display: none;
}

.form-input-help
{
	padding-right: 30px;
	position: relative;
}

.form-input-help.open
{
	z-index: 1000;
}

.form-input-help > .form-input-help-icon
{
	background: #7AC142;
	border-radius: 50%; 
	color: #FFFFFF;
	display: block;
	font-size: 1em;
	font-weight: bold;
	line-height: 14px;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 50%;
	transform: translateY(-50%);
	width: 14px;
}

.form-input-help > .form-input-help-tooltip
{
	background: #FFFFFF;
	border: 2px solid #000000;
	display: block;
	left: 100%;
	margin-left: 30px;
	padding: 10px 50px 10px 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.form-input-help > .form-input-help-tooltip:before
{
	border: 20px solid transparent;
	border-right-color: #636366;
	content: '';
	display: block;
	height: 0;
	left: 0;
	margin-left: -40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
}

.form-input-help > .form-input-help-tooltip:after
{
	border: 17px solid transparent;
	border-right-color: #FFFFFF;
	content: '';
	display: block;
	height: 0;
	left: 0;
	margin-left: -34px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
}

.form-input-help > .form-input-help-tooltip > .form-input-help-tooltip-close
{
	background: #7AC142;
	border-radius: 50%;
	color: #FFFFFF;
	display: block;
	font-size: 2.2em;
	line-height: 25px;
	height: 25px;
	position: absolute;
	right: 5px;
	text-align: center;
	text-decoration: none;
	top: 5px;
	width: 25px;
}

.form-checkbox-help .form-checkbox-help-icon
{
	background: #7AC142;
	border-radius: 50%; 
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 0.6em;
	font-weight: bold;
	line-height: 14px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 14px;
}

.form-checkbox-help.open .form-checkbox-help-icon
{
	z-index: 1000;
}

.form-checkbox-help .form-checkbox-help-tooltip
{
	background: #FFFFFF;
	border: 2px solid #636366;
	color: #636366;
	cursor: default;
	display: none;
	left: 100%;
	margin-left: 30px;
	padding: 10px 50px 10px 10px;
	position: absolute;
	text-align: left;
	top: 50%;
	transform: translateY(-50%);
}

.form-checkbox-help.open .form-checkbox-help-tooltip
{
	display: block;
}

.form-checkbox-help .form-checkbox-help-tooltip:before
{
	border: 20px solid transparent;
	border-right-color: #636366;
	content: '';
	display: block;
	height: 0;
	left: 0;
	margin-left: -40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
}

.form-checkbox-help .form-checkbox-help-tooltip:after
{
	border: 17px solid transparent;
	border-right-color: #FFFFFF;
	content: '';
	display: block;
	height: 0;
	left: 0;
	margin-left: -34px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
}

.form-checkbox-help .form-checkbox-help-tooltip > .form-checkbox-help-tooltip-close
{
	background: #7AC142;
	border-radius: 50%;
	color: #FFFFFF;
	display: block;
	font-size: 2.2em;
	line-height: 25px;
	height: 25px;
	position: absolute;
	right: 5px;
	text-align: center;
	text-decoration: none;
	top: 5px;
	width: 25px;
}

.form-inline > *
{
	display: inline-block;
	margin-right: 45px;
}

.form-inline > *:last-child
{
	margin-right: 0;
}

.form-buttons
{
	margin-top: 10px;
}

.form-buttons .btn
{
	margin-bottom: 10px;
	margin-right: 10px;
}

.form-buttons .btn:last-child
{
	margin-right: 0;
}

.form-buttons-right
{
	text-align: right;
}

.form-buttons.form-buttons-right .btn
{
    text-align: center;
	margin-right: 0;
}

.form-buttons.form-buttons-right .btn + .btn
{
	margin-left: 10px;
}

@media (max-width: 767px)
{
	.form-input-help > .form-input-help-tooltip
	{
		left: 0;
		margin-left: 0;
		margin-top: 16px;
		top: 100%;
		transform: none;
		width: 100%;
	}
	
	.form-input-help > .form-input-help-tooltip:before
	{
		border-bottom-color: #636366;
		border-right-color: transparent;
		border-width: 16px;
		left: 20px;
		margin-left: 0;
		margin-top: -32px;
		top: 0;
		transform: translateX(-50%);
	}
	
	.form-input-help > .form-input-help-tooltip:after
	{
		border-bottom-color: #FFFFFF;
		border-right-color: transparent;
		border-width: 13px;
		left: 20px;
		margin-left: 0;
		margin-top: -26px;
		top: 0;
		transform: translateX(-50%);
	}
	
	.form-input-help > .form-input-help-tooltip > img
	{
		max-width: 100%;
	}
	
	.form-checkbox-help
	{
		position: relative;
		z-index: 1000;
	}
	
	.form-checkbox-help .form-checkbox-help-icon
	{
		position: static;
	}
	
	.form-checkbox-help .form-checkbox-help-tooltip
	{
		left: 0;
		margin-left: 0;
		margin-top: 16px;
		top: 100%;
		transform: none;
		width: 100%;
	}
	
	.form-checkbox-help .form-checkbox-help-tooltip:before
	{
		border-bottom-color: #636366;
		border-right-color: transparent;
		border-width: 16px;
		left: 50px;
		margin-left: 0;
		margin-top: -32px;
		top: 0;
		transform: translateX(-50%);
	}
	
	.form-checkbox-help .form-checkbox-help-tooltip:after
	{
		border-bottom-color: #FFFFFF;
		border-right-color: transparent;
		border-width: 13px;
		left: 50px;
		margin-left: 0;
		margin-top: -26px;
		top: 0;
		transform: translateX(-50%);
	}
	
	.form-checkbox-help .form-checkbox-help-tooltip > img
	{
		max-width: 100%;
	}
}

/*
 * Expandable items/accordion
 *****************************************************************/
.expandable-items > li
{
	padding-top: 15px;
}

.expandable-items > li + li
{
	border-top: 1px solid #C8C8C8;
}

.expandable-items .expand-header
{
	padding-bottom: 15px;
}

.expandable-items .expand-header label
{
	cursor: pointer;
}

.expandable-items .expand-header input[type=checkbox]
{
	position: absolute;
	z-index: -100;
}

.expandable-items .expand-header .label-text
{
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	line-height: 26px;
	padding-left: 40px;
	position: relative;
}

.expandable-items .expand-header .label-text:before
{
	background: url(../img/radio-accordion-sprite.jpg) 0 0 no-repeat;
	content: '';
	display: inline-block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 0;
	width: 26px;
}

.expandable-items .expand-header input[type=checkbox]:checked + .label-text:before
{
	background-position: -26px 0;
}

.expandable-items .expand-content
{
	background: #E5E5E5;
	box-shadow: inset 0 3px 5px -3px rgba(0, 0, 0, 0.4);
	font-size: 1em;
	line-height: 1;
	margin-bottom: 15px;
	padding: 10px 15px 15px;
}

.expandable-items .expand-content p
{
	font-size: 1.5em;
}

/*
 * Error and informational message classes
 *****************************************************************/
.informationals .informational-box,
.errors .error-box
{
	font-size: 1.5em;
	line-height: 1.2em;
	padding: 5px 0;
}

.informationals .informational-box,
.informationals .informational-box a:not(.btn)
{
	color: #7AC142;
}

.errors .error-box,
.errors .error-box a:not(.btn)
{
	color: #CC0000;
}

/*
 * Field validator popup
 *****************************************************************/

.field-validate-container
{
	position: relative;
}

.field-validate-container .field-validate-tooltip:before
{
	border: 18px solid transparent;
	border-right-color: #7AC142;
	content: '';
	display: block;
	height: 0;
	margin-top: -18px;
	position: absolute;
	right: 100%;
	top: 50%;
	width: 0;
}

.field-validate-container .field-validate-tooltip:after
{
	border: 15px solid transparent;
	border-right-color: #FFFFFF;
	content: '';
	display: block;
	height: 0;
	margin-top: -15px;
	position: absolute;
	right: 100%;
	top: 50%;
	width: 0;
}

.field-validate-container .field-validate-tooltip
{
	background: #FFFFFF;
	border: 2px solid #7AC142;
	display: none;
	font-weight: normal;
	left: 100%;
	margin-left: 20px;
	padding: 10px 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 375px;
}

.field-validate-container .field-validate-tooltip .field-validate-header
{
	font-size: 2.2em;
	font-weight: bold;
	margin: 0;
}

.field-validate-container .field-validate-tooltip .field-validate-items
{
	font-size: 1em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.field-validate-container .field-validate-tooltip .field-validate-items > li:before
{
	background: url(../img/validator-checkmark-sprite.png) -19px 0 no-repeat;
	content: '';
	display: inline-block;
	height: 15px;
	margin-right: 10px;
	position: relative;
	top: 2px;
	width: 19px;
}

.field-validate-container .field-validate-tooltip .field-validate-items > li.invalid:before
{
	background-position: 0 0;
}

.field-validate-container .field-validate-tooltip .field-validate-items > li
{
	color: #636366;
	font-size: 1.3em;
	line-height: 1.5em;
	margin-bottom: 3px;
}

.field-validate-container .field-validate-tooltip .field-validate-items > li.valid
{
	color: #7AC142;
}

.field-validate-container .field-validate-tooltip .field-validate-items > li:last-child
{
	margin: 0;
}

.field-validate-container .field-validate-tooltip .field-validate-desc
{
	font-size: 1em;
	margin: 0;
}

.field-validate-container .field-validate-tooltip .field-validate-desc.field-validate-error
{
	color: #CC0000;
	font-size: 1.2em;
}

.field-validate-container .field-validate-tooltip .field-validate-desc.field-validate-warning
{
	color: #CC0000;
	font-size: 1.2em;
	line-height: 20px;
	padding-left: 25px;
	position: relative;
}

.field-validate-container .field-validate-tooltip .field-validate-desc.field-validate-warning:before
{
	border: 1px solid #CC0000;
	border-radius: 50%;
	color: #CC0000;
	content: '!';
	display: block;
	font-size: 1em;
	height: 20px;
	left: 0;
	line-height: 18px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 20px;
}

.field-validate-container .field-validate-tooltip .field-validate-items + .field-validate-desc
{
	margin-top: 10px;
}

.field-validate-container[data-field-validate-align="bottom"] .field-validate-tooltip
{
	bottom: -7px;
	top: auto;
	transform: none;
}

.field-validate-container[data-field-validate-align="bottom"] .field-validate-tooltip:before
{
	bottom: 5px;
	top: auto;
}

.field-validate-container[data-field-validate-align="bottom"] .field-validate-tooltip:after
{
	bottom: 8px;
	top: auto;
}

.field-validate-container[data-field-validate-align="top"] .field-validate-tooltip
{
	bottom: auto;
	top: -7px;
	transform: none;
}

.field-validate-container[data-field-validate-align="top"] .field-validate-tooltip:before
{
	bottom: auto;
	top: 5px;
}

.field-validate-container[data-field-validate-align="top"] .field-validate-tooltip:after
{
	bottom: auto;
	top: 8px;
}

/* Preset styles */
.field-validate-container.field-validate-preset-password {}

.field-validate-container.field-validate-preset-capsLock .field-validate-tooltip
{
	width: 200px;
}

@media (max-width: 767px)
{
	.field-validate-container .field-validate-tooltip:before,
	.field-validate-container[data-field-validate-align="bottom"] .field-validate-tooltip:before,
	.field-validate-container[data-field-validate-align="top"] .field-validate-tooltip:before
	{
		border-right-color: transparent;
		border-bottom-color: #7AC142;
		bottom: 100%;
		left: 30px;
		margin-left: -18px;
		right: auto;
		top: auto;
	}
	
	.field-validate-container .field-validate-tooltip:after,
	.field-validate-container[data-field-validate-align="bottom"] .field-validate-tooltip:after,
	.field-validate-container[data-field-validate-align="top"] .field-validate-tooltip:after
	{
		border-right-color: transparent;
		border-bottom-color: #FFFFFF;
		bottom: 100%;
		left: 30px;
		margin-left: -15px;
		right: auto;
		top: auto;
	}
	
	.field-validate-container .field-validate-tooltip,
	.field-validate-container[data-field-validate-align="bottom"] .field-validate-tooltip,
	.field-validate-container[data-field-validate-align="top"] .field-validate-tooltip
	{
		left: 0;
		margin-left: 0;
		margin-top: 20px;
		position: relative;
		top: 0;
		transform: none;
		width: auto !important;
	}
	
	.field-validate-container .field-validate-tooltip .field-validate-header
	{
		font-size: 1.5em;
		margin-bottom: 0.25em;
	}
	
	.field-validate-container .field-validate-tooltip .field-validate-items > li
	{
		margin-bottom: 6px;
		padding-left: 29px;
		position: relative;
	}
	
	.field-validate-container .field-validate-tooltip .field-validate-items > li:before
	{
		left: 0;
		margin-right: 0;
		position: absolute;
	}
	
	/* Preset styles */
	.field-validate-container.field-validate-preset-capsLock .field-validate-tooltip
	{
		width: auto;
	}
}

/*
 * Mobile password unmasker
 *****************************************************************/

.password-unmasker-wrapper {}

.password-unmasker-wrapper .password-unmasker {
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-top: 0;
	font-size: 1.2em;
	height: 0px;
	line-height: 1.4em;
	margin-bottom: -1px; /* remove the 1px space below caused by relative positioning -1px on top */
	overflow: hidden;
	padding: 0 10px; /* use larger line height instead of padding so height can properly animate to 0px */
	position: relative;
	top: -1px; /* -1px so the background covers the bottom border of the input so it looks like 1 large input */
	width: 100%;
	
	-webkit-transition: height 0.5s ease;
	   -moz-transition: height 0.5s ease;
	        transition: height 0.5s ease;
}

.password-unmasker-wrapper input:focus + .password-unmasker {
	border-color: #84CEC1;
}

.password-unmasker-wrapper input[disabled] + .password-unmasker,
.password-unmasker-wrapper input[readonly] + .password-unmasker {
	background: #E5E5E5;
	color: #636366;
}

.password-unmasker-wrapper.has-value input:focus + .password-unmasker {
	height: 27px;
}

/*
 * Steps styles
 *****************************************************************/
.steps > .step
{
	background: #F5F5F5;
	box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
}

.steps > .step .step-header
{
	background: #7AC142;
	padding: 19px 15px;
	position: relative;
}

.steps > .step .step-header.step-header-has-collapse
{
	padding-right: 95px;
}

.steps > .step .step-header .step-header-text
{
	color: #FFFFFF;
	display: block;
	font-size: 2.5em;
	font-weight: bold;
	line-height: 1.2em;
	margin: 0;
}

.steps > .step .step-header .step-header-subtext
{
	color: #FFFFFF;
	display: block;
	font-size: 1.4em;
	line-height: 1.3em;
	margin: 15px 0 0;
}

.steps > .step .step-header .step-header-subtext a
{
	color: #FFFFFF;
	font-weight: bold;
}

.steps > .step .step-header .step-header-collapse
{
	cursor: pointer;
	display: none;;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 80px;
}

.steps > .step .step-header.step-header-has-collapse .step-header-collapse
{
	display: block;
}

.steps > .step .step-header .step-header-collapse span
{
	background: url(../img/step-header-collapse-sprite.png) 0 0 no-repeat;
	display: block;
	height: 16px;
	left: 50%;
	margin: -8px 0 0 -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

.steps > .step .step-header .step-header-collapse span.step-header-collapsed
{
	background-position: 0 0;
}

.steps > .step .step-header .step-header-collapse span.step-header-opened
{
	background-position: -16px 0;
}

.steps > .step .step-contents
{
	padding: 20px 20px 20px;
}

.steps > .step .step-contents + .step-contents
{
	background: #FFFFFF;
	border-top: 1px solid #C8C8C8;
}

.steps > .step .hr .hr-text
{
	background: #FAFAFA;
}

.steps > .step .form-buttons
{
	text-align: center;
}

.steps > .step .form-buttons .btn
{
	text-align: center;
	width: 100%;
}

@media (max-width: 767px)
{
	.steps > .step .step-header .step-header-collapse
	{
		width: 60px;
	}
	
	.steps > .step .step-header.step-header-has-collapse
	{
		padding-right: 75px;
	}
}

/*
 * Tables
 *****************************************************************/
table.table-default
{
	width: 100%;
}

table.table-default > thead > tr > th
{
	color: #636366;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 20px;
	padding: 5px;
	text-align: left;
}

table.table-default > tbody > tr > td
{
	border-top: 1px solid #636366;
	color: #636366;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 26px;
	padding: 11px 5px;
	text-align: left;
	vertical-align: middle;
}

table.table-default > tbody > tr > td.align-right
{
	text-align: right;
}

table.table-default > tbody > tr > td.align-center
{
	text-align: center;
}

table.table-collapse .col-collapse
{
	padding-left: 0;
	padding-right: 0;
	width: 26px;
}

table.table-collapse > tbody > tr > td .collapse
{
	background: url(../img/radio-accordion-sprite.jpg) 0 0 no-repeat;
	display: block;
	height: 26px;
	text-decoration: none;
	width: 26px;
}

table.table-collapse > tbody > tr.open > td .collapse
{
	background-position: -26px 0;
}

table.table-collapse > tbody > tr.collapsable > td
{
	background: #E5E5E5;
	border-top: none;
	box-shadow: inset 0 3px 5px -3px rgba(0, 0, 0, 0.4);
	font-size: 1em;
	line-height: 1;
	padding: 10px 15px 15px;
}

table.table-calendar > thead > tr > th
{
	font-size: 1.2em;
	line-height: 1.3em;
	padding: 0;
}

table.table-calendar > thead > tr > th,
table.table-calendar > tbody > tr > td
{
	text-align: center;
}

table.table-calendar > tbody > tr > td
{
	background: #FFFFFF;
	border-left: 1px solid #000;
	color: #7AC142;
	cursor: pointer;
	font-size: 1.2em;
	padding: 8px;
	width: 14.285714%;
}

table.table-calendar > tbody > tr:last-child > td
{
	border-bottom: 1px solid #636366;
}

table.table-calendar > tbody > tr > td:last-child
{
	border-right: 1px solid #636366;
}

table.table-calendar > tbody > tr > td.disabled
{
	background: url(../img/scanlines.png) 0 0 repeat;
	color: #636366;
	cursor: default;
	font-size: 1em;
}

table.table-calendar > tbody > tr > td.active
{
	background: #7AC142;
	color: #FFFFFF;
}

/*
 * Credit Card Containers
 *****************************************************************/
.credit-card-container
{
	position: relative;
}

.credit-card-container:after
{
	/* Background position is set so none of the sprite shows until a type is chosen */
	background: url(../img/credit-card-sprite.png) 0 34px no-repeat;
	content: '';
	display: block;
	height: 34px;
	position: absolute;
	right: 3px;
	top: 50%;
	transform: translateY(-50%);
	width: 51px;
}

.credit-card-container.cardtype-visa:after            { background-position: 0 0; }
.credit-card-container.cardtype-mastercard:after      { background-position: -51px 0; }
.credit-card-container.cardtype-americanexpress:after { background-position: -102px 0; }
.credit-card-container.cardtype-discover:after        { background-position: -153px 0; }

/*
 * Site header
 *****************************************************************/
#mobile-nav-menu,
#mobile-property-menu,
#mobile-address-bar
{
	display: none;
}

#site-header
{
	background: #FFFFFF;
	min-height: 70px;
	padding: 15px 0 0 0;
	position: relative;
}

#site-header:after
{
	clear: both;
	content: '';
	display: block;
}

#site-header .mobile-menu-icon
{
	/* background: url(../img/mobile-nav-button-white.png) 0 0 no-repeat; */
	background-size: auto 24px;
	display: none;
	height: 24px;
	left: 18px;
	position: absolute;
	text-decoration: none;
	top: 18px;
	width: 31px;
}

#site-header .logo
{
	background: url(../img/logo.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 30px;
	margin: 5px 5px;
	text-decoration: none;
	width: initial;
}

#site-header .tel
{
	color: #ffffff;
	margin: 10px 0 0;
}

#site-header .right-content
{
	float: right;
}

#site-header .right-content:after
{
	clear: both;
	content: '';
	display: block;
}

#site-header .right-content .welcome,
#site-header .right-content .buttons
{
	float: left;
}

#site-header .right-content .welcome
{
	color: #7ac142;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 38px;
	margin-right: 40px;
}

#site-header .right-content .welcome a
{
	color: #7ac142;
	display: inline-block;
	font-weight: bold;
	margin-left: 10px;
	text-decoration: underline;
}

#site-header .right-content .welcome a.phone-number
{
	text-decoration: none;
}

#site-header .right-content .welcome .separator
{
	display: inline-block;
	margin: 0 10px;
}

#site-header .right-content .welcome .separator + a
{
	margin-left: 0;
}

#site-header .right-content .welcome #logout-form
{
	display: none;
}

#site-header .right-content .buttons .btn-taller
{
	font-size: 1.4em;
}

#site-header .right-content .buttons .btn-down-arrow:after
{
	margin-bottom: -0.43em;
}

#site-header .links
{
	margin-top: 18px;
	text-align: right;
}

#site-header .links li
{
	display: inline-block;
	margin-left: 30px;
}

#site-header .links li a
{
	color: #636366;
	font-weight: bold;
	text-decoration: none;
}
@media (max-width: 1024px)
{
	#site-header .logo
	{
		width: 129px;
	}
}

@media (max-width: 767px)
{
	#site-header
	{
		box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
		height: 60px;
		left: 0;
		min-height: 0;
		padding-top: 10px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
	}
	
	#site-header .logo
	{
		margin-left: 0;
		width:150px;
		margin-top:9px;
	}
	
	#site-header .mobile-menu-icon
	{
		display: block;
		font-size:30px;
	}
	
	#mobile-nav-menu
	{
		background: #FFFFFF;
		box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3) inset;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		transform: translateX(-100%);
		transition: transform 0.3s ease;
		width: 80%;
		
		-webkit-transform: translateX(-100%);
		-webkit-transition: -webkit-transform 0.3s ease;
	}
	
	#mobile-nav-menu > ul > li
	{
		border-bottom: 1px solid #E4E4E4;
	}
	
	#mobile-nav-menu > ul > li.active
	{
		background: #7AC142;
	}
	
	#mobile-nav-menu > ul > li > a
	{
		display: table;
		height: 64px;
		text-decoration: none;
		width: 100%;
	}
	
	#mobile-nav-menu > ul > li > a > .col
	{
		display: table-cell;
		vertical-align: middle;
	}
	
	#mobile-nav-menu > ul > li > a > .col.notification
	{
		padding-left: 10px;
		text-align: center;
		width: 30px;
	}
	
	#mobile-nav-menu > ul > li > a > .col.notification.red:before,
	#mobile-nav-menu > ul > li > a > .col.notification.yellow:before
	{
		background: #EE3124;
		border-radius: 50%;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
		color: #FFFFFF;
		content: '!';
		display: inline-block;
		font-size: 1.3em;
		font-weight: normal;
		height: 20px;
		line-height: 20px;
		text-align: center;
		text-shadow: 1px 1px 1px #000000;
		width: 20px;
	}
	
	#mobile-nav-menu > ul > li > a > .col.icon
	{
		display: none;
		width: 40px;
	}
	
	#mobile-nav-menu > ul > li > a > .col.icon:before
	{
		background: url(../img/myaccount-nav-icons-sprite.png) 48px 48px no-repeat;
		content: '';
		display: block;
		height: 48px;
		width: 48px;
	}
	
	#mobile-nav-menu > ul > li.my-account > a > .col.icon:before { background-position: 0 -144px; }
	#mobile-nav-menu > ul > li.payments > a > .col.icon:before { background-position: -48px -144px; }
	#mobile-nav-menu > ul > li.contact-profile > a > .col.icon:before { background-position: -96px -144px; }
	#mobile-nav-menu > ul > li.faqs > a > .col.icon:before { background-position: -144px -144px; }
	
	#mobile-nav-menu > ul > li.active.my-account > a > .col.icon:before { background-position: 0 0; }
	#mobile-nav-menu > ul > li.active.payments > a > .col.icon:before { background-position: -48px 0; }
	#mobile-nav-menu > ul > li.active.contact-profile > a > .col.icon:before { background-position: -96px 0; }
	#mobile-nav-menu > ul > li.active.faqs > a > .col.icon:before { background-position: -144px 0; }
	
	#mobile-nav-menu > ul > li > a > .col.text
	{
		color: #7AC142;
		font-size: 1.5em;
		font-weight: bold;
	}
	
	#mobile-nav-menu > ul > li.active > a > .col.text
	{
		color: #FFFFFF;
	}
	
	#site-header,
	#page-content,
	#site-footer
	{
		transition: transform 0.3s ease;
		-webkit-transition: -webkit-transform 0.3s ease;
	}
	
	body.mobile-nav-menu #mobile-nav-menu
	{
		transform: translateX(0);
		-webkit-transform: translateX(0);
		z-index: 1;
	}
	
	body.mobile-nav-menu #site-header,
	body.mobile-nav-menu #page-content,
	body.mobile-nav-menu #site-footer
	{
		transform: translateX(80%);
		-webkit-transform: translateX(80%);
	}
	
	body.myaccount-nav-dropdown #site-header,
	body.myaccount-nav-dropdown #page-content,
	body.myaccount-nav-dropdown #site-footer
	{
		transform: translateX(-80%);
		-webkit-transform: translateX(-80%);
	}
	
	body.myaccount-nav-dropdown #page-overlay
	{
		display: none !important;
	}
}
@media (max-width: 400px)
{
	#site-header .logo
	{
		background-size: 160px 33px;
		height: 33px;
		margin-top: 8px;
		width: 118px;
	}
}
.pageBody {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}
.pageBody #page-content {
	flex: 1;
}


/*
 * Page content
 *****************************************************************/
#page-content
{
	margin-bottom: 10%;
}
 
@media (max-width: 767px)
{
	#page-content
	{
		padding-top: 70px;
		margin-bottom:25%;
	}
}

/*
 * Site footer
 *****************************************************************/
#site-footer
{
	background: #F3F3F3;
}

#site-footer .wrapper
{
	margin: auto;
	max-width: 1500px;
	padding: 0 4% 40px;
	position: relative;
	width: 100%;
}

#site-footer .footer-main
{
	color: #59595B;
	font-size: 14px;
	line-height: 24px;
	padding: 28px 0;
	padding-bottom:0;
	text-align:center;
}

#site-footer .footer-main strong
{
	color: #161616;
	font-weight: bold;
}

#site-footer .footer-main a
{
	color: #59595B;
	text-decoration: none;
}

#site-footer .footer-main img
{
	border: 0;
	display: block;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

#site-footer .footer-main ul,
#site-footer .footer-main ol
{
	margin: 0;
	padding: 0;
}

#site-footer .footer-main ul li
{
	color: #010B03;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

#site-footer .footer-main .cols
{
	margin-top: 0;
	font-size:9px;
}

#site-footer .footer-main .cols > *
{
	padding-top: 0;
}

#site-footer .footer-main .footer-top,
#site-footer .footer-main .footer-middle
{
	border-bottom: 1px solid #221F20;
}

#site-footer .footer-main .footer-middle
{
	border-top: 1px solid #221F20;
	padding: 30px 0 36px;
}

#site-footer .footer-main .footer-middle .cols > *
{
	display: inline-block;
	float: none;
	margin-right: -2px;
	vertical-align: middle;
}

#site-footer .footer-main .footer-middle .service-master a
{
	display: inline-block;
	max-width: 218px;
	vertical-align: middle;
}

#site-footer .footer-main .service-master-brands
{
	border-left: 1px solid #221F20;
	margin-left: 20px;
	padding-left: 42px;
}

#site-footer .footer-main .service-master-brands ul li
{
	display: inline-block;
	padding: 4px 5px;
	vertical-align: middle;
}

#site-footer .footer-main .service-master-brands .our-brands
{
	display: none;
	padding: 0;
}

#site-footer .footer-main .service-master-brands li a
{
	position: relative;
	vertical-align: middle;
}

#site-footer .footer-main .service-master-brands li a:after,
#site-footer .footer-main .footer-bottom ul li a:after
{
	background: #221F20;
	bottom: 0;
	content: "";
	height: 8px;
	margin: auto;
	position: absolute;
	right: -7px;
	top: -2px;
	width: 1px;
}

#site-footer .footer-main .service-master-brands li:last-child a:after,
#site-footer .footer-main .footer-bottom ul li:last-child a:after
{
	display: none;
}

#site-footer .footer-main .footer-bottom
{
	padding: 23px 0 14px;
	text-align: center;
}

#site-footer .footer-main .footer-bottom .footer-bottom-content
{
	margin: 0 auto;
}

#site-footer .footer-main .footer-bottom ul,
#site-footer .footer-main .footer-bottom ul li
{
	display: inline-block;
	vertical-align: middle;
}

#site-footer .footer-main .footer-bottom ul
{
	margin-bottom: 15px;
}

#site-footer .footer-main .footer-bottom ul li
{
	font-size: 10px;
	padding: 0 3px;
}

#site-footer .footer-main .footer-bottom ul li a
{
	letter-spacing: -0.30px;
	position: relative;
}

#site-footer .footer-main .footer-bottom ul li a:after
{
	right: -4px;
	top: 0;
}

#site-footer .footer-main .footer-bottom p
{
	color: #59595B;
	font-size: 9px;
	line-height: 1.6;
	margin: 0 0 20px;
}

@media (max-width: 767px)
{
	#site-footer .wrapper
	{
		padding-bottom: 0;
	}
	
	#site-footer .footer-main
	{
		padding: 8px 0;
		text-align: center;
	}
	
	#site-footer .footer-main ul li
	{
		font-size: 20px;
		padding-bottom: 18px;
	}
	
	#site-footer .footer-main .container
	{
		max-width: 100%;
		width: 895px;
	}
	
	#site-footer .footer-main .footer-middle
	{
		padding: 50px 0 38px;
	}
	
	#site-footer .footer-main .footer-middle .service-master
	{
		margin: 0 0 40px;
	}
	
	#site-footer .footer-main .footer-middle .service-master a
	{
		max-width: 314px;
	}
	
	#site-footer .footer-main .service-master-brands
	{
		border-left: 0;
		margin: 0;
		padding: 0;
	}
	
	#site-footer .footer-main .service-master-brands .our-brands
	{
		display: block;
		padding: 4px 5px 13px 5px;
	}
	
	#site-footer .footer-main .service-master-brands ul li
	{
		display: block;
		font-size: 17px;
		padding-bottom: 13px;
	}
	
	#site-footer .footer-main .service-master-brands li a:after
	{
		display: none;
	}
	
	#site-footer .footer-main .footer-bottom
	{
		padding: 50px 0 9px;
	}
	
	#site-footer .footer-main .footer-bottom .footer-bottom-content
	{
		width: 70%;
	}
	
	#site-footer .footer-main .footer-bottom ul
	{
		margin-bottom: 24px;
	}
	
	#site-footer .footer-main .footer-bottom ul li
	{
		font-size: 15px;
		padding: 0 7px;
	}
	
	#site-footer .footer-main .footer-bottom ul li a:after
	{
		right: -9px;
		height: 11px;
	}
	
	#site-footer .footer-main .footer-bottom p
	{
		font-size: 15px;
		padding-bottom: 21px;
	}
}

/*
 * Alerts
 *****************************************************************/
#alerts .alert
{
	background: #FFFFFF;
	border: 3px solid #636366;
	margin-bottom: 20px;
	padding: 10px 15px 10px 10px;
	position: relative;
}

#alerts .alert.has-icon
{
	padding-left: 70px;
}

#alerts .alert:after
{
	clear: both;
	content: '';
	display: block;
}

#alerts .alert .alert-button
{
	float: right;
	font-size: 1.5em;
	margin-left: 20px;
	padding: 10px 20px;
}

#alerts .alert .icon
{
	background: #FFFFFF;
	border: 3px solid #636366;
	border-radius: 50%;
	color: #636366;
	display: block;
	height: 40px;
	font-size: 2.2em;
	font-weight: bold;
	left: 20px;
	line-height: 34px;
	position: absolute;
	text-align: center;
	top: 9px;
	width: 40px;
}

#alerts .alert .btn.close
{
	border-radius: 50%;
	float: right;
	font-size: 1.4em;
	height: 30px;
	line-height: 30px;
	margin-left: 20px;
	margin-top: 3px;
	padding: 0;
	text-align: center;
	width: 30px;
}

#alerts .alert .message
{
	color: #636366;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.3em;
	margin: 0;
	padding: 8px 0;
}

#alerts .alert.red
{
	background: #FFE1E1;
	border-color: #F1372A;
}

#alerts .alert.red .icon
{
	border-color: #F1372A;
	color: #F1372A;
}

#alerts .alert.red .btn
{
	background: #F1372A;
}

#alerts .alert.yellow
{
	background: #FFFAE3;
	border-color: #EAC401;
}

#alerts .alert.yellow .icon
{
	border-color: #EAC401;
	color: #EAC401;
}

#alerts .alert.yellow .btn
{
	background: #EAC401;
}

#alerts .alert.green
{
	background: #DEFFEC;
	border-color: #7AC142;
}

#alerts .alert.green .icon
{
	border-color: #7AC142;
	color: #7AC142;
}

#alerts .alert.green .btn
{
	background: #7AC142;
}
.wrapper .mobile-menu{
	display:none;
}

@media (max-width: 767px)
{
	#alerts .alert.has-icon
	{
		padding-left: 60px;
	}
	
	#alerts .alert .icon
	{
		left: 10px;
	}
	
	#alerts .alert .alert-button
	{
		float: none;
		margin: 10px -15px -10px -10px;
		text-align: center;
	}
	
	#alerts .alert.has-icon .alert-button
	{
		margin-left: -60px;
	}
	.wrapper .mobile-menu{
		display:block;
	}
}

@media (min-width: 767px)
{
	#alerts .alert .alert-button.visible-xs
	{
		display: none;
	}
	.#site-header #amazonImg{
		margin-left:61px;
	}
}
#site-header #divider{
	width:initial;
}

@media (max-width: 767px)
{
	#site-header #amazonImg{
		margin-left:61px;
	}
}