/*
 * Wrapper styles
 *****************************************************************/
#page-content
{
	padding-top: 30px;
}
 
#page-content .wrapper
{
	max-width: 460px;
}

#page-content p
{
	font-size: 1.5em;
}

#page-content .list-heading
{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
}

#page-content ul
{
	font-size: 1.2em;
	line-height: 1.4em;
	list-style-type: disc;
	margin-bottom: 1.5em;
	padding-left: 20px;
}

#page-content ul li
{
	margin-bottom: 5px;
}

#page-content .form-buttons .btn
{
	display: inline-block;
	width: auto;
}

@media (max-width: 767px)
{
	#page-content
	{
		padding-top: 80px;
	}
	
	.steps > .step .step-header .step-header-text
	{
		font-size: 2em;
	}
}