/*
 * Wrapper styles
 *****************************************************************/
#page-content
{
	padding-top: 30px;
}
 
#page-content .wrapper
{
	max-width: 370px;
}

#page-content .prompt
{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
}

#page-content ol
{
	font-size: 1.2em;
	list-style-type: decimal;
	margin-bottom: 15px;
	padding-left: 20px;
}

#page-content ol li
{
	line-height: 1.4em;
	margin-bottom: 5px;
}

#page-content .form-buttons .btn
{
	max-width: 177px;
}

@media (max-width: 767px)
{
	#page-content
	{
		padding-top: 80px;
	}
}