/*
 * Module-specific styles: Contact Info Large
 *****************************************************************/
.module.module-contact-info-large .module-header .module-header-text {
    line-height: 40px;
    padding-left: 50px;
    position: relative;
}

.module.module-contact-info-large .module-header .module-header-text:before {
    background: url(../img/myaccount-module-header-icons-sprite.png) -93px 0 no-repeat;
    content: '';
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.module.module-contact-info-large .module-content > p:first-child {
    color: #414042;
    font-size: 1.6em;
    font-weight: 600;
}

.module.module-contact-info-large .module-content .form-cols {
    width: 75%;
}

.module.module-contact-info-large .module-content .qas-validator .prompt {
    color: #0C8F43;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 0.75em;
}

.module.module-contact-info-large .module-content .qas-validator .form-buttons {
    margin-top: 30px;
}

@media (max-width: 767px) {
    .module.module-contact-info-large .module-content .form-cols {
        width: 100%;
    }

    .module.module-contact-info-large .module-content .qas-validator .form-buttons {
        text-align: center;
    }

    .module.module-contact-info-large .module-content .qas-validator .form-buttons .btn {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .module.module-contact-info-large .module-content .qas-validator .form-buttons .btn {
        max-width: none;
        width: auto;
    }
}

/*
 * Module-specific styles: Change Password
 *****************************************************************/
.module.module-change-password {}

/*
 * Module-specific styles: Payments Small
 *****************************************************************/
.module.module-payments-small .module-header .module-header-text {
    line-height: 26px;
    padding-left: 43px;
    position: relative;
}

.module.module-payments-small .module-header .module-header-text:before {
    background: url(../img/myaccount-module-header-icons-sprite.png) -27px 0 no-repeat;
    content: '';
    display: block;
    height: 26px;
    left: 0;
    position: absolute;
    top: 0;
    width: 33px;
}

.module.module-payments-small .module-content {
    padding-top: 10px;
}

.module.module-payments-small .payments-header {
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.module.module-payments-small .payments-due li {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 0.5em;
    padding-right: 30px;
}

.module.module-payments-small .payments-due li:after {
    clear: both;
    content: '';
    display: block;
}

.module.module-payments-small .payments-due li .amount {
    float: right;
    text-align: right;
}

.module.module-payments-small .hr {
    margin-left: -8px;
    margin-right: -8px;
}

.module.module-payments-small .hr-line {
    margin-bottom: 10px;
    margin-top: 15px;
}

.module.module-payments-small .payments-total {
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 1.5em;
    padding-right: 30px;
}

.module.module-payments-small .payments-total .amount {
    float: right;
}

.module.module-payments-small .form-buttons {
    margin-bottom: 20px;
}

.module.module-payments-small .payment-history {
    margin-bottom: 0;
}

.module.module-payments-small .view-payment-history {
    font-size: 1.14em;
    font-weight: 600;
}

/*
 * Module-specific styles: Contact Info Small
 *****************************************************************/
.module.module-contact-info-small .module-header .module-header-text {
    line-height: 33px;
    padding-left: 37px;
    position: relative;
}

.module.module-contact-info-small .module-header .module-header-text:before {
    background: url(../img/myaccount-module-header-icons-sprite.png) 0 0 no-repeat;
    content: '';
    display: block;
    height: 33px;
    left: 0;
    position: absolute;
    top: 0;
    width: 27px;
}

.module.module-contact-info-small p {
    font-size: 1.4em;
    line-height: 1.6em;
}

.module.module-contact-info-small p.prompt {
    margin-bottom: 0.5em;
}

.module.module-contact-info-small p.prompt .new {
    font-size: 1.28em;
    font-weight: 700;
}

.module.module-contact-info-small a,
.module.module-contact-info-small .btn {
    font-size: 1.6em;
    font-weight: 700;
}

.module.module-contact-info-small .qas-validator .prompt {
    color: #0C8F43;
    font-size: 2em;
    font-weight: 800;
    line-height: 1.2em;
    margin-bottom: 0.75em;
}

.module.module-contact-info-small .qas-validator .form-buttons {
    margin-top: 30px;
}

/*
 * Module-specific styles: Customer Benefits
 *****************************************************************/
.module.module-customer-benefits .module-header .module-header-text {
    line-height: 35px;
    padding-left: 43px;
    position: relative;
}

.module.module-customer-benefits .module-header .module-header-text:before {
    background: url(../img/myaccount-module-header-icons-sprite.png) -60px 0 no-repeat;
    content: '';
    display: block;
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 33px;
}

.module.module-customer-benefits .links li {
    margin-bottom: 15px;
}

.module.module-customer-benefits .links li:last-child {
    margin-bottom: 5px;
}

.module.module-customer-benefits .links li a {
    font-size: 1.6em;
    font-weight: 700;
}

/*
 * Module-specific styles: Scheduled Services
 *****************************************************************/
.module.module-scheduled-services p.tentative {
    color: #666666;
    font-style: italic;
    margin-top: -10px;
}

.module.module-scheduled-services .table-collapse .summary td.nowrap {
    white-space: nowrap;
}

.module.module-scheduled-services .table-collapse .summary .btn {
    font-size: 1em;
    padding: 0;
}

.module.module-scheduled-services .table-collapse .summary.tentative td {
    color: #666666;
    font-style: italic;
}

.module.module-scheduled-services .table-collapse .summary.tentative td .btn {
    font-style: normal;
}

.module.module-scheduled-services .table-collapse .collapsable hr {
    border: 0px solid #000;
    border-top-width: 1px;
}

.module.module-scheduled-services .table-collapse .collapsable .detail-view p,
.module.module-scheduled-services .table-collapse .collapsable .detail-view label {
    text-transform: uppercase;
}

.module.module-scheduled-services .table-collapse .collapsable .detail-view p.reschedule {
    margin-bottom: 5px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment,
.module.module-scheduled-services .table-collapse .collapsable .schedule-contact {
    padding-top: 5px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment p.heading,
.module.module-scheduled-services .table-collapse .collapsable .schedule-contact p.heading,
.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-appointment p.heading,
.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-contact p.heading {
    font-size: 1.6em;
    font-weight: 800;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment p.prompt,
.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-appointment p.prompt,
.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-contact p.prompt {
    line-height: 1.2em;
    margin-bottom: 24px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .months-wrapper {
    margin-bottom: 15px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .month-display {
    max-width: 315px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .month-display + .month-display {
    margin-top: 25px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .month-display > p {
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .months-wrapper + p {
    margin-bottom: 8px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .form-radio {
    cursor: pointer;
    display: block;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .form-radio .label-text {
    line-height: 18px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .form-radio .label-text:before {
    height: 18px;
    width: 18px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .form-radio input[type=radio]:checked + .label-text:before {
    border: 5px solid #0c8f43;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .form-buttons {
    float: right;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .selected-date-display {
    margin-top: 15px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .selected-date-display label {
    font-size: 1.6em;
    text-transform: uppercase;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .selected-date-display .value-box {
    color: #484848;
    font-size: 1.4em;
    margin-top: 8px;
    padding: 5px;
    width: 250px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .selected-date-display .value-box .time {
    float: right;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-contact .form-buttons {
    text-align: right;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-appointment,
.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-contact {
    padding: 80px 0;
    position: relative;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-appointment .close,
.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-contact .close {
    border-radius: 50%;
    display: block;
    font-size: 2.5em;
    padding: 0 6px;
    position: absolute;
    right: 0;
    top: 0;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-appointment p,
.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-contact p {
    text-align: center;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-appointment p.prompt {
    margin-bottom: 30px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-contact p.prompt {
    margin-bottom: 0;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-appointment p.heading {
    margin-bottom: 20px;
}

.module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-appointment p.schedule {
    font-size: 2em;
    line-height: 1.2em;
    margin-bottom: 0;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .module.module-scheduled-services tr.summary td:first-child {
        vertical-align: top;
    }

    .module.module-scheduled-services .table-collapse .collapsable .detail-view .form-input {
        margin-top: 25px;
    }

    .module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .times-wrapper:after {
        clear: both;
        content: '';
        display: block;
    }

    .module.module-scheduled-services .table-collapse .collapsable .schedule-appointment .times-wrapper .form-radio {
        float: left;
        width: 50%;
    }

    .module.module-scheduled-services .table-collapse .collapsable .schedule-confirmation-contact {
        padding: 30px;
    }
}

/*
 * Module-specific styles: Service History
 *****************************************************************/
.module.module-service-history .table-collapse .summary .has-pay-button {
    font-size: 1em;
    line-height: 1;
    padding-bottom: 0;
    padding-top: 0;
}

.module.module-service-history .table-collapse .col-balance {
    padding-right: 30px;
    text-align: right;
    width: 100px;
}

.module.module-service-history .table-collapse .collapsable p {
    text-transform: uppercase;
}

.module.module-service-history .table-collapse .collapsable .download-ticket,
.module.module-service-history .table-collapse .collapsable .download-document {
    font-size: 1.6em;
    margin-bottom: 0;
    text-transform: none;
}

.module.module-service-history .table-collapse .collapsable .download-document.loading-spinner {
    background: url(../img/spinner-green.gif) left center no-repeat;
    min-height: 16px;
    padding-left: 30px;
}

.module.module-service-history .table-collapse .collapsable .download-ticket a,
.module.module-service-history .table-collapse .collapsable .download-document a {
    display: inline-block;
    line-height: 17px;
}

.module.module-service-history .table-collapse .collapsable .download-ticket a:before,
.module.module-service-history .table-collapse .collapsable .download-document a:before {
    background: url(../img/pdf-icon.png) 0 0 no-repeat;
    content: '';
    display: inline-block;
    height: 17px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    width: 15px;
}

.module.module-service-history .table-collapse .collapsable .download-document a.retry:before {
    display: none;
}

.module.module-service-history .table-collapse .collapsable hr {
    border: 0px solid #000;
    border-top-width: 1px;
}

.module.module-service-history .view-links {
    margin-top: 15px;
    text-align: right;
}

.module.module-service-history .view-links a {
    display: inline-block;
    font-size: 1.14em;
    font-weight: 700;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .module.module-service-history tr.summary td:first-child {
        vertical-align: top;
    }

    .module.module-service-history tr.summary td .btn {
        font-size: 1em;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .module.module-service-history .table-collapse .collapsable .download-ticket,
    .module.module-service-history .table-collapse .collapsable .download-document {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {

    .module.module-service-history .table-collapse .collapsable .download-ticket,
    .module.module-service-history .table-collapse .collapsable .download-document {
        float: right;
    }
}

/*
 * Module-specific styles: My Services
 *****************************************************************/
.module.module-my-services .module-header {
    margin-bottom: 20px;
}

.module.module-my-services .module-header .module-header-text {
    line-height: 1;
}

.module.module-my-services .module-header .module-header-text.address {
    color: #000000;
    font-size: 2.1em;
}

.module.module-my-services .table-collapse .summary .reschedule-button {
    font-size: 1em;
    line-height: 1;
    padding: 5px 0;
    width: 200px;
}

.module.module-my-services .table-collapse .summary .reschedule-button .btn {
    display: none;
}

.module.module-my-services .table-collapse .summary .reschedule-button.has-reschedule-button .btn {
    display: inline-block;
}

.module.module-my-services .table-collapse .scanmaster-link {
    display: inline-block;
    font-size: 1.6em;
}

.module.module-my-services .table-collapse .has-reschedule-button .scanmaster-link {
    margin-top: 0.5em;
}

.module.module-my-services .table-collapse .collapsable hr {
    border: 0px solid #000;
    border-top-width: 1px;
}

.module.module-my-services .table-collapse .collapsable .detail-view {
    padding-top: 5px;
}

.module.module-my-services .table-collapse .collapsable .detail-view .download-ticket {
    font-size: 1.6em;
    margin-bottom: 0;
}

.module.module-my-services .table-collapse .collapsable .detail-view .download-ticket a {
    display: inline-block;
    line-height: 17px;
}

.module.module-my-services .table-collapse .collapsable .detail-view .download-ticket a:before {
    background: url(../img/pdf-icon.png) 0 0 no-repeat;
    content: '';
    display: inline-block;
    height: 17px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    width: 15px;
}

.module.module-my-services .table-collapse .collapsable .detail-view .service-details {
    font-size: 1.4em;
    line-height: 1.4em;
}

.module.module-my-services .table-collapse .collapsable .detail-view .service-details th {
    padding-right: 30px;
    text-transform: uppercase;
    vertical-align: top;
}

.module.module-my-services .table-collapse .collapsable .detail-view .service-details td {
    font-weight: 400;
    vertical-align: top;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment,
.module.module-my-services .table-collapse .collapsable .schedule-contact {
    padding-top: 5px;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment p.heading,
.module.module-my-services .table-collapse .collapsable .schedule-contact p.heading,
.module.module-my-services .table-collapse .collapsable .schedule-details p.heading,
.module.module-my-services .table-collapse .collapsable .schedule-confirmation-appointment p.heading,
.module.module-my-services .table-collapse .collapsable .schedule-confirmation-contact p.heading {
    font-size: 1.6em;
    font-weight: 800;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment p.prompt,
.module.module-my-services .table-collapse .collapsable .schedule-details p.prompt,
.module.module-my-services .table-collapse .collapsable .schedule-confirmation-appointment p.prompt,
.module.module-my-services .table-collapse .collapsable .schedule-confirmation-contact p.prompt {
    line-height: 1.2em;
    margin-bottom: 24px;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .months-wrapper {
    margin-bottom: 15px;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .month-display {
    max-width: 315px;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .month-display + .month-display {
    margin-top: 25px;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .month-display > p {
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .months-wrapper + p {
    margin-bottom: 8px;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .form-radio {
    cursor: pointer;
    display: block;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .form-radio .label-text {
    line-height: 18px;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .form-radio .label-text:before {
    height: 18px;
    width: 18px;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .form-radio input[type=radio]:checked + .label-text:before {
    border: 5px solid #0c8f43;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .form-buttons {
    float: right;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .selected-date-display {
    margin-top: 15px;
}

.module.module-my-services .table-collapse .collapsable .schedule-details .selected-date-display + hr {
    margin: 20px 0 10px;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .selected-date-display label,
.module.module-my-services .table-collapse .collapsable .schedule-details .selected-date-display label {
    font-size: 1.6em;
    text-transform: uppercase;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .selected-date-display .value-box,
.module.module-my-services .table-collapse .collapsable .schedule-details .selected-date-display .value-box {
    color: #484848;
    font-size: 1.4em;
    margin-top: 8px;
    padding: 5px;
    width: 250px;
}

.module.module-my-services .table-collapse .collapsable .schedule-appointment .selected-date-display .value-box .time,
.module.module-my-services .table-collapse .collapsable .schedule-details .selected-date-display .value-box .time {
    float: right;
}

.module.module-my-services .table-collapse .collapsable .schedule-details .form-buttons,
.module.module-my-services .table-collapse .collapsable .schedule-contact .form-buttons {
    text-align: right;
}

.module.module-my-services .table-collapse .collapsable .schedule-confirmation-appointment,
.module.module-my-services .table-collapse .collapsable .schedule-confirmation-contact {
    padding: 80px 0;
    position: relative;
}

.module.module-my-services .table-collapse .collapsable .schedule-details .selected-date-display .value-box {
    position: relative;
}

.module.module-my-services .table-collapse .collapsable .schedule-details .selected-date-display .value-box .edit {
    display: block;
    left: 100%;
    margin-left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.module.module-my-services .table-collapse .collapsable .schedule-details .prompt-heading.heading {
    margin-bottom: 2px;
}

.module.module-my-services .table-collapse .collapsable .schedule-details .checkboxes .heading {
    margin-bottom: 10px;
}

.module.module-my-services .table-collapse .collapsable .schedule-details .form-checkbox {
    margin-bottom: 10px;
}

.module.module-my-services .table-collapse .collapsable .schedule-details .form-checkbox label {
    color: #000;
    margin-bottom: 0;
    text-transform: uppercase;
}

.module.module-my-services .table-collapse .collapsable .schedule-details .note label {
    color: #000;
    text-transform: uppercase;
}

.module.module-my-services .table-collapse .collapsable .schedule-details .note textarea {
    min-height: 120px;
}

.module.module-my-services .table-collapse .collapsable .schedule-confirmation-appointment .close,
.module.module-my-services .table-collapse .collapsable .schedule-confirmation-contact .close {
    border-radius: 50%;
    display: block;
    font-size: 2.5em;
    padding: 0 6px;
    position: absolute;
    right: 0;
    top: 0;
}

.module.module-my-services .table-collapse .collapsable .schedule-confirmation-appointment p,
.module.module-my-services .table-collapse .collapsable .schedule-confirmation-contact p {
    text-align: center;
}

.module.module-my-services .table-collapse .collapsable .schedule-confirmation-appointment p.prompt {
    margin-bottom: 30px;
}

.module.module-my-services .table-collapse .collapsable .schedule-confirmation-contact p.prompt {
    margin-bottom: 0;
}

.module.module-my-services .table-collapse .collapsable .schedule-confirmation-appointment p.heading {
    margin-bottom: 20px;
}

.module.module-my-services .table-collapse .collapsable .schedule-confirmation-appointment p.schedule {
    font-size: 2em;
    line-height: 1.2em;
    margin-bottom: 0;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .module.module-my-services tr.summary td:first-child {
        vertical-align: top;
    }

    .module.module-my-services tr.summary td .btn {
        font-size: 1em;
    }

    .module.module-my-services .table-collapse .summary .reschedule-button {
        display: block;
        margin-top: 7px;
        padding: 0;
    }

    .module.module-my-services .table-collapse .summary .scanmaster-link {
        font-size: 1em;
    }

    .module.module-my-services .table-collapse .collapsable .detail-view .service-details {
        font-size: 1.6em;
    }

    .module.module-my-services .table-collapse .collapsable .detail-view .service-details .frequency:after {
        clear: both;
        content: '';
        display: block;
    }

    .module.module-my-services .table-collapse .collapsable .detail-view .service-details .frequency > * {
        display: block;
        float: left;
        margin-left: 5px;
    }

    .module.module-my-services .table-collapse .collapsable .detail-view .service-details .frequency > *:first-child {
        margin-left: 0;
    }

    .module.module-my-services .table-collapse .collapsable .detail-view .download-ticket {
        margin-top: 20px;
    }

    .module.module-my-services .table-collapse .collapsable .schedule-appointment .months-wrapper + p {
        margin-bottom: 12px;
        margin-top: 10px;
    }

    .module.module-my-services .table-collapse .collapsable .schedule-appointment .times-wrapper:after {
        clear: both;
        content: '';
        display: block;
    }

    .module.module-my-services .table-collapse .collapsable .schedule-appointment .times-wrapper .form-radio {
        float: left;
        width: 50%;
    }

    .module.module-my-services .table-collapse .collapsable .schedule-details .checkboxes {
        margin-bottom: 20px;
    }

    .module.module-my-services .table-collapse .collapsable .schedule-details .checkboxes * + .heading {
        margin-top: 20px;
    }

    .module.module-my-services .table-collapse .collapsable .schedule-confirmation-contact {
        padding: 30px;
    }
}

@media (min-width: 768px) {
    .module.module-my-services .table-collapse .collapsable .detail-view .download-ticket {
        float: right;
    }
}

/*
 * Module-specific styles: Due Payments
 *****************************************************************/
.module.module-due-payments {
    margin-bottom: 60px;
}

.module.module-due-payments .no-payments-due {
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    color: #747474;
    font-size: 2em;
    font-weight: 700;
    line-height: 1;
    padding: 20px 0;
    text-align: center;
}

.module.module-due-payments .has-payments-due {
    margin-top: -12px;
}

.module.module-due-payments .has-payments-due > p:first-child {
    font-weight: 600;
}

.module.module-due-payments .table-collapse .col-balance {
    text-align: right;
    vertical-align: top;
}

.module.module-due-payments .table-collapse .col-amount {
    color: #0C8F43;
    width: 150px;
}

.module.module-due-payments .table-collapse .mobile-amount td {
    border-top: 0;
}

.module.module-due-payments .table-collapse .summary .form-input,
.module.module-due-payments .table-collapse .mobile-amount .form-input {
    margin: 0;
    position: relative;
}

.module.module-due-payments .table-collapse .mobile-amount .form-input {
    float: right;
    width: 140px;
}

.module.module-due-payments .table-collapse .summary .form-input:before,
.module.module-due-payments .table-collapse .mobile-amount .form-input:before {
    bottom: 10px;
    color: #747474;
    content: '$';
    display: block;
    font-size: 1em;
    font-weight: 700;
    left: 10px;
    line-height: 1em;
    position: absolute;
}

.module.module-due-payments .table-collapse .mobile-amount .form-input label {
    color: #0C8F43;
    font-size: 1em;
    text-transform: uppercase;
}

.module.module-due-payments .table-collapse .summary .form-input input,
.module.module-due-payments .table-collapse .mobile-amount .form-input input {
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    padding-left: 25px;
    padding-top: 6px;
    padding-bottom: 7px;
    text-align: right;
}

.module.module-due-payments .table-collapse .collapsable p {
    text-transform: uppercase;
}

.module.module-due-payments .table-collapse .collapsable .download-ticket {
    font-size: 1.6em;
    margin-bottom: 0;
    text-align: right;
    text-transform: none;
}

.module.module-due-payments .table-collapse .collapsable .download-ticket a {
    display: inline-block;
    line-height: 17px;
}

.module.module-due-payments .table-collapse .collapsable .download-ticket a:before {
    background: url(../img/pdf-icon.png) 0 0 no-repeat;
    content: '';
    display: inline-block;
    height: 17px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    width: 15px;
}

.module.module-due-payments .table-collapse .collapsable p.popup-disclaimer {
    font-size: 1.2em;
    font-size: 1.125em;
    font-weight: 300;
    margin: 5px 0 0;
    text-align: right;
    text-transform: none;
}

.module.module-due-payments .payment-summary {
    padding: 10px;
}

.module.module-due-payments .payment-summary:after {
    clear: both;
    content: '';
    display: block;
}

.module.module-due-payments .payment-summary .payment-total {
    color: #747474;
    float: right;
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 0;
    text-align: right;
    text-transform: uppercase;
}

.module.module-due-payments .payment-summary .pay-total-balance {
    float: right;
    font-size: 1.8em;
    font-weight: 700;
    margin-right: 35px;
    text-transform: none;
}

.module.module-due-payments .payment-summary .payment-total .value {
    color: #0C8F43;
    font-size: 1.5em;
    font-weight: 600;
}

.module.module-due-payments .payment-method {
    padding: 0 10px;
}

.module.module-due-payments .payment-method-information {
    padding-bottom: 20px;
}

.module.module-due-payments .payment-method-information > li {
    padding: 0 10px;
}

.module.module-due-payments .payment-method-information > li .form-input-help-tooltip.card-security {
    width: 370px;
}

.module.module-due-payments .payment-method-information > li .form-input-help-tooltip.card-security .col-back {
    float: left;
    width: 200px;
}

.module.module-due-payments .payment-method-information > li .form-input-help-tooltip.card-security .col-amex {
    float: left;
    width: 120px;
}

.module.module-due-payments .payment-method-information > li .form-input-help-tooltip.card-security > p {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
}

.module.module-due-payments .payment-method-information > li .form-input-help-tooltip.card-security img {
    margin-bottom: 0.5em;
}

.module.module-due-payments .payment-method-information > li .form-input-help-tooltip.card-security p:last-child {
    margin-bottom: 0;
}

.module.module-due-payments .payment-method-information > li .form-checkbox-help-tooltip.easy-pay {
    width: 240px;
}

.module.module-due-payments .payment-method-information > li .form-checkbox-help-tooltip.easy-pay p {
    margin-bottom: 0;
}

.module.module-due-payments .payment-method-information > li .easy-pay-terms-and-conditions strong {
    font-weight: 600;
}

@media (min-width: 768px) {
    .module.module-due-payments .table-collapse .col-balance {
        padding-right: 25px;
    }
}

@media (max-width: 767px) {
    .module.module-due-payments tr.summary td:first-child {
        vertical-align: top;
    }

    .module.module-due-payments tr.summary td {
        padding-bottom: 0;
    }

    .module.module-due-payments tr.mobile-amount td {
        padding-top: 0;
    }

    .module.module-due-payments .payment-summary {
        margin-bottom: 30px;
    }

    .module.module-due-payments .payment-summary .payment-total {
        margin-bottom: 0;
    }

    .module.module-due-payments .payment-summary .pay-total-balance {
        margin-bottom: 0.5em;
        margin-right: 0;
    }

    .module.module-due-payments .payment-method-information > li .form-input-help-tooltip.card-security {
        margin-top: 4px;
        width: 100%;
    }
}

/*
 * Module-specific styles: Year In Advance
 *****************************************************************/
.module.module-yia-pay table .form-checkbox {
    margin-bottom: 0;
}

.module.module-yia-pay table .form-checkbox label {
    font-size: inherit;
}

.module.module-yia-pay table > tbody > tr.summary.selected > td {
    color: #FF821C;
}

.module.module-yia-pay table > tbody > tr.summary.discount > td {
    color: #0C8F43;
}

.module.module-yia-pay table.table-collapse > tbody > tr.collapsable > td {
    /* copied styles from original td styles, which are overridden by collapsable table styles */
    font-size: 1.6em;
    line-height: 26px;
    padding: 11px 5px;
}

.module.module-yia-pay .payment-summary {
    padding: 10px;
}

.module.module-yia-pay .payment-summary:after {
    clear: both;
    content: '';
    display: block;
}

.module.module-yia-pay .payment-summary .payment-total {
    color: #747474;
    float: right;
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 0;
    text-align: right;
    text-transform: uppercase;
}

.module.module-yia-pay .payment-summary .payment-total .value {
    color: #0C8F43;
    font-size: 1.5em;
    font-weight: 600;
}

.module.module-yia-pay .form-buttons .btn {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .module.module-yia-pay .table-collapse .col-amount {
        text-align: right;
    }

    .module.module-yia-pay .payment-summary {
        margin-bottom: 30px;
    }

    .module.module-yia-pay .payment-summary .payment-total {
        text-align: right;
    }
}

/*
 * Module-specific styles: Payment History
 *****************************************************************/
.module.module-payment-history .module-header .module-header-text {
    line-height: 32px;
    padding-left: 49px;
    position: relative;
}

.module.module-payment-history .module-header .module-header-text:before {
    background: url(../img/myaccount-module-header-icons-sprite.png) -133px 0 no-repeat;
    content: '';
    display: block;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 39px;
}

.module.module-payment-history .module-content.module-content-transparent {
    padding: 0 15px;
}

.module.module-payment-history .pending-statement {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: -0.25em;
    padding: 0 5px;
}

.module.module-payment-history .table-default tbody td {
    padding-bottom: 8px;
    padding-top: 8px;
}

.module.module-payment-history .view-links {
    margin-top: 10px;
    text-align: right;
}

.module.module-payment-history .view-links:after {
    clear: both;
    content: '';
    display: block;
}

.module.module-payment-history .view-links a {
    display: inline-block;
    font-size: 1.14em;
    font-weight: 700;
    margin-right: 5px;
}

.module.module-payment-history .view-links .right {
    float: right;
}

@media (max-width: 767px) {
    .module.module-payment-history .module-header .module-header-text {
        padding-left: 0;
    }

    .module.module-payment-history .module-header .module-header-text:before {
        display: none;
    }

    .module.module-payment-history .module-content.module-content-transparent {
        padding: 0 0 30px;
    }
}

/*
 * Module-specific styles: FAQs
 *****************************************************************/
.module.module-faqs .module-header .module-header-text {
    line-height: 40px;
    padding-left: 50px;
    position: relative;
}

.module.module-faqs .module-header .module-header-text:before {
    background: url(../img/myaccount-module-header-icons-sprite.png) -172px 0 no-repeat;
    content: '';
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.module.module-faqs .module-content.module-content-transparent {
    padding: 0 15px;
}

/*
 * Module-specific styles: Stored Payments
 *****************************************************************/
.module.module-stored-payments {
    margin-top: 30px;
}

.module.module-stored-payments .table-collapse .col-actions {
    width: 80px;
}

.module.module-stored-payments table.table-collapse > tbody > tr.collapsable > td {
    padding-top: 20px;
}

.module.module-stored-payments .add-payment-method-buttons {
    margin-bottom: 30px;
}

.module.module-stored-payments .add-payment-method-buttons .btn {
    font-size: 1.5em;
}

/*
 * Module-specific styles: Easy Pay
 *****************************************************************/
.module.module-easy-pay {
    margin-top: 30px;
}

.module.module-easy-pay .enroll-form * + .module-inner-header,
.module.module-easy-pay .enroll-form * + .payment-method {
    margin-top: 25px;
}

.module.module-easy-pay .sales-agreements-table table.table-collapse > tbody > tr.collapsable > td {
    padding-top: 20px;
}

.module.module-easy-pay .sales-agreements-table .table-default tbody tr.detail .easy-pay-form-add * + .module-inner-header,
.module.module-easy-pay .sales-agreements-table .table-default tbody tr.detail .easy-pay-form-add * + .payment-method,
.module.module-easy-pay .sales-agreements-table .table-default tbody tr.detail .easy-pay-form-edit * + .module-inner-header,
.module.module-easy-pay .sales-agreements-table .table-default tbody tr.detail .easy-pay-form-edit * + .payment-method {
    margin-top: 25px;
}

@media (min-width: 768px) {
    .module.module-easy-pay .sales-agreements-table .table-collapse .col-actions {
        width: 220px;
    }
}

/*
 * Module-specific styles: LiveChat
 *****************************************************************/
.module.module-livechat {
    text-align: right;
}

/*
 * Module-specific styles: Invoice History
 *****************************************************************/
.module.module-invoice-history .module-header .module-header-text {
    line-height: 32px;
    padding-left: 49px;
    position: relative;
}

.module.module-invoice-history .module-header .module-header-text:before {
    background: url(../img/myaccount-module-header-icons-sprite.png) -133px 0 no-repeat;
    content: '';
    display: block;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 39px;
}

.module.module-invoice-history .module-content.module-content-transparent {
    padding: 0 15px;
}

.module.module-invoice-history .table-default tbody td {
    padding-bottom: 8px;
    padding-top: 8px;
}

.module.module-invoice-history .table-default tbody td:last-child {
    text-align: right;
}

.module.module-invoice-history a.download:before {
    background: url(../img/pdf-icon.png) 0 0 no-repeat;
    content: '';
    display: inline-block;
    height: 17px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    width: 15px;
}

.module.module-invoice-history .view-links {
    margin-top: 10px;
    text-align: right;
}

.module.module-invoice-history .view-links:after {
    clear: both;
    content: '';
    display: block;
}

.module.module-invoice-history .view-links a {
    display: inline-block;
    font-size: 1.14em;
    font-weight: 700;
    margin-right: 5px;
}

.module.module-invoice-history .view-links .right {
    float: right;
}

@media (max-width: 767px) {
    .module.module-invoice-history .module-header .module-header-text {
        padding-left: 0;
    }

    .module.module-invoice-history .module-header .module-header-text:before {
        display: none;
    }

    .module.module-invoice-history .module-content.module-content-transparent {
        padding: 0 0 30px;
    }

    .module.module-invoice-history .table-default tbody td,
    .module.module-invoice-history .table-default tbody td:last-child {
        text-align: left;
    }
}

/*
 * Module-specific styles: Preferences
 *****************************************************************/
.module.module-preferences .module-header .module-header-text {
    line-height: 40px;
    padding-left: 50px;
    position: relative;
}

.module.module-preferences .module-header .module-header-text:before {
    background: url(../img/myaccount-module-header-icons-sprite.png) -93px 0 no-repeat;
    content: '';
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.module.module-preferences .module-content * + .module-inner-header {
    margin-top: 30px;
}

.module.module-preferences .module-content .preferences .col {
    margin-right: 15px;
}

.module.module-preferences .module-content .qas-validator .prompt {
    color: #0C8F43;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 0.75em;
}

.module.module-preferences .module-content .qas-validator .form-buttons {
    margin-top: 30px;
}

.module.module-preferences .module-content .table-checkboxes {
    margin-bottom: 30px;
    max-width: 400px;
}

@media (max-width: 767px) {
    .module.module-preferences .module-content .preferences .col {
        margin-right: 0;
    }

    .module.module-preferences .module-content .qas-validator .form-buttons {
        text-align: center;
    }

    .module.module-preferences .module-content .qas-validator .form-buttons .btn {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .module.module-preferences .module-content .qas-validator .form-buttons .btn {
        max-width: none;
        width: auto;
    }
}

/*
 * Module-specific styles: Payment And Invoice History
 *****************************************************************/
.module.module-payment-and-invoice-history .view-payment-history .pending-statement {
    color: #747474;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: -0.25em;
    padding: 0 5px;
}

.module.module-payment-and-invoice-history .table-default tbody td {
    padding-bottom: 8px;
    padding-top: 8px;
}

.module.module-payment-and-invoice-history .view-payment-history .table-default .col-status {
    color: #747474;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
}

.module.module-payment-and-invoice-history .view-payment-history .table-default .col-balance {
    text-align: right;
    width: 100px;
}

.module.module-payment-and-invoice-history .view-invoice-history .table-default .col-invoice-number {
    text-align: right;
}

.module.module-payment-and-invoice-history .view-invoice-history .table-default .col-link {
    text-align: right;
}

.module.module-payment-and-invoice-history .view-links {
    margin-top: 10px;
    text-align: right;
}

.module.module-payment-and-invoice-history .view-links:after {
    clear: both;
    content: '';
    display: block;
}

.module.module-payment-and-invoice-history .view-links a {
    display: inline-block;
    font-size: 1.14em;
    font-weight: 700;
    margin-right: 5px;
}

.module.module-payment-and-invoice-history .view-invoice-history a.download .material-icons {
    vertical-align: middle;
}

@media (max-width: 767px) {
    .module.module-payment-and-invoice-history .module-content.module-content-transparent {
        padding: 0 0 30px;
    }

    .module.module-payment-and-invoice-history .table-default > thead > tr > th,
    .module.module-payment-and-invoice-history .table-default > tbody > tr > td {
        font-size: 1.4em;
    }

    .module.module-payment-and-invoice-history .view-payment-history .table-default tbody td {
        padding-bottom: 0;
    }

    .module.module-payment-and-invoice-history .view-payment-history .table-default .col-balance {
        width: 75px;
    }

    .module.module-payment-and-invoice-history .view-payment-history .table-default tbody .mobile-status td {
        border-top: 0;
        padding-bottom: 8px;
        padding-top: 0;
        text-align: right;
    }

    .module.module-payment-and-invoice-history .view-invoice-history .table-default .col-link {
        width: 100px;
    }
}

/*
 * Module-specific styles: Moving
 *****************************************************************/
.module.module-moving .module-header .module-header-text {
    line-height: 16px;
    padding-left: 30px;
    position: relative;
}

.module.module-moving .module-header .module-header-text:before {
    background: url(../img/ic_local_shipping_24px.svg) 0 0 no-repeat;
    content: '';
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 22px;
}

.module.module-moving .module-content .zipcode-input {
    display: inline-block;
    width: 80px;
}

.module.module-moving .module-content .zipcode-input input {
    font-size: 0.9333em;
    /* 1.5em from the .module-text container, need to convert to 1.4em for normal input size, so 1.4em/1.5em = 0.9333em */
}

.module.module-moving .module-content .phone {
    font-size: 2em;
    margin-bottom: 0;
    text-align: center;
}

.module.module-moving .module-content .phone a {
    font-weight: 600;
    text-decoration: none;
}
