/*
 * Wrapper styles
 *****************************************************************/
#page-content
{
	padding-top: 30px;
}

#page-overlay
{
	background: #000000;
	display: none;
	filter: alpha(opacity=30);
	height: 100%;
	left: 0;
	opacity: 0.3;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3000;
}

@media (max-width: 767px)
{
	#page-content
	{
		padding-top: 127px;
	}
}

/*
 * MyAccount header styles
 *****************************************************************/
#myaccount-header
{
	height: 200px;
	margin-bottom: 10px;
	position: relative;
}

#myaccount-header .address-header:after
{
	clear: both;
	content: '';
	display: block;
}

#myaccount-header .address-header .add-account
{
	float: right;
	margin-right: 9px;
	margin-top: 18px;
}

#myaccount-header .address-header .add-account .btn-icon-wrapper .btn-icontext
{
	line-height: 16px;
}

#myaccount-header .address-header .address-bar,
#mobile-address-bar
{
	background: #FF821C;
	border-radius: 8px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	margin: 0 230px 0 150px;
	position: relative;
	z-index: 2;
}

#myaccount-header .address-header .address-bar:after,
#mobile-address-bar:after
{
	clear: both;
	content: '';
	display: block;
}

#myaccount-header .address-header .address-bar .address-dropdown,
#mobile-address-bar .address-dropdown
{
	border-left: 2px solid #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	float: right;
	font-size: 2em;
	height: 57px;
	line-height: 57px;
	padding-left: 17px;
	position: relative;
	width: 84px;
}

#myaccount-header .address-header .address-bar .address-dropdown:after,
#mobile-address-bar .address-dropdown:after
{
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 13px solid transparent;
	border-top: 13px solid #FFFFFF;
	content: '';
	display: block;
	height: 0;
	position: absolute;
	right: 10px;
	top: 21px;
	width: 0;
}

#mobile-address-bar .address-dropdown.address-dropdown-empty
{
	border-left: 0;
	width: 40px;
}

#myaccount-header .address-header .address-bar .address-text,
#mobile-address-bar .address-text
{
	color: #FFFFFF;
	font-size: 3em;
	line-height: 57px;
	margin: 0;
	overflow: hidden;
	padding: 0 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#myaccount-header .address-header .address-bar.address-bar-has-dropdown .address-text,
#mobile-address-bar.address-bar-has-dropdown .address-text
{
	margin-right: 86px;
}

#myaccount-header .address-header .address-bar .address-alert-icon,
#mobile-address-bar .address-alert-icon
{
	background: #FF0000;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	color: #FFFFFF;
	display: none;
	font-size: 1.4em;
	font-weight: 500;
	height: 18px;
	line-height: 18px;
	position: absolute;
	right: -3px;
	text-align: center;
	top: -3px;
	width: 18px;
}

#myaccount-header .address-header .address-bar .address-dropdown-list
{
	background: #FFFFFF;
	border-radius: 0 0 8px 8px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	display: none;
	left: 0;
	padding: 0 15px 10px;
	position: absolute;
	top: 100%;
	width: 100%;
}

#myaccount-header .address-header .address-bar .address-dropdown-list.loading-new-property:before
{
	background: #FFFFFF;
	border-radius: 0 0 8px 8px;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3002;
}

#myaccount-header .address-header .address-bar .address-dropdown-list.loading-new-property:after
{
	content: 'Loading...';
	display: block;
	font-size: 3em;
	font-weight: 700;
	left: 50%;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 3002;
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li
{
	cursor: pointer;
	display: block;
	padding: 15px 10px;
	position: relative;
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li + li
{
	border-top: 2px solid #E0E0E0;
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li .remove-icon
{
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li .text
{
	height: 50px;
	padding: 13px 45px 0 43px;
	width: 100%;
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li.notification .text
{
	padding-top: 2px;
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li.notification .text:before
{
	background: #EE3124;
	border-radius: 50%;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.75);
	color: #FFFFFF;
	content: '!';
	display: block;
	font-size: 2.4em;
	font-weight: 600;
	height: 28px;
	left: 10px;
	line-height: 28px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 26px;
	width: 28px;
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li .text p
{
	color: #000000;
	font-size: 2.6em;
	line-height: 24px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li .text p .notification-text
{
	color: #FF0000;
	display: block;
	font-size: 0.6667em;
	font-weight: 800;
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li.remove-property-confirm
{
	border-top: 0;
	cursor: default;
	display: none;
	padding: 15px 10px;
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li.remove-property-confirm .text
{
	height: auto;
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li.remove-property-confirm .text p
{
	text-overflow: clip; /* default value */
	white-space: normal;
}

#myaccount-header .address-header .address-bar .address-dropdown-list > li.remove-property-confirm .text p.prompt
{
	font-size: 2em;
}

#myaccount-header .address-header .address-bar .address-dropdown-list.removing-property > li
{
	display: none;
}

#myaccount-header .address-header .address-bar .address-dropdown-list.removing-property > li.remove-property-confirm
{
	display: block;
}

#myaccount-header .address-image
{
	background: url(../img/address-header-image.jpg) 0 0 no-repeat;
	border-radius: 50%;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	left: 0;
	height: 200px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 200px;
	z-index: 1;
}

#myaccount-header .nav
{
	background: #0C8F43;
	border-radius: 5px;
	margin: 11px 0 30px 135px;
	padding-left: 75px;
}

#myaccount-header .nav ul:after
{
	clear: both;
	content: '';
	display: block;
}

#myaccount-header .nav ul li
{
	display: block;
	float: left;
	position: relative;
	text-align: center;
}

#myaccount-header .nav ul li:before
{
	background: url(../img/myaccount-nav-icons-sprite.png) 0 0 no-repeat;
	content: '';
	display: block;
	height: 48px;
	left: 50%;
	margin-left: -24px;
	position: absolute;
	top: 8px;
	width: 48px;
}

#myaccount-header .nav ul li.my-account:before { background-position: 0 0; }
#myaccount-header .nav ul li.payments:before { background-position: -48px 0; }
#myaccount-header .nav ul li.contact-profile:before { background-position: -96px 0; }
#myaccount-header .nav ul li.faqs:before { background-position: -144px 0; }

#myaccount-header .nav ul li.my-account:hover:before { background-position: 0 -48px; }
#myaccount-header .nav ul li.payments:hover:before { background-position: -48px -48px; }
#myaccount-header .nav ul li.contact-profile:hover:before { background-position: -96px -48px; }
#myaccount-header .nav ul li.faqs:hover:before { background-position: -144px -48px; }

#myaccount-header .nav ul li.active.my-account:before { background-position: 0 -96px; }
#myaccount-header .nav ul li.active.payments:before { background-position: -48px -96px; }
#myaccount-header .nav ul li.active.contact-profile:before { background-position: -96px -96px; }
#myaccount-header .nav ul li.active.faqs:before { background-position: -144px -96px; }

#myaccount-header .nav ul li.active:after
{
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 12px solid #FFFFFF;
	border-top: 12px solid transparent;
	bottom: 0;
	content: '';
	display: block;
	height: 0;
	left: 50%;
	margin-left: -14px;
	position: absolute;
	width: 0;
}

#myaccount-header .nav ul li a
{
	color: #FFFFFF;
	display: block;
	font-size: 1.6em;
	font-weight: 700;
	height: 96px;
	padding: 60px 45px 0;
	position: relative;
	text-align: center;
	text-decoration: none;
}

@media (max-width: 767px)
{
	#mobile-address-bar
	{
		border-radius: 0;
		display: block;
		height: 57px;
		left: 0;
		margin: 0;
		position: fixed;
		top: 60px;
		width: 100%;
		z-index: 2000;
	}
	
	#mobile-address-bar .address-dropdown
	{
		border-left-width: 1px;
		padding-left: 7px;
		width: 75px;
	}
	
	#mobile-address-bar .address-dropdown:after
	{
		border-left: 13px solid #FFFFFF;
		border-right: 13px solid transparent;
		border-bottom: 9px solid transparent;
		border-top: 9px solid transparent;
		right: 0;
	}
	
	#mobile-address-bar .address-dropdown.address-dropdown-empty
	{
		border-left: 0;
		width: 75px;
	}
	
	#mobile-address-bar .address-dropdown.address-dropdown-empty:after
	{
		right: 15px;
	}
	
	body.myaccount-nav-dropdown #mobile-address-bar .address-dropdown:after
	{
		border-left-color: transparent;
		border-right-color: #FFFFFF;
		right: 13px;
	}
	
	body.myaccount-nav-dropdown #mobile-address-bar .address-dropdown.address-dropdown-empty:after
	{
		right: 28px;
	}
	
	#mobile-address-bar .address-text
	{
		font-size: 2em;
		padding: 0 10px;
		margin-right: 75px;
	}
	
	#mobile-property-menu
	{
		background: #FFFFFF;
		box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3) inset;
		display: block;
		height: 100%;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: transform 0.3s ease;
		width: 80%;
		
		-webkit-transform: translateX(100%);
		-webkit-transition: -webkit-transform 0.3s ease;
	}
	
	#mobile-property-menu > ul > li
	{
		border-bottom: 1px solid #E4E4E4;
	}
	
	#mobile-property-menu > ul > li.active
	{
		background: #0C8F43;
	}
	
	#mobile-property-menu > ul > li > a
	{
		display: table;
		height: 64px;
		text-decoration: none;
		width: 100%;
	}
	
	#mobile-property-menu > ul > li > a > .col
	{
		display: table-cell;
		vertical-align: middle;
	}
	
	#mobile-property-menu > ul > li > a > .col.notification
	{
		text-align: center;
		width: 40px;
	}
	
	#mobile-property-menu > ul > li > a > .col.notification.red:before,
	#mobile-property-menu > ul > li > a > .col.notification.yellow:before
	{
		background: #EE3124;
		border-radius: 50%;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
		color: #FFFFFF;
		content: '!';
		display: inline-block;
		font-size: 1.5em;
		font-weight: 500;
		height: 20px;
		line-height: 20px;
		text-align: center;
		text-shadow: 1px 1px 1px #000000;
		width: 20px;
	}
	
	#mobile-property-menu > ul > li > a > .col.text
	{
		color: #0C8F43;
		font-size: 1.8em;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	#mobile-property-menu > ul > li.active > a > .col.text
	{
		color: #FFFFFF;
	}
	
	#mobile-property-menu > ul > li > a > .col.remove
	{
		text-align: center;
		width: 50px;
	}
	
	#mobile-property-menu > ul > li.active > a > .col.remove > .btn
	{
		display: none;
	}
	
	#mobile-property-menu > ul > li > a > .col.remove-prompt
	{
		display: none;
	}
	
	#mobile-property-menu > ul > li > a > .col.remove-prompt > .address,
	#mobile-property-menu > ul > li > a > .col.remove-prompt > .prompt,
	#mobile-property-menu > ul > li > a > .col.remove-prompt > .buttons
	{
		display: block;
	}
	
	#mobile-property-menu > ul > li > a > .col.remove-prompt > .address
	{
		font-size: 1.8em;
		font-weight: 700;
		margin-bottom: 10px;
	}
	
	#mobile-property-menu > ul > li > a > .col.remove-prompt > .prompt
	{
		font-size: 1.7em;
		margin-bottom: 10px;
	}
	
	#mobile-property-menu > ul > li > a > .col.remove-prompt > .progress
	{
		display: none;
		font-size: 1.6em;
	}
	
	#mobile-property-menu > ul > li > a > .col.remove-prompt > .buttons .btn-answer-yes
	{
		margin-right: 15px;
	}
	
	#mobile-property-menu > ul.removing-property > li > a > .col.remove > .btn
	{
		display: none;
	}
	
	#mobile-property-menu > ul.removing-property > li.removing-property > a
	{
		height: auto;
		padding: 20px 20px 20px 40px;
	}
	
	#mobile-property-menu > ul.removing-property > li.removing-property > a > .col
	{
		display: none;
	}
	
	#mobile-property-menu > ul.removing-property > li.removing-property > a > .col.remove-prompt
	{
		display: table-cell;
	}
	
	#mobile-property-menu > ul.removing-property > li.removing-property.removing-property-submit > a > .col.remove-prompt > .prompt,
	#mobile-property-menu > ul.removing-property > li.removing-property.removing-property-submit > a > .col.remove-prompt > .buttons
	{
		display: none;
	}
	
	#mobile-property-menu > ul.removing-property > li.removing-property.removing-property-submit > a > .col.remove-prompt > .progress
	{
		display: block;
	}
	
	#mobile-address-bar
	{
		transition: transform 0.3s ease;
		-webkit-transition: -webkit-transform 0.3s ease;
	}
	
	body.myaccount-nav-dropdown #mobile-property-menu
	{
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
	
	body.mobile-nav-menu #mobile-address-bar
	{
		transform: translateX(80%);
		-webkit-transform: translateX(80%);
	}
	
	body.myaccount-nav-dropdown #mobile-address-bar
	{
		transform: translateX(-80%);
		-webkit-transform: translateX(-80%);
	}
}

@media (max-width: 400px)
{
	#mobile-nav-menu > ul > li > a > .col.text
	{
		font-size: 1.4em;
	}
}

@media (min-width: 768px)
{
	body.myaccount-nav-dropdown #myaccount-header .address-header .address-bar
	{
		border-radius: 8px 8px 0 0;
		z-index: 3001;
	}
	
	#myaccount-header .address-header .address-bar .address-dropdown.address-dropdown-empty
	{
		display: none;
	}
	
	body.myaccount-nav-dropdown #myaccount-header .address-header .address-bar .address-dropdown-list
	{
		display: block;
		max-height: 750px;
		overflow-y: auto;
		z-index: 3001;
	}
}

@media (min-width: 768px) and (max-width: 849px)
{
	#myaccount-header .nav ul li a
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 850px) and (max-width: 929px)
{
	#myaccount-header .nav ul li a
	{
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (min-width: 930px) and (max-width: 991px)
{
	#myaccount-header .nav ul li a
	{
		padding-left: 40px;
		padding-right: 40px;
	}
}

/*
 * Alerts styles
 *****************************************************************/
#tab-wrapper.loading #alerts,
#tab-wrapper.error #alerts
{
	display: none;
}

/*
 * Generic tab styles
 *****************************************************************/
#tab-wrapper.loading #tab-contents,
#tab-wrapper.error #tab-contents,
#tab-wrapper #tab-loading,
#tab-wrapper #tab-error
{
	display: none;
}

#tab-wrapper.loading #tab-loading,
#tab-wrapper.error #tab-error
{
	display: block;
}

/*
 * Generic module styles
 *****************************************************************/
.modules-wrapper
{
	margin: 0 -10px;
}

.modules-wrapper:after
{
	clear: both;
	content: '';
	display: block;
}

.modules-wrapper .modules-large,
.modules-wrapper .modules-small
{
	float: left;
	padding: 0 10px;
}

.modules-wrapper .modules-large
{
	width: 70%;
}

.modules-wrapper .modules-small
{
	width: 30%;
}

.modules .module
{
	margin-bottom: 20px;
}

.modules .module .module-header
{
	margin-bottom: 10px;
}

.modules .module + .module .module-header
{
	padding-top: 10px;
}

.modules .module .module-header .module-header-text
{
	color: #0C8F43;
	font-size: 2.7em;
	font-weight: 900;
	line-height: 40px;
	text-transform: uppercase;
}

.modules-small .module .module-header .module-header-text
{
	font-size: 2em;
	line-height: 1em;
}

.module .module-outer-text
{
	color: #747474;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.6em;
	margin-bottom: 0.5em;
}

.module .module-outer-text.module-outer-text-bold
{
	color: #000;
	font-weight: 600;
}

.modules .module .module-content
{
	background: #E5E5E5;
	padding: 20px 15px;
}

.modules .module .module-content.module-content-transparent
{
	background: none;
	border-radius: 0;
	padding: 0;
}

.modules .module .module-content .module-inner-header
{
	margin-bottom: 15px;
}

.modules .module .module-content .module-inner-header .module-header-text
{
	color: #0C8F43;
	font-size: 2.0em;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}

.modules .module .module-content .module-inner-header.disabled .module-header-text
{
	color: #747474;
}

.module .module-content .module-text
{
	color: #747474;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.6em;
}

.module .module-content .module-text.module-text-bold
{
	color: #000;
	font-weight: 600;
}

@media (max-width: 767px)
{
	.modules-wrapper
	{
		margin: 0;
	}
	
	.modules-wrapper .modules-large,
	.modules-wrapper .modules-small
	{
		width: 100%;
	}
}

/*
 * Tab-specific styles: My Account
 *****************************************************************/
.tab-my-account .modules.modules-large .module + .module
{
	margin-top: 30px;
}

.tab-my-account .modules.modules-large .module + .module .module-header
{
	padding-top: 20px;
}

/*
 * Tab-specific styles: Payments
 *****************************************************************/
.tab-my-account .modules.modules-large .module + .module .module-header
{
	padding-top: 20px;
}