/*
 * Generic styles
 *****************************************************************/
#page-content {
    padding-top: 30px;
}

#page-content h3 {
    font-size: 2.5em;
    margin-top: 20px;
    padding-left: 10px;
}

#page-content .form {
    background: #E5E5E5;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 20px;
}

#page-content .form h4 {
    border-bottom: 1px solid #BFBFBF;
    font-size: 2em;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#page-content .form .form-label-heading label {
    color: #414042;
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 5px;
}

#page-content .form .form-range input[type=range] {
    margin: 15px 0;
}

#page-content .form .form-input .percentage-input {
    position: relative;
}

#page-content .form .form-input .percentage-input input {
    padding-right: 26px;
    text-align: right;
}

#page-content .form .form-input .percentage-input:after {
    content: '%';
    display: block;
    font-size: 1.4em;
    line-height: 1.4em;
    margin-top: -1px;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
}


/*
 * Login form styles
 *****************************************************************/
#page-content .form.login {
    max-width: 50%;
}

#page-content .form.login .form-buttons {
    text-align: center;
}

#page-content .form.login .form-buttons .btn {
    min-width: 50%;
}


/*
 * Settings form styles
 *****************************************************************/
#page-content .form.settings .form-buttons {
    text-align: right;
}

#page-content .form.settings .view-links a {
    margin-left: 10px;
}
