/*
 * Wrapper styles
 *****************************************************************/
 @media (min-width: 420px) {
	#page-content .login.wrapper
	{
		max-width: 370px;
	}
 }
/*
 * Steps styles
 *****************************************************************/
#page-content
{
	padding-top: 30px;
}

#alerts
{
	margin: 0 auto;
	max-width: 660px;
	width: 100%;
}

#page-content .help-link.right
{
	float: right;
	margin-top: 5px;
}

#page-content .form-buttons .btn
{
	display: inline-block;
	min-width: 177px;
	width: auto;
}

#page-content .register-text
{
	color: #7AC142;
	font-size: 1.5em;
	margin: 0;
}

#page-content .register-text a
{
	font-weight: 700;
}

@media (max-width: 767px)
{
	#page-content
	{
		padding-top: 80px;
	}
}

#unsupportedBrowserBanner
{
	margin-bottom: 30px !important;
	max-width: 970px;
	margin-top: -30px !important;
}

.form-checkbox-help-tooltip.login
{
	left: 79px;
	top: 10px;
	width: 240px;
}

.form-checkbox-help-icon
{
	margin-left: 5px;
}

.form-checkbox-help
{
	position: relative;
}

@media(max-width: 767px)
{
	.form-checkbox-help
	{
		z-index: initial;
	}
	
	.form-checkbox-help-tooltip.login
	{
		left: 0;
		position: relative;
		top: 0;
		width: auto;
	}
}
