/*
 * Wrapper and heading styles
 *****************************************************************/
#page-content {
    background: #FAFAFA;
    padding-top: 30px;
}

#page-content .wrapper {
    max-width: 600px;
}

#page-content .heading {
    margin-bottom: 18px;
}

#page-content .heading:after {
    clear: both;
    content: '';
    display: block;
}

#page-content .heading h1 {
    color: #0C8F43;
    font-size: 3em;
    font-weight: 800;
    line-height: 1.4em;
    margin: 0 0 10px;
}

#page-content .heading h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.4em;
    margin: 0 0 10px;
}

#page-content .heading h3 {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0 0 10px;
}

#page-content .heading .btn-livechat {
    float: right;
    margin-bottom: -10px;
}

@media (max-width: 767px) {
    #page-content {
        padding-top: 80px;
    }

    #page-content .heading {
        padding: 0 15px;
    }
}

/*
 * Steps styles
 *****************************************************************/
#page-content .steps h4 {
    color: #0C8F43;
    font-size: 2.3em;
    line-height: 1.4em;
    margin-top: 0;
}

#page-content .form-buttons {
    text-align: left;
}

#page-content .form-buttons .btn {
    display: inline-block;
    margin-bottom: 15px;
    width: auto;
}

#page-content .steps + .form-buttons .btn {
    float: right;
    margin-right: 0;
}

#page-content .steps + .form-buttons .btn.cancel {
    float: left;
    width: auto;
}

#page-content .return-to-myaccount {
    font-size: 2em;
    font-weight: 600;
    margin-top: 20px;
}

@media (max-width: 767px) {
    #page-content .form-buttons {
        padding: 0 15px;
    }

    /* Form buttons outside of each step */
    #page-content .steps + .form-buttons {
        padding: 0 5px;
    }

    #page-content .steps + .form-buttons .btn {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*
 * Step My Services
 *****************************************************************/
#page-content .steps .step-my-services table {
    margin-bottom: 15px;
}

/*
 * Step Schedule Pest
 *****************************************************************/
#page-content .steps .step-schedule-pest p.prompt {
    line-height: 1.2em;
    margin-bottom: 24px
}

#page-content .steps .step-schedule-pest .months-wrapper {
    margin-bottom: 15px;
}

#page-content .steps .step-schedule-pest .month-display + .month-display {
    margin-top: 25px;
}

#page-content .steps .step-schedule-pest .month-display > p {
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

#page-content .steps .step-schedule-pest .form-radio {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}

#page-content .steps .step-schedule-pest .form-radio .label-text {
    line-height: 18px;
}

#page-content .steps .step-schedule-pest .form-radio .label-text:before {
    height: 18px;
    width: 18px;
}

#page-content .steps .step-schedule-pest .form-radio input[type=radio]:checked + .label-text:before {
    border: 5px solid #0c8f43;
}

#page-content .steps .step-schedule-pest .step-contents > .form-buttons {
    border-top: 1px solid #CCCCCC;
    margin: 15px -20px -15px;
    padding: 15px 20px 0;
}

/*
 * Step Schedule Termite
 *****************************************************************/
#page-content .steps .step-schedule-termite p.prompt {
    line-height: 1.2em;
    margin-bottom: 24px
}

#page-content .steps .step-schedule-termite .months-wrapper {
    margin-bottom: 15px;
}

#page-content .steps .step-schedule-termite .month-display + .month-display {
    margin-top: 25px;
}

#page-content .steps .step-schedule-termite .month-display > p {
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

#page-content .steps .step-schedule-termite .form-radio {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}

#page-content .steps .step-schedule-termite .form-radio .label-text {
    line-height: 18px;
}

#page-content .steps .step-schedule-termite .form-radio .label-text:before {
    height: 18px;
    width: 18px;
}

#page-content .steps .step-schedule-termite .form-radio input[type=radio]:checked + .label-text:before {
    border: 5px solid #0c8f43;
}

#page-content .steps .step-schedule-termite .step-contents > .form-buttons {
    border-top: 1px solid #CCCCCC;
    margin: 15px -20px -15px;
    padding: 15px 20px 0;
}

/*
 * Step Schedule
 *****************************************************************/
#page-content .steps .step-confirmation {
    background: none;
    box-shadow: none;
}

#page-content .steps .step-confirmation h4 {
    font-size: 2em;
    line-height: 1.57em;
    margin-bottom: 0;
}

#page-content .steps .step-confirmation h5 {
    font-size: 1.78em;
}

#page-content .steps .step-confirmation p {
    font-size: 1.56em;
    line-height: 1.57em;
}
