/*
 * Wrapper and heading styles
 *****************************************************************/
#page-content
{
	padding-top: 30px;
}

#page-content .wrapper
{
	max-width: 370px;
}

#page-content .heading
{
	margin-bottom: 18px;
}

#page-content .heading:after
{
	clear: both;
	content: '';
	display: block;
}

#page-content .heading h1
{
	color: #7AC142;
	font-size: 3.4em;
	line-height: 1.2em;
	margin: 0 0 25px;
}

#page-content .heading h2
{
	font-size: 2em;
	line-height: 1.2em;
	margin: 0 0 10px;
}

#page-content .heading h3
{
	font-size: 1.5em;
	margin: 0;
	font-weight: 500;
}

@media (max-width: 767px)
{
	#page-content
	{
		padding-top: 80px;
	}
	
	#page-content .heading
	{
		padding: 0 15px;
	}
}

/*
 * Steps styles
 *****************************************************************/
#page-content .steps .step-properties p
{
	font-size: 1.3em;
	line-height: 1.6em;
}

#page-content .form-buttons
{
	text-align: center;
}

#page-content .form-buttons .btn
{
	display: inline-block;
	margin-bottom: 15px;
	width: auto;
}

#page-content .steps + .form-buttons .btn
{
	float: right;
	margin-right: 0;
}

#page-content .steps + .form-buttons .btn.cancel
{
	float: left;
	width: auto;
}

@media (max-width: 767px)
{
	#page-content .form-buttons
	{
		padding: 0 15px;
	}
	
	/* Form buttons outside of each step */
	#page-content .steps + .form-buttons
	{
		padding: 0 5px;
	}
	
	#page-content .steps + .form-buttons .btn
	{
		padding-left: 10px;
		padding-right: 10px;
	}
}

/*
 * QAS Validator styles
 *****************************************************************/
#page-content .qas-validator .prompt
{
	color: #7AC142;
	font-size: 1.8em;
	font-weight: 800;
	margin-bottom: 0.75em;
}

#page-content .qas-validator .form-buttons
{
	margin-top: 30px;
}

@media (max-width: 767px)
{
	#page-content .qas-validator .form-buttons .btn
	{
		margin-left: 0;
	}
	.modal-content {
	
		width:70%;
	}
}

@media (min-width: 768px)
{
	#page-content .qas-validator .form-buttons .btn
	{
		max-width: none;
		width: auto;
	}
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 40%;
    font-size: 14px;
    border-radius: 15px;
}

/* The Close Button */
.close {
    color:  #7ac142;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#button{
	background-color: #7ac142;
	color:white;
	border:0;
	border-radius: 2px;
	padding:10px;
	display:block;
}
@media (max-width: 767px)
{
	.modal-content {
	
		width:70%;
	}
	.notify{
		font-size:14px;
	}
}
#myCheck{
	width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.modal-content .notify{
	 display: inline-block;
}