/*
 * Wrapper styles
 *****************************************************************/
#page-content {
    padding: 30px 0;
}

#page-content .wrapper {
    max-width: 570px;
}

#page-content .page-heading {
    padding: 0 15px;
}

#page-content .page-heading h1 {
    color: #0C8F43;
    font-weight: 800;
}

#page-content .loading-container {
    height: auto;
}

#page-content .loading-container:before {
    background: url(../img/spinner-green.gif) left center no-repeat;
    content: '';
    display: block;
    height: 16px;
    left: 15px;
    position: absolute;
    top: 13px;
    width: 16px;
}

#page-content .loading-container .loading-text {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-left: 30px;
    position: static;
    text-transform: none;
    transform: none;
}

#page-content .loading-container,
#page-content .error-container,
#page-content .form-container {
    background: #E5E5E5;
    border-radius: 0;
    box-shadow: inset 0 3px 5px -3px rgba(0, 0, 0, 0.4);
    min-height: 100px;
    padding: 10px 15px 15px;
}

@media (max-width: 767px) {
    #page-content {
        padding-top: 60px;
    }
}

/*
 * Reschedule styles
 *****************************************************************/
#page-content .form-container {
    color: #000000;
    font-weight: 700;
}

#page-content .form-container hr {
    border: 0px solid #000;
    border-top-width: 1px;
}

#page-content .form-container .detail-view p,
#page-content .form-container .detail-view label {
    text-transform: uppercase;
}

#page-content .form-container .detail-view p.reschedule {
    margin-bottom: 5px;
}

#page-content .form-container .schedule-appointment,
#page-content .form-container .schedule-contact {
    padding-top: 5px;
}

#page-content .form-container .schedule-appointment p.heading,
#page-content .form-container .schedule-contact p.heading,
#page-content .form-container .schedule-confirmation-appointment p.heading,
#page-content .form-container .schedule-confirmation-contact p.heading {
    font-size: 1.6em;
    font-weight: 800;
    margin-bottom: 13px;
    text-transform: uppercase;
}

#page-content .form-container .schedule-appointment p.prompt,
#page-content .form-container .schedule-confirmation-appointment p.prompt,
#page-content .form-container .schedule-confirmation-contact p.prompt {
    line-height: 1.2em;
    margin-bottom: 24px;
}

#page-content .form-container .schedule-appointment .months-wrapper {
    margin-bottom: 15px;
}

#page-content .form-container .schedule-appointment .month-display {
    max-width: 315px;
}

#page-content .form-container .schedule-appointment .month-display + .month-display {
    margin-top: 25px;
}

#page-content .form-container .schedule-appointment .month-display > p {
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

#page-content .form-container .schedule-appointment .months-wrapper + p {
    margin-bottom: 8px;
}

#page-content .form-container .schedule-appointment .form-radio {
    cursor: pointer;
    display: block;
    font-size: 1.4em;
    margin-bottom: 10px;
}

#page-content .form-container .schedule-appointment .form-radio .label-text {
    line-height: 18px;
}

#page-content .form-container .schedule-appointment .form-radio .label-text:before {
    height: 18px;
    width: 18px;
}

#page-content .form-container .schedule-appointment .form-radio input[type=radio]:checked + .label-text:before {
    border: 5px solid #0c8f43;
}

#page-content .form-container .schedule-appointment .form-buttons {
    float: right;
}

#page-content .form-container .schedule-appointment .selected-date-display {
    margin-top: 15px;
}

#page-content .form-container .schedule-appointment .selected-date-display label {
    font-size: 1.6em;
    text-transform: uppercase;
}

#page-content .form-container .schedule-appointment .selected-date-display .value-box {
    color: #484848;
    font-size: 1.4em;
    margin-top: 8px;
    padding: 5px;
    width: 250px;
}

#page-content .form-container .schedule-appointment .selected-date-display .value-box .time {
    float: right;
}

#page-content .form-container .schedule-contact .form-buttons {
    text-align: right;
}

#page-content .form-container .schedule-confirmation-appointment,
#page-content .form-container .schedule-confirmation-contact {
    padding: 80px 0;
    position: relative;
}

#page-content .form-container .schedule-confirmation-appointment .close,
#page-content .form-container .schedule-confirmation-contact .close {
    border-radius: 50%;
    display: block;
    font-size: 2.5em;
    padding: 0 6px;
    position: absolute;
    right: 0;
    top: 0;
}

#page-content .form-container .schedule-confirmation-appointment p,
#page-content .form-container .schedule-confirmation-contact p {
    text-align: center;
}

#page-content .form-container .schedule-confirmation-appointment p.prompt {
    margin-bottom: 30px;
}

#page-content .form-container .schedule-confirmation-appointment p.heading {
    margin-bottom: 20px;
}

#page-content .form-container .schedule-confirmation-appointment p.schedule {
    font-size: 2em;
    line-height: 1.2em;
    margin-bottom: 0;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    #page-content .form-container .detail-view .form-input {
        margin-top: 25px;
    }

    #page-content .form-container .schedule-appointment .times-wrapper:after {
        clear: both;
        content: '';
        display: block;
    }

    #page-content .form-container .schedule-appointment .times-wrapper .form-radio {
        float: left;
        width: 50%;
    }

    #page-content .form-container .schedule-appointment .form-buttons {
        float: none;
        text-align: right;
    }

    #page-content .form-container .schedule-confirmation-contact {
        padding: 30px;
    }
}
