/*
 * Wrapper styles
 *****************************************************************/
#page-content
{
	padding-top: 30px;
}
 
#page-content .wrapper
{
	max-width: 370px;
}

#page-content .form-buttons .btn
{
	max-width: 177px;
}

@media (max-width: 767px)
{
	#page-content
	{
		padding-top: 80px;
	}
}