.natural-language {
  background: #d21c0f;
  padding: 30px 80px;
  margin-top: 20px;
  color: #fff;
  font-family: itc-officina-sans-pro, sans-serif;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .natural-language .chosen-container-single {
    margin-left: 10px;
    margin-right: 20px;
    width: auto !important; }
    .natural-language .chosen-container-single .chosen-single {
      color: #fff;
      border-color: #fff; }
      .natural-language .chosen-container-single .chosen-single span {
        margin-top: 3px; }
    .natural-language .chosen-container-single .chosen-results li.highlighted {
      background: #d21c0f; }
  .natural-language.secondary {
    background: #aaa099; }
    .natural-language.secondary .chosen-results li.highlighted {
      background: #aaa099; }
  @media screen and (max-width: 1024px) {
    .natural-language {
      padding: 30px;
      justify-content: flex-start; }
      .natural-language .btn {
        margin-top: 20px; } }
  @media screen and (max-width: 768px) {
    .natural-language {
      padding: 20px;
      justify-content: flex-start; }
      .natural-language label {
        font-size: 20px; }
      .natural-language .select--wrapper select {
        font-size: 20px; } }
  @media screen and (max-width: 480px) {
    .natural-language label {
      font-size: 18px; }
    .natural-language .select--wrapper {
      width: 100% !important; }
      .natural-language .select--wrapper select {
        font-size: 18px; } }
