html {
    font-size: 16px;
}


body {
    /*font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1px;
    padding-top: 60px;
}

body::-webkit-scrollbar {
    border-radius: 2px;
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 2px;
    box-shadow: none;
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #0C8F45;
    border-radius: 4px;
    outline: 0px solid slategrey;
}

/* Small devices (phones, 767px and down) */
@media (max-width: 767px) {

    html,
    body {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    body {
        /* Swap nav paddings */
        padding-top: 80px;
    }
}









section {
    margin-bottom: 1.5rem;
    position: relative;
}

.margin-none {
    margin: 0 !important;
}

.padding-none {
    padding: 0 !important;
}

.padding-full {
    padding: 1.5rem;
}

.padding-bottom {
    padding-bottom: 1.5rem;
}

.padding-left {
    padding-left: 1.5rem;
}

.padding-right {
    padding-right: 1.5rem;
}

.padding-top {
    padding-top: 1.5rem;
}

.padding-full-2x {
    padding: 3rem;
}

.padding-bottom-2x {
    padding-bottom: 3rem;
}

.padding-left-2x {
    padding-left: 3rem;
}

.padding-right-2x {
    padding-right: 3rem;
}

.padding-top-2x {
    padding-top: 3rem;
}


.box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.14);
}

.card {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.14);
    margin: .5rem 0 1rem 0;
    position: relative;
    transition: box-shadow .25s;
}

.card.borderless {
    box-shadow: none !important;
}

.card.borderlight {
    box-shadow: none !important;
    border: 1px solid #eee;
}

.card-content {
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #eee;
    padding: 15px;
}

.card-content:first-of-type {
    border-top: none;
}

@media (max-width: 767px) {
    .block-on-xs {
        display: block;
    }
}

.card-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.card-title > * {
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 1;
    margin: 0;
}

.legal-block {
    background: black;
    color: #aaa;
    font-size: 0.7rem;
}




/* Colors
=============================================================== */

/* Green */
.tmx-primary-txt {
    color: rgb(12, 142, 68) !important;
}

.tmx-primary-bg {
    background-color: rgb(12, 142, 68) !important;
}

/* Orange */
.tmx-secondary-txt {
    color: rgb(255, 127, 0) !important;
}

.tmx-secondary-bg {
    background-color: rgb(255, 127, 0) !important;
}

/* Black */
.tmx-black-txt {
    color: rgb(0, 0, 0) !important;
}

.tmx-black-bg {
    background-color: rgb(0, 0, 0) !important;
}

/* 80% Black */
.tmx-dark-gray-txt {
    color: rgb(88, 89, 91) !important;
}

.tmx-dark-gray-bg {
    background-color: rgb(88, 89, 91) !important;
}

/* Silver */
.tmx-silver-txt {
    color: rgb(199, 201, 203) !important;
}

.tmx-silver-bg {
    background-color: rgb(199, 201, 203) !important;
}

.tmx-silver-border-left {
    border-left: 1px solid rgb(199, 201, 203) !important;
}

.tmx-silver-border-right {
    border-right: 1px solid rgb(199, 201, 203) !important;
}

/* Light Gray */
.tmx-light-gray-txt {
    color: rgb(224, 225, 227) !important;
}

.tmx-light-gray-bg {
    background-color: rgb(224, 225, 227) !important;
}

/* Off White */
.tmx-off-white-txt {
    color: rgb(239, 239, 239) !important;
}

.tmx-off-white-bg {
    background-color: rgb(239, 239, 239) !important;
}

/* Snow */
.tmx-snow-txt {
    color: rgb(248, 248, 248) !important;
}

.tmx-snow-bg {
    background-color: rgb(248, 248, 248) !important;
}

/* White */
.tmx-white-txt {
    color: rgb(255, 255, 255) !important;
}

.tmx-white-bg {
    background-color: rgb(255, 255, 255) !important;
}






/* Bootstrap Overrides
=============================================================== */

.form-group {
    margin-bottom: 0;
    margin-top: 0.75rem;
    position: relative;
}

.card-content > .row:not(:last-of-type) {
    margin-bottom: 2rem;
}






/* Typography
=============================================================== */

/* Body copy */
p {
    margin: 0 0 1.25rem;
}

a {
    color: black;
    cursor: pointer;
    font-weight: 800;
    text-decoration: underline;
    transition: 0.3s ease;
}

a:hover {
    color: rgb(255, 127, 0);
}

.excerpt {
    font-size: 1.15rem;
}

@media (max-width: 767px) {
    .excerpt {
        font-size: 1rem;
    }
}

/* Typography Headlines */
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    color: #111;
    font-weight: 800;
}

h1,
.h1 {
    font-size: 2.25rem;
    margin: 1rem 0 0.8rem 0;
}

h2,
.h2 {
    font-size: 1.75rem;
    margin: 0.7937rem 0 0.635rem 0;
}

h3,
.h3 {
    font-size: 1.375rem;
    margin: 0.63rem 0 0.504rem 0;
}

h4,
.h4 {
    font-size: 1.125rem;
    margin: 0.5rem 0 0.4rem 0;
}

h5,
.h5 {
    font-size: 1rem;
    margin: 0.5rem 0 0.6rem 0;
}

h1 > *:not(strong):not(a),
h2 > *:not(strong):not(a),
h3 > *:not(strong):not(a),
h4 > *:not(strong):not(a),
h5 > *:not(strong):not(a) {
    color: rgb(88, 89, 91);
    font-weight: 400;
}

h1 > strong,
h2 > strong,
h3 > strong,
h4 > strong,
h5 > strong,
.h1 > strong,
.h2 > strong,
.h3 > strong,
.h4 > strong,
.h5 > strong {
    font-weight: inherit;
}

.sub-headline {
    color: rgb(88, 89, 91);
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

h1 + .sub-headline,
h2 + .sub-headline {
    font-size: 1rem;
}

h3 + .sub-headline {
    font-size: 0.9rem;
}

h4 + .sub-headline,
h5 + .sub-headline {
    font-size: 0.8rem;
}


h1 > .fa:first-child,
h2 > .fa:first-child,
h3 > .fa:first-child,
h4 > .fa:first-child,
h5 > .fa:first-child {
    margin-right: 0.25rem;
}


/* Typography Helpers */
.weight-400 {
    font-weight: 400 !important;
}

.weight-700 {
    font-weight: 700 !important;
}

.weight-800 {
    font-weight: 800 !important;
}

.weight-900 {
    font-weight: 900 !important;
}

.text-small {
    font-size: 0.75rem !important;
}

.text-legal {
    font-size: 0.575rem !important;
}

.text-white {
    color: white !important;
}

.text-black {
    color: #111 !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-arrow {
    position: relative;
}

.text-arrow:after {
    bottom: 0;
    box-sizing: inherit;
    content: '\00BB';
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    position: absolute;
    right: -1.5rem;
}

.text-shadow {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

sub,
sup {
    font-size: 60%;
    margin-left: 0.15rem;
}



p.checked {
    padding-left: 1.5rem;
    position: relative;
}

p.checked:before {
    color: #0c8e45;
    content: '\f046';
    display: block;
    font-family: FontAwesome;
    font-size: 1.5rem;
    left: -0.8rem;
    position: absolute;
    top: -3px;
}




/* Forms
=============================================================== */

/* Checkboxes / Radios */
.checkbox,
.radio {
    margin-bottom: 1.25rem;
}

input[type='checkbox'],
input[type='radio'] {
    display: none;
}

input[type='checkbox'] ~ label,
input[type='radio'] ~ label {
    cursor: pointer;
    padding-left: 32px;
    position: relative;
}

input[type='checkbox'] ~ label:before,
input[type='radio'] ~ label:before {
    background: white;
    border: 2px solid #aaa;
    color: white;
    content: '';
    cursor: pointer;
    display: inline-block;
    font-family: 'FontAwesome';
    height: 22px;
    left: 0;
    line-height: 19px;
    position: absolute;
    text-align: center;
    transition: 0.3s ease;
    width: 22px;
}

input[type='checkbox']:disabled ~ label:before,
input[type='radio']:disabled ~ label:before {
    background: #eee;
    border-color: #ddd;
}


input[type='checkbox'] ~ label:before {
    border-radius: 2px;
    font-size: 1.1rem;
}

input[type='checkbox']:checked ~ label:before {
    background: rgb(12, 142, 68);
    border-color: rgb(12, 142, 68);
    content: '\f00c';
}



input[type='radio'] ~ label:before {
    border-radius: 50px;
    font-size: 0.7rem;
}

input[type='radio']:checked ~ label:before {
    background: rgb(12, 142, 68);
    border-color: rgb(12, 142, 68);
}

input[type='radio'] ~ label:after {
    background: white;
    border-radius: 50px;
    content: '';
    display: inline-block;
    height: 10px;
    left: 6px;
    position: absolute;
    top: 6px;
    transition: 0.3s ease;
    width: 10px;
    z-index: 2;
}

/* Small devices (phones, 767px and down) */
@media (max-width: 767px) {

    input[type='checkbox'] ~ label:before,
    input[type='radio'] ~ label:before {
        height: 18px;
        width: 18px;
    }

    input[type='checkbox'] ~ label:before {
        font-size: 1rem;
        line-height: 15px;
        text-align: left;
    }

    input[type='radio'] ~ label:after {
        height: 8px;
        width: 8px;
    }
}



input[type='text'],
input[type='password'],
input[type='tel'],
input[type='email'],
textarea,
select {
    background: white;
    border: 2px solid #999;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    letter-spacing: -1px;
    line-height: 1.4;
    outline: 0;
    padding: 17px 5px 3px 5px;
    transition: 0.3s ease;
    width: 100%;
}

select {
    padding: 17px 0 3px 0;
}

.no-label {
    padding: 10px 5px !important;
}

select {
    cursor: pointer;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='tel']:focus,
textarea:focus,
select:focus {
    border-color: black;
}


input[type='text'] ~ label,
input[type='tel'] ~ label,
input[type='password'] ~ label,
input[type='email'] ~ label,
textarea ~ label,
select ~ label {
    color: #aaa;
    font-size: 10px;
    font-weight: 700;
    padding-left: 7px;
    pointer-events: none;
    position: absolute;
    text-transform: uppercase;
    top: 3px;
    transform: translateY(0);
    transition: 0.3s ease;
    z-index: 2;
}




input[type='text'][data-empty='false'] ~ label,
input[type='text']:valid ~ label,
input[type='text']:focus ~ label,
input[type='tel'][data-empty='false'] ~ label,
input[type='tel']:valid ~ label,
input[type='tel']:focus ~ label,
input[type='password'][data-empty='false'] ~ label,
input[type='password']:valid ~ label,
input[type='password']:focus ~ label,
input[type='email'][data-empty='false'] ~ label,
input[type='email']:valid ~ label,
input[type='email']:focus ~ label,
textarea[data-empty='false'] ~ label,
textarea:valid ~ label,
textarea:focus ~ label,
select:valid ~ label,
select:focus ~ label {
    color: black;
}

input[type='text']:not(:focus):valid ~ label,
input[type='tel']:not(:focus):valid ~ label,
input[type='password']:not(:focus):valid ~ label,
input[type='email']:not(:focus):valid ~ label,
textarea:not(:focus):valid ~ label,
select:not(:focus):valid ~ label {
    color: #939393;
}

input[type='text']:not(:focus):valid.invalid,
input[type='password']:not(:focus):valid.invalid,
input[type='tel']:not(:focus):valid.invalid,
input[type='email']:not(:focus):valid.invalid,
textarea:not(:focus):valid.invalid,
select:not(:focus):valid.invalid {
    border-color: #d00 !important;
}

input[type='text']:not(:focus).invalid ~ label,
input[type='password']:not(:focus).invalid ~ label,
input[type='tel']:not(:focus).invalid ~ label,
input[type='email']:not(:focus).invalid ~ label,
textarea:not(:focus).invalid ~ label,
select:not(:focus).invalid ~ label {
    color: #d00 !important;
}


.form-element-note {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    margin-top: 5px;
}






/* Buttons / CTAs
=============================================================== */
.cta {
    background-color: transparent;
    border-radius: 0 !important;
    box-shadow: none !important;
    box-sizing: border-box;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    letter-spacing: -1px;
    margin-bottom: 1rem;
    outline: 0 !important;
    position: relative;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: 0.3s ease;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}


.cta.primary,
.cta.secondary {
    font-size: 1rem;
    /* Changed temporarily for fix - was 1.125rem; */
    height: 2.75rem;
    line-height: calc(2.75rem - 2px);
    padding: 0 1.5rem;
}


.cta.primary,
.cta.primary.alt:hover {
    background-color: rgb(255, 127, 0);
    border: 2px solid rgb(255, 127, 0);
    color: white;
}

.cta.primary:hover,
.cta.primary.alt {
    background-color: transparent;
    color: rgb(255, 127, 0);
}


.cta.secondary,
.cta.secondary.alt:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
}

.cta.secondary:hover,
.cta.secondary.alt {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}


.cta.tertiary {
    border-bottom: 1px solid rgb(255, 127, 0);
    color: black;
    text-decoration: none !important;
    transition: 0.3s ease;
}

.cta.tertiary:hover {
    border-bottom: 2px solid rgb(255, 127, 0);
}


.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}


.cta.arrows {
    padding-right: 4rem;
    text-align: left;
}

.cta.arrows:after {
    box-sizing: inherit;
    content: '\00BB';
    display: block;
    font-size: 2rem;
    font-weight: 400;
    position: absolute;
    right: 0.75rem;
    top: -0.15rem;
}





/* Images
====================================================================== */
.img-container {
    display: block;
    margin-bottom: 2rem;
}

.img-container img {
    margin-bottom: 0.5rem;
    width: 100%;
}

.img-container.centered {
    text-align: center;
}

.img-container.centered > img {
    width: auto !important;
}

.img-container.left {
    margin: 0 1.5rem 1rem 0;
}

.img-container.left > img {
    margin: 0;
}





/* Lists
====================================================================== */
ol.boxed {
    counter-reset: li-counter;
    list-style: none;
    margin: 0 0 0 3rem;
    padding: 0;
}

ol.boxed > li {
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 0 1rem 0 0;
    position: relative;
}

ol.boxed > li:before {
    background-color: #0c8e45;
    color: white;
    content: counter(li-counter);
    counter-increment: li-counter;
    height: 1.5rem;
    left: -2.5rem;
    line-height: 1.6rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.6rem;
}

ul.bulleted > li {
    list-style-type: disc;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

ul.iconed > li {
    margin-bottom: 0.5rem;
}

ul.iconed .fa {
    padding-right: 0.5rem;
}

ul.bordered {
    border-top: 1px solid rgb(199, 201, 203);
}

ul.bordered > li {
    border-bottom: 1px solid rgb(199, 201, 203);
    padding: 1rem 0;
}

ul.bordered > li > span {
    display: block;
}

ul.bordered > li > span:first-of-type {
    margin-bottom: 0.25rem;
}

ul.bordered > li > span em {
    font-size: 0.8rem;
}



ul.step-graph > li:after {
    border-top: 3px solid #0c8e45;
    content: "";
    display: block;
    position: absolute;
    top: 1.5rem;
    width: 100%;
}

ul.step-graph > li:last-of-type:after {
    display: none;
}

ul.step-graph .step {
    border: 4px solid #0c8e45;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 1rem;
    padding: 0.5rem 1.5rem;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}

ul.step-graph .step-content {
    padding-bottom: 1rem;
}

/* small devices and down */
@media only screen and (max-width: 991px) {
    ul.step-graph > li:after {
        border-left: 3px solid #0c8e45;
        border-top: 0;
        height: 100%;
        left: 2rem;
        top: 2rem;
        width: auto;
    }

    ul.step-graph .step-content {
        margin-left: 3rem;
    }
}

.green {
    color: #0C8F43;
}





/* General Navigation
====================================================================== */

.header-container a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}






/* Desktop Navigation
====================================================================== */

.header-container .fa {
    margin-right: 0.25rem;
}


.header-container.desktop {
    background-color: black;
    color: white;
    display: flex;
    height: 80px;
    position: fixed;
    top: 0;
    transition: height 0.3s ease;
    width: 100%;
    z-index: 50;
}

.header-container.desktop .logo-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 18%;
}

.header-container.desktop .logo-container .img-responsive {
    max-height: 100%;
    max-width: 270px;
    padding: 1rem 2.5rem 1rem 1rem;
}

.header-container.desktop .img-responsive img {
    width: 100%;
}

.desktop .header-right-container {
    width: 82%;
}

.desktop .top-bar-container,
.desktop .bottom-bar-container {
    display: block;
    width: 100%;
}

.desktop .top-bar-container {
    height: 34px;
}

.desktop .bottom-bar-container {
    height: 46px;
}

.desktop .phone-number-container,
.desktop .secondary-links-container {
    height: 34px;
    line-height: 34px;
    padding-right: 1rem;
}

.desktop .phone-number-container span {
    font-size: 1.25rem;
    font-weight: 800;
}

.desktop .secondary-links-container a {
    color: #666;
    font-size: 0.85rem;
    font-weight: 700;
    padding-left: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s
}

.desktop .secondary-links-container a:hover {
    color: #aaa;
}

.desktop .secondary-links-container .material-icons.tiny {
    color: #aaa;
    vertical-align: middle;
}

.desktop .mainnav-container,
.desktop .mainnav,
.desktop .mainnav > li > a {
    height: 100%;
}

.desktop .mainnav {
    background: #262626;
    display: flex;
    list-style: none;
    margin: 0;
}

.desktop .mainnav > li {
    background: #ccc;
    height: 46px;
    line-height: 46px;
    padding-right: 21px;
    position: relative;
}

.desktop .mainnav > li.more,
.desktop .mainnav > li.shrink-1,
.desktop .mainnav > li.shrink-2 {
    display: none;
}

.desktop .mainnav > li.account {
    background: #262626;
}

.desktop .mainnav > li > a {
    background: #f9f9f9;
    color: black;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 700;
    /* padding: 0 1rem; */
    /* The padding had to at least have 1px or it would be off in firefox for some reason. */
    padding: 1px 1rem;
    position: relative;
    text-transform: uppercase;
    transition: none;
    /*top: -3px;*/
    white-space: nowrap;
}

/* Chrome only 
.desktop .mainnav>li>a:not (*:root) {
	top: -2px;
}*/

.desktop .mainnav > li.account > a {
    background: #dbdbdb;
    color: #999;
}

.desktop .mainnav > li > a:before,
.desktop .mainnav > li > a:after {
    background: #f9f9f9;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 20px;
    transform: skewX(-20deg);
}

.desktop .mainnav > li.account > a:before,
.desktop .mainnav > li.account > a:after {
    background: #dbdbdb;
}

.desktop .mainnav > li > a:before {
    left: -10px;
}

.desktop .mainnav > li > a:after {
    right: -10px;
}

.desktop .mainnav > li:hover > a,
.desktop .mainnav > li:hover > a:before,
.desktop .mainnav > li:hover > a:after {
    background: #262626;
    color: #0C8F43;
}

.desktop .subnav {
    background: rgba(38, 38, 38, 0.95);
    display: none;
    left: -19px;
    line-height: 1.4;
    min-width: 500px;
    opacity: 0;
    position: absolute;
    top: 46px;
    transition: 0.3s ease;
}

.other-services .subnav,
.commercial .subnav,
.why-terminix .subnav,
.more .subnav {
    left: auto;
    right: 19px;
}

.commercial .subnav {
    min-width: 675px;
}

.more .subnav {
    min-width: 200px;
}

.desktop .mainnav > li:hover .subnav {
    display: block;
    opacity: 1;
}

.desktop .subnav .subnav-slants {
    position: relative;
}

.desktop .subnav .subnav-slants:before,
.desktop .subnav .subnav-slants:after {
    background: #262626;
    content: '';
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 200px;
    transform: skewX(-20deg);
    transition: 0.3s ease;
}

.desktop .subnav .subnav-slants:before {
    left: -50px;
}

.desktop .subnav .subnav-slants:after {
    right: -30px;
}

.subnav-wrapper {
    padding: 0 2rem;
}

.more .subnav-wrapper {
    padding: 2rem;
}

.more .subnav .subnav-wrapper {
    display: flex;
    justify-content: space-around;
}

.desktop .subnav h4 {
    color: #909090;
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.desktop .subnav .subnav-wrapper > ul {
    display: block;
    width: 100%;
}

.more .subnav .subnav-wrapper > ul {
    margin-right: 2rem;
    line-height: 1.6;
}

.desktop .subnav .subnav-wrapper > ul > li {
    display: inline-block;
    height: 2rem;
    width: 24%;
}

.other-services .subnav .subnav-wrapper > ul > li {
    width: 49%;
}

.more .subnav .subnav-wrapper > ul > li {
    display: block;
    height: auto;
    margin-bottom: 2rem;
    vertical-align: top;
    white-space: nowrap;
}

.commercial .subnav .subnav-wrapper > ul > li,
.why-terminix .subnav .subnav-wrapper > ul > li {
    width: 32%;
}

.desktop .subnav ul > li > a {
    color: white;
    font-size: 0.9rem;
    font-weight: normal;
    transition: 0.3s ease;
}

.more .subnav ul > li > a {
    text-transform: none;
}

.desktop .subnav .subnav-wrapper > ul > li > a {
    font-weight: bold;
    text-transform: uppercase;
}

.desktop .subnav ul > li > a:hover {
    color: #aaa;
}

.desktop .subnav .actions {
    display: block;
    padding-top: 2rem;
    position: relative;
}

.desktop .subnav .actions a.action-button {
    background: #F67F00;
    bottom: -50%;
    color: white;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    padding: 0 1rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.desktop .subnav .actions a.action-button:hover {
    color: black;
}

.desktop .subnav .actions a.action-button:before,
.desktop .subnav .actions a.action-button:after {
    background: #F67F00;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 20px;
    transform: skewX(-20deg);
    transition: all 0.3s;
}

.desktop .subnav .actions a.action-button:before {
    left: -10px;
}

.desktop .subnav .actions a.action-button:after {
    right: -10px;
}

.desktop .subnav .actions a.action-button .fa {
    padding-left: 4rem;
}


.header-container.no-nav {
    box-sizing: border-box;
    padding-left: 15%;
    padding-right: 15%;
}

.header-container.no-nav .logo-container {
    width: 50%;
    max-width: 250px;
}

.header-container.no-nav .header-right-container {
    display: flex;
    justify-content: flex-end;
}

.header-container.no-nav .phone-number-container,
.header-container.no-nav .chat-link-container {
    height: 80px;
    line-height: 80px;
    padding: 0 1rem;
}

.header-container.no-nav .chat-link-container > a {
    color: white;
    text-decoration: underline;
}

.header-container.no-nav .chat-link-container > a:hover {
    color: #ccc;
    text-decoration: none;
}





/* Mobile Navigation
====================================================================== */

.header-container.mobile {
    background-color: black;
    display: none;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.mobile .bar-container {
    background: black;
    height: 60px;
    position: relative;
    width: 100%;
    z-index: 49;
}

.mobile .chat-link,
.mobile .phone-link {
    align-items: center;
    display: flex;
    float: right;
    height: 100%;
    padding-right: 0.5rem;
    position: relative;
}

.mobile .chat-link > a,
.mobile .phone-link > a {
    color: #fff;
    font-size: 1rem;
    height: 30px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
}

@media only screen and (max-width: 330px) {

    .mobile .chat-link > a,
    .mobile .phone-link > a {
        font-size: 0.85rem;
    }
}

.mobile .logo-container {
    align-items: center;
    display: flex;
    float: left;
    height: 100%;
    justify-content: flex-end;
    margin-left: 1rem;
    max-width: 200px;
    width: 40%;
}

.mobile .logo-container img {
    display: block;
    width: 100%;
}

.mobile .nav-icon {
    align-items: center;
    display: flex;
    float: right;
    height: 100%;
    position: relative;
    justify-content: center;
    width: 60px;
}

.mobile .nav-icon a {
    cursor: pointer;
    display: block;
    height: 30px;
    position: relative;
    transition: 0.15s ease-in-out;
    width: 30px;
}

.mobile .nav-icon a span {
    background: white;
    border-radius: 3px;
    display: block;
    height: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.15s ease-in-out;
    width: 100%;
}

.mobile .nav-icon a span:nth-child(1) {
    top: 5px;
}

.mobile .nav-icon a span:nth-child(2),
.mobile .nav-icon a span:nth-child(3) {
    top: 14px;
}

.mobile .nav-icon a span:nth-child(4) {
    top: 23px;
}

.mobile.open .nav-icon a span:nth-child(1),
.mobile.open .nav-icon a span:nth-child(4) {
    top: 14px;
    left: 50%;
    width: 0;
}

.mobile.open .nav-icon a span:nth-child(2) {
    transform: rotate(45deg);
}

.mobile.open .nav-icon a span:nth-child(3) {
    transform: rotate(-45deg);
}

.mobile .nav-container {
    background: white;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 100%;
    transition: 0.3s all;
    width: 100%;
    z-index: 48;
}

.mobile.open .nav-container {
    opacity: 1;
    top: 60px;
}

.mobile .subnav {
    align-items: center;
    background: black;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    width: 100%;
}

.mobile .subnav a {
    color: #ddd;
    font-size: 0.85714rem;
    text-transform: uppercase;
}

.mobile .subnav a:first-child {
    margin-left: 1rem;
}

.mobile .subnav a:last-child {
    margin-right: 1rem;
}

.mobile .mainnav {
    margin: 0;
    transition: 0.3s all;
}

.mobile .mainnav > li {
    background: #e9e9e9;
    margin: 0;
    padding: 0;
    position: relative;
    transition: 0.3s all;
}

.mobile .mainnav > li > a {
    background: white;
    color: black;
    display: block;
    font-size: 1.21428rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: 0.3s all;
}

.mobile .mainnav > li:nth-child(1) > a,
.mobile .mainnav > li:nth-child(2) > a,
.mobile .mainnav > li:nth-child(3) > a {
    font-weight: 800;
}

.mobile .mainnav > li.active > a {
    background: #dbdbdb;
}

.mobile i.chevron {
    position: absolute;
    right: 1.5rem;
    top: 0.95rem;
    transform: translate(-6px, 0);
}

.mobile i.chevron:before,
.mobile i.chevron:after {
    background-color: black;
    content: '';
    height: 12px;
    position: absolute;
    transition: 0.3s all;
    width: 3px;
}

.mobile i.chevron:before {
    transform: translate(5px, 0) rotate(45deg);
}

.mobile i.chevron:after {
    transform: translate(-3px, 0) rotate(-45deg);
}

.mobile .mainnav > li.active > a > i.chevron:before {
    transform: translate(-5px, 0) rotate(45deg);
}

.mobile .mainnav > li.active > a > i.chevron:after {
    transform: translate(3px, 0) rotate(-45deg);
}

.mobile .mainnav .secondary {
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: 0.3s all;
    z-index: 2;
}

.mobile .mainnav > li.active > .secondary {
    max-height: 800px;
    opacity: 1;
    padding: 0.5rem 0;
}

.mobile .secondary > li > a {
    color: black;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
}






/* Breadcrumbs
====================================================================== */
.breadcrumbs-container {
    margin-bottom: 2rem;
    padding-top: 0;
}


.breadcrumbs ul {
    display: flex;
    flex-wrap: no-wrap;
    list-style: none;
    padding: 0;
}

.breadcrumbs li {
    background: transparent;
    border-radius: 0;
    display: block;
    flex-grow: 0;
    margin-bottom: 0;
    padding: 0;
}

.breadcrumbs.fixed li {
    flex-grow: 1;
}

.breadcrumbs li a {
    background: #ddd;
    color: #555 !important;
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin-right: 23px;
    padding: 0 10px 0 0;
    pointer-events: initial;
    position: relative;
    text-decoration: none;
    transition: none;
}

.breadcrumbs li:last-child a {
    margin-right: 0;
}

.breadcrumbs li a:before,
.breadcrumbs li a:after {
    border: 0 solid #ddd;
    border-width: 20px 10px;
    content: '';
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.breadcrumbs li a:before {
    border-left-color: transparent;
    left: -20px;
}

.breadcrumbs li a:after {
    border-color: transparent;
    border-left-color: #ddd;
    left: 100%;
}


.breadcrumbs li a:hover {
    background: #ccc;
}

.breadcrumbs li a:hover:before {
    border-color: #ccc;
    border-left-color: transparent;
}

.breadcrumbs li a:hover:after {
    border-left-color: #ccc;
}

.breadcrumbs li.disabled a {
    background: #f0f0f0 !important;
    color: #bbb !important;
    font-weight: 400 !important;
    pointer-events: none !important;
}

.breadcrumbs li.disabled a:before {
    border-color: #f0f0f0 !important;
    border-left-color: transparent !important;
}

.breadcrumbs li.disabled a:after {
    border-left-color: #f0f0f0 !important;
}

.breadcrumbs li.current a {
    background: #0C8F43 !important;
    color: white !important;
}

.breadcrumbs li.current a:before {
    border-color: #0C8F43 !important;
    border-left-color: transparent !important;
}

.breadcrumbs li.current a:after {
    border-left-color: #0C8F43 !important;
}


.breadcrumbs li:first-child a:before,
.breadcrumbs.fixed li:last-child a:after {
    border: none;
}


.breadcrumbs ul li.home a {
    width: 40px;
}

.breadcrumbs ul li.home a span:before {
    content: "\f015";
    display: block;
    font-size: 1.25rem;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    right: 0;
    text-decoration: inherit;
    top: 50%;
    transform: translate(-50%, -50%);
}


.breadcrumbs .step-number {
    font-weight: 800;
    margin-right: 0.25rem;
}

.breadcrumbs .current .step-name {
    font-weight: 700;
}


@media (max-width: 769px) {
    .breadcrumbs li a {
        font-size: 0.8rem;
        font-weight: 400;
        height: 30px;
        line-height: 30px;
        margin-right: 16px;
    }

    .breadcrumbs li a:before,
    .breadcrumbs li a:after {
        border-width: 15px 7px;
    }

    .breadcrumbs li a:before {
        border-left-color: transparent;
        left: -14px;
    }

    .breadcrumbs ul li.home a {
        width: 34px;
    }

    .breadcrumbs ul li.home a span:before {
        font-size: 1rem;
    }

    .breadcrumbs .step-number {
        font-size: 1.25rem;
    }
}

#funnel-wrapper .breadcrumbs ul {
    margin-left: -15px;
    margin-right: -15px;
}

#funnel-wrapper .breadcrumbs li {
    width: 20%;
}

#funnel-wrapper .breadcrumbs li a {
    font-size: 0.9rem;
    padding: 0 5px;
}

#funnel-wrapper .breadcrumbs li:first-of-type a {
    padding-left: 15px;
}






/* General Helpers
====================================================================== */
.block {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-margin {
    margin: 0 !important;
}

.flex {
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

/* Extra Small Devices (Mobile) */
@media (max-width: 767px) {
    .block-xs {
        display: block
    }

    .flex-xs-end {
        justify-content: flex-end;
    }
}

/* Small Devices (Tablet) */
@media (min-width: 768px) {
    .block-sm {
        display: block
    }

    .flex-sm-end {
        justify-content: flex-end;
    }
}

/* Medium Devices (Desktop) */
@media (min-width: 992px) {
    .block-md {
        display: block
    }

    .flex-md-end {
        justify-content: flex-end;
    }
}

/* Large Devices (Desktop) */
@media (min-width: 1200px) {
    .block-lg {
        display: block
    }

    .flex-lg-end {
        justify-content: flex-end;
    }
}

.borderless {
    border: none !important;
    box-shadow: none !important;
}

.grey-bordered {
    border: solid 2px #C7C9CB;
}

.light-grey-box {
    background-color: #E0E1E3;
}

@media (min-width: 768px) {
    .border-right {
        border-right: solid 1px #C7C9CB;
    }
}

.animate {
    -webkit-transition: all .75s;
    -moz-transition: all .75s;
    -ms-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}






/* Confirmation Page
====================================================================== */
.headline-bar {
    background: #eee;
    padding: 0.5rem 15px;
}

.customer-number,
.summary-section {
    margin-bottom: 2rem;
}

table.summary .sub-headline,
.summary-section p {
    margin-bottom: 0;
}

.summary-section p:not(:first-of-type) {
    margin-top: 0.15rem;
}

table.summary {
    margin-bottom: 1rem;
}

.table > tbody > tr:first-child > td {
    border-top: 0;
}

table.table.summary > tbody > tr > td {
    padding: 1rem 0.75rem;
    vertical-align: middle;
}

table.summary h4 {
    margin-top: 0;
}

table.summary tr:last-child {
    border: 0;
}

.item-price {
    font-size: 1.25rem;
    font-weight: bold;
    white-space: nowrap;
}

.note {
    font-size: 0.8rem;
}

.item-totals {
    margin: 0;
}

.item-totals li {
    margin-bottom: 0.25rem;
}

.item-totals .tot-amount {
    display: inline-block;
    min-width: 125px;
}

.final-amount {
    font-size: 1.15rem;
    font-weight: bold;
}

.my-account-wrapper {
    background: #ddd;
}

.my-account-wrapper > .col {
    padding-bottom: 1rem;
    padding-top: 1rem;
}






/* Homepage --> Footer
===============================================*/

footer.global-footer {
    background: black;
    color: white;
}

footer.global-footer hr {
    height: 2px !important;
}

footer.global-footer a {
    text-decoration: none;
}

footer > .container {
    position: relative;
}

.scroll-to-top {
    position: absolute;
    color: white;
    top: 2rem;
    right: 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 23px;
    padding-top: 6px;
    line-height: 1.1rem;
    cursor: pointer;
    z-index: 2;
}

.scroll-to-top > div {
    position: relative;
}

.scroll-to-top img {
    position: absolute;
    top: -6px;
    right: -23px;
}

.help-bar {
    background: #d8d8d8;
    color: black;
    font-size: 1.75rem;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
    padding: 1.5rem 0;
}

.help-bar .container {
    position: relative;
}

.help-bar .fa {
    background-color: #ff7f00;
    border-radius: 100px;
    color: white;
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
}

.help-bar .phone,
.link-section .phone,
.link-column .phone,
a[href^="tel:"] {
    color: #ff7f00;
}

.logo-bar {
    padding: 2rem 0;
    justify-content: space-between;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

.footer-logo-bar > div {
    display: block;
    text-align: center;
}

.footer-logo-bar .tmx-img-container img {
    max-height: 75px;
    max-width: 100%;
}

.footer-logo-bar.mobile .tmx-img-container img {
    max-width: 130px;
}

.footer-section {
    padding: 2rem 0;
    /*Overriding materialize row*/
    margin-bottom: 0 !important;
}

.link-column {}

.link-column h3 {
    color: white;
    margin-top: 0 !important;
    margin-bottom: 1.8rem !important;
}

.link-column li {
    margin: .8rem 0;
}

.link-column a,
.link-column p,
.link-column .call-phone {
    color: rgb(140, 140, 140);
    font-size: 1rem;
    font-weight: 600;
}

.link-column:nth-child(1) {
    margin-bottom: 1.8rem;
}

.link-column:nth-child(2) {
    border-left: 1px solid rgba(140, 140, 140, .4);
    padding-left: 1rem;
}

.link-column:nth-child(3) {
    border-left: 1px solid rgba(140, 140, 140, .4);
    border-right: 1px solid rgba(140, 140, 140, .4);
    padding-left: 1rem;
}

.link-column:nth-child(4) {
    padding-left: 1rem;
}

.call-phone {
    margin-bottom: 2.4rem;
}

.call-phone a[href^="tel:"] {
    color: #ff7f00 !important;
}

.copyright-section {
    font-size: .9rem;
    color: rgb(140, 140, 140);
    padding-bottom: 2rem;
}

.copyright-section img {
    margin-left: .5rem;
}

#imgSvmCompany {
    align-self: flex-start;
}

.copyright-section .img-holder {
    justify-content: flex-end;
}

.social-container {
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    color: white;
}












.tmx-hero-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}

.tmx-hero-header .container,
.tmx-hero-header .row {
    min-height: inherit;
}

.tmx-hero-header .tmx-hero-box {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    min-height: inherit;
    padding: 2rem 4rem;
    text-align: center;
}

.tmx-hero-header .banner-title {
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    width: 100%;
}

.tmx-hero-header .banner-title > * {
    color: inherit;
    font-size: 3rem;
}


.tmx-hero-header.hero-big-bug {
    background-image: url(/static-srvm/trmx/ecomm/img/events/big-bug/hero-big-bug.jpg);
}



@media (max-width: 767px) {
    .tmx-hero-header {
        min-height: 250px;
    }

    .tmx-hero-header .tmx-hero-box {
        padding: 1rem;
    }

    .tmx-hero-header .banner-title {
        font-size: 3rem;
    }

    .tmx-hero-header .banner-title > * {
        font-size: 2rem;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .tmx-hero-header {
        min-height: 350px;
    }

    .tmx-hero-header .tmx-hero-box {
        padding: 1rem;
    }

    .tmx-hero-header .banner-title {
        font-size: 4rem;
    }

    .tmx-hero-header .banner-title > * {
        font-size: 2.25rem;
    }
}







.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.block {
    display: block;
}

.flex {
    display: flex;
}


.spinner {
    animation: spin 0.75s linear infinite;
    border: 3px solid rgba(0, 0, 0, .1);
    border-bottom-color: #FF821C;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    -webkit-animation: spin 0.6s linear infinite;
}

.spinner.light {
    border-color: rgba(255, 255, 255, 0.35);
    border-bottom-color: white;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}


















/* HOLDING PLACE FOR NEW COMPONENTS
=========================================================================*/

#hero-container {
    min-height: 320px;
    position: relative;
}

.hero-image img {
    height: auto;
    min-height: 320px;
    width: 100%;
}

.content-container {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.top-links a {
    font-size: 0.9rem;
    text-decoration: none;
}



.generic-facts > div:after {
    background: transparent url(/static-srvm/trmx/ecomm/img/icons/icon_arrow-gray.png) no-repeat top center;
    background-size: contain;
    content: ' ';
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, 100%);
    width: 50%;
}

.generic-facts > div:last-of-type:after {
    display: none;
}


.tabs {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
}

.tabs > li {
    background: rgb(239, 239, 239);
    border-bottom: 1px solid rgb(224, 225, 227);
    flex-grow: 1;
    transition: 0.3s ease;
}

.tabs > li:hover {
    background: rgb(248, 248, 248);
}

.tabs > li > a {
    border: 0 !important;
    border-radius: 0;
    display: block;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
}

.tabs > li.active {
    background: white !important;
    border-bottom: 0;
    border-right: 1px solid rgb(224, 225, 227);
}

.tabs > li.active:last-of-type {
    border-left: 1px solid rgb(224, 225, 227);
    border-right: 0;
}

.tabs > li.active > a {
    color: rgb(12, 142, 68) !important;
}

.threat-solution {
    border: 1px solid rgb(224, 225, 227);
}

.threat-solution .tabs a {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.infestation .img-container {
    margin-bottom: 0.25rem;
}

.common-detailed-info {
    border-top: 30px solid rgb(12, 142, 68);
}


.icon-grid {
    margin-top: 2rem;
}

.icon-grid > div {
    min-height: 200px;
}




/* Small devices (phones, 767px and down) */
@media (max-width: 767px) {
    .hero-image {
        height: 320px;
        overflow: hidden;
        text-align: center;
    }

    .hero-image img {
        height: 100%;
        width: auto;
    }

    .generic-facts > div:after {
        display: none;
    }
}

/*=========================================================================*/
