/************************************
	Import Proxima Nova Font Family
*************************************/
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima%20Nova%20Reg.otf);
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima%20Nova%20Sbold.otf);
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima%20Nova%20Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima%20Nova%20Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima%20Nova%20Xbold.otf);
    font-weight: 800;
}

@font-face {
    font-family: FontAwesome;
    src: url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.eot?#iefix) format('eot'),
        url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.woff) format('woff'),
        url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf) format('truetype'),
        url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.svg#FontAwesome) format('svg');
}

/*************************************
                Globals
*************************************/
h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
.p {
    margin: 0;
}

body {
    font-family: ProximaNova, Helvetica, Arial, sans-serif;
    font-weight: 400;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-size: 22px;
    line-height: 32px;
    color: #000;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
}

body.modal-open {
    overflow: hidden;
}

h1,
.h1 {
    font-weight: 900;
    color: #0C8F43 !important;
    margin: 0 0 33px 0;
    font-size: 52px;
    line-height: 40px;
    margin-bottom: 27px;
}

h1 span,
h2,
.h2 {
    font-size: 36px;
    line-height: 30px;
    font-weight: 900;
}

h2,
.h2 {
    margin-bottom: 20px;
}

h3,
.h3 {
    font-size: 25px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 10px;
}

h4,
.h4 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 800;
    margin-bottom: 10px;
}

h5,
.h5 {
    font-size: 16px;
    line-height: 22px;
}

p,
.p {
    margin-bottom: 18px;
}

.p {
    font-size: 22px;
}

/* li {
	line-height: initial;
} */
@media (min-width : 975px) {

    h1,
    .h1,
    .h1-desktop {
        font-size: 80px;
        line-height: 60px;
        margin-bottom: 33px;
    }

    h1 span,
    h2,
    .h2 {
        font-size: 52px;
        line-height: 45px;
    }

    h3,
    .h3 {
        font-size: 36px;
        font-weight: 900;
        line-height: 30px;
        margin-bottom: 10px;
    }

    h4,
    .h4 {
        font-size: 25px;
        line-height: 22px;
        font-weight: 800;
        margin-bottom: 5px;
    }
}

.flex-between {
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.st_sharethis_custom {
    /* background: url("/static-srvm/images/ppath/EMAIL-ICON.jpg");
	padding:0px 16px 0 0;
	 */

}

@media print {

    .sms,
    .email,
    .print {
        display: none !important;
    }
}

.wrap {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.wrap > div {
    padding-top: 20px;
}

.wrap:after,
.wrap > div:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width :767px) {
    .wrap-m {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }

    .wrap-m > div {
        padding-top: 20px;
    }

    .wrap-m:after,
    .wrap-m > div:after {
        content: "";
        display: table;
        clear: both;
    }

    .iphoneInputfix {
        position: absolute !important;
    }
}

@media (min-width :975px) {
    body {
        font-size: 22px;
        line-height: 32px;
    }

    .centered-desktop {
        text-align: center;
    }

    .thin-column {
        padding-left: 73px;
        padding-right: 73px;
    }

    .thick-column {
        padding-left: 33px;
        padding-right: 33px;
    }
}

@media (min-width : 1024px) {
    p {
        margin-bottom: 15px;
    }
}

#consentTextWrapper {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: -1;
    overflow: hidden;
}

/****************************************
       Override Bootstrap Defaults
****************************************/
a,
label {
    color: inherit;
    cursor: pointer;
}

.main a {
    text-decoration: underline;
}

.collapsing {
    -webkit-transform: translateZ(0);
    -webkit-transition: height .35s linear;
    -o-transition: height .35s linear;
    transition: height .35s ease;
}

.visible-xs-inline {
    display: inline-block;
}

@media (min-width : 768px) {
    .visible-xs-inline {
        display: noone;
    }
}

@media (max-width : 1023px) {
    .hidden-custom-header {
        display: none !important;
    }

    .visible-custom-header {
        display: block !important;
    }
}

@media (min-width : 1024px) {
    .hidden-custom-header {
        display: block !important;
    }

    .visible-custom-header {
        display: none !important;
    }
}

@media (max-width : 974px) {

    .hidden-custom,
    .hidden-custom-inline {
        display: none !important;
    }

    .visible-custom {
        display: block !important;
    }

    .visible-custom-inline {
        display: inline-block !important;
    }

    .one-line-m {
        clear: both;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media (min-width : 975px) {
    .hidden-custom {
        display: block !important;
    }

    .hidden-custom-inline {
        display: inline-block !important;
    }

    .visible-custom,
    .visible-custom-inline {
        display: none !important;
    }
}

ul li.bullets,
p.bullets {
    list-style-type: disc;
    display: list-item;
}

.slider .slides {
    background-color: inherit;
}

/*************Colors************/
.black {
    color: #000 !important;
}

.white {
    color: #FFF;
}

.white-text {
    color: #FFF !important;
}

.green {
    color: #0C8F43;
}

.orange {
    color: #ff821c;
}

.menu-gray {
    color: #777 !important;
}

.light-green {
    color: #00B050 !important;
}

.darkest-gray {
    color: #262526 !important;
}

.dark-gray {
    color: #464749 !important;
}

.gray {
    color: #999 !important;
}

.light-gray {
    color: #C7C9CB !important;
}

.lightest-gray {
    color: #E0E1E3 !important;
}

.red {
    color: #FF0000 !important;
    border-color: #FF0000 !important;
}

.black-box {
    background-color: #000;
}

.white-box {
    background-color: #FFF;
}

.green-box {
    background-color: #0C8F43;
}

.light-green-box {
    background-color: #C3D69B;
}

.grey-box {
    background-color: #d1d3d4;
}

.light-grey-box {
    background-color: #E0E1E3;
}

.dark-gray-box {
    background-color: #CCCCCC !important;
}

.darkest-gray-box {
    background-color: #252625;
}

.orange-box {
    background-color: #FF821C;
}

.rotate {
    transform: rotate(180deg);
}

.rm-button-style {
    border: none;
}

@media (max-width : 767px) {
    .white-mobile {
        color: #fff;
    }

    .light-grey-box-mobile {
        background-color: #E0E1E3 !important;
    }
}

/************End Colors*********/
/************Global stylings *****************/
.tooltip {
    opacity: 1 !important;
    font-family: ProximaNova, Helvetica, Arial, sans-serif !important;
}

.tooltip p {
    font-size: 15px;
    font-weight: 800;
    color: #000 !important;
}

.tooltip-inner {
    background-color: #EEE;
    border-radius: 0;
    width: 200px;
    padding-top: 10px;
    color: #000;
    border: solid 1px #000;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #EEE;
}

.centered {
    margin: 0 auto;
    display: block;
}

a.underlined,
.underlined a {
    text-decoration: underline
}

a:hover {
    color: #FF821C;
}

ul.green p {
    color: #000;
}

a.orange:hover {
    color: #0C8F43 !important;
}

#ui-datepicker-div {
    background-color: #fff;
    border: solid 1px black;
}

.ui-datepicker-calendar a:hover {
    background-color: #0C8F43 !important;
}

.unpad {
    margin: 0 !important;
    padding: 0 !important;
}

.no-marg {
    margin: 0px !important;
}

.no-pad {
    padding: 0 !important;
}

.no-pad-top {
    padding-top: 0 !important;
}

.xs-padd {
    padding: 5px;
}

.sm-pad {
    padding: 15px !important;
}

.sm-m-top {
    margin-top: 5px;
}

.sm-m-bottom {
    margin-bottom: 5px;
}

.md-m-bottom {
    margin-bottom: 10px;
}

.lg-m {
    margin-top: 20px;
    margin-bottom: 20px;
}

.lg-m-top {
    margin-top: 20px;
}

.xlg-m-top {
    margin-top: 30px;
}

.sm-pad-bottom {
    padding-bottom: 10px;
}

.sm-m-left {
    margin-left: 5px;
}

.md-m-left {
    margin-left: 10px;
}

.xs-padd {
    padding: 5px;
}

.md-m-right {
    margin-right: 10px;
}

.xl-m-right {
    margin-right: 30px;
}

.lg-m-left {
    margin-left: 20px;
}

.xl-m-left {
    margin-left: 30px;
}

.md-pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.md-pad-left {
    padding-left: 10px;
}

.md-pad-right {
    padding-right: 10px;
}

.lg-m-bottom {
    margin-bottom: 20px;
}

.xl-m-bottom {
    margin-bottom: 30px;
}

.xs-pad-top {
    padding-top: 10px !important;
}

.xs-pad {
    padding-top: 10px !important;
    padding-bottom: 10px;
}

.xs-pad-side {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.lg-pad-bot {
    padding-bottom: 30px;
}

.lg-pad-top {
    padding-top: 30px;
}

.lg-pad {
    padding-top: 30px;
    padding-bottom: 30px;
}

.xl-pad {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.xs-line {
    line-height: 15px !important;
}

.sm-line {
    line-height: 22px !important;
}

@media (max-width : 974px) {
    .black-bordered-bottom-m {
        border-bottom: solid 1px #000;
    }
}

@media (max-width : 400px) {
    .sm-font-m {
        font-size: 15px !important;
    }

    .black-bordered-bottom-m {
        border-bottom: solid 1px #000;
    }
}

.sm-font {
    font-size: 15px !important;
}

.md-font {
    font-size: 18px !important;
}

.ex-md-font {
    font-size: 20px !important;
}

.lg-font {
    font-size: 40px;
}

.col-left {
    border-right: solid 1px #C7C9CB;
}

@media (min-width : 1024px) {
    .xl-pad {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}

.bordered {
    border: solid 2px #000;
}

.white-border-bottom {
    border-bottom: solid 1px #fff;
}

@media (min-width :768px) {
    .green-border-left {
        border-left: solid 2px #0C8F43;
    }

    .m-link {
        pointer-events: none;
        cursor: default;
        text-decoration: none !important;
    }
}

@media (min-width :975px) {
    .gray-border-top {
        border-top: solid 2px #C7C9CB;
    }

    .gray-bordered-left {
        border-left: solid 2px #C7C9CB;
    }

    .gray-bordered-right {
        border-right: solid 1px #C7C9CB;
    }

    .gray-bordered-bottom {
        border-bottom: solid 1px #C7C9CB;
    }

    .black-bordered-left {
        border-left: solid 1px #000;
    }

    .black-bordered-bottom {
        border-bottom: solid 1px #000;
    }
}

.black-bordered {
    border: solid 1px #000;
}

.gray-bordered,
.typeLinks img {
    border: solid 2px #C7C9CB;
}

.green-bordered {
    border: solid 2px #0C8F43;
}

.green-bordered-bottom {
    border-bottom: solid 2px #0C8F43;
}

.border-bottom {
    border-bottom: solid 1px #C7C9CB;
}

.border-top {
    border-top: solid 1px #C7C9CB;
}

@media (min-width : 992px) {
    .border-right {
        border-right: solid 1px #C7C9CB;
    }

    .border-left {
        border-left: solid 1px #C7C9CB;
    }
}

#promo {
    text-align: center;
    background: black;
    color: white;
    margin-bottom: 1px;
}

/****font-weight******/
.thin {
    font-weight: 400 !important;
}

.sbold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.xbold,
.thick {
    font-weight: 800;
}

.xxbold {
    font-weight: 900;
}

input,
select,
textarea {
    border: solid 2px #000;
    font-weight: 700;
    font-size: 14px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 8px;
    width: 100%;
    line-height: 30px;
}

textarea {
    resize: none;
    height: 100px;
}

select:disabled {
    border-color: #C7C9CB;
    color: #C7C9CB;
    background-color: #e0e1e3;
}

input.invalid,
textarea.invalid,
select.invalid {
    border-color: #ff0000;
    color: #ff0000;
}

input[type=radio],
input[type=checkbox] {
    float: left;
    width: initial;
    height: initial;
    margin-right: 10px;
}

label {
    display: block;
    margin: 0px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

input[type=radio] + label:before {
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid black;
    border-radius: 50%;
    background: #FFF;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

input[type=radio].bigradio {
    height: 25px;
    width: 25px;
}

input[type=radio].invalid + label {
    color: #ff0000;
}

input[type=radio].invalid + label:before {
    border-color: #ff0000;
}

input[type=radio]:checked + label:before {
    background: #000;
}

::-webkit-input-placeholder,
::-webkit-textarea-placeholder {
    color: #000;
}

:-moz-placeholder {
    color: #000;
    opacity: 1;
}

::-moz-placeholder {
    color: #000;
    opacity: 1;
}

:-ms-input-placeholder,
:-ms-textarea-placeholder {
    color: #000;
}

:disabled::-webkit-input-placeholder {
    color: #C7C9CB;
}

.gray-input {
    color: #AAA;
    border-color: #AAA;
    border-width: 1px;
}

.gray-input::-webkit-input-placeholder,
.gray-input::-webkit-textarea-placeholder {
    color: #AAA;
}

.gray-input:-moz-placeholder {
    color: #AAA;
}

.gray-input::-moz-placeholder {
    color: #AAA;
}

.gray-input:-ms-input-placeholder,
.gray-input:-ms-textarea-placeholder {
    color: #AAA;
}

.invalid::-webkit-input-placeholder,
.invalid::-webkit-textarea-placeholder {
    color: #ff0000;
}

.invalid:-moz-placeholder {
    color: #ff0000;
}

.invalid::-moz-placeholder {
    color: #ff0000;
}

.invalid:-ms-input-placeholder,
.invalid:-ms-textarea-placeholder {
    color: #ff0000;
}

.big-input {
    height: auto;
    font-size: 25px;
    line-height: 25px;
    padding: 15px;
}

.btn {
    color: #fff;
    background: #ff821c;
    border-radius: 1px;
    font-weight: 700;
    font-size: inherit;
    padding: 6px 10px;
    white-space: normal;
    width: 100%;
    line-height: normal;
}

.close_button {
    text-decoration: none !important;
}

.btn-help {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    border: solid 1px #000;
    line-height: 12px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.btn-help:hover {
    color: #fff;
    background-color: #000;
}

.one-line {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.pointed-button {
    position: relative;
    border-right: none;
    margin-right: 10px;
    height: 30px;
    font-size: 16px;
    line-height: 0;
}

@media (min-width : 975px) {
    .pointed-button {
        width: auto;
    }
}

.pointed-button:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -2px;
    right: -10px;
    border-top: 15px solid transparent;
    border-left: 10px solid #d85a11;
    border-bottom: 15px solid transparent;
}

.pointed-button:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -8px;
    border-top: 13px solid transparent;
    border-left: 8px solid #ff821c;
    border-bottom: 13px solid transparent;
}

.pointed-button.disabled {
    border-color: #c7c9cb;
    background-color: #e0e1e3;
    color: #c7c9cb !important;
}

.pointed-button.disabled:before {
    border-left: 10px solid #c7c9cb;
}

.pointed-button.disabled:after {
    border-left: 8px solid #e0e1e3;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}

.arrow-right {
    margin-left: 7px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    border-radius: 3px;
    vertical-align: sub;
    display: inline-block;
}

.arrow-right.orange {
    border-left: 9px solid #ff821c;
}

@media (min-width :975px) {
    .slant-left:after {
        content: '';
        line-height: 0;
        font-size: 0;
        width: 0;
        height: 0;
        border-top: 210px solid #252625;
        border-bottom: 10px solid transparent;
        border-left: 0px solid transparent;
        border-right: 100px solid transparent;
        position: absolute;
        top: 0;
        right: -100px;
    }
}

.slant-left {
    background-color: #252625;
    padding-left: 40px;
}

@media (min-width : 975px) {
    .slant-right {
        padding-left: 101px;
    }
}

.anchorWrap {
    position: relative;
    padding: 0;
    margin: 0;
}

.navAnchor {
    position: absolute;
    visibility: hidden;
}

@media (min-width : 975px) {
    .navAnchor {
        top: -127px;
    }
}

/****************END GLOBAL STYLINGS**************/
/*************font-size*****************************/
.fs-sm {
    font-size: 10px;
    line-height: 10px;
}

.small-text {
    font-size: 12px !important;
    line-height: 12px;
}

.fs-smd {
    font-size: 15px;
    line-height: 15px;
}

.fs-md,
.md-p p,
.md-p .p {
    font-size: 17px;
    line-height: 22px;
}

.fs-lg {
    font-size: 36px;
    line-height: 32px;
}

.fs-xl {
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
}

@media (min-width : 1024px) {

    .fs-md,
    .md-p p,
    .md-p .p {
        line-height: 25px;
    }
}

@media (max-width : 767px) {
    .text-center-xs {
        text-align: center;
    }

    .fs-md-mob {
        font-size: 42px;
    }

    .fs-sm-mob {
        font-size: 17px;
        line-height: 22px;
    }
}

/*************max-width*****************************/
.mw-sm {
    max-width: 100px;
}

/***************BEGIN HEADER STYLING*****************/
#collapse-nav > li {
    border-right: solid 1px #000;
}

.highlighted-nav-bar {
    background-color: #D3D3D3;
    color: #0C8F43;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 300px;
}

.slow-list {
    transition: all 0.3s ease-out;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 0px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.expand-icon:after {
    content: url("/static-srvm/images/side-nav/Arrow_Down_Orange_TMX.png");
    float: right;
    color: #ff821c;
    left: 15px;
    top: 10px;
    font-size: 24px;
    padding: 10px 20px 0px 0px;
}

.expand-icon.collapsed:after {
    color: #0C8F43;
    float: right;
    left: 15px;
    top: 10px;
    font-size: 24px;
    content: url("/static-srvm/images/side-nav/Arrow_Down_Green_TMX.png");
    display: block;
    padding: 10px 20px 0px 0px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 25px;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    display: block;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

#collapse-nav > h5 {
    border-left: #000;
}

.header-bottom {
    border-bottom: solid 1px #000;
}

@media (min-width : 974px) {
    .nav-button {
        border: solid 2px #000;
        padding: 5px 25px;
    }
}

.navbar-toggle {
    border-color: transparent;
    border: none;
    margin: 0;
    position: absolute;
    top: 8px;
    right: 0px;
    color: #C7C9CB;
}

.navbar-toggle .icon-bar {
    height: 2px;
    margin-bottom: 4px;
    width: 100%;
    background-color: #C7C9CB;
}

.collapse-nav,
.collapse-nav ul {
    margin: 0;
    background-color: #fff;
}

.header-box {
    margin: 10px;
}

.logo {
    width: 100px;
    margin-top: 5px;
}

.header-phone {
    font-size: 18px;
    margin-top: 1px;
}

.header-top {
    padding: 16px 0 0 10px;
    min-height: 60px;
}

@media (max-width :1023px) {
    .collapse-nav li {
        border-top: solid 1px #E0E1E3;
        position: relative;
    }

    .collapse-nav li > a {
        padding: 10px 0;
        padding-right: 15px;
        display: block;
        min-height: 40px;
    }

    .collapse-nav li > a:first-child {
        padding-left: 30px;
    }

    .top-nav,
    .sub-nav {
        display: block;
        position: relative;
    }

    .top-nav li {
        border: none;
    }

    .top-nav,
    .sub-nav {
        background-color: #000;
        color: #0C8F43 !important;
    }

    .top-nav.collapsed,
    .sub-nav.collapsed {
        background-color: #fff;
        color: #000 !important;
    }

    .top-nav:before,
    .sub-nav:before {
        content: "\2212";
        position: absolute;
        color: #0C8F43;
        left: 15px;
        top: 10px;
        font-size: 24px;
    }

    .sub-nav:before {
        left: 25px;
    }

    .collapse-nav .light-gray-box a {
        font-size: 12px;
        text-decoration: underline;
        display: inline-block;
    }

    .top-nav.collapsed:before,
    .sub-nav.collapsed:before {
        content: "\2b";
    }

    .collapse-nav .top-nav + ul > li > a {
        padding-left: 40px;
        font-size: 12px;
    }

    .collapse-nav .sub-nav + ul > li > a {
        padding-left: 50px;
        font-size: 12px;
    }

    .navigator {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30px;
    }

    .navigator:before {
        content: "";
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 9px solid #FF821C;
        display: inline-block;
        margin-top: 13px;
    }

    .collapsed .navigator {
        display: none;
    }
}

@media (min-width :400px) {
    .logo {
        width: 140px;
        margin-top: 0px;
    }

    .header-phone {
        font-size: 22px;
    }
}

@media (min-width :1024px) {
    header {
        position: fixed;
        width: 100%;
        z-index: 5;
    }

    .collapse-nav .collapse.in {
        display: none;
    }

    .collapse-nav {
        display: block;
    }

    .collapse-nav ul {
        position: absolute;
        height: auto !important;
        border: solid 1px #000;
    }

    .collapse-nav > li {
        display: inline-block;
        float: left;
    }

    .collapse-nav > li.right-nav-menu {
        position: relative;
    }

    .collapse-nav > li.right-nav-menu > div.medium-panel {
        right: 0;
        width: 850px;
        min-width: 800px;
    }

    .collapse-nav > li.right-nav-menu {
        position: relative;
    }

    .collapse-nav > li.right-nav-menu > div.small-panel {
        right: 0;
        width: 579px;
    }

    .collapse-nav > li > a {
        font-size: 20px;
        line-height: 13px;
        padding: 10px 15px;
        display: inline-block;
        text-decoration: none !important;
    }

    .collapse-nav > li > a > span {
        display: block;
        font-size: 13px;
    }

    .collapse-nav > li ul a {
        display: block;
        font-size: 12px;
        padding: 7px 20px;
        border-bottom: solid 1px #C7C9CB;
        line-height: 20px;
    }

    .collapse-nav li:hover > a {
        background-color: #D3D3D3;
        color: #0C8F43;
    }

    .collapse-nav > li > ul > div {
        position: relative;
    }

    .collapse-nav > li:hover > div {
        display: block !important;
        position: absolute;
        z-index: 5;
    }

    .collapse-nav > li > div > li:hover > div {
        display: block !important;
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
    }

    .header-phone {
        margin-top: 8px;
    }

    .logo {
        width: 170px;
    }

    .header-top {
        padding: 20px 30px 0 30px;
        min-height: 70px;
    }
}

/***************END HEADER STYLING*****************/
/****************st PAGE STYLING****************/
.home-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

a:focus {
    color: #000;
}

.hero-std {
    background-size: 0px;
}

@media (min-width :768px) {
    .hero-std {
        min-height: 468px;
        background-size: auto;
    }

    .aspect-41 {
        min-height: calc(100vw * .417);
        background-size: cover;
    }

    .bed-bug-image {
        background-image: url(/static-srvm/images/bed-bug-control/TMX-BEDBUG.jpg);
        min-height: 468px;
    }

    .pest-control-image {
        background-image: url(/static-srvm/images/pest-control/TMX-PEST.jpg);
        min-height: 468px;
    }

    .termite-control-image {
        background-image: url(/static-srvm/images/termite-control/TMX-TERMITE.jpg);
        min-height: 468px;
    }

    .additional-pest-image {
        background-image: url(/static-srvm/images/additional-pest-solutions/TMX-OTHER-SRVS.jpg);
        min-height: 468px;
    }

    .about-image {
        background-image: url(/static-srvm/images/about/WHY-TMX.jpg);
        min-height: 468px;
    }

    .home-b {
        background-image: url(/static-srvm/images/home/WILDLIFE-mobile-PROMO-light.jpg);
    }

    .flex-desktop {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .termite-protection-image {
        background-image: url(/static-srvm/images/termite-control/TMX-PROTECT.jpg);
        min-height: 468px;
    }

    .termite-treatment-image {
        background-image: url(/static-srvm/images/termite-control/TMX-TREAT.jpg);
        min-height: 468px;
    }
}

@media (min-width :768px) {
    .home-a {
        background-image: url(/static-srvm/images/home/160206_Terminix_12528-670.jpg);
        min-height: 468px;
    }

    .home-b {
        background-image: url(/static-srvm/images/home/WILDLIFE-RODENT-PROMO-light.jpg);
        min-height: 405px;
    }

    .need-help-photo {
        background: url(/static-srvm/images/home/CALL-CENTER.jpg) no-repeat scroll;
    }

    .need-help-opac {
        background: url(/static-srvm/images/pest-control/service-lady.jpg) no-repeat scroll;
    }
}

@media (max-width :700px) {
    .home-a {
        background-image: url(/static-srvm/images/home/HEADER-IMAGE-mod.jpg);
        background-size: cover;
        background-position: center top;
        min-height: 405px;
    }

    /*  .need-help-photo{
	background: url(/static-srvm/images/home/CALL-CENTER-m.jpg) no-repeat scroll;
	}  */
}

@media (max-width : 350px) {
    .one-line-m {
        clear: inherit;
        display: inherit;
        overflow: inherit;
        white-space: inherit;
    }
}

.border-left {
    border-left-style: groove;
}

/************* Carousel options ***********/
.carousel-control {
    background-image: none !important;
    opacity: 1;
}

.carousel-control .glyphicon-chevron-right {
    right: 30%;
}

.carousel-control .glyphicon-chevron-left {
    left: 30%;
}

.carousel-control .glyphicon {
    color: #161616;
}

#quoteCarousel,
#seasonalCarousel {
    min-height: 300px;
}


#quoteCarousel .carousel-indicators,
#seasonalCarousel .carousel-indicators {
    position: static;
    bottom: initial;
    left: initial;
    top: initial;
    width: initial;
    margin: 0 auto;
    display: -ms-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    max-width: 700px;
}

#quoteCarousel .carousel-indicators .active,
#seasonalCarousel .carousel-indicators .active {
    width: auto;
    height: auto;
}

#quoteCarousel .quoted:before,
#quoteCarousel .quoted .last:after,
#seasonalCarousel .quoted:before,
#quoteCarousel .quoted .last:after {
    color: #0C8F43
}

.bubble {
    text-align: center;
    position: relative;
    width: 195px !important;
    padding: 10px;
    background: #E0E1E3;
    margin: 0;
    cursor: pointer;
}

.bubble.active {
    background: #0C8F43;
    color: #FFF !important;
}

.bubble.active:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #0C8F43 transparent;
    display: block;
    width: 0;
    bottom: -14px;
    left: 83px;
}

#quoteCarousel .carousel-indicators .circle,
#seasonalCarousel .carousel-indicators .circle {
    background-color: #d1d3d4;
    border-radius: 100%;
    height: 15px;
    width: 15px;
}

#quoteCarousel .carousel-indicators .circle.active,
#seasonalCarousel .carousel-indicators .circle.active {
    background-color: #0C8F43;
}

#seasonalCarousel .carousel-inner {
    padding: 20px;
    min-height: 400px;
}

@media (min-width : 768px) {

    #quoteCarousel .carousel-indicators.left-indicators,
    #seasonalCarousel .carousel-indicators.left-indicators {
        width: 50%;
        padding: 0 18%;
        left: 0;
        bottom: 59px;
        position: absolute;
        z-index: 1;
    }
}

/**** End Carousel **********/
/**** CALL CENTER MODULE ****/
#call-center {
    background: url(/static-srvm/images/CALL-CENTER.jpg);
    height: 227px;
}

#call-center.frosted {
    background: url(/static-srvm/images/NeedHelp-Frosted.jpg);
}

#call-center img {
    height: 40px;
    width: 40px;
    margin-top: -4px;
    margin-right: 10px;
}

@media (max-width :1023px) {
    #call-center {
        background: url(/static-srvm/images/NeedHelp-Frosted.jpg);
        background-size: cover;
        height: auto;
        background-position: right top;
    }
}

/****************THREE STEP ON TERMITE PAGE  STYLING****************/
.square-one p.fs-md {
    margin-left: 70px;
}

.square-two p.fs-md,
.square-three p.fs-md {
    margin-left: 81px;
}

@media (max-width : 925px) {

    .square-one span,
    .square-two span,
    .square-three span {
        font-size: 50px;
        line-height: 43px;
    }

    .square-one p,
    .square-two p,
    .square-three p {
        font-size: 18px;
    }

    .square-one p.fs-md {
        margin-left: 48px;
    }

    .square-two p.fs-md,
    .square-three p.fs-md {
        margin-left: 55px;
    }
}

@media (min-width : 768px) and (max-width: 850px) {

    .square-one p,
    .square-two p,
    .square-three p {
        font-size: 14px;
    }
}

/****************END THREE STEP STYLING****************/
.flex-xs {
    display: none !important;
}

.need-help-input {
    background: url(/static-srvm/images/home/tmx-dropbox-image.png) no-repeat scroll right;
}

@media (max-width :767px) {

    #quoteCarousel .carousel-indicators .bubble,
    #seasonalCarousel .carousel-indicators .bubble {
        display: none;
    }

    #quoteCarousel .carousel-indicators .bubble.active,
    #seasonalCarousel .carousel-indicators .bubble.active {
        display: initial;
    }

    .flex-xs {
        display: flex !important;
    }

    #quoteCarousel .carousel-indicators,
    #seasonalCarousel .carousel-indicators {
        max-width: 195px;
    }

    .home-a {
        background: none;
    }

    .home-pic-mobile {
        background: url(/static-srvm/images/home/160206_Terminix_12528-670.jpg) no-repeat scroll center top;
        background-size: cover;
        width: 100%;
        padding-bottom: 25%;
    }

    .bed-bug-mobile {
        background: url(/static-srvm/images/bed-bug-control/TMX-BEDBUG.jpg) no-repeat scroll center top;
        background-size: cover;
        width: 100%;
        padding-bottom: 25%;
    }

    .additional-pest-mobile {
        background: url(/static-srvm/images/additional-pest-solutions/TMX-OTHER-SRVS.jpg) no-repeat scroll center top;
        background-size: cover;
        width: 100%;
        padding-bottom: 25%;
    }

    .pest-control-mobile {
        background: url(/static-srvm/images/pest-control/TMX-PEST.jpg) no-repeat scroll center top;
        background-size: cover;
        width: 100%;
        padding-bottom: 25%;
    }

    .termite-control-mobile {
        background: url(/static-srvm/images/termite-control/TMX-TERMITE.jpg) no-repeat scroll center top;
        background-size: cover;
        width: 100%;
        padding-bottom: 25%;
    }

    .about-mobile {
        background: url(/static-srvm/images/about/WHY-TMX.jpg) no-repeat scroll center top;
        background-size: cover;
        width: 100%;
        padding-bottom: 25%;
    }

    .hero-std-mob {
        background-size: cover;
        width: 100%;
        padding-bottom: 25%;
    }

    .mobile-hide {
        display: none !important;
    }
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #616161 !important;
}

/*************END HOME PAGE STYLING****************/
/***************MAIN CONTENT STYLING*****************/
.main {
    background-color: #fff;
}

#related-articles-box {
    background-color: #E0E1E3;
    border: solid 2px #C7C9CB;
    margin-top: 10px;
    position: relative;
}

.main p {
    color: #464749;
}

.banner-text {
    padding-top: 15px;
    padding-bottom: 35px;
}

@media (max-width :974px) {
    .banner {
        background-image: none !important;
    }
}

@media (min-width :975px) {
    .main.custom {
        padding-bottom: 50px;
    }

    .main.custom {
        padding-bottom: 0;
    }

    .banner {
        height: 486px;
        position: relative;
        width: 100%;
        background-size: contain;
    }

    .banner-text {
        background-color: rgba(0, 0, 0, 0.7);
        max-width: 520px;
        position: absolute;
        top: 0;
        height: 100%;
        padding: 33px 25px 20px 33px;
        left: 0;
    }

    .white-banner {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .banner-text.right {
        left: initial;
        right: 0;
    }

    .black-heading {
        max-width: 765px;
        min-height: 170px;
        padding-top: 50px !important;
        padding-left: 75px;
    }

    .black-heading:before {
        content: '';
        border-top: 170px solid #000;
        border-right: 100px solid transparent;
        position: absolute;
        top: 0;
        right: -100px;
    }

    .lg-pad-left {
        padding-left: 60px
    }

    .img-hover-bump:hover {
        position: relative;
        top: -5px;
    }
}

@media (min-width :1024px) {
    .main {
        padding-top: 127px;
    }

    #wrapper ~ .main {
        padding-top: 113px !important;
    }

    .no-nav-padding {
        padding-top: 70px !important;
    }
}

.img-panel-holder img {
    width: 100%;
}

@media (max-width :767px) {
    .img-panel-holder {
        max-width: 300px;
    }
}

.img-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}

.img-panel-txt {
    text-align: left;
    position: relative;
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 85%;
}

.quoted {
    margin: 40px;
}

.quoted,
.quoted .last {
    position: relative;
    display: inline-block;
}

.quoted:before {
    content: "\201C";
    font-size: 100px;
    position: absolute;
    left: -38px;
    top: 10px;
}

.quoted .last:after {
    content: "\201D";
    font-size: 100px;
    position: absolute;
    bottom: -29px;
    right: -39px;
}

@media (min-width :768px) {
    .white-back-transp {
        max-width: 550px;
        padding-top: 30px;
        background: rgba(255, 255, 255, 0.8);
    }
}

.inline {
    display: inline;
}

/*************END MAIN CONTENT *************************/
/**************STICKY FOOTER STYLING  *****************/
#free-estimate-form-mod {
    display: none;
}

.form-cancel {
    background: initial;
    border: none;
}

#company {
    display: none;
}

#upg img {
    width: 160px;
}

.upg {
    width: 160px;
}

.img-center-col {
    display: block;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.center-img {
    width: 160px;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.consent {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 17px;
    margin-bottom: 10px;
}

#Consent.invalid + p,
#Consent.invalid + p + p {
    color: #ff0000;
}

@media (max-width : 974px) {
    #free-estimate-form {
        max-width: 480px;
        margin: 0 auto;
        padding: 30px 20px;
    }

    .phone-label {
        display: block;
    }

    .page-1 {
        display: none;
    }

    #video img {
        display: block;
        float: none;
        margin: 0 auto;
    }
}

@media (min-width :975px) {
    .sticky-footer label {
        display: inline-block;
    }

    .sticky-footer {
        overflow: hidden;
        width: 100%;
        background-image: linear-gradient(left, #FF821C 50%, #0C8F43 50%);
        background-image: -o-linear-gradient(left, #FF821C 50%, #0C8F43 50%);
        background-image: -ms-linear-gradient(left, #FF821C 50%, #0C8F43 50%);
        background: -moz-linear-gradient(left, #FF821C 50%, #0C8F43 50%);
        /* FF3.6+ */
        background: -webkit-gradient(left, #FF821C 50%, #0C8F43 50%);
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #FF821C 50%, #0C8F43 50%);
        /* Chrome10+,Safari5.1+ */
        z-index: 3;
    }

    #free-estimate-form {
        width: 620px;
    }

    .sf-row > * {
        vertical-align: top;
    }

    .sf-xs {
        width: 100px;
    }

    .sf-sm {
        display: block;
        width: 130px;
        margin-bottom: 0;
    }

    .sf-md {
        width: 165px;
    }

    .sf-lg {
        width: 250px;
    }

    .sf-xl {
        width: 500px;
    }

    .sf-sm,
    .sf-md,
    .sf-xl {
        margin-right: 20px;
        float: left;
    }

    .sticky-footer .orange-box {
        float: left;
        width: 33%;
        position: relative;
    }

    .sticky-footer .green-box {
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 67%;
        position: relative;
    }

    .sticky-footer .green-box:before {
        content: "";
        position: absolute;
        left: -150px;
        top: 0;
        width: 0;
        height: 0;
        border-bottom: 500px solid #0C8F43;
        border-left: 150px solid transparent;
    }

    .radio-holder {
        width: 360px;
        font-size: 12px;
        display: inline-block;
        margin-right: 10px;
        float: left;
    }

    .radio-holder > div {
        padding: 0;
    }

    .radio-holder p {
        font-size: 12px;
    }

    .radio-holder label {
        margin-right: 20px;
        font-size: 12px;
    }

    .page-2,
    .trigger .page-1 {
        display: none;
    }

    .page-1,
    .trigger .page-2 {
        display: inline-block;
    }

    .sf-shrunk {
        height: 40px;
    }
}

.arrow-up {
    right: 65px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #FFF;
    float: right;
    position: relative;
    z-index: 50;
    transition: all 0.2s ease-out;
}

.clickover-left {
    height: 100%;
    width: 88px;
    position: absolute;
    left: 240px;
    top: 0px;
    z-index: 5000;
}

.clickover-right {
    height: 33px;
    width: 700px;
    position: absolute;
    left: 450px;
    top: 0px;
    z-index: 5000;
}

.arrow-up.right-arrow {
    right: 160px;
    top: -20px;
    border-bottom-color: #000;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #000;
    float: right;
    position: relative;
    z-index: 50;
    transition: all 0.2s ease-out;
}

/***************** END STICKY FOOTER STYLING *******************/
/**************FOOTER STYLING *************************/
footer {
    position: relative;
    z-index: 2;
}

footer span {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 700;
    display: block;
}

footer p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0;
}

footer p.bold {
    margin-bottom: 10px;
}

footer .legaltext p {
    font-size: 12px;
    line-height: 12px;
}

footer .socialmedia img {
    height: 30px !important;
}

@media (max-width : 767px) {
    footer p {
        line-height: 40px;
    }

    footer p.bold {
        margin-bottom: 0;
        line-height: 22px;
    }
}

@media (min-width : 768px) {
    .ftr-custom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.sprite {
    max-width: 100%;
    background-size: 100%;
    background-image: url('/static-srvm/images/Logos/sprites_New_Space1.png');
}

.s-2million {
    background-position: 0 0%;
    background-size: 100%;
}

.s-8000techs {
    background-position: 0 9.44%;
    background-size: 105.095541%;
}

.accred-bus-hor-a-gray {
    background-position: 0 16.8318%;
    background-size: 135%;
}

.strongestguarantee {
    background-position: 0 26%;
    background-size: 134.146341%;
}

.s-85years {
    background-position: 0 34.32%;
    background-size: 150%;
}

.s-24seven {
    background-position: 0 41.0%;
    background-size: 166.367347%;
}

.consumer-affairs {
    background-position: 0 51.235%;
    background-size: 104%;



}

.fb {
    background-position: 0 61.538462%;
    background-size: 268%;
}

.googleplus {
    background-position: 0 71.153846%;
    background-size: 275%;
}

.pinterest {
    background-position: 0 80.3%;
    background-size: 278.87%;
}

.twitter {
    background-position: 0 89.7%;
    background-size: 277.8%;
}

.youtube-md {
    background-position: 0 99.2%;
    background-size: 268%;
}

/*************END FOOTER STYLING **********************/
/************MODAL STYLING ***************/
button.close {
    opacity: 1;
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 45px;
    font-weight: 900;
    z-index: 2;
}

.modal-content {
    border-radius: 0;
}

#video-modal .modal-content,
.video-modal .modal-content {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.img-modal img {
    width: 100%;
}

#youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.closer {
    position: absolute;
    top: 30px;
    right: 30px;
}

.modal-option {
    font-size: 17px;
    font-weight: 800;
    display: inline-block;
    padding: 5px 15px;
    width: 100%;
    cursor: pointer;
}

.modal-option:hover {
    background-color: #0C8F43;
    color: #fff;
}

.no-border {
    border: none;
}

.no-border-top {
    border-top: none;
}

/* 
@media ( min-width : 500px) {
	.modal-option {
		width: 48%;
	}
} */
@media (min-width : 975px) {
    .modal-dialog {
        width: 700px;
    }

    .modal-dialog.wide-modal {
        width: 750px;
    }

    /* .modal-option {
		width: 24%;
	} */
    .modal-body {
        padding: 40px 50px;
    }

    .modal-body-card {
        padding: 10px 21px !important;
    }

    .modal-dialog-card {
        width: 600px !important;
    }
}

/************END MODAL STYLING *****************/
/************PP STYLING **********************/
.small-padding {
    padding: 6px !important;
}

.btn-purchase {
    border: none;
    border-radius: 5px;
    width: 100%;
}

.priceTable h5 {
    margin-top: 3px;
}

.black {
    color: black;
}

.sharp-corners {
    border-radius: 0px !important;
}

.accordParent:before {
    font-family: 'FontAwesome';
    font-size: 15px;
    background-color: #4CAF50;
    border-radius: 50%;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-right: 6px;
    color: white;
    content: "\f068";
    font-weight: 400;
}

.productAccordion {
    background-color: #7F7F7F;
    position: relative;
    padding-right: 40px !important;
    min-height: 48px;
    min-height: 48px;
}

.productAccordion.collapsed {
    background-color: #0C8F43;
}

.productAccordion:after {
    font-family: 'FontAwesome';
    content: "\f068";
    position: absolute;
    top: 0;
    right: 0;
    border: solid 3px #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 3px;
}

@media (max-width : 350px) {
    .productAccordion:after {
        margin: 13px 3px;
    }
}

.accordParent.collapsed:before,
.productAccordion.collapsed:after {
    content: "\f067";
}

.cartAccordion .cartAccordionIcon:before {
    font-family: 'FontAwesome';
    content: "\f068";
    color: #ff821c;
    border: solid 1px #ff821c;
    border-radius: 100%;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
}

.cartAccordion.collapsed .cartAccordionIcon:before {
    content: "\f067";
}

.prodSumm .col-xs-7 {
    padding-right: 0;
}

.productAccordion.productSelected:before {
    font-family: 'Glyphicons Halflings';
    content: "\e013  ";
}

.ribbon-holder {
    /* max-width: 900px; */
    margin: 0 auto;
}

.ribbon {
    background-color: #0C8F43;
    color: #fff;
    height: 44px;
    position: relative;
    display: inline-block;
    font-weight: 700;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.ribbon-single {
    background-color: #0C8F43;
    color: #fff;
    height: 46px;
    position: relative;
    display: inline-block;
    font-weight: 700;
    z-index: 1;
}

.ribbon .circle {
    margin: 5px;
    width: 37px;
    height: 37px;
    line-height: 32px;
    text-align: center;
    font-size: 27px;
    float: left;
    border: solid 2px #fff;
    border-radius: 50%;
    position: relative;
    left: -7px;
}

.ribbon .circle.glyphicon {
    font-size: 22px;
}

.ribbon.inactive {
    color: #AAA;
}

.ribbon.inactive .circle {
    color: #0C8F43;
    border-color: #0C8F43;
}

.ribbon.one {
    width: 36%;
    padding-left: 25px;
}

.ribbon.one.termite {
    width: 50%;
    padding-left: 25px;
}

.ribbon.three.termite {
    width: 50%;
    padding-left: 25px;
}

.ribbon.two {
    width: 34%;
}

.ribbon.three {
    width: 30%;
}

.ribbon.two:before,
.ribbon.three:before {
    content: "";
    border: 22px solid #0C8F43;
    position: absolute;
    display: block;
    left: -55px;
    border-right-width: 60px;
    border-left-color: transparent;
    margin-left: 25px;
    border-right-width: 21px;
}

.mini-pp-label:before {
    border-right-width: 30px !important;
}

@media (max-width :500px) {
    .no-pad-m {
        padding: 0 !important;
    }
}

/*  end of mobile mini form fixes
 */
.ribbon.one:after,
.ribbon.two:after {
    content: "";
    border: 22px solid white;
    position: absolute;
    top: 0;
    right: 5px;
    border-right-width: 10px;
    border-left-color: transparent;
    border-right-width: 10px;
}

.ribbon > span {
    line-height: 50px;
    display: inline-block;
}

.ribbon.inactive {
    background-color: #C7C9CB;
    color: #AAA;
}

.ribbon.two.inactive:before,
.ribbon.three.inactive:before {
    border-color: #C7C9CB;
    border-left-color: transparent;
}

@media (max-width :900px) {
    .ribbon .circle {
        display: none;
    }
}

#easyPaySelected {
    content: "Add to Order";
}

.ribbon.mini-pp-label > span {
    font-size: 18px;
}

@media (max-width :768px) {
    #easyPaySelected {
        content: "/2b";
    }

    .ribbon {
        height: 50px;
    }

    .ribbon > span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        font-size: 15px;
        line-height: 15px;
        left: 10%;
    }

    .ribbon.two:before,
    .ribbon.three:before {
        border: 25px solid #0C8F43;
        border-right-width: 60px;
        border-left-color: transparent;
        left: -50px;
    }

    .ribbon.one:after,
    .ribbon.two:after {
        border: 25px solid white;
        border-right-width: 10px;
        border-left-color: transparent;
        right: -5px;
    }

    .ribbon.mini-pp-label > span {
        font-size: 15px;
    }
}

@media (max-width :350px) {
    .ribbon > span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        font-size: 15px;
        line-height: 15px;
        left: 7%;
    }

    .ribbon.three > span {
        left: 4%;
    }

    .ribbon.two > span {
        left: 5%;
    }
}

.ui-datepicker-calendar {
    width: 100%;
}

span.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    text-align: center;
    display: block;
}

.ui-datepicker-header {
    background-color: #0C8F43;
    color: #fff;
    text-align: center;
    position: relative;
    font-weight: 800;
    text-transform: uppercase;
}

.ui-datepicker-year {
    display: none;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: 8px;
    height: 0;
    width: 0;
}

.ui-datepicker-prev {
    left: 10px;
}

.ui-datepicker-next {
    right: 20px;
}

.ui-datepicker-prev:before,
.ui-datepicker-next:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.ui-datepicker-prev:before {
    border-right: 10px solid #fff;
}

.ui-datepicker-next:before {
    border-left: 10px solid #fff;
}

.ui-datepicker-calendar .ui-state-default {
    font-size: 16px;
    line-height: 35px;
    height: 35px;
    margin: 3px;
    background-color: #d1d3d4;
}

.ui-datepicker-calendar td {
    padding: 0;
}

.selectable .ui-state-default {
    background-color: #fff;
    border: solid 2px #d1d3d4;
    line-height: 31px;
}

.selectable .ui-state-active {
    background-color: #0C8F43;
    color: #fff;
    border: 0;
}

table.ui-datepicker-calendar thead {
    border-bottom: 2px solid #d1d3d4;
    font-size: 16px;
}

.ui-datepicker th {
    text-align: center;
}

.ui-datepicker .ui-datepicker-today a {
    font-weight: 800;
}

/* Material Modal Fix*/
@media (max-width : 1050px) {
    .modal > .modal-content {
        padding: 15px 5px;
    }
}

@media (max-width : 750px) {
    .modal > .modal-content {
        padding: 10px 0;
    }
}

@media (max-width : 992px) {
    .modal.open {
        width: auto;
        margin: 10px;
    }
}

/*Material Responsive fix */
img.responsive-img {
    max-height: 100%;
    height: auto !important
}

.message {
    background: #eff4fa;
    text-shadow: 0 1px 0 #fff;
    padding: 15px 15px 5px;
    margin: 0 0 15px;
}

.message-red {
    background: #fcdee2;
}

.step-3-timeloader {
    margin-top: -4px;
}

.cart-no-left-pad {
    padding-left: 0;
}

#cart-legal-text-container {
    margin-bottom: 30px;
}

.legal-text {
    font-size: 13px;
    line-height: 15px;
}

.cart-legal-text {
    font-size: 15px;
    line-height: 19px;
}

.cart-legal-text.sm {
    font-size: 10px;
    line-height: 15px;
}

#billingAddressCheckbox {
    margin-bottom: 20px;
    width: 25px;
    height: 25px;
}

#billingAddressCheckboxLabel {
    padding-top: 5px;
}

@media (max-width : 991px) {
    .accordParent:before {
        padding-right: 4px;
        font-size: 13px;
    }
}

@media (max-width : 400px) {
    .cart-summary h5 {
        font-size: 14px;
    }

    .cart-legal-text {
        font-size: 12px;
    }

    .step-3-timeloader {
        margin-top: 7px;
    }
}

@media (max-width : 390px) {
    #paymentGroupForm h5 {
        font-size: 12px;
    }
}

@media (max-width : 359px) {
    .ribbon > span {
        font-size: 13px;
    }
}

@media (max-width : 330px) {
    .cart-summary h5 {
        font-size: 12px;
    }
}

.pp-button {
    padding: 4px 23px;
    border-radius: 1px;
    color: #FFF !important;
}

.green.pp-button {
    background-color: #0C8F43;
}

.orange.pp-button {
    background-color: #ff821c;
}

@media (max-width : 700px) {
    .green-pp-button {
        padding: 4px 11px;
    }
}

.productText {
    font-size: 16px;
    line-height: 21px;
}

.rm-text-decor {
    text-decoration: none !important;
}

a.collapsed > i.fa-angle-down:before {
    content: "\f107";
    color: #0C8F43 !important;
}

a > i.fa-angle-down:before {
    content: "\f106";
    color: #ff821c !important
}

.flipped {
    transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg);
    -moz-transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
    -o-transform: rotatey(-180deg);
}

.flipCard {
    -webkit-transform-style: preserve-3d;
    /* Safari & Chrome */
    -webkit-transition: 0.5s;
    /* Safari & Chrome */
    -moz-transform-style: preserve-3d;
    /* Firefox */
    -moz-transition: 0.5s;
    /* Firefox */
    -ms-transform-style: preserve-3d;
    /* Internet Explorer */
    -ms-transition: 0.5s;
    /* Internet Explorer */
    -o-transform-style: preserve-3d;
    /* Opera */
    -o-transition: 0.5s;
    /* Opera */
    transform-style: preserve-3d;
    transition: 0.5s;
    -webkit-perspective: 800;
    /* Safari & Chrome */
    -ms-perspective: 800;
    /* IE 9 */
    -moz-perspective: 800;
    /* Firefox */
    -o-perspective: 800;
    /* Opera */
}

.frontCard {
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Safari & Chrome */
    -moz-backface-visibility: hidden;
    /* Firefox */
    -ms-backface-visibility: hidden;
    /* Internet Explorer */
    -o-backface-visibility: hidden;
    /* Opera */
}

.backCard {
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Safari & Chrome */
    -moz-backface-visibility: hidden;
    /* Firefox */
    -ms-backface-visibility: hidden;
    /* Internet Explorer */
    -o-backface-visibility: hidden;
    /* Opera */
    transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    /* IE 9 */
    -moz-transform: rotatey(180deg);
    /* Firefox */
    -webkit-transform: rotatey(180deg);
    /* Safari and Chrome */
    -o-transform: rotatey(180deg);
    /* Opera */
}

.ini-hidden {
    display: none;
}

.close_button {
    cursor: pointer;
    padding: 8px;
}

/************END PP STYLING **********************/
.fade-shadow {
    box-shadow: 3px 2px 6px 3px rgba(207, 207, 207, 0.75);
    -moz-box-shadow: 3px 2px 6px 3px rgba(207, 207, 207, 0.75);
    -webkit-box-shadow: 3px 2px 6px 3px rgba(207, 207, 207, 0.75);
}

.animPlaceholder {
    display: none;
    z-index: -1;
}

@media (min-width : 768px) {
    .animOpen .animDetails {
        overflow: hidden;
        max-height: 0;
        padding: 0 10px;
    }

    .animOpen:hover .animDetails {
        height: initial;
    }

    .animOpen {
        text-align: center;
    }

    .animHolder img {
        width: 100%;
        margin-bottom: 15px;
    }

    .animOpen:hover .animDetails {
        max-height: 500px;
        transition-property: all;
        transition-duration: .7s;
        transition-timing-function: ease-in-out;
    }

    .animOpen:hover + .animPlaceholder {
        display: block;
        z-index: -1;
    }

    .animOpen:hover {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        box-shadow: 3px 2px 6px 3px rgba(207, 207, 207, 0.75);
        -moz-box-shadow: 3px 2px 6px 3px rgba(207, 207, 207, 0.75);
        -webkit-box-shadow: 3px 2px 6px 3px rgba(207, 207, 207, 0.75);
    }
}

.buyToggle {
    float: right;
    margin-right: 10px;
    line-height: 22px;
    font-size: 12pt;
    width: auto;
    margin-top: -4px;
}

.titleSpan {
    font-size: 22px;
    display: inline-block;
    max-width: 340px;
}

@media (max-width : 560px) {
    .productAccordion.productSelected:before {
        font-size: 12px;
    }

    .productAccordion:after {
        margin: 7px 4px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .titleSpan {
        font-size: 12px;
    }

    .buyToggle {
        font-size: 12px;
        margin-right: 0px;
        margin-top: -5px;
    }
}

@media (max-width : 420px) {
    .productAccordion.productSelected:before {
        font-size: 11px;
    }

    .titleSpan {
        font-size: 11px;
        max-width: 130px;
    }

    .buyToggle {
        font-size: 11px;
        margin-top: 0px;
        padding: 5px;
        line-height: normal;
    }
}

/*********************Commercial page styling **********************/
#code {
    padding: 40px;
    border-bottom: solid 1px #C7C9CB;
}

@media (max-width : 975px) {
    #code {
        padding-top: 39px !important;
        border-top: solid 1px #C7C9CB;
    }
}

#code-logo {
    margin-right: 20px;
    width: 417px;
}

#code-statement {
    display: inline-block;
    width: 465px;
    vertical-align: bottom;
    padding-bottom: 15px;
}

#code-table {
    font-size: 15px !important;
    line-height: 15px !important;
}

.code-column {
    padding: 0 10px 0 0;
    width: 235px;
    float: left;
}

.code-table-header {
    width: 100%;
}

.info-container {
    background: #E0E1E3;
    width: 215px;
    border-bottom: solid 5px #0C8F43;
    padding: 0 10px;
}

.non-collapse {
    height: 155px;
}

.img-container {
    width: 137px;
    margin: 0 auto;
    padding-top: 15px;
}

.code-sub-header {
    font-weight: 700;
    color: #0C8F43;
}

.code-info {
    height: 200px;
}

.code-info ul {
    list-style: none;
    padding-left: 20px;
}

.code-info ul li:before {
    content: "";
    border-color: transparent #0C8F43;
    border-style: solid;
    border-width: 4px 0 4px 6px;
    display: block;
    left: -16px;
    top: 12px;
    position: relative;
}

.trigger {
    float: right;
    margin-right: 25px;
    cursor: pointer;
}

.trigger-arrow-up {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #0C8F43;
}

.trigger-arrow-down {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #0C8F43;
    margin-top: 10px;
}

@media (max-width : 767px) {
    #code {
        padding: 20px;
    }

    #code-logo,
    #code-statement {
        width: 100%;
    }

    #code-statement {
        padding-right: 10px;
    }

    .mct-row {
        width: 220px;
        margin: 0 auto;
    }

    .mct-row p {
        color: #0C8F43;
        margin: 5px 0 25px 2px;
        line-height: 14px;
        font-size: 15px;
    }
}

@media (min-width : 768px) {
    .overlayHolder {
        position: relative;
    }

    .imgOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .collapse-mobile .collapse {
        display: block !important;
        height: auto !important;
    }

    .collapse-mobile .collapsing {
        height: auto !important;
        display: block !important;
    }
}

@media (max-width : 767px) {
    .collapse-mobile {
        cursor: pointer;
    }

    .collapse-mobile .collapser:after {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 15px;
        background-image: url("/static-srvm/images/Buttons/CollapseButton.png");
        background-size: contain;
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .collapse-mobile .collapser.collapsed:after {
        background-image: url("/static-srvm/images/Buttons/ExpandButton.png")
    }

    .collapser > * {
        margin-right: 35px !important;
    }
}

/*********Press release styling **************/
.pressRelease {
    position: relative;
}

@media (max-width : 767px) {
    .pressRelease {
        background-color: #E0E1E3;
        margin-bottom: 5px;
    }
}

.pressReleaseBody {
    margin-bottom: 30px;
}

.pressRelease p,
.pressRelease span,
#pest-facts-carousel p,
#pest-facts-carousel span {
    font-size: 17px;
    line-height: 25px;
}

.expander {
    margin-right: 40px;
    cursor: pointer;
}

.expander:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    right: 10px;
    top: 30px;
    background-image: url("/static-srvm/images/Buttons/CollapseButton.png");
    background-size: contain;
}

.expander.collapsed:after {
    background-image: url("/static-srvm/images/Buttons/ExpandButton.png")
}

.expander .visibleCollapsed,
.expander.collapsed .hiddenCollapsed {
    display: none;
}

.expander.collapsed .visibleCollapsed,
.expander .hiddenCollapsed {
    display: block;
}

#digital-content-carousel .thumbnail {
    text-align: center;
}

#digital-content-carousel .thumbnail img {
    width: 110px;
}

ul .highlighted,
ul .highlighted li {
    background-color: #0C8F43;
    color: #000 !important;
    text-decoration: none;
}

ul.highlight li {
    padding: 2px 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

ul.highlight li:hover,
ul.highlight li:focus,
ul.highlight li:active {
    background-color: #0C8F43;
    color: black;
}

/*********End Press release styling***********/
/*********FAQs Specific Styling *************/
.faq-q {
    font-size: 17px;
    text-transform: uppercase;
    line-height: 23px;
}

.faq-a:before,
.faq-q:before {
    font-size: 25px;
    margin-right: 10px;
}

.faq-q:before {
    content: "Q\:";
    color: #0C8F43;
}

.faq-a:before {
    content: "A\:";
    font-weight: 800;
    float: left;
    line-height: 17px;
    margin-right: 13px;
}

ol.custom {
    list-style-type: none;
    padding: 0 !important;
}

ol.custom > li {
    counter-increment: listcounter;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

ol.custom > li:before {
    content: counter(listcounter) ":";
    font-size: 25px;
    font-weight: 900;
    margin-right: 5px;
    width: 22px;
    display: inline-block;
    text-align: right;
}

.list-head,
.check-head {
    counter-increment: numList;
    padding-left: 45px;
    position: relative;
    text-transform: uppercase;
}

.list-body,
.check-body {
    padding-left: 45px;
}

.list-head:before,
.check-head:before {
    width: 39px;
    height: 39px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    font-size: 22px;
    border-radius: 100%;
}

.list-head:before {
    color: #fff;
    background-color: #0c8f43;
    line-height: 40px;
    content: counter(numList);
}

.check-head:before {
    line-height: 31px;
    color: #0c8f43;
    border: solid 4px #0c8f43;
    content: "\e013";
    font-family: 'Glyphicons Halflings';
}

@media (min-width :768px) {
    .faq-a {
        position: relative;
        margin-left: 100px;
        margin-bottom: 25px;
    }

    .faq-a:before,
    .faq-q:before {
        font-size: 52px;
    }

    .faq-a:before {
        position: absolute;
        left: -60px;
    }

    ol.custom > li:before {
        font-size: 36px;
        width: 32px;
    }

    .list-head,
    .check-head {
        padding-left: 95px;
        padding-top: 25px;
    }

    .list-body,
    .check-body {
        padding-left: 120px;
    }

    .list-head:before,
    .check-head:before {
        width: 80px;
        height: 80px;
        font-size: 44px;
    }

    .list-head:before {
        line-height: 80px;
    }

    .check-head:before {
        line-height: 70px;
    }
}

/*********End FAQs Specific Styling *************/
/*********Corporate Specific Styling *************/
.img-80 {
    max-height: 80px;
}

@media (min-width : 992px) {
    .header-slant {
        height: 173px;
    }

    .header-slant:after {
        content: '';
        line-height: 0;
        font-size: 0;
        width: 0;
        height: 0;
        border-top: 173px solid #000;
        border-bottom: 10px solid transparent;
        border-left: 0px solid transparent;
        border-right: 100px solid transparent;
        position: absolute;
        top: 0;
        right: -100px;
        z-index: 1;
    }

    .vert-center {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

/*********End Corporate Specific Styling *************/
/*********Customer Support Specific Styling *************/
ul.mini p,
ol.mini p {
    margin: 0;
}

.refer-table {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
}

.refer-table span {
    display: block;
}

.refer-table td {
    border-right: solid 1px #FFF;
    border-bottom: solid 1px #FFF;
    vertical-align: top;
}

.refer-table .rt-cat {
    padding-top: 15px;
    padding-right: 5px;
}

.refer-table .earn .rt-cat {
    padding-top: 25px;
}

.refer-table .buy .rt-item {
    background-color: #E0E1E3;
    padding: 15px 10px;
}

.refer-table .receive .rt-item {
    background-color: #E0E1E3;
    padding: 15px 20px;
}

.refer-table .earn .rt-item {
    background-color: #252625;
    padding: 25px 25px;
}

/*********End Customer Support Specific Styling *************/
/******Article Styling **********/
.specificPest,
.info-pest {
    display: block;
    cursor: pointer;
    border: solid 4px #9c9c9c;
    margin-bottom: 22px;
    height: 62px;
}

.specificPest {
    height: 85px;
}

#multi-img {
    width: 280px;
    margin: 0 auto;
}

#multi-img p span {
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width : 975px) {
    #multi-img {
        float: right;
        margin-left: 30px;
        width: 200px;
    }
}

.specificPest p,
.info-pest p {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.specificPest img,
.info-pest img {
    display: none;
}

.article-img {
    height: 254px;
    width: 344px;
    margin-bottom: 30px;
    display: none;
}

@media (min-width : 1024px) {
    .article-img {
        display: inline-block;
    }

    .article-img.pull-right {
        margin-left: 21px;
    }

    .article-img.pull-left {
        margin-right: 21px;
    }

    .info-pest {
        width: 140px;
        margin-right: 44px;
        margin-bottom: 18px;
        display: inline-block;
        float: left;
        border: 0;
        padding: 0;
        height: auto;
    }

    .info-pest img {
        display: inline;
        height: 140px;
        width: 140px;
        border: solid 4px #9c9c9c;
    }

    .specificPest {
        width: 160px;
        height: 140px;
        margin-right: 35px;
        border: none;
        float: left;
    }

    .specificPest img {
        display: inline;
        height: 100px;
        width: 160px;
        border: solid 4px #9c9c9c;
    }

    .specificPest p {
        font-size: 17px;
    }

    .specificPest:nth-of-type(5n),
    .info-pest:nth-of-type(5n) {
        margin-right: 0;
    }

    .specificPest p,
    .info-pest p {
        top: 0%;
        -webkit-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.checkedList {
    list-style-type: none;
    padding-left: 40px !important;
}

.checkedList > li {
    margin-bottom: 20px;
    position: relative;
}

.checkedList > li:before {
    position: absolute;
    background-image: url("/static-srvm/images/info-center/CHECKMARK.jpg");
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    left: -40px;
    content: "";
}

@media (min-width : 975px) {
    .checkedList > li {
        margin-left: 40px;
    }

    .checkedList > li:before {
        top: 0;
        left: -35px;
    }
}

#rel-art a {
    font-style: italic;
    text-decoration: none;
    font-weight: 600;
}

/*************************************************************
	Social Icons Bottom
*************************************************************/
#social-icons {
    text-align: center;
}

.print {
    cursor: pointer;
}

.social-row img {
    height: 32px;
    vertical-align: top;
    cursor: pointer;
}

.social-row img,
.social-row > span {
    margin: 0 21px;
    display: inline-block;
}

.social-row {
    margin: 20px 0;
    text-align: center;
    vertical-align: top;
}

@media (min-width : 768px) {
    #social-icons {
        padding-bottom: 20px;
    }

    #social-bar-right {
        width: 35px;
    }

    #social-bar-right img {
        float: right;
    }

    .social-row {
        display: inline;
    }

    .social-row {
        margin-top: 0;
        display: inline;
    }

    #social-bar-right img,
    .social-row > span,
    .social-row > span {
        vertical-align: intial;
        margin: 0;
        margin-bottom: 22px;
    }

    #social-icons img {
        vertical-align: top;
    }

    #social-icons img,
    #social-icons .social-row > span,
    #social-icons .social-row > span {
        margin: 0 12px;
    }
}

/************ Blog Video Styling*********/
.vid16-9 {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 30px
}

.vid16-9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/****STICK FORM**********/
#stick-form {
    padding: 10px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    box-shadow: 0px 6px 14px -4px rgba(0, 0, 0, 0.36);
}

#stick-form label {
    color: #AAA;
    font-size: 15px;
    margin: 0;
}

#stick-form .btn {
    padding: 5px;
    font-size: 15px;
}

#stick-form .col-xs-4,
#stick-form .col-xs-3,
#stick-form .col-xs-5 {
    padding: 0 5px;
}

#stick-form .row {
    margin: 0 -10px;
}

@media (min-width :975px) {
    #stick-form {
        width: 400px;
        border: solid 2px #AAA;
        border-top: none;
        position: fixed;
        right: 15px;
        left: initial;
        box-shadow: none;
    }
}

@media (min-width :1024px) {
    #stick-form {
        top: initial;
    }
}

@media (max-width :767px) {

    #stick-form .col-xs-4,
    #stick-form .col-xs-3,
    #stick-form .col-xs-5 {
        padding: 0 5px;
    }

    #stick-form .row {
        margin: 0 -10px;
    }

    #stick-form .btn {
        padding: 5px;
        font-size: 15px;
    }
}

.material-xl-pad {
    padding-top: 40px;
    padding-bottom: 40px;
}

input[type="checkbox"]:checked ~ .materialCheckboxFix:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

input[type="checkbox"] ~ .materialCheckboxFix:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}

.materialCheckboxFix {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: initial !important;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    color: black !important;
}

input[type=radio]:checked ~ .materialRadioFix:before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #AAAAAA;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: 0px;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    border-color: #0c8f43;
    background-color: #0c8f43;
    -webkit-box-shadow: inset 0 0 0 4px #FFF;
    box-shadow: inset 0 0 0 4px #FFF;
}

input[type=radio] ~ .materialRadioFix:before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #AAAAAA;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: 0px;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    -webkit-box-shadow: inset 0 0 0 13px #FFF;
    box-shadow: inset 0 0 0 13px #FFF;
}

.materialRadioFix {
    position: relative;
    padding-left: 30px;
}

option:checked {
    float: left;
}

#questionCustomernumber {
    background-color: white;
    box-shadow: 0 3px 5px 2px #999;
    width: 211px;
    position: absolute;
    z-index: 2;
    right: 37%;
    margin-top: 18px;
    display: none;
}

.passwordValidation {
    padding: 10px 20px;
    font-weight: 300;
    left: -58%;
    position: absolute;
    background: #FFFFFF;
    border: 2px solid #0C8F43;
    border-radius: 8px;
}

.passwordValidation:before {
    border: 16px solid transparent;
    border-left-color: #0C8F43;
    content: '';
    display: block;
    height: 0;
    margin-top: 1px;
    position: absolute;
    left: 100%;
    top: 77%;
    width: 0;
}

.passwordValidation:after {
    border: 13px solid transparent;
    border-left-color: #FFFFFF;
    content: '';
    display: block;
    height: 0;
    margin-top: -15px;
    position: absolute;
    left: 100%;
    top: 85%;
    width: 0;
}


/* Materialize Select Box Validation Fix */
.materialize-active select[required].invalid {
    bottom: -0.74rem;
    display: block;
    height: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}



/*************** 
Start of Light Box Classes
 *********************/

/* Css generic classes for a small tap to call gray box (lightbox) at the bottom of the page view in mobile */
@media (max-width : 767px) {
    .light-box {
        position: fixed;
        bottom: 0;
        background-color: #555;
        opacity: 0.9;
        z-index: 10;
    }

    .dismissed {
        display: none;
    }
}

@media (min-width : 768px) {
    .light-box {
        display: none;
    }
}

/*************************
End of Light Box Classes
 ********************/
/*************************
live Chat
 ********************/


.livechat_button {
    position: absolute;
    right: 179px;
    top: 29px;
    z-index: 1001;
}

.mobile.livechat_button {
    position: absolute;
    right: 164px;
    top: -6px;
    z-index: 1031;
}

.livechat_button a {


    height: 0px;
    padding-left: 55px;
    line-height: 25px;
    display: block;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B';
    font-weight: 401;
    font-family: inherit;
    font-weight: 600;
}

.mobile-view.livechat_button {
    color: #666 !important;
    background-repeat: no-repeat;
    background-position: left top;
    height: 42px;
    padding-left: 55px;
    line-height: 25px;
    display: block;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B';
    font-weight: 401;
}

.livechat_image {
    background-image: url(/static-srvm/images/commercial/chat-icon.png);
    background-repeat: no-repeat;
    background-position: left top;
    height: 42px;
    cursor: pointer;
}

.livechat_button.free {

    z-index: 1001;
    margin-top: -10px;
    float: right;
    margin-right: 50px;
    position: inherit;
    top: 0px;
}

.livechat_button.free.mobile {
    float: right;
    margin-top: -8px;
    text-decoration: none;
}

.livechat_button.mobile {
    right: 77px;
    top: 25px;
}

.livechat_button a:focus {
    color: white;
}

.livechat_button.mobile a {
    line-height: 10px;
}


@media(max-width:768px) {
    #buyonline {
        width: 100px;
        margin-top: 0px;
    }

    @media(min-width:320px) {
        #buyonline {

            margin-top: 2px;
        }

        @media(max-width:1024px) {
            #buyonline {
                width: 140px;
                margin-top: -10px;
            }

            /*************************
End Of live Chat
 ********************/
