body,
#loginBody {
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    border: none;
    text-align: center;
    background: url(../images/bg_body.gif) repeat-x left top;
    font-size: 69%;
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #D2D2CF;
}

div#centered {
    margin: 150px auto 0;
    position: relative;
    width: 500px;
    height: 370px;
    background: url(../images/login.png);
    background-repeat: no-repeat;
    border: 1px solid #BBB;
}

.logoutContent {
    position: relative;
    top: 170px;
}

table.wh100p {
    width: 100%;
    height: 100%;
}

form {
    margin: 0px;
    padding: 0px;
}

.loginMiddle {
    background-image: none;
    /* THE URL BELOW MUST BE RELATIVE TO THE FILE THAT LOADS THIS CSS, NOT RELATIVE TO THIS CSS */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static-srvm/trmx/resources/img/loginBox.png", sizingMethod="crop");
    background-position: bottom right;
    min-width: 240px;
    height: 90px;
}

td.loginBottom {
    vertical-align: bottom;
    padding: 15px;
}

.loginLabel {
    color: #333;
    font-size: 1.3em;
    vertical-align: middle;
    font-weight: normal;
}

.formLabel {
    text-align: right;
    vertical-align: middle;
    padding: 4px;
    font-weight: bold;
    color: #ffffff;
}

input.loginTxtField {
    background-color: #FFFFFF;
    border: 1px solid #7e9db9;
    padding: 5px 3px;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 1.3em;
    border-radius: 2px;
    width: 200px;
}

.error {
    background-color: #FFF;
    border: 1px solid #000;
    color: #900;
    display: block;
    font-size: 1.5em;
    font-weight: 500;
    padding: 5px;
}

* html .error {
    zoom: 1;
}

* + html .error {
    zoom: 1;
}

.buttonSmall {
    display: inline-block !important;
    padding: 5px 9px 5px 9px !important;
    background: url(../images/bg_button.gif) #ffffff repeat-x left bottom !important;
    border: 1px solid !important;
    border-color: #c2c6ca #a1a4a7 #a1a4a7 #c2c6ca !important;
    font: small-caption !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    text-align: center !important;
    white-space: nowrap;
    cursor: hand;
    color: black;
}

.go span {
    display: inline-block;
    margin: 0px;
    padding: 0px 12px 0px 2px;
    width: 2px;
    height: 4px;
    background: url(/static-srvm/trmx/resources/img/icon_go.png) no-repeat right 4px !important;
    background: url(/static-srvm/trmx/resources/img/icon_go.gif) no-repeat right 4px;
}

div.logoutTop {
    font-size: 1.7em;
    color: #FF0000;
    text-align: center;
}

div.logoutMiddle {
    font-size: 1.4em;
    font-weight: bold;
    color: #000;
    margin: 17px auto 0;
    width: 425px;
    padding: 10px;
    border: 1px solid #999;
    text-align: center;
    background-color: #FFF;
}

div.logoutBottom {
    margin-top: 50px;
}

